@mixin form-input-element-tokens() {
  // Common form input element tokens
  --mer-form-input__border-color: var(--mer-color__neutral-gray--500);
  --mer-form-input__border-style: solid;
  --mer-form-input__border-width: var(--mer-border__width--sm);
  --mer-form-input__border: var(--mer-form-input__border-width)
    var(--mer-form-input__border-style) var(--mer-form-input__border-color);
  --mer-form-input__border-radius: var(--mer-border__radius--sm);
  --mer-form-input__color: var(--mer-text__bright);
  --mer-form-input__font-size: var(--mer-body__font-size);
  --mer-form-input__font-weight: var(--mer-text__on-surface);
  --mer-form-input__icon-size: var(--mer-icon__box--sm);
  --mer-form-input__font-family: inherit;
  //--mer-form-input__padding-inline is defined globally in /tokens/semantic/_other/ (Form Input)
  // because it the padding-inline value is required in the calculation of background-x position
  // for RTL support, and this calculation needs to be on the :root
}
