@import "tokens";

// Base form-input-text sty
%form-input-tokens {
  @include form-input-element-tokens();
}

%form-input-base {
  font-family: var(--mer-form-input__font-family);
  border: var(--mer-form-input__border);
  border-radius: var(--mer-form-input__border-radius);
  color: var(--mer-form-input__color);
  font-size: var(--mer-form-input__font-size);
  background-color: var(--mer-form-input__background-color);

  &::placeholder {
    color: var(--mer-form-input__placeholder-color);
    font-style: var(--mer-form-input__placeholder-font-style);
  }

  &:hover:not(:disabled) {
    border-color: var(--mer-form-input__border-color--hover);
  }
  &:disabled {
    border-color: var(--mer-form-input__border-color--disabled);
    background-color: var(--mer-form-input__background-color--disabled);
    color: var(--mer-form-input__color--disabled);
  }
}

// Applies for:
// text
// password
// email
// url
// file
// etc...
%form-input-size-regular {
  @extend %form-input-base;
  padding-inline: var(--mer-form-input__padding-inline);
  block-size: var(--mer-control__block-size);
}

// Applies for:
// radio
// checkbox
%form-input-size-tiny {
  @extend %form-input-base;
  block-size: var(--mer-form-input__size--tiny);
  inline-size: var(--mer-form-input__size--tiny);
}

%form-input-text-only {
  block-size: var(--mer-control__block-size);
}

@mixin form-input-text-only(
  $selector: ".form-input-text-only",
  $add--disabled: true
) {
  #{$selector} {
    @extend %form-input-tokens;
    @extend %form-input-text-only;
  }
}
