
   $icons-bpm-1: stroke, path;
    %icon__bpm-1 {
  
    /* =================================
    LIGHT
    ================================= */
  
    /* - - - - - - - - - - - - 
    stroke.svg 
    - - - - - - - - - - - - */
    
    &_stroke--on-surface-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-surface");
    }
    
    &_stroke--on-primary-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-primary");
    }
    
    &_stroke--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-primary-hover");
    }
    
    &_stroke--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-primary-active");
    }
    
    &_stroke--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-disabled");
    }
    
    &_stroke--on-message-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-message");
    }
    
    &_stroke--on-elevation-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#on-elevation");
    }
    
    &_stroke--primary-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#primary");
    }
    
    &_stroke--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#primary-hover");
    }
    
    &_stroke--primary-active-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#primary-active");
    }
    
    &_stroke--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#primary-disabled");
    }
    
    &_stroke--error-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#error");
    }
    
    &_stroke--warning-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#warning");
    }
    
    &_stroke--success-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#success");
    }
    
    &_stroke--neutral-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#neutral");
    }
    
    &_stroke--highlighted-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#highlighted");
    }
    
    &_stroke--bright-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/stroke.svg#bright");
    }
    
    /* - - - - - - - - - - - - 
    path.svg 
    - - - - - - - - - - - - */
    
    &_path--on-surface-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-surface");
    }
    
    &_path--on-primary-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-primary");
    }
    
    &_path--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-primary-hover");
    }
    
    &_path--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-primary-active");
    }
    
    &_path--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-disabled");
    }
    
    &_path--on-message-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-message");
    }
    
    &_path--on-elevation-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#on-elevation");
    }
    
    &_path--primary-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#primary");
    }
    
    &_path--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#primary-hover");
    }
    
    &_path--primary-active-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#primary-active");
    }
    
    &_path--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#primary-disabled");
    }
    
    &_path--error-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#error");
    }
    
    &_path--warning-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#warning");
    }
    
    &_path--success-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#success");
    }
    
    &_path--neutral-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#neutral");
    }
    
    &_path--highlighted-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#highlighted");
    }
    
    &_path--bright-light {
      --icon-path: url("#{$icons-path}icons/bpm-1/light/path.svg#bright");
    }
    

    /* =================================
    DARK
    ================================= */
  
    /* - - - - - - - - - - - - 
    stroke.svg 
    - - - - - - - - - - - - */
    
    &_stroke--on-surface-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-surface");
    }
    
    &_stroke--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-primary");
    }
    
    &_stroke--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-primary-hover");
    }
    
    &_stroke--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-primary-active");
    }
    
    &_stroke--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-disabled");
    }
    
    &_stroke--on-message-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-message");
    }
    
    &_stroke--on-elevation-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#on-elevation");
    }
    
    &_stroke--primary-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#primary");
    }
    
    &_stroke--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#primary-hover");
    }
    
    &_stroke--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#primary-active");
    }
    
    &_stroke--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#primary-disabled");
    }
    
    &_stroke--error-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#error");
    }
    
    &_stroke--warning-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#warning");
    }
    
    &_stroke--success-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#success");
    }
    
    &_stroke--neutral-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#neutral");
    }
    
    &_stroke--highlighted-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#highlighted");
    }
    
    &_stroke--bright-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/stroke.svg#bright");
    }
    
    /* - - - - - - - - - - - - 
    path.svg 
    - - - - - - - - - - - - */
    
    &_path--on-surface-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-surface");
    }
    
    &_path--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-primary");
    }
    
    &_path--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-primary-hover");
    }
    
    &_path--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-primary-active");
    }
    
    &_path--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-disabled");
    }
    
    &_path--on-message-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-message");
    }
    
    &_path--on-elevation-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#on-elevation");
    }
    
    &_path--primary-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#primary");
    }
    
    &_path--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#primary-hover");
    }
    
    &_path--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#primary-active");
    }
    
    &_path--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#primary-disabled");
    }
    
    &_path--error-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#error");
    }
    
    &_path--warning-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#warning");
    }
    
    &_path--success-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#success");
    }
    
    &_path--neutral-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#neutral");
    }
    
    &_path--highlighted-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#highlighted");
    }
    
    &_path--bright-dark {
      --icon-path: url("#{$icons-path}icons/bpm-1/dark/path.svg#bright");
    }
    
  
    }
  