@mixin label-tokens() {
  --label__font-family: var(--mer-font-family--inter-semi-bold);
  --label__font-size: var(--mer-font__size--3xs);
  --label__color: var(--mer-text__on-surface);
  --label__line-height: var(--mer-line-height--regular);
  --label__block-margin: var(--mer-spacing--xs);
  --label__inline-margin: var(--mer-spacing--xs);

  // Disabled
  --label__color--disabled: var(--mer-text__primary--disabled);
}
