@import "config";
@import "../../../mercury.scss";

@include mercury-only(
  $body: true,

  $light-theme: true,
  $dark-theme: true,

  $font-face: true,
  $font-face-path: $font-face-path,

  $tokens: true,
  $colors: true,
  $border: true,
  $font: true,
  $scale: true,
  $scale-small-selector: ".scale-small",
  $scale-medium-selector: ".scale-medium",
  $scale-large-selector: ".scale-large",
  $scale-border: true,
  $scale-block-size: true,
  $spacing: true,
  $timing: true,

  $resets: true,
  // TODO: By the time we remove TheiaJS, this reset will likely no longer be necessary
  $input-reset: true
);
