@mixin tree-view-tokens() {
  /*----------------------
  tree-view-item
  ----------------------*/
  --tree-view-item__color: inherit;
  --tree-view-item__font-size: inherit;
  --tree-view-item__gap: var(--mer-spacing--xs);
  --tree-view-item__checkbox-size: var(--mer-checkbox__size);
  --tree-view-item-expandable-button__size: var(--mer-spacing--md);
  --tree-view-item-image-size__: var(--mer-spacing--md);
  //--tree-view-item-custom__padding-inline-start: var(--mer-view-spacing--xxs);
  //--tree-view-item-custom__padding-inline-end: var(--mer-spacing--xxs);

  // hover
  --tree-view-item__color--hover: var(--mer-item__color--hover);
  --tree-view-item__bg-color--hover: var(--mer-item__bg-color--hover);

  /*----------------------
  tree-view-item -> Parts
  ----------------------*/

  // dashed-line
  --tree-view-item-dashed-line__border-color: var(--mer-text__on-surface);
  --tree-view-item-dashed-line__opacity: 0.3;

  // header
  --tree-view-item-header__border-radius: var(--mer-border__radius--sm);
  --tree-view-item-header__padding-inline-end: var(--mer-spacing--xs);

  // action
  --tree-view-item-header__padding-block-start: var(--mer-spacing--3xs);
  --tree-view-item-header__padding-block-end: var(--mer-spacing--3xs);

  // downloading
  --tree-view-item-downloading__inline-size: var(--mer-spacing--sm);
  --tree-view-item-downloading__block-size: var(--mer-spacing--sm);
  --tree-view-item-downloading__border-width: var(--mer-border__width--md);
  --tree-view-item-downloading__border-style: solid;
  --tree-view-item-downloading__border-color: var(
    --mer-accent__primary--active
  );

  // folder & module (common)
  --tree-view-item-folder-action__inline-size: var(--mer-spacing--md);
  --tree-view-item-folder-action__block-size: var(--mer-spacing--md);

  // pending commit
  --tree-view-item-pending-commit__bg-color: var(--mer-accent__primary);

  /*----------------------
  tree-view-container
  ----------------------*/
  //--tree-view-container__min-inline-size: var();
  --tree-view-container__padding: var(--mer-spacing--xs);
}
