@import "tokens";

%icon {
  &--small {
    --ch-image-size: var(--mer-icon__box--sm);
    --ch-image-background-size: var(--mer-icon__size--sm);
  }
  &--medium {
    --ch-image-size: var(--mer-icon__box--md);
    --ch-image-background-size: var(--mer-icon__size--md);
  }
}

/// @group Icon
/// @param {String} $icon-selector--small [".icon-sm"] -
/// @param {String} $icon-selector--medium [".icon-md"] -
@mixin icon(
  $icon-selector--small: ".icon-sm",
  $icon-selector--medium: ".icon-md"
) {
  #{$icon-selector--small} {
    @extend %icon--small;
  }
  #{$icon-selector--medium} {
    @extend %icon--medium;
  }
}
