// Base styles from packages/common
@import "../../common/base";
@import "../../common/utilities";
@import "../../common/icons/tree-view";
@import "./base/common";

// Resets
@import "../../common/resets";

// Tokens Primitive
@import "./tokens/primitive/border";
@import "./tokens/primitive/color";
@import "./tokens/primitive/elevation";
@import "./tokens/primitive/font";
@import "./tokens/primitive/spacing";
@import "./tokens/primitive/timing";

// Tokens Semantic
@import "./tokens/semantic/accent";
@import "./tokens/semantic/border";
@import "./tokens/semantic/icon";
@import "./tokens/semantic/item";
@import "./tokens/semantic/other";
@import "./tokens/semantic/text";
@import "./tokens/semantic/accent";

// Base classes
@import "./base/label/label-styles"; // should be at the top, since other elements use it.
@import "./base/button/button-styles";
@import "./base/form-controls/form-input-styles";
@import "./base/form-controls/form-fieldset-styles";
@import "./base/icons";
@import "./base/typography/typography-styles";
@import "./base/layout/layout-styles";

// Icons
@import "./icons/button";
@import "./icons/form-input";
@import "./icons/_generated/svg-sass-mixins";

// Components
@import "./components/checkbox/checkbox-styles";
@import "./components/combo-box/combo-box-styles";
@import "./components/dialog/dialog-styles";
@import "./components/radio-group/radio-group-styles";
@import "./components/shortcuts/styles";
@import "./components/tree-view/tree-view-styles";
@import "./components/tabular-grid/tabular-grid-styles";
@import "./components/tab/tab-styles";
@import "./components/code/code-styles";

@mixin mercury(
  // Resets
  $resets: true,
  $box-sizing-reset: true,
  $button-reset: true,
  $input-reset: true,
  $other-reset: true,
  $typography-reset: true,

  // body
  $body: true,

  // Theme
  $light-theme: true,
  $dark-theme: true,
  $prefers-color-scheme-light: false,
  $prefers-color-scheme-dark: false,

  // Tokens
  $tokens: true,
  $border: true,
  $colors: true,
  $elevation: true,
  $font: true,
  $spacing: true,
  $timing: true,

  // Icons
  $icons-path: "./assets/icons/",
  $ignored-multicolor-categories: (),
  $ignored-monochrome-categories: (),
  $icons-variables: true,

  // Font face
  $font-face: true,
  $font-face-path: "./assets/fonts/",

  // Base
  $base-classes: true,
  $label: true,
  $button-classes: true,
  $form-controls-classes: true,
  $icon-classes: true,
  $typography-classes: true,
  $layout-classes: true,

  // Components
  $components: true,
  $combo-box: true,
  $dialog: true,
  $checkbox: true,
  $radio-group: true,
  $tree-view: true,
  $tabular-grid: true,
  $tab: true,
  $code: true
) {
  // - - - - - - - - - - - - - - - - - - - -
  //                  Icons
  // - - - - - - - - - - - - - - - - - - - -
  @if $icons-variables {
    @import "./icons/_generated/categories-imports";
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Typography
  // - - - - - - - - - - - - - - - - - - - -
  // font-face
  @if $font-face {
    // Light
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter_Light.woff2");
      font-weight: 300;
      font-style: normal;
    }

    // Regular
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter_Regular.woff2");
      font-weight: 400;
      font-style: normal;
    }

    // Semi Bold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter_SemiBold.woff2");
      font-weight: 600;
      font-style: normal;
    }

    // Bold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter_Bold.woff2");
      font-weight: 700;
      font-style: normal;
    }

    // Extra Bold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter_ExtraBold.woff2");
      font-weight: 800;
      font-style: normal;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Color Schemes
  // - - - - - - - - - - - - - - - - - - - -
  // Light
  @if $colors and $light-theme and $tokens {
    :root.light {
      // Fixes issues in elements that force its color based on this property.
      // For example, the font color of the input with autocomplete (:-webkit-autofill)
      color-scheme: light;
      @include foundation-colors--light();
    }
  }
  @if $colors and $tokens and $prefers-color-scheme-light {
    @media (prefers-color-scheme: light) {
      :root {
        // Fixes issues in elements that force its color based on this property.
        // For example, the font color of the input with autocomplete (:-webkit-autofill)
        color-scheme: light;
        @include foundation-colors--light();
      }
    }
  }

  // Dark
  @if $colors and $dark-theme and $tokens {
    :root.dark {
      // Fixes issues in elements that force its color based on this property.
      // For example, the font color of the input with autocomplete (:-webkit-autofill)
      color-scheme: dark;
      @include foundation-colors--dark();
    }
  }
  @if $colors and $tokens and $prefers-color-scheme-dark {
    @media (prefers-color-scheme: dark) {
      :root {
        // Fixes issues in elements that force its color based on this property.
        // For example, the font color of the input with autocomplete (:-webkit-autofill)
        color-scheme: dark;
        @include foundation-colors--dark();
      }
    }
  }

  // Semantic Colors (Are independent of color scheme)
  @if $colors and $tokens {
    :root {
      @include semantic-accent();
      @include semantic-border();
      @include semantic-icon();
      @include semantic-item();
      @include semantic-text();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //        Other Tokens than Colors
  // - - - - - - - - - - - - - - - - - - - -
  // Primitive
  @if $tokens and ($border or $elevation or $font or $spacing or $timing) {
    :root {
      // Border
      @if $border {
        @include border();
      }

      // Elevation Light
      @if $elevation and $light-theme {
        @include elevation--light();
      }
      @if $elevation and $prefers-color-scheme-light {
        @media (prefers-color-scheme: light) {
          @include elevation--light();
        }
      }

      // Elevation Dark
      @if $elevation and $dark-theme {
        @include elevation--dark();
      }
      @if $elevation and $prefers-color-scheme-dark {
        @media (prefers-color-scheme: dark) {
          @include elevation--dark();
        }
      }

      // Font
      @if $font {
        @include font();
      }

      // Spacing
      @if $spacing {
        @include spacing();
      }

      // Timing
      @if $timing {
        @include timing();
      }
    }
  }

  // Semantic (Other than colors)
  @if $tokens {
    :root {
      // Other
      @include semantic-other();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                General
  // - - - - - - - - - - - - - - - - - - - -
  @if $body {
    body {
      @include document-common-styles();

      @if $tokens {
        // Default background-color and color
        @if $colors {
          background-color: var(--mer-color__surface);
          color: var(--mer-text__on-surface);
        }

        @if $font {
          line-height: var(--mer-body__line-height);
        }

        @if $font-face {
          font-family: var(--mer-body__font-family);
          font-size: var(--mer-body__font-size);
          font-weight: var(--mer-body__font-weight);
        }
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Resets
  // - - - - - - - - - - - - - - - - - - - -
  @if $resets {
    // box-sizing
    @if $box-sizing-reset {
      @include box-sizing();
    }

    // <button> and <a> reset
    @if $button-reset {
      @include button-reset();
    }

    @if $input-reset {
      @include input-reset();
    }

    // <hr> reset
    @if $other-reset {
      @include other-reset();
    }

    // Typography reset
    @if $typography-reset {
      @include typography-reset();
    }

    // Typography classes
    @if $typography-classes {
      @include typography-classes();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Base classes
  // - - - - - - - - - - - - - - - - - - - -
  @if $base-classes {
    // Label classes
    @if $label {
      @include label();
    }

    // Button classes
    @if $button-classes {
      // Button primary
      @include button-primary();

      // Button secondary
      @include button-secondary();

      // Button tertiary
      @include button-tertiary();

      // Button icon only
      @include button-icon-only();

      // Button icon and text
      @include button-icon-and-text();

      // Button icon after and text
      @include button-icon-after-and-text();
    }

    // Form control classes
    @if $form-controls-classes {
      @include form-input();
      @include fieldset();

      // Form input text
      @include form-input-icon();
    }

    // Icon classes
    @if $icon-classes {
      @include icon-mask();
      @include icon-background();
      @include icon-size-sm();
      @include icon-size-md();

      @include form-input-icon();
      @include form-input-bg-x-rtl-support();
    }

    // Layout classes
    @if $layout-classes {
      @include layout();
      @include control-footer();
    }
  }

  // - - - - - - - - - - - - - - - -  - - -
  //               Components
  // - - - - - - - - - - - - - - - - - - -
  @if $components {
    // checkbox
    @if $checkbox {
      @include checkbox();
    }

    // radio-group
    @if $radio-group {
      @include radio-group();
    }

    // tree view
    @if $tree-view {
      @include tree-view();
    }

    // combo box
    @if $combo-box {
      @include combo-box();
    }

    // dialog
    @if $dialog {
      @include dialog();
    }

    // tabular grid
    @if $tabular-grid {
      @include tabular-grid();
    }

    // tab
    @if $tab {
      @include tab();
    }

    // code
    @if $code {
      @include code();
    }
  }
}

@mixin mercury-only(
  // Resets
  $resets: false,
  $box-sizing-reset: false,
  $button-reset: false,
  $input-reset: false,
  $other-reset: false,
  $typography-reset: false,

  // body
  $body: false,

  // Theme
  $light-theme: false,
  $dark-theme: false,
  $prefers-color-scheme-light: false,
  $prefers-color-scheme-dark: false,

  // Tokens
  $tokens: false,
  $border: false,
  $colors: false,
  $elevation: false,
  $font: false,
  $spacing: false,
  $timing: false,

  // Icons
  $icons-path: "./assets/icons/",
  $ignored-multicolor-categories: (),
  $ignored-monochrome-categories: (),
  $icons-variables: false,

  // Font face
  $font-face: false,
  $font-face-path: "./assets/fonts/",

  // Base
  $base-classes: false,
  $label: false,
  $button-classes: false,
  $form-controls-classes: false,
  $icon-classes: false,
  $typography-classes: false,
  $layout-classes: false,

  // Components
  $components: false,
  $combo-box: false,
  $dialog: false,
  $checkbox: false,
  $radio-group: false,
  $tree-view: false,
  $tabular-grid: false,
  $tab: false,
  $code: false
) {
  @include mercury(
    // Resets
    $resets: $resets,
    $box-sizing-reset: $box-sizing-reset,
    $button-reset: $button-reset,
    $input-reset: $input-reset,
    $other-reset: $other-reset,
    $typography-reset: $typography-reset,

    // body
    $body: $body,

    // Theme
    $light-theme: $light-theme,
    $dark-theme: $dark-theme,
    $prefers-color-scheme-light: $prefers-color-scheme-light,
    $prefers-color-scheme-dark: $prefers-color-scheme-dark,

    // Tokens
    $tokens: $tokens,
    $border: $border,
    $colors: $colors,
    $elevation: $elevation,
    $font: $font,
    $spacing: $spacing,
    $timing: $timing,

    // Icons
    $icons-path: $icons-path,
    $ignored-multicolor-categories: $ignored-multicolor-categories,
    $ignored-monochrome-categories: $ignored-monochrome-categories,
    $icons-variables: $icons-variables,

    // Font face
    $font-face: $font-face,
    $font-face-path: $font-face-path,

    // Base
    $base-classes: $base-classes,
    $label: $label,
    $button-classes: $button-classes,
    $form-controls-classes: $form-controls-classes,
    $icon-classes: $icon-classes,
    $typography-classes: $typography-classes,
    $layout-classes: $layout-classes,

    // Components
    $components: $components,
    $combo-box: $combo-box,
    $dialog: $dialog,
    $checkbox: $checkbox,
    $radio-group: $radio-group,
    $tree-view: $tree-view,
    $tabular-grid: $tabular-grid,
    $tab: $tab,
    $code: $code
  );
}
