// Base styles from packages/common
@import "../../common/base";
@import "../../common/utilities";
@import "../../common/icons/tree-view";
@import "./base/common";
@import "./base/utilities";

// Resets
@import "../../common/resets";

// Tokens Primitive
@import "./tokens/primitive/border";
@import "./tokens/primitive/color";
@import "./tokens/primitive/font";
@import "./tokens/primitive/gradients";
@import "./tokens/primitive/spacing";
@import "./tokens/primitive/timing";

// Tokens Semantic
@import "./tokens/semantic/accent";
@import "./tokens/semantic/border";
@import "./tokens/semantic/control";
@import "./tokens/semantic/field";
@import "./tokens/semantic/general";
@import "./tokens/semantic/heading";
@import "./tokens/semantic/icon";
@import "./tokens/semantic/item";
@import "./tokens/semantic/surface";
@import "./tokens/semantic/text";

// Base classes
@import "./base/label/label-styles"; // should be at the top, since other elements use it.
@import "./base/button/button-styles";
@import "./base/form-controls/field-styles";
@import "./base/icons";
@import "./base/layout/layout-styles";
@import "./base/typography/typography-styles";

// Icons
@import "./icons/button";

// Components
@import "./components/accordion/accordion-styles";
@import "./components/chat/chat-styles";
@import "./components/checkbox/checkbox-styles";
@import "./components/code/code-styles";
@import "./components/combo-box/combo-box-styles";
@import "./components/dialog/dialog-styles";
@import "./components/flexible-layout/flexible-layout-styles";
@import "./components/icon/icon-styles";
@import "./components/form-input/form-input-styles";
@import "./components/list-box/list-box-styles";
@import "./components/markdown-viewer/markdown-viewer-styles";
@import "./components/navigation-list/navigation-list-styles";
@import "./components/pills/pills-styles";
@import "./components/property-grid/property-grid-styles";
@import "./components/radio-group/radio-group-styles";
@import "./components/shortcuts/styles";
@import "./components/segmented-control/segmented-control-styles";
@import "./components/sidebar/sidebar-styles";
@import "./components/slider/slider-styles";
@import "./components/tab/tab-styles";
@import "./components/tabular-grid/tabular-grid-styles";
@import "./components/tabular-grid/helpers";
@import "./components/ticket-list/ticket-list-styles";
@import "./components/tooltip/tooltip-styles";
@import "./components/tree-view/tree-view-styles";
@import "./components/widget/widget-styles";

@mixin mercury(
  // Resets
  $resets: true,
  $box-sizing-reset: true,
  $button-reset: true,
  $input-reset: true,
  $other-reset: true,
  $typography-reset: true,

  // body
  $body: true,

  // Theme
  $dark-theme: true,
  $light-theme: true,
  $prefers-color-scheme-dark: false,
  $prefers-color-scheme-light: false,

  // Tokens
  $tokens: true,
  $border: true,
  $colors: true,
  $font: true,
  $spacing: true,
  $timing: true,

  // Icons
  $icons-path: "./assets/icons/",
  $icons-variables: true,

  // Font face
  $font-face: true,
  $font-face-path: "./assets/fonts/",

  // Base
  $base-classes: true,
  $button-classes: true,
  $form-controls-classes: true,
  $icon-classes: true,
  $layout-classes: true,
  $spacing-classes: true,
  $typography-classes: true,
  $scrollbar-components: true,
  $utility-classes: true,

  // Components
  $components: true,
  $accordion: true,
  $chat: true,
  $checkbox: true,
  $code: true,
  $combo-box: true,
  $dialog: true,
  $edit: true,
  $flexible-layout: true,
  $icon: true,
  $list-box: true,
  $markdown-viewer: true,
  $navigation-list: true,
  $pills: true,
  $radio-group: true,
  $segmented-control: true,
  $sidebar: true,
  $slider: true,
  $tab: true,
  $tabular-grid: true,
  $ticket-list: true,
  $tooltip: true,
  $tree-view: true,
  $widget: true
) {
  // - - - - - - - - - - - - - - - - - - - -
  //                  Icons
  // - - - - - - - - - - - - - - - - - - - -
  @if $icons-variables {
    @import "./icons/_generated/categories";
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Typography
  // - - - - - - - - - - - - - - - - - - - -
  // font-face
  @if $font-face {
    // Thin
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Thin.woff2");
      font-weight: 100;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-ThinItalic.woff2");
      font-weight: 100;
      font-style: italic;
    }

    // ExtraLight
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-ExtraLight.woff2");
      font-weight: 200;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-ExtraLightItalic.woff2");
      font-weight: 200;
      font-style: italic;
    }

    // Light
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Light.woff2");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-LightItalic.woff2");
      font-weight: 300;
      font-style: italic;
    }

    // Regular
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Regular.woff2");
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Italic.woff2");
      font-weight: 400;
      font-style: italic;
    }

    // Medium
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Medium.woff2");
      font-weight: 500;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-MediumItalic.woff2");
      font-weight: 500;
      font-style: italic;
    }

    // SemiBold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-SemiBold.woff2");
      font-weight: 600;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-SemiBoldItalic.woff2");
      font-weight: 600;
      font-style: italic;
    }

    // Bold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Bold.woff2");
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-BoldItalic.woff2");
      font-weight: 700;
      font-style: italic;
    }

    // ExtraBold
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-ExtraBold.woff2");
      font-weight: 800;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-ExtraBoldItalic.woff2");
      font-weight: 800;
      font-style: italic;
    }

    // Black
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-Black.woff2");
      font-weight: 900;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url("#{$font-face-path}Inter-BlackItalic.woff2");
      font-weight: 900;
      font-style: italic;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Color Schemes
  // - - - - - - - - - - - - - - - - - - - -
  // Light
  @if $colors and $light-theme and $tokens {
    :root.light {
      // Fixes issues in elements that force its color based on this property.
      // For example, the font color of the input with autocomplete (:-webkit-autofill)
      color-scheme: light;
      @include foundation-colors--light();
    }
  }
  @if $colors and $tokens and $prefers-color-scheme-light {
    @media (prefers-color-scheme: light) {
      :root {
        // Fixes issues in elements that force its color based on this property.
        // For example, the font color of the input with autocomplete (:-webkit-autofill)
        color-scheme: light;
        @include foundation-colors--light();
      }
    }
  }

  // Dark
  @if $colors and $dark-theme and $tokens {
    :root.dark {
      // Fixes issues in elements that force its color based on this property.
      // For example, the font color of the input with autocomplete (:-webkit-autofill)
      color-scheme: dark;
      @include foundation-colors--dark();
    }
  }
  @if $colors and $tokens and $prefers-color-scheme-dark {
    @media (prefers-color-scheme: dark) {
      :root {
        // Fixes issues in elements that force its color based on this property.
        // For example, the font color of the input with autocomplete (:-webkit-autofill)
        color-scheme: dark;
        @include foundation-colors--dark();
      }
    }
  }

  // Gradients (independent of color scheme at the time of writing)
  @if $colors and $tokens {
    :root {
      @include foundation-colors--gradients();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //        Other Tokens than Colors
  // - - - - - - - - - - - - - - - - - - - -
  @if $tokens and ($border or $colors or $font or $spacing or $timing) {
    :root {
      // Border
      @if $border {
        @include border();
      }

      // Semantic (Other than colors)
      @include semantic-general();
      @include semantic-control();
      @include semantic-field();

      // Semantic Colors (Are independent of color scheme)
      @if $colors {
        @include semantic-accent();
        @include semantic-border();
        @include semantic-heading();
        @include semantic-icon();
        @include semantic-item();
        @include semantic-surface();
        @include semantic-text();
      }

      @if $font {
        @include font();
      }

      @if $spacing {
        @include spacing();
      }

      @if $timing {
        @include timing();
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                General
  // - - - - - - - - - - - - - - - - - - - -
  @if $body {
    body {
      @include document-common-styles();

      @if $tokens {
        // Default background-color and color
        @if $colors {
          background-color: var(--mer-surface);
          color: var(--mer-text__on-surface);
        }

        @if $font {
          line-height: var(--mer-body__line-height);
        }

        @if $font-face {
          font-family: var(--mer-body__font-family);
          font-size: var(--mer-body__font-size);
          font-weight: var(--mer-body__font-weight);
        }
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Resets
  // - - - - - - - - - - - - - - - - - - - -
  @if $resets {
    @if $box-sizing-reset {
      @include box-sizing();
    }

    // <button> and <a> reset
    @if $button-reset {
      @include button-reset();
    }

    @if $input-reset {
      @include input-reset();
    }

    // <hr> reset
    @if $other-reset {
      @include other-reset();
    }

    @if $typography-reset {
      @include typography-reset();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Base classes
  // - - - - - - - - - - - - - - - - - - - -

  @if $base-classes {
    // Button classes
    @if $button-classes {
      @include button-primary();
      @include button-secondary();
      @include button-tertiary();
      @include buttons-spacer();

      @include button-icon-only();
      @include button-icon-and-text();
    }

    @if $form-controls-classes {
      @include field();
      @include label();
    }

    @if $icon-classes {
      @include icon-size-sm();
      @include icon-size-md();
      @include icon-and-text();
    }

    @if $utility-classes {
      @include utilities-elevation();
    }

    @if $layout-classes {
      @include layout();
      @include control-footer();
      @include control-header();
    }

    @if $spacing-classes {
      @include spacing-body();
    }

    @if $typography-classes {
      @include typography-classes();
    }

    @if $scrollbar-components {
      @include scrollbar-components();
    }
  }

  // - - - - - - - - - - - - - - - - - - -
  //               Components
  // - - - - - - - - - - - - - - - - - - -
  @if $accordion {
    @include accordion-filled();
    @include accordion-outlined();
  }

  @if $chat {
    @include chat();
  }

  @if $checkbox {
    @include checkbox();
  }

  @if $code {
    @include code();
  }

  @if $combo-box {
    @include combo-box();
  }

  @if $dialog {
    @include dialog();
  }

  @if $edit {
    @include form-input();
  }

  @if $flexible-layout {
    @include flexible-layout();
  }

  @if $icon {
    @include icon();
  }

  @if $list-box {
    @include list-box();
  }

  @if $markdown-viewer {
    @include markdown-viewer();
  }

  @if $navigation-list {
    @include navigation-list();
  }

  @if $pills {
    @include pills();
  }

  @if $radio-group {
    @include radio-group();
  }

  @if $segmented-control {
    @include segmented-control();
  }

  @if $sidebar {
    @include sidebar();
  }

  @if $slider {
    @include slider();
  }

  @if $tab {
    @include tab();
  }

  @if $tabular-grid {
    @include tabular-grid();
    @include tabular-grid-cell-layout();
    @include property-grid(); // property-grid extends tabular-grid
  }

  @if $ticket-list {
    @include ticket-list();
  }

  @if $tooltip {
    @include tooltip();
  }

  @if $tree-view {
    @include tree-view();
  }

  @if $widget {
    @include widget();
  }
}

@mixin mercury-only(
  // Resets
  $resets: false,
  $box-sizing-reset: false,
  $button-reset: false,
  $input-reset: false,
  $other-reset: false,
  $typography-reset: false,

  // body
  $body: false,

  // Theme
  $dark-theme: false,
  $light-theme: false,
  $prefers-color-scheme-dark: false,
  $prefers-color-scheme-light: false,

  // Tokens
  $tokens: false,
  $border: false,
  $colors: false,
  $font: false,
  $spacing: false,
  $timing: false,

  // Icons
  $icons-path: "./assets/icons/",
  $icons-variables: false,

  // Font face
  $font-face: false,
  $font-face-path: "./assets/fonts/",

  // Base
  $base-classes: false,
  $button-classes: false,
  $form-controls-classes: false,
  $icon-classes: false,
  $layout-classes: false,
  $spacing-classes: false,
  $typography-classes: false,
  $scrollbar-components: false,
  $utility-classes: false,

  // Components
  $components: false,
  $accordion: false,
  $chat: false,
  $checkbox: false,
  $code: false,
  $combo-box: false,
  $dialog: false,
  $edit: false,
  $flexible-layout: false,
  $icon: false,
  $list-box: false,
  $markdown-viewer: false,
  $navigation-list: false,
  $pills: false,
  $radio-group: false,
  $segmented-control: false,
  $sidebar: false,
  $slider: false,
  $tab: false,
  $tabular-grid: false,
  $ticket-list: false,
  $tooltip: false,
  $tree-view: false,
  $widget: false
) {
  @include mercury(
    // Resets
    $resets: $resets,
    $box-sizing-reset: $box-sizing-reset,
    $button-reset: $button-reset,
    $input-reset: $input-reset,
    $other-reset: $other-reset,
    $typography-reset: $typography-reset,

    // body
    $body: $body,

    // Theme
    $dark-theme: $dark-theme,
    $light-theme: $light-theme,
    $prefers-color-scheme-dark: $prefers-color-scheme-dark,
    $prefers-color-scheme-light: $prefers-color-scheme-light,

    // Tokens
    $tokens: $tokens,
    $border: $border,
    $colors: $colors,
    $font: $font,
    $spacing: $spacing,
    $timing: $timing,

    // Icons
    $icons-path: $icons-path,
    $icons-variables: $icons-variables,

    // Font face
    $font-face: $font-face,
    $font-face-path: $font-face-path,

    // Base
    $base-classes: $base-classes,
    $button-classes: $button-classes,
    $form-controls-classes: $form-controls-classes,
    $icon-classes: $icon-classes,
    $layout-classes: $layout-classes,
    $spacing-classes: $spacing-classes,
    $typography-classes: $typography-classes,
    $scrollbar-components: $scrollbar-components,
    $utility-classes: $utility-classes,

    // Components
    $components: $components,
    $accordion: $accordion,
    $chat: $chat,
    $checkbox: $checkbox,
    $code: $code,
    $combo-box: $combo-box,
    $dialog: $dialog,
    $edit: $edit,
    $flexible-layout: $flexible-layout,
    $icon: $icon,
    $list-box: $list-box,
    $markdown-viewer: $markdown-viewer,
    $navigation-list: $navigation-list,
    $pills: $pills,
    $radio-group: $radio-group,
    $segmented-control: $segmented-control,
    $sidebar: $sidebar,
    $slider: $slider,
    $tab: $tab,
    $tabular-grid: $tabular-grid,
    $ticket-list: $ticket-list,
    $tooltip: $tooltip,
    $tree-view: $tree-view,
    $widget: $widget
  );
}
