// Base styles from packages/common
@import "../../common/base";

@import "./base/common";

// Resets
@import "../../common/resets";

// Tokens
@import "./tokens/primitive/border";
@import "./tokens/primitive/color";
@import "./tokens/primitive/elevation";
@import "./tokens/primitive/font";
@import "./tokens/primitive/spacing";
@import "./tokens/primitive/timing";
@import "./tokens/semantic/tokens";

// Base classes
@import "./base/button/button-styles";
@import "./base/icon/icons-selectors-generator";

// Components
@import "./components/checkbox/styles";
@import "./components/shortcuts/styles";
@import "./components/tree-view/styles";

@mixin mercury(
  // Resets
  $resets: true,
  $box-sizing-reset: true,
  $button-reset: true,
  $input-reset: true,
  $other-reset: true,
  $typography-reset: true,

  // Theme
  $light-theme: true,
  $dark-theme: true,
  $prefers-color-scheme-light: false,
  $prefers-color-scheme-dark: false,

  // Tokens
  $tokens: true,
  $border: true,
  $color: true,
  $elevation: true,
  $font: true,
  $spacing: true,
  $timing: true,

  // Icons
  $icons: true,
  $icons-path: "../assets/icons/",

  // Font face
  $font-face: true,
  $font-face-path: "../assets/fonts/",

  // Base
  $base-classes: true,
  $button-classes: true,
  $buttons-with-icons: true,

  // Components
  $components: true,
  $checkbox: true,
  $tree-view: true
) {
  // - - - - - - - - - - - - - - - - - - - -
  //                 Resets
  // - - - - - - - - - - - - - - - - - - - -
  @if $resets {
    // box-sizing
    @if $box-sizing-reset {
      @include box-sizing();
    }

    // <button> and <a> reset
    @if $button-reset {
      @include button-reset();
    }

    @if $input-reset {
      @include input-reset();
    }

    // <hr> reset
    @if $other-reset {
      @include other-reset();
    }

    // Typography reset
    @if $typography-reset {
      @include typography-reset();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               Typography
  // - - - - - - - - - - - - - - - - - - - -
  @if $font-face {
    //light
    @font-face {
      font-family: "Inter_Light";
      font-style: normal;
      font-weight: 300;
      src: url("#{$font-face-path}Inter_Light.woff2");
      font-display: swap;
    }

    //regular
    @font-face {
      font-family: "Inter_Regular";
      font-style: normal;
      font-weight: 400;
      src: url("#{$font-face-path}Inter_Regular.woff2");
      font-display: swap;
    }

    //semi-bold
    @font-face {
      font-family: "Inter_SemiBold";
      font-style: normal;
      font-weight: 600;
      src: url("#{$font-face-path}Inter_SemiBold.woff2");
      font-display: swap;
    }

    //bold
    @font-face {
      font-family: "Inter_Bold";
      font-style: normal;
      font-weight: 700;
      src: url("#{$font-face-path}Inter_Bold.woff2");
      font-display: swap;
    }

    //extra-bold
    @font-face {
      font-family: "Inter_ExtraBold";
      font-style: normal;
      font-weight: 800;
      src: url("#{$font-face-path}Inter_ExtraBold.woff2");
      font-display: swap;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Body
  // - - - - - - - - - - - - - - - - - - - -
  body {
    @if $tokens and $color {
      background-color: var(--mer-body__bg-color);
      color: var(--mer-body__color);
    }
    @if $tokens and $font {
      font-size: var(--mer-body__font-size);
      line-height: var(--mer-body__line-height);
      * {
        line-height: var(--mer-body__line-height);
      }
    }
    @if $font-face {
      font-family: var(--mer-font-family--inter-regular);
    }
    margin: 0;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Icons
  // - - - - - - - - - - - - - - - - - - - -
  @if $icons {
    @include icons-selectors-generator(
      $icons-path: $icons-path,
      $buttons-with-icons: $buttons-with-icons
    );
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Base
  // - - - - - - - - - - - - - - - - - - - -
  @if $base-classes {
    @if $button-classes {
      @include button-classes();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //        Primitive Color Tokens
  // - - - - - - - - - - - - - - - - - - - -
  // Light
  @if $color and $light-theme and $tokens {
    :root {
      @include foundation-colors--light();
    }
  }
  // @if $color and $tokens and $prefers-color-scheme-light {
  //   @media (prefers-color-scheme: light) {
  //     :root {
  //       @include foundation-colors--light();
  //     }
  //   }
  // }
  // Dark
  @if $color and $dark-theme and $tokens {
    :root.dark {
      @include foundation-colors--dark();
    }
  }
  // @if $color and $tokens and $prefers-color-scheme-dark {
  //   @media (prefers-color-scheme: dark) {
  //     :root {
  //       @include foundation-colors--dark();
  //     }
  //   }
  // }

  // - - - - - - - - - - - - - - - - - - - -
  //              Other Tokens
  // - - - - - - - - - - - - - - - - - - - -
  @if $tokens and
    (
      $border or
        $color or
        ($elevation and $light-theme) or
        ($elevation and $prefers-color-scheme-light) or
        ($elevation and $dark-theme) or
        ($elevation and $prefers-color-scheme-dark) or
        $font or
        $spacing or
        $timing
    )
  {
    :root {
      // border
      @if $border {
        @include border();
      }

      // color
      @if $color {
        @include semantic-accent();
        @include semantic-border();
        @include semantic-heading();
        @include semantic-icon();
        @include semantic-item();
        @include semantic-other();
        @include semantic-text();
      }

      // elevation (light)
      @if $elevation and $light-theme {
        @include elevation--light();
      }
      @if $elevation and $prefers-color-scheme-light {
        @media (prefers-color-scheme: light) {
          @include elevation--light();
        }
      }

      // elevation (dark)
      @if $elevation and $dark-theme {
        &.dark {
          @include elevation--dark();
        }
      }
      @if $elevation and $prefers-color-scheme-dark {
        @media (prefers-color-scheme: dark) {
          @include elevation--dark();
        }
      }

      // font
      @if $font {
        @include font();
      }

      // spacing
      @if $spacing {
        @include spacing();
      }

      // timing
      @if $timing {
        @include timing();
      }
    }
  }

  // - - - - - - - - - - - - - - - -  - - -
  //               Components
  // - - - - - - - - - - - - - - - - - - -
  @if $components {
    @if $checkbox {
      @include checkbox();
    }
    @if $tree-view {
      @include tree-view();
    }
  }
}
