.icon__monochrome-path--on-surface {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/path.svg#on-surface");
}
html.dark .icon__monochrome-path--on-surface {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/path.svg#on-surface");
}
.icon__monochrome-path--on-primary {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/path.svg#on-primary");
}
html.dark .icon__monochrome-path--on-primary {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/path.svg#on-primary");
}
.icon__monochrome-path--on-primary:active {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/path.svg#on-primary-active");
}
html.dark .icon__monochrome-path--on-primary:active {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/path.svg#on-primary-active");
}
.icon__monochrome-stroke--on-surface {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/stroke.svg#on-surface");
}
html.dark .icon__monochrome-stroke--on-surface {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/stroke.svg#on-surface");
}
.icon__monochrome-stroke--on-primary {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/stroke.svg#on-primary");
}
html.dark .icon__monochrome-stroke--on-primary {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/stroke.svg#on-primary");
}
.icon__monochrome-stroke--on-primary:active {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/light/stroke.svg#on-primary-active");
}
html.dark .icon__monochrome-stroke--on-primary:active {
  --icon-path:url("/packages/mercury/src/assets/icons/monochrome/dark/stroke.svg#on-primary-active");
}

.icon__multicolor-path {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/path.svg#enabled");
}
html.dark .icon__multicolor-path {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/path.svg#enabled");
}
.icon__multicolor-path:hover {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/path.svg#hover");
}
html.dark .icon__multicolor-path:hover {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/path.svg#hover");
}
.icon__multicolor-path:active {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/path.svg#active");
}
html.dark .icon__multicolor-path:active {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/path.svg#active");
}
.icon__multicolor-path:disabled {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/path.svg#disabled");
}
html.dark .icon__multicolor-path:disabled {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/path.svg#disabled");
}
.icon__multicolor-stroke {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/stroke.svg#enabled");
}
html.dark .icon__multicolor-stroke {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/stroke.svg#enabled");
}
.icon__multicolor-stroke:hover {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/stroke.svg#hover");
}
html.dark .icon__multicolor-stroke:hover {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/stroke.svg#hover");
}
.icon__multicolor-stroke:active {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/stroke.svg#active");
}
html.dark .icon__multicolor-stroke:active {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/stroke.svg#active");
}
.icon__multicolor-stroke:disabled {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/light/stroke.svg#disabled");
}
html.dark .icon__multicolor-stroke:disabled {
  --icon-path: url("/packages/mercury/src/assets/icons/multicolor/dark/stroke.svg#disabled");
}

/*# sourceMappingURL=button.css.map */
