@mixin tooltip-tokens() {
  --tooltip__background-color: var(--mer-color__neutral-gray--1000);
  --tooltip__border-radius: var(--mer-border__radius--sm);
  --tooltip__color: var(--mer-text__on-surface);
  --tooltip__font-family: var(--mer-font-family--body);
  --tooltip__font-size: var(--mer-font__size--3xs);
  --tooltip__font-weight: var(--mer-font__weight--medium);
  --tooltip__line-height: var(--mer-line-height--tight);
  --tooltip__padding-block: var(--mer-spacing--xs);
  --tooltip__padding-inline: var(--mer-spacing--xs);

  // chameleon tokens
  --ch-tooltip-separation: var(--mer-spacing--2xs);
  --ch-tooltip-separation-x: var(--mer-spacing--2xs);
  --ch-tooltip-separation-y: var(--mer-spacing--2xs);
}
