@import "tokens";

%tooltip {
  @include tooltip-tokens();

  background-color: var(--tooltip__background-color);
  border-radius: var(--tooltip__border-radius);
  color: var(--tooltip__color);
  padding-block: var(--tooltip__padding-block);
  padding-inline: var(--tooltip__padding-inline);
  @extend %body-regular-s;
}

/// @group Tooltip
/// @param {String} $selector [".tooltip"] -
@mixin tooltip($selector: ".tooltip::part(window)") {
  #{$selector} {
    @extend %tooltip;
  }
}
