@import "tokens";

%tooltip {
  @include tooltip-tokens();

  background-color: var(--tooltip__background-color);
  border-radius: var(--tooltip__border-radius);
  color: var(--tooltip__color);
  font-family: var(--tooltip__font-family);
  font-size: var(--tooltip__font-size);
  line-height: var(--tooltip__line-height);
  padding-block: var(--tooltip__padding-block);
  padding-inline: var(--tooltip__padding-inline);
}

/// @group Tooltip
/// @param {String} $selector [".tooltip"] -
@mixin tooltip($selector: ".tooltip::part(window)") {
  #{$selector} {
    @extend %tooltip;
  }
}
