$icons-multicolor: path, stroke;
%icon__multicolor {
  
  // path.svg
  &-path--enabled-light {
    --icon-path: url("#{$assets-path}multicolor/light/path.svg#enabled");
  }
  &-path--enabled-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/path.svg#enabled");
  }

  &-path--hover-light {
    --icon-path: url("#{$assets-path}multicolor/light/path.svg#hover");
  }
  &-path--hover-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/path.svg#hover");
  }

  &-path--active-light {
    --icon-path: url("#{$assets-path}multicolor/light/path.svg#active");
  }
  &-path--active-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/path.svg#active");
  }

  &-path--disabled-light {
    --icon-path: url("#{$assets-path}multicolor/light/path.svg#disabled");
  }
  &-path--disabled-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/path.svg#disabled");
  }
    
  // stroke.svg
  &-stroke--enabled-light {
    --icon-path: url("#{$assets-path}multicolor/light/stroke.svg#enabled");
  }
  &-stroke--enabled-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/stroke.svg#enabled");
  }

  &-stroke--hover-light {
    --icon-path: url("#{$assets-path}multicolor/light/stroke.svg#hover");
  }
  &-stroke--hover-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/stroke.svg#hover");
  }

  &-stroke--active-light {
    --icon-path: url("#{$assets-path}multicolor/light/stroke.svg#active");
  }
  &-stroke--active-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/stroke.svg#active");
  }

  &-stroke--disabled-light {
    --icon-path: url("#{$assets-path}multicolor/light/stroke.svg#disabled");
  }
  &-stroke--disabled-dark {
    --icon-path: url("#{$assets-path}multicolor/dark/stroke.svg#disabled");
  }
    
}
  