%widget {
  --spacing-body-block-start: var(--mer-spacing--sm);
  --spacing-body-block-end: var(--mer-spacing--sm);
  --spacing-body-inline-start: var(--mer-spacing--sm);
  --spacing-body-inline-end: var(--mer-spacing--sm);
}

/// @group Widget
/// @param {String} $selector [".widget,:host(.widget)"] -
@mixin widget($selector: ".widget,:host(.widget)") {
  #{$selector} {
    @extend %widget;
  }
}
