@import "../../src/base/common";
.dummy-item {
  // copied from combo-box "item" part
  display: flex;
  align-items: center;

  @include item-colors-enabled();
  @include item-border();
  @include item-border-radius();
  @include item-font();
  @include item-padding();

  // colors
  &--hover {
    @include item-colors-hover();
  }
  &--selected {
    @include item-colors-selected();
  }
  &--selected-hover {
    @include item-colors-hover();
  }
  &--disabled {
    @include item-colors-disabled();
  }
}

.dummy-items-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;

  @include items-container-colors();
  @include items-container-padding();
  @include items-container-dropdown();
  @include items-container-gap();
  @include items-container-max-height();
  @include items-container-border-radius();
}
.colors-all-together-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;
  gap: var(--mer-spacing--2xs);
}

.dummy-control {
  @include control-border();
  @include control-padding-inline();
  @include control-block-size();

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mer-color__neutral-gray--500);
  // outline: 2px dashed var(--mer-border-color__on-surface);
}
