@import "../../src/base/common";
.dummy-item {
  // copied from combo-box "item" part
  display: flex;
  align-items: center;

  @extend %item-colors-enabled;
  @extend %item-font-size-regular;
  @extend %item-border;
  @extend %item-border-radius;
  @extend %item-padding-inline;
  @extend %item-height-regular;

  // colors
  &--hover {
    @extend %item-colors-hover;
  }
  &--selected {
    @extend %item-colors-selected;
  }
  &--selected-hover {
    @extend %item-colors-selected-hover;
  }
  &--disabled {
    @extend %item-colors-disabled;
  }

  // size
  &--font-face {
    @extend %item-font-size-regular;
  }

  // other
  &--border-radius {
    @extend %item-border-radius;
  }
}

.dummy-items-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;

  @extend %items-container-colors;
  @extend %items-container-padding;
  @extend %items-container-type-dropdown;
  @extend %items-container-gap;
}
.colors-all-together-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;
  gap: var(--mer-spacing--2xs);
}
