@import "../../src/base/common";
.dummy-item {
  // copied from combo-box "item" part
  display: inline-flex;
  align-items: center;

  @extend %control-item-base;

  // colors
  &--hover {
    @extend %control-item-hover;
  }
  &--selected {
    @extend %control-item-selected;
  }
  &--selected-hover {
    @extend %control-item-selected-hover;
  }
  &--disabled {
    @extend %control-item-disabled;
  }

  // size
  &--size-regular {
    @extend %control-item-size-regular;
  }

  // other
  &--border-radius {
    @extend %control-item-border-radius;
  }
}

.dummy-items-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;

  @extend %control-items-container-base;
  @extend %control-items-container-type-regular;
  @extend %dropdown-styles;

  &--size-regular {
  }
}
.colors-all-together-container {
  // copied from combo-box "window__content" part
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
  box-sizing: border-box;
  gap: var(--mer-spacing--2xs);
}
