@import "tokens";

@mixin shortcuts() {
  ch-shortcuts {
    &::part(tooltip) {
      display: flex;
      padding-inline-start: var(--shortcuts-tooltip__padding-inline-start);
    }

    &::part(key) {
      color: var(--shortcuts-key__color);
      background-color: var(--shortcuts-key__background-color);
      border-radius: var(--shortcuts-key__border-radius);
      padding: var(--shortcuts-key__padding);
      @extend %body-regular-m;
    }

    &::part(slash),
    &::part(plus) {
      color: var(--shortcuts-slash__color);
      padding: var(--shortcuts-slash__padding);
      @extend %body-regular-m;
    }

    &::part(element) {
      outline: var(--shortcuts-element__outline);
      outline-offset: var(--shortcuts-element__outline-offset);
    }
  }
}
