@mixin shortcuts-tokens() {
  //tooltip
  --shortcuts-tooltip__padding-inline-start: var(--mer-spacing--2xs);

  //key
  --shortcuts-key__color: var(--mer-color__neutral-gray--900);
  --shortcuts-key__background-color: var(--mer-color__message-red--100);
  --shortcuts-key__border-radius: var(--mer-border__radius--md);
  --shortcuts-key__padding: var(--mer-spacing--2xs);

  //slash
  --shortcuts-slash__color: var(--mer-color__message-red--100);
  --shortcuts-slash__padding: var(--mer-spacing--2xs);

  //element
  --shortcuts-element__outline: var(--mer-border__width--md) dotted
    var(--mer-color__tinted-yellow--60);
  --shortcuts-element__outline-offset: -1px;
}
