%checkbox {
  --ch-checkbox__container-size: var(--control-tiny__size);
  --ch-checkbox__option-size: calc(var(--control-tiny__size) / 2);
  @include label-gap();

  &:hover {
    @include control-tiny-border-hover();
    &::part(label) {
      @include label-color-hover();
    }
  }

  // Input
  &__input {
    // --checkbox-border-color: var(--control__border-color);
    // border-color: var(--checkbox-border-color);
    @include control-tiny-border();

    &--focus {
      @include focus-style(true);
    }

    &--checked-and-indeterminate {
    }

    // Not implemented yet in the control
    &--error {
    }
  }

  // Option
  &__option {
    background-color: var(--control-tiny-option__color);

    &--checked {
    }

    &--indeterminate {
      block-size: var(--mer-spacing--3xs);
    }

    // Not implemented yet in the control
    &--error {
    }

    &--disabled {
    }
  }

  // Label
  &__label {
    @include label-font();

    &--disabled {
      @include label-color-disabled();
    }
  }
}

/// @group Checkbox
/// @param {String} $checkbox-selector [".checkbox"] -
/// @param {String} $checkbox__input-selector [".checkbox::part(input)"] -
/// @param {String} $checkbox__input--disabled-selector [".checkbox::part(input disabled)"] -
/// @param {String} $checkbox__input--checked-selector [".checkbox::part(input checked)"] -
/// @param {String} $checkbox__input--indeterminate-selector [".checkbox::part(input indeterminate)"] -
/// @param {String} $checkbox__input--error-selector [".checkbox::part(input error)"] -
/// @param {String} $checkbox__option--disabled-selector [".checkbox::part(option disabled)"] -
/// @param {String} $checkbox__option--checked-selector [".checkbox::part(option checked)"] -
/// @param {String} $checkbox__option--indeterminate-selector [".checkbox::part(option indeterminate)"] -
/// @param {String} $checkbox__option--error-selector [".checkbox::part(option error)"] -
/// @param {String} $checkbox__label-selector [".checkbox::part(label)"] -
/// @param {String} $checkbox__label--disabled-selector [".checkbox::part(label disabled)"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--error [true] -
/// @param {Boolean} $add--label [true] -
@mixin checkbox(
  $checkbox-selector: ".checkbox",

  $checkbox__input-selector: ".checkbox::part(input)",

  $checkbox__input--disabled-selector: ".checkbox::part(input disabled)",

  $checkbox__input--checked-selector: ".checkbox::part(input checked)",

  $checkbox__input--indeterminate-selector:
    ".checkbox::part(input indeterminate)",

  $checkbox__input--error-selector: ".checkbox::part(input error)",

  $checkbox__option--disabled-selector: ".checkbox::part(option disabled)",

  $checkbox__option--checked-selector: ".checkbox::part(option checked)",

  $checkbox__option--indeterminate-selector:
    ".checkbox::part(option indeterminate)",

  $checkbox__option--error-selector: ".checkbox::part(option error)",

  $checkbox__label-selector: ".checkbox::part(label)",

  $checkbox__label--disabled-selector: ".checkbox::part(label disabled)",

  $add--disabled: true,
  $add--error: true,
  $add--label: true
) {
  #{$checkbox-selector} {
    @extend %checkbox;
  }

  // Input
  #{$checkbox__input-selector} {
    @extend %checkbox__input;

    &:focus {
      @extend %checkbox__input--focus;
    }
  }
  #{$checkbox__input--checked-selector} {
    @extend %checkbox__input--checked-and-indeterminate;
  }

  #{$checkbox__input--indeterminate-selector} {
    @extend %checkbox__input--checked-and-indeterminate;
  }

  // Option
  #{$checkbox__option--checked-selector} {
    @extend %checkbox__option--checked;
  }

  #{$checkbox__option--indeterminate-selector} {
    @extend %checkbox__option--indeterminate;
  }

  // Label
  @if $add--label {
    #{$checkbox__label-selector} {
      @extend %checkbox__label;
    }
  }

  // Disabled
  @if $add--disabled {
    // Input
    #{$checkbox__input--disabled-selector} {
      --control__border-color: var(--control__border-color--disabled);
    }

    // Option
    #{$checkbox__option--disabled-selector} {
      --control__border-color: var(--control__border-color--disabled);
    }

    // Label
    @if $add--label {
      #{$checkbox__label--disabled-selector} {
        @extend %checkbox__label--disabled;
      }
    }
  }

  // Error
  // Not implemented yet in the control
  @if $add--error {
    // Input
    #{$checkbox__input--error-selector} {
    }

    // Option
    #{$checkbox__option--error-selector} {
    }
  }
}
