:root {
  --sc-top-bar__height: 40px;
}
.container__top-bar {
  position: fixed;
  top: 0;
  left: var(--sc-sidebar__width);
  width: calc(100vw - var(--sc-sidebar__width));
  height: var(--sc-top-bar__height);
  z-index: 99;

  background-color: var(--mer-color__surface);
  border-block-end: 1px solid var(--mer-color__elevation--01);
  padding-inline: 16px;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.container__top-bar a {
  text-decoration: none !important;
}
