// @import "../../mercury/dist/bundles/css/base/base.css";

.main-content {
  display: grid;
  grid-auto-rows: max-content;
  justify-self: center;
  margin: var(--mer-spacing--3xl);
  max-inline-size: 960px;

  & > header {
    margin-block-end: var(--mer-spacing--md);
  }

  & > section,
  & > code-snippet {
    margin-block-start: var(--mer-spacing--4xl);
  }

  copy-code {
    margin-block-start: var(--mer-spacing--md);
  }
}
