$icons-cat1: add-circle, add, applications, arrow-left, arrow-right, assistant;
%icon__cat1 {
  
  // add-circle.svg
  &-add-circle--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#primary");
  }
  &-add-circle--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#primary");
  }
      
  &-add-circle--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#primary-hover");
  }
  &-add-circle--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#primary-hover");
  }
      
  &-add-circle--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#primary-active");
  }
  &-add-circle--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#primary-active");
  }
      
  &-add-circle--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#primary-disabled");
  }
  &-add-circle--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#primary-disabled");
  }
      
  &-add-circle--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#on-primary");
  }
  &-add-circle--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#on-primary");
  }
      
  &-add-circle--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#on-primary-hover");
  }
  &-add-circle--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#on-primary-hover");
  }
      
  &-add-circle--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#on-primary-active");
  }
  &-add-circle--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#on-primary-active");
  }
      
  &-add-circle--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#on-disabled");
  }
  &-add-circle--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#on-disabled");
  }
      
  &-add-circle--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/add-circle.svg#neutral");
  }
  &-add-circle--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add-circle.svg#neutral");
  }
      
  // add.svg
  &-add--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#primary");
  }
  &-add--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#primary");
  }
      
  &-add--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#primary-hover");
  }
  &-add--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#primary-hover");
  }
      
  &-add--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#primary-active");
  }
  &-add--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#primary-active");
  }
      
  &-add--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#primary-disabled");
  }
  &-add--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#primary-disabled");
  }
      
  &-add--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#on-primary");
  }
  &-add--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#on-primary");
  }
      
  &-add--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#on-primary-hover");
  }
  &-add--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#on-primary-hover");
  }
      
  &-add--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#on-primary-active");
  }
  &-add--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#on-primary-active");
  }
      
  &-add--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#on-disabled");
  }
  &-add--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#on-disabled");
  }
      
  &-add--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/add.svg#neutral");
  }
  &-add--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/add.svg#neutral");
  }
      
  // applications.svg
  &-applications--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#primary");
  }
  &-applications--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#primary");
  }
      
  &-applications--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#primary-hover");
  }
  &-applications--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#primary-hover");
  }
      
  &-applications--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#primary-active");
  }
  &-applications--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#primary-active");
  }
      
  &-applications--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#primary-disabled");
  }
  &-applications--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#primary-disabled");
  }
      
  &-applications--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#on-primary");
  }
  &-applications--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#on-primary");
  }
      
  &-applications--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#on-primary-hover");
  }
  &-applications--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#on-primary-hover");
  }
      
  &-applications--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#on-primary-active");
  }
  &-applications--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#on-primary-active");
  }
      
  &-applications--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#on-disabled");
  }
  &-applications--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#on-disabled");
  }
      
  &-applications--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/applications.svg#neutral");
  }
  &-applications--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/applications.svg#neutral");
  }
      
  // arrow-left.svg
  &-arrow-left--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#primary");
  }
  &-arrow-left--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#primary");
  }
      
  &-arrow-left--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#primary-hover");
  }
  &-arrow-left--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#primary-hover");
  }
      
  &-arrow-left--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#primary-active");
  }
  &-arrow-left--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#primary-active");
  }
      
  &-arrow-left--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#primary-disabled");
  }
  &-arrow-left--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#primary-disabled");
  }
      
  &-arrow-left--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#on-primary");
  }
  &-arrow-left--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#on-primary");
  }
      
  &-arrow-left--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#on-primary-hover");
  }
  &-arrow-left--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#on-primary-hover");
  }
      
  &-arrow-left--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#on-primary-active");
  }
  &-arrow-left--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#on-primary-active");
  }
      
  &-arrow-left--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#on-disabled");
  }
  &-arrow-left--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#on-disabled");
  }
      
  &-arrow-left--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-left.svg#neutral");
  }
  &-arrow-left--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-left.svg#neutral");
  }
      
  // arrow-right.svg
  &-arrow-right--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#primary");
  }
  &-arrow-right--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#primary");
  }
      
  &-arrow-right--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#primary-hover");
  }
  &-arrow-right--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#primary-hover");
  }
      
  &-arrow-right--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#primary-active");
  }
  &-arrow-right--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#primary-active");
  }
      
  &-arrow-right--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#primary-disabled");
  }
  &-arrow-right--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#primary-disabled");
  }
      
  &-arrow-right--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#on-primary");
  }
  &-arrow-right--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#on-primary");
  }
      
  &-arrow-right--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#on-primary-hover");
  }
  &-arrow-right--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#on-primary-hover");
  }
      
  &-arrow-right--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#on-primary-active");
  }
  &-arrow-right--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#on-primary-active");
  }
      
  &-arrow-right--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#on-disabled");
  }
  &-arrow-right--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#on-disabled");
  }
      
  &-arrow-right--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/arrow-right.svg#neutral");
  }
  &-arrow-right--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/arrow-right.svg#neutral");
  }
      
  // assistant.svg
  &-assistant--primary-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#primary");
  }
  &-assistant--primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#primary");
  }
      
  &-assistant--primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#primary-hover");
  }
  &-assistant--primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#primary-hover");
  }
      
  &-assistant--primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#primary-active");
  }
  &-assistant--primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#primary-active");
  }
      
  &-assistant--primary-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#primary-disabled");
  }
  &-assistant--primary-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#primary-disabled");
  }
      
  &-assistant--on-primary-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#on-primary");
  }
  &-assistant--on-primary-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#on-primary");
  }
      
  &-assistant--on-primary-hover-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#on-primary-hover");
  }
  &-assistant--on-primary-hover-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#on-primary-hover");
  }
      
  &-assistant--on-primary-active-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#on-primary-active");
  }
  &-assistant--on-primary-active-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#on-primary-active");
  }
      
  &-assistant--on-disabled-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#on-disabled");
  }
  &-assistant--on-disabled-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#on-disabled");
  }
      
  &-assistant--neutral-light {
    --icon-path :url("#{$icons-path}cat1/light/assistant.svg#neutral");
  }
  &-assistant--neutral-dark {
    --icon-path :url("#{$icons-path}cat1/dark/assistant.svg#neutral");
  }
      
}
  