@mixin icons-lists($icons-path: "./assets/icons") {
  @import "./monochrome/cat1";

  $all-monochrome-lists: (
    cat1: $icons-cat1
  );
  @import "./multicolor/objects";

  $all-multicolor-lists: (
    objects: $icons-objects
  );}