%icon-mask--before {
  @include icon-mask-common-styles(
    $inline-size: var(--spacing-un-spacing--xl),
    $block-size: var(--spacing-un-spacing--xl),
    $mask-size: 100%
  );
}

%icon-background--before {
  @include icon-background-common-styles(
    $inline-size: var(--spacing-un-spacing--xl),
    $block-size: var(--spacing-un-spacing--xl),
    $background-size: 100%
  );
}

/// @group Icon
/// @param {String} $selector [".icon-mask"] -
/// @param {type} $icon-path [null] -
@mixin icon-mask($selector: ".icon-mask", $icon-path: null) {
  #{$selector} {
    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }

    &::before {
      @extend %icon-mask--before;
    }
  }
}

/// @group Icon
/// @param {String} $selector [".icon-background"] -
/// @param {type} $icon-path [null] -
@mixin icon-background($selector: ".icon-background", $icon-path: null) {
  #{$selector} {
    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }

    &::before {
      @extend %icon-background--before;
    }
  }
}
