%toggle-basic {
  --ch-switch-track__unchecked-background-color: var(
    --mer-color__neutral-gray--650
  );
  --ch-switch-track__checked-background-color: var(
    --mer-color__tinted-primary--50
  );
  --ch-switch-thumb__unchecked-background-color: var(--mer-icon__neutral);
  --ch-switch-thumb__checked-background-color: var(--mer-icon__neutral);
  --ch-switch-thumb__state-transition-duration: 150ms;
  font-weight: 400; // TODO: USE THE RIGHT TOKEN AND LINE-HEIGHT

  &__track {
    border-radius: var(--ch-switch-track-block-size);
    margin-inline-end: var(--mer-spacing--xs);

    &--disabled {
      --ch-switch-track__unchecked-background-color: var(
        --mer-accent__primary--disabled
      );
      --ch-switch-track__checked-background-color: var(
        --mer-accent__primary--disabled
      );
      --ch-switch-thumb__unchecked-background-color: var(
        --mer-icon__on-disabled
      );
      --ch-switch-thumb__checked-background-color: var(--mer-icon__on-disabled);
    }
  }

  &__caption {
    &--checked {
      font-weight: 600;
    }
  }
}

%toggle-small {
  --ch-switch-track-block-size: 16px;
  --ch-switch-track-inline-size: 31px;
  --ch-switch-thumb-size: 9px;

  &__thumb {
    &--unchecked {
      inset-inline-start: 4px;
    }

    &--checked {
      inset-inline-start: calc(100% - var(--ch-switch-thumb-size) - 4px);
    }
  }
}

%toggle-large {
  --ch-switch-track-block-size: 26px;
  --ch-switch-track-inline-size: 50px;
  --ch-switch-thumb-size: 16px;

  &__thumb {
    &--unchecked {
      inset-inline-start: 6px;
    }

    &--checked {
      inset-inline-start: calc(100% - var(--ch-switch-thumb-size) - 6px);
    }
  }
}

@mixin toggle-small(
  $toggle-selector: ".toggle-small",
  $track-selector: ".toggle-small::part(track)",
  $track--disabled-selector: ".toggle-small::part(track disabled)",
  $thumb--unchecked-selector: ".toggle-small::part(thumb unchecked)",
  $thumb--checked-selector: ".toggle-small::part(thumb checked)",
  $caption--checked-selector: ".toggle-small::part(caption checked)",
  $add--disabled: true
) {
  #{$toggle-selector} {
    @extend %toggle-basic;
    @extend %toggle-small;
  }

  #{$track-selector} {
    @extend %toggle-basic__track;
  }

  @if $add--disabled {
    #{$track--disabled-selector} {
      @extend %toggle-basic__track--disabled;
    }
  }

  #{$thumb--unchecked-selector} {
    @extend %toggle-small__thumb--unchecked;
  }

  #{$thumb--checked-selector} {
    @extend %toggle-small__thumb--checked;
  }

  #{$caption--checked-selector} {
    @extend %toggle-basic__caption--checked;
  }
}

@mixin toggle-large(
  $toggle-selector: ".toggle-large",
  $track-selector: ".toggle-large::part(track)",
  $track--disabled-selector: ".toggle-large::part(track disabled)",
  $thumb--unchecked-selector: ".toggle-large::part(thumb unchecked)",
  $thumb--checked-selector: ".toggle-large::part(thumb checked)",
  $caption--checked-selector: ".toggle-large::part(caption checked)",
  $add--disabled: true
) {
  #{$toggle-selector} {
    @extend %toggle-basic;
    @extend %toggle-large;
  }

  #{$track-selector} {
    @extend %toggle-basic__track;
  }

  @if $add--disabled {
    #{$track--disabled-selector} {
      @extend %toggle-basic__track--disabled;
    }
  }

  #{$thumb--unchecked-selector} {
    @extend %toggle-large__thumb--unchecked;
  }

  #{$thumb--checked-selector} {
    @extend %toggle-large__thumb--checked;
  }

  #{$caption--checked-selector} {
    @extend %toggle-basic__caption--checked;
  }
}
