@import "../base/button/button-tokens";

%button-icon-only {
  @include button-tokens-icon-only();
  @extend %control-layout-regular-squared;
}

%button-icon-and-text,
%button-icon-after-and-text {
}

%button-icon-after-and-text--before {
  order: 1;
}

/// @group Button
/// @param {String} $selector [".button-icon-only"] -
@mixin button-icon-only($selector: ".button-icon-only", $icon-path: null) {
  #{$selector} {
    @extend %button-icon-only;

    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }

    &::before {
      @extend %icon-size--md;
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-icon-and-text"] -
@mixin button-icon-and-text(
  $selector: ".button-icon-and-text",
  $icon-path: null
) {
  #{$selector} {
    @extend %button-icon-and-text;

    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }

    &::before {
      @extend %icon-size--md;
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-icon-after-and-text"] -
@mixin button-icon-after-and-text(
  $selector: ".button-icon-after-and-text",
  $icon-path: null
) {
  #{$selector} {
    @extend %button-icon-and-text;

    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }

    &::before {
      @extend %icon-size--md;
      @extend %button-icon-after-and-text--before;
    }
  }
}
