%form-input-text-icon {
  @extend %form-input-text-base;
  padding-inline-start: calc(
    var(--form-input-text__padding-inline) * 2 +
      var(--mer-form-input__icon-size)
  );
}

@mixin form-input-text-icon(
  $selector: ".form-input-text-icon",
  $icon-path: null
) {
  #{$selector} {
    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }
    @extend %form-input-text-icon;
    @extend %icon-input-background;
  }
}
