@import "../../tokens/semantic/custom/button";

%button-base {
  @include button-common-styles();
  @include control-height-regular();
  @include control-border();
  @include control-font-size-regular();
  @include control-padding-inline();

  &--focus-visible {
    @include focus-outline();
  }
}

%button-primary {
  @include control-font-weight-semi-bold();
  @extend %button-base;

  //overwrite some control default styles
  --control__border-color: var(--button-primary__border-color);

  background-color: var(--button-primary__background-color);
  color: var(--button-primary__color);

  &--hover {
    background-color: var(--button-primary__background-color--hover);
    --control__border-color: var(--button-primary__border-color--hover);
    color: var(--button-primary__color--hover);
  }

  &--active {
    background-color: var(--button-primary__background-color--active);
    --control__border-color: var(--button-primary__border-color--active);
    color: var(--button-primary__color--active);
  }

  &--disabled {
    background-color: var(--button-primary__background-color--disabled);
    --control__border-color: var(--button-primary__background-color--disabled);
    color: var(--button-primary__color--disabled);
  }
}

%button-secondary {
  @extend %button-base;

  //overwrite some control default styles
  --control__border-color: var(--button-secondary__border-color);

  background-color: var(--button-secondary__background-color);
  color: var(--button-secondary__color);

  &--hover {
    background-color: var(--button-secondary__background-color--hover);
    --control__border-color: var(--button-secondary__border-color--hover);
    color: var(--button-secondary__color--hover);
  }

  &--active {
    background-color: var(--button-secondary__background-color--active);
    --control__border-color: var(--button-secondary__border-color--active);
    color: var(--button-secondary__color--active);
  }

  &--disabled {
    background-color: var(--button-secondary__background-color--disabled);
    --control__border-color: var(--button-secondary__border-color--disabled);
    color: var(--button-secondary__color--disabled);
  }
}

%button-tertiary {
  @include control-font-weight-regular();
  @extend %button-base;

  //overwrite some control default styles
  --control__border-color: var(--button-tertiary__border-color);

  background-color: var(--button-tertiary__background-color);
  color: var(--button-tertiary__color);

  &--hover {
    background-color: var(--button-tertiary__background-color--hover);
    --control__border-color: var(--button-tertiary__border-color--hover);
    color: var(--button-tertiary__color--hover);
  }

  &--active {
    background-color: var(--button-tertiary__background-color--active);
    --control__border-color: var(--button-tertiary__border-color--active);
    color: var(--button-tertiary__color--active);
  }

  &--disabled {
    background-color: var(--button-tertiary__background-color--disabled);
    --control__border-color: var(--button-tertiary__border-color--disabled);
    color: var(--button-tertiary__color--disabled);
  }
}

/// @group Button
/// @param {String} $selector [".button-primary"] -
@mixin button-primary($selector: ".button-primary", $add--disabled: true) {
  #{$selector} {
    @extend %button-primary;

    &:hover {
      @extend %button-primary--hover;
    }

    &:active {
      @extend %button-primary--active;
    }

    @if $add--disabled {
      &:disabled {
        @extend %button-primary--disabled;
      }
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-secondary"] -
@mixin button-secondary($selector: ".button-secondary", $add--disabled: true) {
  #{$selector} {
    @extend %button-secondary;

    &:hover {
      @extend %button-secondary--hover;
    }

    &:active {
      @extend %button-secondary--active;
    }

    @if $add--disabled == true {
      &:disabled,
      &--disabled {
        @extend %button-secondary--disabled;
      }
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-tertiary"] -
@mixin button-tertiary($selector: ".button-tertiary", $add--disabled: true) {
  #{$selector} {
    @extend %button-tertiary;

    &:hover {
      @extend %button-tertiary--hover;
    }

    &:active {
      @extend %button-tertiary--active;
    }

    @if $add--disabled == true {
      &:disabled,
      &--disabled {
        @extend %button-tertiary--disabled;
      }
    }
  }
}

@mixin button-classes() {
  // Button primary
  @include button-primary();

  // Button secondary
  @include button-secondary();

  // Button tertiary
  @include button-tertiary();
}
