%button-base {
  @include button-common-styles();
  @include control-border();
  @include control-padding-inline-block();

  background-color: var(--button-background-color);
  color: var(--button-color);

  &--focus-visible {
    @include focus-outline();
  }
}

%button-primary {
  @extend %button-base;
  @extend %body-semi-bold-m;

  // In primary button, border color matches with background-color.

  --button-background-color: var(--mer-accent__primary);
  --control__border-color: var(--button-background-color);
  --button-color: var(--mer-text__on-primary);

  &--hover {
    --button-background-color: var(--mer-accent__primary--hover);
    --button-color: var(--mer-text__on-primary);
  }

  &--active {
    --button-background-color: var(--mer-accent__primary--active);
    --button-color: var(--mer-text__on-primary--active);
  }

  &--disabled {
    --button-background-color: var(--mer-accent__primary--disabled);
    --button-color: var(--mer-text__on-disabled);
  }

  &--destructive {
    --button-background-color: var(--mer-accent__primary--destructive);
    --button-color: var(--mer-text__on-primary);

    &-hover {
      --button-background-color: var(--mer-accent__primary--destructive-hover);
      --button-color: var(--mer-text__on-primary);
    }

    &-active {
      --button-background-color: var(--mer-accent__primary--destructive-active);
      --button-color: var(--mer-text__on-primary);
    }
  }
}

%button-secondary {
  @extend %button-base;
  @extend %body-semi-bold-m;

  // Default styles for the secondary button
  --button-background-color: transparent;
  --control__border-color: var(--button-color);
  --button-color: var(--mer-text__neutral);

  &--hover {
    --button-color: var(--mer-text__primary--hover);
  }

  &--active {
    --control__border-color: var(--mer-border-color__primary--active);
    --button-color: var(--mer-text__on-primary--active);
  }

  &--disabled {
    --button-color: var(--mer-text__on-disabled);
  }

  &--destructive {
    --button-color: var(--mer-accent__primary--destructive);

    &-hover {
      --button-background-color: var(--mer-color__message-red--600);
    }

    &-active {
      --button-background-color: var(--mer-color__message-red--500);
    }
  }
}

%button-tertiary {
  @extend %button-base;
  @extend %body-regular-m;

  // Default styles for the tertiary button
  --button-background-color: transparent;
  --control__border-color: transparent;
  --button-color: var(--mer-text__primary);

  &--hover {
    --button-color: var(--mer-text__primary--hover);
  }

  &--active {
    --button-color: var(--mer-text__primary--active);
  }

  &--disabled {
    --button-color: var(--mer-text__on-disabled);
  }
}

%buttons-spacer {
  display: flex;
  gap: var(--mer-spacing--xs);
}

/// @group Button
/// @param {String} $selector [".button-primary"] -
/// @param {String} $destructive-selector [".button-primary-destructive"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--destructive [true] -
@mixin button-primary(
  $selector: ".button-primary",
  $destructive-selector: ".button-primary-destructive",
  $add--disabled: true,
  $add--destructive: true
) {
  #{$selector} {
    @extend %button-primary;

    &:focus-visible {
      @extend %button-base--focus-visible;
    }

    &:hover {
      @extend %button-primary--hover;
    }

    &:active {
      @extend %button-primary--active;
    }

    @if $add--disabled {
      &:disabled {
        @extend %button-primary--disabled;
      }
    }
  }

  @if $add--destructive {
    #{$destructive-selector} {
      @extend %button-primary;
      @extend %button-primary--destructive;

      &:focus-visible {
        // TODO: avoid duplcation
        @extend %button-base--focus-visible;
      }

      &:hover {
        @extend %button-primary--destructive-hover;
      }

      &:active {
        @extend %button-primary--destructive-active;
      }

      @if $add--disabled {
        // TODO: avoid duplcation
        &:disabled {
          @extend %button-primary--disabled;
        }
      }
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-secondary"] -
@mixin button-secondary(
  $selector: ".button-secondary",
  $destructive-selector: ".button-secondary-destructive",
  $add--disabled: true,
  $add--destructive: true
) {
  #{$selector} {
    @extend %button-secondary;

    &:focus-visible {
      @extend %button-base--focus-visible;
    }

    &:hover {
      @extend %button-secondary--hover;
    }

    &:active {
      @extend %button-secondary--active;
    }

    @if $add--disabled == true {
      &:disabled {
        @extend %button-secondary--disabled;
      }
    }
  }

  @if $add--destructive {
    #{$destructive-selector} {
      @extend %button-secondary;
      @extend %button-secondary--destructive;

      &:focus-visible {
        // TODO: avoid duplcation
        @extend %button-base--focus-visible;
      }

      &:hover {
        @extend %button-secondary--destructive-hover;
      }

      &:active {
        @extend %button-secondary--destructive-active;
      }

      @if $add--disabled {
        // TODO: avoid duplcation
        &:disabled {
          @extend %button-secondary--disabled;
        }
      }
    }
  }
}

/// @group Button
/// @param {String} $selector [".button-tertiary"] -
@mixin button-tertiary($selector: ".button-tertiary", $add--disabled: true) {
  #{$selector} {
    @extend %button-tertiary;

    &:focus-visible {
      @extend %button-base--focus-visible;
    }

    &:hover {
      @extend %button-tertiary--hover;
    }

    &:active {
      @extend %button-tertiary--active;
    }

    @if $add--disabled == true {
      &:disabled,
      &--disabled {
        @extend %button-tertiary--disabled;
      }
    }
  }
}

/// @group Button
/// @param {String} $selector [".buttons-spacer"] -
@mixin buttons-spacer($selector: ".buttons-spacer") {
  #{$selector} {
    @extend %buttons-spacer;
  }
}

@mixin button-classes() {
  // Button primary
  @include button-primary();

  // Button secondary
  @include button-secondary();

  // Button tertiary
  @include button-tertiary();

  // Buttons spacer
  @include buttons-spacer();
}
