%buttons-group {
  display: grid;
  background-color: var(--buttons-group__bg-color);
  border: var(--buttons-group__border);
  border-radius: var(--buttons-group__border-radius);
  gap: var(--buttons-group__gap);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  padding-block: var(--buttons-group__padding-block);
  padding-inline: var(--buttons-group__padding-inline);

  &--disabled {
    background-color: var(--buttons-group__bg-color--disabled);
  }

  &__button {
    @include button-common-styles();
    @include control-height-regular();
    @include control-border();
    @include control-font-size-regular();
    @include control-padding-inline();
    @include control-font-weight-semi-bold();

    &--focus-visible {
      @include focus-outline();
    }

    --control__border-color: transparent;

    &-filled {
      &--hover {
        background-color: var(--button-primary__background-color--hover);
        --control__border-color: var(--button-primary__border-color--hover);
        color: var(--button-primary__color--hover);
      }
      &--active {
        background-color: var(--button-primary__background-color--active);
        --control__border-color: var(--button-primary__border-color--active);
        color: var(--button-primary__color--active);
      }
    }

    &-outlined {
      &--hover {
        --control__border-color: var(--button-primary__border-color--active);
      }
      &--active {
        background-color: var(--mer-color__tinted-blue--20);
        --control__border-color: var(--mer-color__tinted-blue--50);
      }
    }

    &--disabled {
      color: var(--mer-text__on-disabled);
    }

    &--focus-visible {
      @include focus-outline();
    }
  }
}

/// @group ButtonsGroup
/// @param {String} $filled-selector [".buttons-group-filled"] -
/// @param {String} $outlined-selector [".buttons-group-outlined"] -
/// @param {String} $disabled-selector [".buttons-group-disabled"] -
/// @param {String} $button-selector [".button"] -
@mixin buttons-group(
  $filled-selector: ".buttons-group-filled",
  $outlined-selector: ".buttons-group-outlined",
  $disabled-selector: ".buttons-group-disabled",
  $button-selector: ".buttons-group-button",
  $add--disabled: true
) {
  #{$filled-selector},
  #{$outlined-selector} {
    @extend %buttons-group;

    #{$button-selector} {
      @extend %buttons-group__button;
    }
    #{$button-selector}:focus-visible {
      @extend %buttons-group__button--focus-visible;
    }
  }

  #{$filled-selector} {
    #{$button-selector}:hover {
      @extend %buttons-group__button-filled--hover;
    }
    #{$button-selector}:active {
      @extend %buttons-group__button-filled--active;
    }
  }

  #{$outlined-selector} {
    #{$button-selector}:hover {
      @extend %buttons-group__button-outlined--hover;
    }
    #{$button-selector}:active {
      @extend %buttons-group__button-outlined--active;
    }
  }

  #{$disabled-selector} {
    @extend %buttons-group--disabled;
  }

  @if $add--disabled {
    #{$button-selector}:disabled {
      @extend %buttons-group__button--disabled;
    }
  }
}
