@mixin semantic-accent() {
  --mer-accent__primary: var(--mer-color__primary--200);
  --mer-accent__primary--hover: var(--mer-color__primary--400);
  --mer-accent__primary--active: var(--mer-color__primary--600);
  --mer-accent__primary--disabled: var(--mer-color__neutral-gray--500);
  --mer-accent__primary--destructive: var(--mer-color__message-red--600);
  --mer-accent__primary--destructive-hover: var(--mer-color__message-red--800);
  --mer-accent__primary--destructive-active: var(
    --mer-color__message-red--1000
  );

  --accent-success-lighter: var(--color-green-300);
  --accent-success-light: var(--color-green-500);
  --accent-success-enabled: var(--color-green-600);
  --accent-success-hover: var(--color-green-800);
  --accent-success-active: var(--color-green-1000);
}
