@mixin semantic-accent() {
  --mer-accent__primary: var(--mer-color__primary--200);
  --mer-accent__primary--hover: var(--mer-color__primary--400);
  --mer-accent__primary--active: var(--mer-color__primary--600);
  --mer-accent__primary--disabled: var(--mer-color__neutral-gray--500);
  --mer-accent__primary--destructive: var(--mer-color__message-red--600);
  --mer-accent__primary--destructive-hover: var(--mer-color__message-red--800);
  --mer-accent__primary--destructive-active: var(
    --mer-color__message-red--1000
  );
}
