@mixin semantic-control() {
  // ---------------------------------------------------------------
  // Inline Controls should have the same height to look good inline
  // ---------------------------------------------------------------

  // - - - - - - - Colors - - - - - - -

  --control__bg-color: var(--control__bg-color--enabled);
  --control__border-color: var(--control__border-color--enabled);
  --control__color: var(--control__color--enabled);

  // enabled
  --control__bg-color--enabled: transparent;
  --control__border-color--enabled: var(--mer-color__neutral-gray--500);
  --control__color--enabled: var(--mer-text__neutral);

  // hover
  --control__border-color--hover: var(--mer-border-color__neutral--hover);

  // disabled
  --control__background-color--disabled: var(--mer-accent__primary--disabled);
  --control__border-color--disabled: var(--control__background-color--disabled);
  --control__color--disabled: var(--mer-text__on-disabled);

  // error
  --control__border-color--error: var(--mer-border-color__error);

  // - - - - - - - Border - - - - - - -

  --control__border-width: var(--mer-border__width--sm);
  --control__border-style: solid;
  --control__border-radius: var(--mer-border__radius--sm);

  // - - - - - - - Font Face - - - - - - -

  --control__font-family: var(--mer-font-family--body);
  --control__font-weight--regular: var(--mer-font__weight--regular);
  --control__font-weight--semi-bold: var(--mer-font__weight--semi-bold);

  // - - - - - - - Font Size - - - - - - -

  --control__font-size--small: var(--mer-font__size--3xs);
  --control__font-size--regular: var(--mer-font__size--xs);
  --control__line-height: var(--mer-line-height--spaced);

  // - - - - - - - Padding - - - - - - -

  --control__padding-block: var(--mer-spacing--2xs);
  --control__padding-inline: var(--mer-spacing--xs);

  // - - - - - - - Gap - - - - - - -

  --control__icon-gap: var(--mer-spacing--xs);

  // - - - - - - - Placeholder - - - - - - -

  --control-placeholder__color: var(--ch-placeholder-color);
  --control-placeholder__color--disabled: var(
    --mer-form-input__color--disabled
  );
  --control-placeholder__font-style: italic;

  // -------------------------------------------------------------
  // Tiny controls (ie.: checkbox, radio-button)
  // -------------------------------------------------------------

  // border colors are the same from "--control__***" tokens

  --control-tiny__size: var(--mer-spacing--md);
  --control-tiny__border-width: 1.2px;
  --control-tiny__border-style: solid;
  --control-tiny__border-radius-sm: 1px;
  --control-tiny__border-radius-rounded: 50%;
  --control-tiny-option__color: var(--control__border-color);

  // -------------------------------------------------------------
  // Controls Label
  // -------------------------------------------------------------

  // fixed values
  --label__font-size: var(--mer-font__size--3xs);
  --label__font-weight: var(--mer-font__weight--semi-bold);
  --label__line-height: var(--mer-line-height--regular);
  --label__border-width: 1.2px;
  --label__border-style: solid;
  --label__border-radius: var(--mer-border__radius--2xs);
  --label__gap--inline: var(--mer-spacing--xs);
  --label__gap--block: var(--mer-spacing--xs);

  // depend on state
  --label__color: var(--label__color--enabled);

  // enabled
  --label__color--enabled: var(--mer-text__neutral);

  // hover
  --label__color--hover: var(--mer-text__highlighted);

  // disabled
  --label__color--disabled: var(--mer-text__primary--disabled);

  // error
  --label__color--error: var(--mer-text__neutral);

  // -------------------------------------------------------------
  // Controls Container
  // -------------------------------------------------------------

  --controls__container-row-gap: var(--mer-spacing--md);
  --controls__group-gap--block: var(--mer-spacing--sm);
  --controls__group-gap--inline: var(--mer-spacing--md);
}
