@mixin semantic-item() {
  // - - - - - - - - - - - - - - - - - - - -
  //                 Items
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - Colors - - - - - - -

  --item__bg-color: var(--item__bg-color--enabled);
  --item__border-color: var(--item__border-color--enabled);
  --item__color: var(--item__color--enabled);

  // enabled
  --item__bg-color--enabled: transparent;
  --item__border-color--enabled: transparent;
  --item__color--enabled: var(--mer-text__on-elevation);

  // hover
  --item__bg-color--hover: var(--mer-color__tinted-primary--5);
  // --item__border-color--hover: var(--mer-color__tinted-primary--20); // to be defined later with design team
  --item__border-color--hover: transparent;
  --item__color--hover: var(--mer-color__neutral-gray--100);

  // selected
  --item__bg-color--selected: var(--mer-color__tinted-primary--10);
  --item__border-color--selected: var(--mer-color__tinted-primary--30);
  --item__color--selected: var(--mer-color__neutral-gray--100);

  // selected + hover
  --item__bg-color--selected-hover: var(--mer-color__tinted-primary--10);
  --item__border-color--selected-hover: var(--mer-color__tinted-primary--20);
  --item__color--selected-hover: var(--mer-color__neutral-gray--100);

  // disabled
  --item__bg-color--disabled: transparent;
  --item__border-color--disabled: transparent;
  --item__color--disabled: var(--mer-text__primary--disabled);

  // - - - - - - - Border - - - - - - -

  --item__border-width: var(--mer-border__width--sm);
  --item__border-style: solid;

  // - - - - - - - Border Radius - - - - - - -

  --item__border-radius: var(--mer-border__radius--sm);

  // - - - - - - - Padding - - - - - - -

  --item__padding-block: var(--mer-spacing--2xs);
  --item__padding-inline: var(--mer-spacing--xs);

  // - - - - - - - Height - - - - - - -

  --item__height--regular: var(--mer-spacing--xl); // ie.: Combo box
  --item__height--large: 36px; // ie.: Grid

  // - - - - - - - Item Gap - - - - - - -
  // For example, the gap between the icon and the caption
  --item__gap--regular: var(--mer-spacing--xs);

  // - - - - - - - Line Height - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //           Items Container
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - Border - - - - - - -

  --items-container__border-width: var(--mer-border__width--sm);
  --items-container__border-style: solid;

  // - - - - - - - Colors - - - - - - -

  --items-container__bg-color: var(--mer-surface__elevation--01);
  --items-container__border-color: var(--mer-border-color__on-surface);

  // - - - - - - - Padding - - - - - - -

  --items-container__padding-block: var(--mer-spacing--xs);
  --items-container__padding-inline: var(--mer-spacing--xs);

  // - - - - - - - Type Dropdown - - - - - - -

  --items-container__border-radius: var(--mer-border__radius--sm);
  --items-container__box-shadow: var(--mer-box-shadow--01);

  // - - - - - - - Gap - - - - - - -

  --items-container__gap: var(--mer-spacing--2xs);
  --items-container__gap--small: var(--mer-spacing--2xs);

  // - - - - - - - Height - - - - - - -

  --items-container__max-block-size: 300px;

  // - - - - - - - Separator - - - - - - -
  // The separator is an element that separates
  // two groups inside the container.

  --items-container-separator__block-size: var(--mer-border__width--sm);
  --items-container-separator__inline-size: 100%;
  --items-container-separator__bg-color: var(--items-container__border-color);

  // - - - - - - - - - - - - - - - - - - - -
  //               Grid Cell
  // - - - - - - - - - - - - - - - - - - - -

  --grid-cell__border-color: var(--mer-border-color__on-elevation--01);
  --grid-cell__border: var(--mer-border__width--sm) solid
    var(--grid-cell__border-color);
  --grid-cell__box-shadow-inline-block: 0 0 0 1px var(--grid-cell__border-color);
  --grid-cell__padding-block: var(--mer-spacing--xs);
  --grid-cell__padding-inline: var(--mer-spacing--sm);
  // - - - - - - - - - - - - - - - - - - - -
  //          Tab Caption (Button)
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - Color Generic - - - - - - -
  --tab-caption__bg-color: var(--tab-caption__bg-color--enabled);
  --tab-caption__color: var(--tab-caption__color--enabled);
  --tab-caption__border-color: transparent;

  // - - - - - - - Border - - - - - - -
  --tab-caption__border-style: solid;
  --tab-caption__border-width: var(--mer-border__width--sm);

  // - - - - - - - Colors - - - - - - -
  // enabled
  --tab-caption__bg-color--enabled: transparent;
  --tab-caption__border-color--enabled: transparent;
  --tab-caption__color--enabled: var(--mer-text__neutral);

  // hover
  --tab-caption__bg-color--hover: var(--mer-color__tinted-primary--10);

  // selected
  --tab-caption__bg-color--selected-inline: transparent;
  --tab-caption__bg-color--selected-stack: var(--mer-color__tinted-primary--10);
  --tab-caption__border-color--selected-inline: var(--mer-accent__primary);
  --tab-caption__border-color--selected-stack: var(
    --mer-color__tinted-primary--20
  );
  --tab-caption__color--selected: var(--mer-text__highlighted);

  // disabled
  --tab-caption__bg-color--disabled: transparent;
  --tab-caption__border-color--disabled: var(
    --mer-border-color__on-elevation--01
  );
  --tab-caption__color--disabled: var(--mer-text__primary--disabled);

  // - - - - - - - Padding - - - - - - -
  --tab-caption__padding-block: var(--mer-spacing--xs);

  --tab-caption__padding-inline: var(--mer-spacing--sm);

  // - - - - - - - Gap - - - - - - -
  --tab-caption__gap: var(--mer-spacing--xs); // 6px does not exist on the ds.
}
