@mixin semantic-other() {
  /*----------------------
  Body
  ----------------------*/
  --mer-body__bg-color: var(--mer-color__surface);
  --mer-body__color: var(--mer-text__on-surface);
  --mer-body__font-size: var(--mer-font__size--2xs);
  --mer-body__line-height: var(--mer-line-height--regular);

  /*----------------------
  System
  ----------------------*/
  // System tokens are the most basic kind, used when there is not a more specific categorization.
  --mer-system__border-width: var(--mer-border__width--sm);
  --mer-system__border-style: solid;
  --mer-system__border-color: var(--mer-color__neutral-gray--500);

  /*----------------------
  Heading
  ----------------------*/
  --mer-heading__color: var(--mer-color__neutral-gray--100);

  /*----------------------
  Scrollbar
  ----------------------*/
  // scrollbar
  --mer-scrollbar__size: var(--mer-spacing--xs);
  // scrollbar-track
  --mer-scrollbar-track__bg-color: var(--mer-color__elevation--03);
  --mer-scrollbar-track__border-radius: var(--mer-spacing--xs);
  // scrollbar-thumb
  --mer-scrollbar-thumb__bg-color: var(--mer-color__elevation--04);
  --mer-scrollbar-thumb__bg-color--hover: var(--mer-color__elevation--04);
  --mer-scrollbar-thumb__border-radius: var(--mer-spacing--xs);
  // scrollbar-thumb
  --mer-scrollbar-corner__bg: transparent;

  /*----------------------
  Icon Size
  ----------------------*/
  // box (shell)
  --mer-icon__box--sm: var(--mer-spacing--md);
  --mer-icon__box--lg: var(--mer-spacing--lg);

  /*----------------------------------------------------------
  Form Input (form-input-*** background-position-x RTL support)
  -----------------------------------------------------------*/
  --mer-form-input__padding-inline: var(--mer-spacing--xs);
  --mer-form-input__bg-position--x-value: var(--mer-form-input__padding-inline);
  --mer-form-input__bg-position--x: var(--mer-form-input__bg-position--x-value);

  /*-------------------------------------------------------------
  Inline Control (Should have the same height to look good inline)
  -------------------------------------------------------------*/
  --mer-control__block-size: var(--mer-spacing--xl);

  /*----------------------
  Label
  ----------------------*/
  // size
  // space between label and control
  --mer-label__space: var(--mer-spacing--xs);
  --mer-label__font-size: inherit;
  --mer-label__font-weight: var(--mer-font__weight--semi-bold);
  --mer-label__color: inherit;
}
