/// @group Scale
/// @param {String} $mobile-selector [".mobile"] -
/// @param {String} $desktop-small-selector [".desktop-small"]
/// @param {String} $desktop-regular-selector [".desktop-regular"]
/// @param {Boolean} $border [true] -
/// @param {Boolean} $block-size [true] -
@mixin semantic-scale(
  $mobile-selector: ".mobile",
  $desktop-compact-selector: ".desktop-small",
  $desktop-regular-selector: ".desktop-regular",
  $border: true,
  $block-size: true
) {
  #{$mobile-selector} {
    @if $border {
      --mer-border-radius__none: var(--mer-scale__none);
      --mer-border-radius__xs: var(--mer-scale__01);
      --mer-border-radius__sm: var(--mer-scale__02);
      --mer-border-radius__md: var(--mer-scale__04);
      --mer-border-radius__lg: var(--mer-scale__06);
      --mer-border-radius__xl: var(--mer-scale__08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block-size__xs: var(--mer-scale__13);
      --mer-block-size__sm: var(--mer-scale__12);
      --mer-block-size__md: var(--mer-scale__13);
      --mer-block-size__lg: var(--mer-scale__14);
      --mer-block-size__xl: var(--mer-scale__14);
      // End of scale tokens
    }
  }

  #{$desktop-compact-selector} {
    @if $border {
      --mer-border-radius__none: var(--mer-scale__none);
      --mer-border-radius__xs: var(--mer-scale__01);
      --mer-border-radius__sm: var(--mer-scale__02);
      --mer-border-radius__md: var(--mer-scale__04);
      --mer-border-radius__lg: var(--mer-scale__06);
      --mer-border-radius__xl: var(--mer-scale__08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block-size__xs: var(--mer-scale__10);
      --mer-block-size__sm: var(--mer-scale__11);
      --mer-block-size__md: var(--mer-scale__12);
      --mer-block-size__lg: var(--mer-scale__13);
      --mer-block-size__xl: var(--mer-scale__14);
      // End of scale tokens
    }
  }

  #{$desktop-regular-selector} {
    @if $border {
      --mer-border-radius__none: var(--mer-scale__none);
      --mer-border-radius__xs: var(--mer-scale__01);
      --mer-border-radius__sm: var(--mer-scale__02);
      --mer-border-radius__md: var(--mer-scale__04);
      --mer-border-radius__lg: var(--mer-scale__06);
      --mer-border-radius__xl: var(--mer-scale__08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block-size__xs: var(--mer-scale__11);
      --mer-block-size__sm: var(--mer-scale__12);
      --mer-block-size__md: var(--mer-scale__13);
      --mer-block-size__lg: var(--mer-scale__14);
      --mer-block-size__xl: var(--mer-scale__14);
      // End of scale tokens
    }
  }
}
