/// @group Scale
/// @param {String} $mobile-selector [".mobile"] -
/// @param {String} $desktop-small-selector [".desktop-small"]
/// @param {String} $desktop-regular-selector [".desktop-regular"]
/// @param {Boolean} $border [true] -
/// @param {Boolean} $block-size [true] -
@mixin semantic-scale(
  $mobile-selector: ".mobile",
  $desktop-compact-selector: ".desktop-compact",
  $desktop-regular-selector: ".desktop-regular",
  $border: true,
  $block-size: true
) {
  :host(#{$mobile-selector}),
  #{$mobile-selector} {
    @if $border {
      --mer-border__radius--none: var(--mer-scale--none);
      --mer-border__radius--xs: var(--mer-scale--01);
      --mer-border__radius--sm: var(--mer-scale--02);
      --mer-border__radius--md: var(--mer-scale--04);
      --mer-border__radius--lg: var(--mer-scale--06);
      --mer-border__radius--xl: var(--mer-scale--08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block__size--xs: var(--mer-scale--13);
      --mer-block__size--sm: var(--mer-scale--12);
      --mer-block__size--md: var(--mer-scale--13);
      --mer-block__size--lg: var(--mer-scale--14);
      --mer-block__size--xl: var(--mer-scale--14);
      // End of scale tokens

      // --control tokens
      --control__block-size: var(--mer-block__size--xs);
    }
  }

  :host(#{$desktop-compact-selector}),
  #{$desktop-compact-selector} {
    @if $border {
      --mer-border__radius--none: var(--mer-scale__none);
      --mer-border__radius--xs: var(--mer-scale--01);
      --mer-border__radius--sm: var(--mer-scale--02);
      --mer-border__radius--md: var(--mer-scale--04);
      --mer-border__radius--lg: var(--mer-scale--06);
      --mer-border__radius--xl: var(--mer-scale--08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block__size--xs: var(--mer-scale--10);
      --mer-block__size--sm: var(--mer-scale--11);
      --mer-block__size--md: var(--mer-scale--12);
      --mer-block__size--lg: var(--mer-scale--13);
      --mer-block__size--xl: var(--mer-scale--14);
      // End of scale tokens

      // --control tokens
      --control__block-size: var(--mer-block__size--xs);
    }
  }

  :host(#{$desktop-regular-selector}),
  #{$desktop-regular-selector} {
    @if $border {
      --mer-border__radius--none: var(--mer-scale__none);
      --mer-border__radius--xs: var(--mer-scale--01);
      --mer-border__radius--sm: var(--mer-scale--02);
      --mer-border__radius--md: var(--mer-scale--04);
      --mer-border__radius--lg: var(--mer-scale--06);
      --mer-border__radius--xl: var(--mer-scale--08);
      // End of scale tokens
    }
    @if $block-size {
      --mer-block__size--xs: var(--mer-scale--11);
      --mer-block__size--sm: var(--mer-scale--12);
      --mer-block__size--md: var(--mer-scale--13);
      --mer-block__size--lg: var(--mer-scale--14);
      --mer-block__size--xl: var(--mer-scale--14);
      // End of scale tokens

      // --control tokens
      --control__block-size: var(--mer-block__size--xs);
    }
  }
}
