/// @group Scale
/// @param {String} $mobile-selector [".mobile"] -
/// @param {String} $desktop-small-selector [".desktop-small"]
/// @param {String} $desktop-regular-selector [".desktop-regular"]
/// @param {Boolean} $border [true] -
/// @param {Boolean} $block-size [true] -
@mixin semantic-scales(
  // Scale Selectors
  $mobile-selector: ".mobile",
  $desktop-compact-selector: ".desktop-compact",
  $desktop-regular-selector: ".desktop-regular",
  // Semantic General
  $border-radius: true,
  $block-size: true,
  $icon-size: true,
  $spacing: true,
  // Semantic Specific (Controls)
  $control: true,
  $control-container: true,
  $control-item: true,
  $form: true,
  $layout: true,
  $spacing-body: true,
  $cell: true,
  $buttons: true
) {
  /* - - - - - - - - - - - - - - - 
  Semantic General
  - - - - - - - - - - - - - - - */

  :host(#{$mobile-selector}),
  #{$mobile-selector} {
    @if $border-radius {
      --mer-sc-border__radius--none: var(--mer-scale--none);
      --mer-sc-border__radius--xs: var(--mer-scale--01);
      --mer-sc-border__radius--sm: var(--mer-scale--02);
      --mer-sc-border__radius--md: var(--mer-scale--04);
      --mer-sc-border__radius--lg: var(--mer-scale--06);
      --mer-sc-border__radius--xl: var(--mer-scale--08);
    }
    @if $block-size {
      --mer-sc-block__size--xs: var(--mer-scale--13);
      --mer-sc-block__size--sm: var(--mer-scale--12);
      --mer-sc-block__size--md: var(--mer-scale--13);
      --mer-sc-block__size--lg: var(--mer-scale--14);
      --mer-sc-block__size--xl: var(--mer-scale--14);
    }
    @if $icon-size {
      --mer-sc-icon__size--xs: var(--mer-scale--06);
      --mer-sc-icon__size--sm: var(--mer-scale--07);
      --mer-sc-icon__size--md: var(--mer-scale--08);
      --mer-sc-icon__size--lg: var(--mer-scale--09);
      --mer-sc-icon__size--xl: var(--mer-scale--10);
    }
    @if $spacing {
      --mer-sc-spacing--none: var(--mer-scale--none);
      --mer-sc-spacing--2xs: var(--mer-scale--02);
      --mer-sc-spacing--xs: var(--mer-scale--03);
      --mer-sc-spacing--sm: var(--mer-scale--04);
      --mer-sc-spacing--md: var(--mer-scale--05);
      --mer-sc-spacing--lg: var(--mer-scale--07);
      --mer-sc-spacing--xl: var(--mer-scale--09);
      --mer-sc-spacing--2xl: var(--mer-scale--11);
      --mer-sc-spacing--3xl: var(--mer-scale--12);
    }
  }

  :host(#{$desktop-compact-selector}),
  #{$desktop-compact-selector} {
    @if $border-radius {
      --mer-sc-border__radius--none: var(--mer-scale__none);
      --mer-sc-border__radius--xs: var(--mer-scale--01);
      --mer-sc-border__radius--sm: var(--mer-scale--02);
      --mer-sc-border__radius--md: var(--mer-scale--04);
      --mer-sc-border__radius--lg: var(--mer-scale--06);
      --mer-sc-border__radius--xl: var(--mer-scale--08);
    }
    @if $block-size {
      --mer-sc-block__size--xs: var(--mer-block__size--xs);
      --mer-sc-block__size--sm: var(--mer-scale--11);
      --mer-sc-block__size--md: var(--mer-scale--12);
      --mer-sc-block__size--lg: var(--mer-scale--13);
      --mer-sc-block__size--xl: var(--mer-scale--14);
    }
    @if $icon-size {
      --mer-sc-icon__size--xs: var(--mer-scale--04);
      --mer-sc-icon__size--sm: var(--mer-scale--06);
      --mer-sc-icon__size--md: var(--mer-scale--07);
      --mer-sc-icon__size--lg: var(--mer-scale--08);
      --mer-sc-icon__size--xl: var(--mer-scale--09);
    }
    @if $spacing {
      --mer-sc-spacing--none: var(--mer-scale--none);
      --mer-sc-spacing--2xs: var(--mer-scale--01);
      --mer-sc-spacing--xs: var(--mer-scale--02);
      --mer-sc-spacing--sm: var(--mer-scale--03);
      --mer-sc-spacing--md: var(--mer-scale--04);
      --mer-sc-spacing--lg: var(--mer-scale--06);
      --mer-sc-spacing--xl: var(--mer-scale--08);
      --mer-sc-spacing--2xl: var(--mer-scale--10);
      --mer-sc-spacing--3xl: var(--mer-scale--11);
    }
  }

  :host(#{$desktop-regular-selector}),
  #{$desktop-regular-selector} {
    @if $border-radius {
      --mer-sc-border__radius--none: var(--mer-scale__none);
      --mer-sc-border__radius--xs: var(--mer-scale--01);
      --mer-sc-border__radius--sm: var(--mer-scale--02);
      --mer-sc-border__radius--md: var(--mer-scale--04);
      --mer-sc-border__radius--lg: var(--mer-scale--06);
      --mer-sc-border__radius--xl: var(--mer-scale--08);
    }
    @if $block-size {
      --mer-sc-block__size--xs: var(--mer-scale--11);
      --mer-sc-block__size--sm: var(--mer-scale--12);
      --mer-sc-block__size--md: var(--mer-scale--13);
      --mer-sc-block__size--lg: var(--mer-scale--14);
      --mer-sc-block__size--xl: var(--mer-scale--14);
    }
    @if $icon-size {
      --mer-sc-icon__size--xs: var(--mer-scale--06);
      --mer-sc-icon__size--sm: var(--mer-scale--07);
      --mer-sc-icon__size--md: var(--mer-scale--08);
      --mer-sc-icon__size--lg: var(--mer-scale--09);
      --mer-sc-icon__size--xl: var(--mer-scale--10);
    }
    @if $spacing {
      --mer-sc-spacing--none: var(--mer-scale--none);
      --mer-sc-spacing--2xs: var(--mer-scale--02);
      --mer-sc-spacing--xs: var(--mer-scale--03);
      --mer-sc-spacing--sm: var(--mer-scale--04);
      --mer-sc-spacing--md: var(--mer-scale--05);
      --mer-sc-spacing--lg: var(--mer-scale--07);
      --mer-sc-spacing--xl: var(--mer-scale--09);
      --mer-sc-spacing--2xl: var(--mer-scale--11);
      --mer-sc-spacing--3xl: var(--mer-scale--12);
    }
  }

  /* - - - - - - - - - - - - - - - 
  Semantic Specific (Controls)
  - - - - - - - - - - - - - - - */
  @if $control {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-control__block-size: var(--mer-block__size--xs);
      --mer-sc-control-tiny__size: var(--mer-spacing--xl); //checkbox & radio
      // --mer-sc-control__font-size: var(); // TODO (Not defined in Figma yet)
      --mer-sc-control__icon-size--sm: var(--mer-icon__size--sm);
      --mer-sc-control__icon-size--md: var(--mer-icon__size--md);
      --mer-sc-control__border-radius: var(--mer-border__radius--sm);
      --mer-sc-control-label__block-spacing: var(--mer-spacing--xs);
      --mer-sc-control-label__inline-spacing: var(--mer-spacing--sm);
      --mer-sc-control-helper__spacing: var(--mer-spacing--md);
      --mer-sc-control__block-padding: var(--mer-spacing--sm);
      --mer-sc-control__inline-padding: var(--mer-spacing--sm);
    }
  }

  @if $control-container {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-control-container__block-padding: var(--mer-block__size--sm);
      --mer-sc-control-container__inline-padding: var(--mer-block__size--sm);
      --mer-sc-control-container__border-radius: var(--mer-border__radius--sm);
    }
  }

  @if $control-item {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-control-item__block-padding: var(--mer-block__size--sm);
      --mer-sc-control-item__inline-padding: var(--mer-block__size--sm);
      --mer-sc-control-item__gap: var(--mer-block__size--sm);
      // --mer-sc-control-item__font-size: var(); // TODO (Not defined in Figma yet)
      // --mer-sc-control-item__border-radius: var(); // TODO (Not defined in Figma yet)
    }
  }

  @if $form {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-field-group_row-gap: var();
      --mer-sc-field-group__column-gap: var();
    }
  }

  @if $layout {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-layout-container_row-gap: var(--mer-spacing--xl);
      --mer-sc-layout-container_column-gap: var(--mer-spacing--xl);
      --mer-sc-layout-container_padding-block: var(--mer-spacing--lg);
      --mer-sc-layout-header_padding-block-end: var(--mer-spacing--lg);
      --mer-sc-layout-footer_padding-block-start: var(--mer-spacing--sm);
    }
  }

  @if $spacing-body {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      // TODO (Not defined in Figma yet)
    }
  }

  @if $cell {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      // NOTE:  --mer-sc-cell__block-size is not used. Cell Layout is determined by the
      // font-size, line-height, padding, and border.
      --mer-sc-cell__block-size: var(--mer-scale--12);
      --mer-sc-cell__inline-padding: var(--mer-scale--12);
    }
  }

  @if $buttons {
    :host(#{$mobile-selector}),
    #{$mobile-selector},
    :host(#{$desktop-compact-selector}),
    #{$desktop-compact-selector},
    :host(#{$desktop-regular-selector}),
    #{$desktop-regular-selector} {
      --mer-sc-buttons-spacer__block-gap: var(--mer-spacing--sm);
    }
  }
}
