@mixin semantic-surface() {
  --mer-surface: var(--mer-color__neutral-gray--900);

  --mer-surface__elevation--01: var(--mer-color__neutral-gray--800);
  --mer-surface__elevation--02: var(--mer-color__neutral-gray--700);
  --mer-surface__elevation--03: var(--mer-color__neutral-gray--650);

  // box shadow
  --mer-box-shadow--01: 0px 4px 20px 0px #00000040;
}
