@mixin code($selector: ".code") {
  #{$selector} {
    --ch-code__doctag: var(--code__color-doctag);
    --ch-code__keyword: var(--code__color-keyword);
    --ch-code__meta__keyword: var(--code__color-meta__keyword);
    --ch-code__template-tag: var(--code__color-template-tag);
    --ch-code__template-variable: var(--code__color-template-variable);
    --ch-code__type: var(--code__color-type);
    --ch-code__variable-language: var(--code__color-variable-language);

    --ch-code__title: var(--text__on-surface--alternative);
    --ch-code__title-class: var(--text__on-surface--alternative);
    --ch-code__title-class-inherited: var(--text__on-surface--alternative);
    --ch-code__title-function: var(--text__on-surface--alternative);

    --ch-code__attr: var(--colors-foundation__purple--200);
    --ch-code__attribute: var(--colors-foundation__purple--200);
    --ch-code__meta: var(--colors-foundation__purple--200);
    --ch-code__number: var(--colors-foundation__purple--200);
    --ch-code__operator: var(--colors-foundation__purple--200);
    --ch-code__variable: var(--colors-foundation__purple--200);
    --ch-code__selector-attr: var(--colors-foundation__purple--200);
    --ch-code__selector-class: var(--colors-foundation__purple--200);
    --ch-code__selector-id: var(--colors-foundation__purple--200);

    --ch-code__literal: color-mix(
      in srgb,
      var(--colors-foundation__green--200) 50%,
      var(--colors-foundation__purple--200)
    );

    --ch-code__regexp: var(--colors-foundation__orange--200);
    --ch-code__string: var(--colors-foundation__orange--200);
    --ch-code__meta__string: var(--colors-foundation__orange--200);

    --ch-code__comment: var(--colors-foundation__green--200);
    --ch-code__code: var(--colors-foundation__green--200);
    --ch-code__formula: var(--colors-foundation__green--200);

    --ch-code__name: var(--colors-foundation__green--200);
    --ch-code__quote: var(--colors-foundation__green--200);
    --ch-code__selector-pseudo: var(--colors-foundation__green--200);
    --ch-code__selector-tag: var(--colors-foundation__green--200);

    --ch-code__subst: var(--text__on-surface--positive);

    --ch-code__built-in: color-mix(
      in srgb,
      var(--colors-foundation__green--200) 70%,
      var(--colors-foundation__purple--100)
    );
    --ch-code__symbol: color-mix(
      in srgb,
      var(--colors-foundation__green--200) 70%,
      var(--colors-foundation__purple--100)
    );

    // .hljs-section {
    //   /* prettylights-syntax-markup-heading */
    //   color: #005cc5;
    //   font-weight: bold;
    // }

    // .hljs-bullet {
    //   /* prettylights-syntax-markup-list */
    //   color: #735c0f;
    // }

    // .hljs-emphasis {
    //   /* prettylights-syntax-markup-italic */
    //   color: #24292e;
    //   font-style: italic;
    // }

    // .hljs-strong {
    //   /* prettylights-syntax-markup-bold */
    //   color: #24292e;
    //   font-weight: bold;
    // }

    // .hljs-addition {
    //   /* prettylights-syntax-markup-inserted */
    //   color: #22863a;
    //   background-color: #f0fff4;
    // }

    // .hljs-deletion {
    //   /* prettylights-syntax-markup-deleted */
    //   color: #b31d28;
    //   background-color: #ffeef0;
    // }

    // .hljs-char.escape_,
    // .hljs-link,
    // .hljs-params,
    // .hljs-property,
    // .hljs-punctuation,
    // .hljs-tag {
    //   /* purposely ignored */
    // }
  }
}

@mixin code-tokens--light() {
  --code__color-doctag: var(--colors-foundation__purple--400);
  --code__color-keyword: color-mix(
    in srgb,
    var(--colors-foundation__purple--400),
    var(--colors-foundation__orange--200)
  );
  --code__color-meta__keyword: var(--colors-foundation__purple--400);
  --code__color-template-tag: var(--colors-foundation__purple--400);
  --code__color-template-variable: var(--colors-foundation__purple--400);
  --code__color-type: var(--colors-foundation__purple--400);
  --code__color-variable-language: var(--colors-foundation__purple--400);
}

@mixin code-tokens--dark() {
  --code__color-doctag: var(--colors-foundation__purple--100);
  --code__color-keyword: var(--colors-foundation__purple--100);
  --code__color-meta__keyword: var(--colors-foundation__purple--100);
  --code__color-template-tag: var(--colors-foundation__purple--100);
  --code__color-template-variable: var(--colors-foundation__purple--100);
  --code__color-type: var(--colors-foundation__purple--100);
  --code__color-variable-language: var(--colors-foundation__purple--100);
}
