%combo-box {
  --ch-combo-box-separation-y: 2px;
  --ch-combo-box-item-gap: var(--spacing--s);

  --ch-combo-box-item__image-size: var(--spacing--l);
  --ch-combo-box-group__expandable-button-size: var(--spacing--l);

  --ch-combo-box-group__expandable-button-image-size: 12px;
  --ch-combo-box-item__background-image-size: 12px;
}

%combo-box__window {
  background-color: var(--elevation--3);
  border-radius: 4px;
  box-shadow: var(--box-shadows-un-box-shadow--1);
  padding: var(--spacing--xs);
}

%combo-box__group-header {
  font-weight: 600;
  padding-block: var(--spacing--s);
  padding-inline: var(--spacing--m);

  &-expandable--hover {
    color: var(--text__primary--hover);
  }
}

%combo-box__item {
  border-radius: 4px;
  padding-block: var(--spacing--s);
  padding-inline: var(--spacing--m);

  &--disabled {
    color: var(--text__disabled);
  }

  &--nested {
    padding-inline-start: calc(
      var(--ch-combo-box-item-gap) +
        var(--ch-combo-box-group__expandable-button-size) + var(--spacing--m)
    );
  }

  &--selected {
    background-color: var(--accents__primary-dim--hover);
  }
}

/// @group ComboBox
/// @param {String} $combo-box-selector [".combo-box"] -
/// @param {String} $combo-box--disabled-selector [".combo-box[disabled]"] -
/// @param {String} $combo-box__placeholder-selector [".combo-box::part(placeholder)"] -
/// @param {String} $window-selector [".combo-box::part(window)"] -
/// @param {String} $group__header-selector [".combo-box::part(group__header)"] -
/// @param {String} $group__header--disabled-selector [".combo-box::part(group__header disabled)"] -
/// @param {String} $group__header--expandable-selector [".combo-box::part(group__header expandable)"] -
/// @param {String} $item-selector [".combo-box::part(item)"] -
/// @param {String} $item--disabled-selector [".combo-box::part(item disabled)"] -
/// @param {String} $item--nested-selector [".combo-box::part(item nested)"] -
/// @param {String} $item--selected-selector [".combo-box::part(item selected)"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--placeholder [true] -
/// @param {Boolean} $add--placeholder-var [true] -
/// @param {Boolean} $add--error [true] -
@mixin combo-box(
  $combo-box-selector: ".combo-box",
  $combo-box--disabled-selector: ".combo-box[disabled]",
  $combo-box__placeholder-selector: ".combo-box::part(placeholder)",
  $window-selector: ".combo-box::part(window)",
  $group__header-selector: ".combo-box::part(group__header)",
  $group__header--disabled-selector: ".combo-box::part(group__header disabled)",
  $group__header--expandable-selector:
    ".combo-box::part(group__header expandable)",
  $item-selector: ".combo-box::part(item)",
  $item--disabled-selector: ".combo-box::part(item disabled)",
  $item--nested-selector: ".combo-box::part(item nested)",
  $item--selected-selector: ".combo-box::part(item selected)",
  $add--disabled: true,
  $add--placeholder: true,
  $add--placeholder-var: true,
  $add--error: true
) {
  // TODO: IMPROVE STYLE. Unanimo's implementation does not work well in Sidebar Menus

  #{$combo-box-selector} {
    @extend %form-input;
    @extend %combo-box;

    &:focus {
      @extend %form-input--focus;
    }

    @if $add--placeholder-var {
      @include form-input-placeholder-var();
    }
  }

  @if $add--placeholder {
    #{$combo-box__placeholder-selector} {
      @extend %form-input__placeholder;
    }
  }

  @if $add--disabled {
    #{$combo-box--disabled-selector} {
      @extend %form-input--disabled;
    }

    #{$group__header--disabled-selector} {
      @extend %combo-box__item--disabled;
    }

    #{$item--disabled-selector} {
      @extend %combo-box__item--disabled;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Window
  // - - - - - - - - - - - - - - - - - - - -
  #{$window-selector} {
    @extend %combo-box__window;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Group
  // - - - - - - - - - - - - - - - - - - - -
  #{$group__header-selector} {
    @extend %combo-box__group-header;
  }

  #{$group__header--expandable-selector}:hover {
    @extend %combo-box__group-header-expandable--hover;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  #{$item-selector} {
    @extend %combo-box__item;
  }

  #{$item--nested-selector} {
    @extend %combo-box__item--nested;
  }

  #{$item--selected-selector} {
    @extend %combo-box__item--selected;
  }
}
