%header {
  background-color: var(--header-primary__background-color);
  border-block-end: var(--border-radius--s) solid
    var(--header-primary__border-color);
  color: var(--text__on-secondary);
  padding-inline: var(--spacing--l);
}

@mixin header() {
  .header {
    @extend %header;
  }
}
