@mixin markdown-viewer() {
  :host {
    @extend %text-body-2;
    --ch-markdown-viewer-indicator-color: var(--accents__primary--active);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Heading
  // - - - - - - - - - - - - - - - - - - - -
  h1 {
    @extend %heading-1;
    margin-block: var(--spacing--l) var(--spacing--m);
    padding-block-end: var(--spacing--m);
  }

  h2 {
    @extend %heading-2;
    margin-block: 12px 6px; // It does not exists the --spacing--xm value
    padding-block-end: 6px; // It does not exists the --spacing--xm value
  }

  h3 {
    @extend %heading-3;
    margin-block: var(--spacing--m) var(--spacing--s);
    padding-block-end: var(--spacing--s);
  }

  h4 {
    @extend %heading-4;
    margin-block: var(--spacing--s) var(--spacing--xs);
    padding-block-end: var(--spacing--xs);
  }

  h5 {
    @extend %heading-4; // WA to improve visualization
    margin-block: var(--spacing--s) var(--spacing--xs);
    padding-block-end: var(--spacing--xs);
  }

  h6 {
    @extend %heading-4; // WA to improve visualization
    margin-block: var(--spacing--s) var(--spacing--xs);
    padding-block-end: var(--spacing--xs);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-block-end: 1px solid var(--body-m__font-color--gray);
  }

  p,
  ul,
  ol,
  table,
  .code-block-container {
    margin-block: var(--spacing--m);
  }

  ul,
  ol {
    padding-inline-start: var(--spacing--xxl);
  }

  a {
    @extend %text-link;
  }

  blockquote {
    margin-block: var(--spacing--m);
    padding-block: var(--spacing--m);
    padding-inline: calc(var(--spacing--xxl) - 4px) var(--spacing--xxl);
    border-inline-start: 4px solid var(--colors-foundation__gray--400);

    // First <p> don't add margin-block-start, because the <blockquote> adds it
    & > p:first-of-type {
      margin-block-start: 0;
    }

    // Last <p> don't add margin-block-end, because the <blockquote> adds it
    & > p:last-of-type {
      margin-block-end: 0;
    }
  }

  strong {
    font-weight: 700;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Table
  // - - - - - - - - - - - - - - - - - - - -
  // Table
  table {
    inline-size: max-content;
    border: 1px solid var(--border-color__mild);
    border-spacing: 0;
    border-collapse: collapse;

    & > thead > tr {
      @extend %heading-4;
      font-weight: unset;
    }
  }

  // Rows
  tr {
    border-block: 1px solid var(--border-color__mild);
  }

  // Header and body cells
  th,
  td {
    padding: var(--spacing--m);
    border-inline-start: 1px solid var(--border-color__mild);
  }

  thead > tr,
  tbody > tr:nth-child(2n) {
    background-color: var(--colors-foundation__gray--100);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Code
  // - - - - - - - - - - - - - - - - - - - -
  .code-block-container {
    border: 1px solid var(--border-color__mild);
    border-radius: var(--border-radius--m);
    font-size: calc(1em - 2px);

    // Necessary to display the ch-code's scrollbar
    overflow: hidden;
  }

  .code-block-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: var(--spacing--m);
    padding-inline-start: var(--spacing--l);
    background-color: var(--surface--alternative);

    &.mobile {
      padding-inline-start: calc(var(--spacing--l) - var(--spacing--s));
    }

    &__language {
      font-family: monospace;
    }

    &__copy-code-button {
      // TODO: This path must be customizable. Probably using a custom var.
      @include button-icon-and-text(
        $selector: "&",
        $icon-path: url("./assets/icons/copy.svg")
      );

      @include button-tertiary(
        $selector: "&",
        $add--disabled: false,
        $add--error: false
      );

      &.mobile {
        padding-inline: var(--spacing--s);
      }
    }

    &__download-code-button {
      // TODO: This path must be customizable. Probably using a custom var.
      @include button-icon-only(
        $selector: "&",
        $icon-path: url("./assets/icons/download.svg")
      );

      @include button-tertiary(
        $selector: "&",
        $add--disabled: false,
        $add--error: false
      );
    }
  }

  // Multiline code
  ch-code {
    background-color: var(--surface--positive);
    padding: var(--spacing--l);

    &.mobile {
      padding: calc(var(--spacing--l) - var(--spacing--s));
    }
  }

  @include code($selector: "ch-code");

  // Inline code
  code {
    padding-block: var(--spacing--xs);
    padding-inline: var(--spacing--s);

    background-color: var(
      --surface--positive
    ); // color-mix(in srgb, var(--surface--alternative) 70%, var(--colors-foundation__gray--100))
    border-radius: var(--border-radius--s);
    font-size: calc(1em - 2px);
  }

  img {
    display: inline-block;
    max-inline-size: 25%;
  }

  // Don't add margin-block-start in the first element of the markdown
  :host > :first-child,
  ch-theme + * {
    margin-block-start: 0px;
  }

  // Don't add margin-block-end in the last element of the markdown
  :host > :last-child {
    margin-block-end: 0px;
  }
}
