%tab {
  --ch-tab-image-size: var(--spacing--xl);
  --ch-tab-mask-image-size: calc(var(--spacing--xl) - var(--spacing--m));
}

%tab-caption {
  padding-inline: var(--spacing--m);
  padding-block: var(--spacing--m) calc(var(--spacing--m) - 2px); // due to border-block-end-width: 2px;
  border-block-end: 2px solid transparent;
  gap: var(--spacing--s);
}

%tab-caption--hover {
  border-block-end-color: var(--border-color__primary--hover);
}

%tab-caption--active {
  border-block-end-color: var(--border-color__primary--active);
}

%tab-caption--focus-visible {
  outline: 1px solid var(--border-color__focused);
  outline-offset: -1px;
}

%tab-caption-close-button {
  margin-inline-start: 4px;
}

%tab-caption--selected {
  @extend %tab-caption--active;
}

%tab-caption--disabled {
  color: var(--text__disabled);
}

%tab-list {
  gap: var(--spacing--s);
}

@mixin tab(
  $tab-selector: ".tab",
  $tab-caption-selector: ".tab::part(button)",
  $tab-caption--selected-selector: ".tab::part(button selected)",
  $tab-caption--disabled-selector: ".tab::part(button disabled)",
  $tab-caption-close-button-selector: ".tab::part(close-button)",
  $tab-list-selector: ".tab::part(tab-list)",
  $add--tab: true,
  $add--tab-list: true,
  $add--disabled: true
) {
  @if $add--tab {
    #{$tab-selector} {
      @extend %tab;
    }
  }

  #{$tab-caption-selector} {
    @extend %tab-text;
    @extend %tab-caption;

    &:hover {
      @extend %tab-caption--hover;
    }

    &:active {
      @extend %tab-caption--active;
    }

    &:focus-visible {
      @extend %tab-caption--focus-visible;
    }
  }

  #{$tab-caption-close-button-selector} {
    @extend %tab-caption-close-button;
  }

  #{$tab-caption--selected-selector} {
    @extend %tab-caption--selected;
  }

  @if $add--tab-list {
    #{$tab-list-selector} {
      @extend %tab-list;
    }
  }

  @if $add--disabled {
    #{$tab-caption--disabled-selector} {
      @extend %tab-caption--disabled;
    }
  }
}
