%toggle {
  --ch-switch-thumb__unchecked-background-color: var(--elevation--1);
  --ch-switch-thumb__checked-background-color: var(--accents__primary--hover);

  --ch-switch-track__unchecked-background-color: var(
    --colors-foundation__gray--400
  );
  --ch-switch-track__checked-background-color: var(
    --colors-foundation__gray--500
  );

  --ch-switch-thumb__state-transition-duration: 200ms;

  --ch-switch-track-block-size: 12px;
  --ch-switch-track-inline-size: 48px;
  --ch-switch-thumb-size: 24px;

  // Track
  &__track--disabled {
    --ch-switch-track__unchecked-background-color: var(
      --colors-foundation__gray--500
    );
  }

  // Thumb
  &__thumb {
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.12))
      drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));

    &--focus {
      border: 2px solid var(--border-color__focused);
    }

    &--disabled {
      --ch-switch-thumb__checked-background-color: var(--accents__disabled);
      --ch-switch-thumb__unchecked-background-color: var(--accents__disabled);
    }
  }

  // Label
  &__caption {
    @extend %input__text;
    margin-inline-start: var(--spacing--m);

    &--disabled {
      color: var(--border-color__disabled);
    }
  }
}

@mixin toggle(
  $toggle-selector: ".toggle",
  $track--disabled-selector: ".toggle::part(track disabled)",
  $thumb-selector: ".toggle::part(thumb)",
  $thumb--disabled-selector: ".toggle::part(thumb disabled)",
  $caption-selector: ".toggle::part(caption)",
  $caption--disabled-selector: ".toggle::part(caption disabled)",

  $add--disabled: true,
  $add--caption: true
) {
  #{$toggle-selector} {
    @extend %toggle;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Thumb
  // - - - - - - - - - - - - - - - - - - - -
  #{$thumb-selector} {
    @extend %toggle__thumb;

    &:focus {
      @extend %toggle__thumb--focus;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Caption
  // - - - - - - - - - - - - - - - - - - - -
  @if $add--caption {
    #{$caption-selector} {
      @extend %toggle__caption;
    }
  }

  // Disabled
  @if $add--disabled {
    // Track
    #{$track--disabled-selector} {
      @extend %toggle__track--disabled;
    }

    // Thumb
    #{$thumb--disabled-selector} {
      @extend %toggle__thumb--disabled;
    }

    // Caption
    @if $add--caption {
      #{$caption--disabled-selector} {
        @extend %toggle__caption--disabled;
      }
    }
  }
}
