%tree-view {
  --ch-tree-view-item__checkbox-size: var(--spacing-un-spacing--l);
  --ch-tree-view-item__expandable-button-size: var(--spacing-un-spacing--l);
  --ch-tree-view-item__image-size: var(--spacing-un-spacing--l);
  --ch-tree-view-item-gap: calc(var(--spacing-un-spacing--s) + 1px);
  --ch-tree-view-item__line--inset-inline-end: var(--spacing-un-spacing--s);
  --ch-tree-view-item-custom-padding-inline-start: var(--spacing-un-spacing--m);
}

$tree-view-primary-hover: color-mix(
  in srgb,
  var(--accents-un-accent__secondary--active) 30%,
  color-mix(
    in srgb,
    var(--sidebar-un-sidebar__background-color--hover) 20%,
    transparent
  )
);

%tree-view-primary {
  @extend %text-body-2;
  color: var(--text-un-text__on-secondary);
}

%tree-view--drag-preview {
  @extend %text-body-2;
  padding-inline: var(--spacing-un-spacing--m);
  padding-block: var(--spacing-un-spacing--xs);
  background-color: var(--surface-un-surface--alternative);
  border-radius: var(--border-radius-un-border__radius--l);
  box-shadow: var(--box-shadows-un-box-shadow--2);
  color: var(--text-un-text__on-surface--alternative);
}

%tree-view-item--drag-enter {
  background-color: $tree-view-primary-hover;
  outline: 1px solid color-mix(in srgb, currentColor 60%, transparent);
  outline-offset: -1px;
}

%tree-view-item__header {
  padding-inline-end: var(--spacing-un-spacing--m);

  &--focus-visible {
    outline: 1px solid currentColor;
    outline-offset: -1px;
  }

  &--not-selected-hover {
    background-color: $tree-view-primary-hover;
  }

  &--selected {
    background-color: var(--sidebar-un-sidebar__background-color--active);
  }
}

%tree-view-item__action {
  padding-block: var(--spacing-un-spacing--xs);
}

@mixin tree-view-primary(
  $tree-view-selector: ".tree-view-primary",

  // Drag preview
  $drag-preview-selector: ".tree-view-primary::part(drag-preview)",

  // Drag enter on item
  $item--drag-enter-selector: ".tree-view-primary::part(item drag-enter)",

  // Item header
  $item__header-selector: ".tree-view-primary::part(item__header)",
  $item__header--not-selected-selector:
    ".tree-view-primary::part(item__header not-selected)",
  $item__header--selected-selector:
    ".tree-view-primary::part(item__header selected)",

  // Item action
  $item__action-selector: ".tree-view-primary::part(item__action)",

  // Checkbox
  $item__checkbox-selector: ".tree-view-primary::part(item__checkbox)",
  $item__checkbox-input-selector:
    ".tree-view-primary::part(item__checkbox-input)",
  $item__checkbox-input--disabled-selector:
    ".tree-view-primary::part(item__checkbox-input disabled)",
  $item__checkbox-input--checked-selector:
    ".tree-view-primary::part(item__checkbox-input checked)",
  $item__checkbox-input--indeterminate-selector:
    ".tree-view-primary::part(item__checkbox-input indeterminate)",
  $item__checkbox-option--disabled-selector:
    ".tree-view-primary::part(item__checkbox-option disabled)",
  $item__checkbox-option--checked-selector:
    ".tree-view-primary::part(item__checkbox-option checked)",
  $item__checkbox-option--indeterminate-selector:
    ".tree-view-primary::part(item__checkbox-option indeterminate)",

  $add--disabled: true
) {
  // Base style
  #{$tree-view-selector} {
    @extend %tree-view;
    @extend %tree-view-primary;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               Drag preview
  // - - - - - - - - - - - - - - - - - - - -
  #{$drag-preview-selector} {
    @extend %tree-view--drag-preview;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  // Drag enter
  #{$item--drag-enter-selector} {
    @extend %tree-view-item--drag-enter;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Header
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__header-selector} {
    @extend %tree-view-item__header;

    &:focus-visible {
      @extend %tree-view-item__header--focus-visible;
    }
  }

  // Item not selected with hover
  #{$item__header--not-selected-selector}:hover {
    @extend %tree-view-item__header--not-selected-hover;
  }

  // Item selected and item with active
  #{$item__header--selected-selector} {
    @extend %tree-view-item__header--selected;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Action
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__action-selector} {
    @extend %tree-view-item__action;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Checkbox
  // - - - - - - - - - - - - - - - - - - - -
  @include checkbox(
    $checkbox-selector: #{$item__checkbox-selector},

    $checkbox__input-selector: #{$item__checkbox-input-selector},

    $checkbox__input--disabled-selector: #{$item__checkbox-input--disabled-selector},

    $checkbox__input--checked-selector: #{$item__checkbox-input--checked-selector},

    $checkbox__input--indeterminate-selector: #{$item__checkbox-input--indeterminate-selector},

    $checkbox__option--disabled-selector: #{$item__checkbox-option--disabled-selector},

    $checkbox__option--checked-selector: #{$item__checkbox-option--checked-selector},

    $checkbox__option--indeterminate-selector: #{$item__checkbox-option--indeterminate-selector},

    $add--disabled: $add--disabled,
    $add--error: false,
    $add--label: false
  );
}
