%tree-view {
  --ch-tree-view-item__checkbox-size: var(--spacing--l);
  --ch-tree-view-item__expandable-button-size: var(--spacing--l);
  --ch-tree-view-item__image-size: var(--spacing--l);
  --ch-tree-view-item-gap: calc(var(--spacing--s) + 1px);
  --ch-tree-view-item__line--inset-inline-end: var(--spacing--s);
  --ch-tree-view-item-custom-padding-inline-start: var(--spacing--m);
}

$tree-view-primary-hover: color-mix(
  in srgb,
  var(--accents-un-accent__secondary--active) 30%,
  color-mix(
    in srgb,
    var(--sidebar-un-sidebar__background-color--hover) 20%,
    transparent
  )
);

$tree-view-secondary-hover: color-mix(
  in srgb,
  var(--sidebar-un-sidebar__background-color--hover) 10%,
  transparent
);

%tree-view-primary {
  @extend %text-body-2;
  color: var(--text-un-text__on-secondary);
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-un-sidebar__background-color--active)
    transparent;

  &--webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &--webkit-scrollbar-thumb {
    background-color: var(--sidebar-un-sidebar__background-color--active);
  }
}

%tree-view-secondary {
  @extend %text-body-2;
  padding: var(--spacing--s);
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-un-sidebar__background-color--active)
    transparent;

  &--webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &--webkit-scrollbar-thumb {
    background-color: var(--sidebar-un-sidebar__background-color--active);
  }
}

%tree-view--drag-preview {
  @extend %text-body-2;
  padding-inline: var(--spacing--m);
  padding-block: var(--spacing--xs);
  background-color: var(--surface--alternative);
  border-radius: var(--border-radius-un-border__radius--l);
  box-shadow: var(--box-shadows-un-box-shadow--2);
  color: var(--text-un-text__on-surface--alternative);
}

%tree-view-primary--drag-enter {
  background-color: $tree-view-primary-hover;
  outline: 1px solid color-mix(in srgb, currentColor 60%, transparent);
  outline-offset: -1px;
}

%tree-view-secondary--drag-enter {
  background-color: $tree-view-secondary-hover;
  outline: 1px solid color-mix(in srgb, currentColor 60%, transparent);
  outline-offset: -1px;
}

%tree-view-item__header {
  padding-inline-end: var(--spacing--m);
}

%tree-view-primary-item__header {
  &--focus-visible {
    outline: 1px solid currentColor;
    outline-offset: -1px;
  }

  &--not-selected-hover {
    background-color: $tree-view-primary-hover;
  }

  &--selected {
    background-color: var(--sidebar-un-sidebar__background-color--active);
  }
}

%tree-view-secondary-item__header {
  border-radius: var(--border-radius-un-border__radius--m);

  &--focus-visible {
    outline: 1px solid var(--sidebar-un-sidebar__background-color--active);
    outline-offset: -1px;
  }

  &--not-selected-hover {
    color: color-mix(
      in srgb,
      var(--text-un-text__primary--hover),
      var(--text-un-text__on-surface--positive)
    );
    background-color: $tree-view-secondary-hover;
  }

  &--selected {
    background-color: color-mix(
      in srgb,
      var(--sidebar-un-sidebar__background-color--active) 25%,
      transparent
    );
  }
}

%tree-view-item__action {
  padding-block: var(--spacing--xs);
}

/// @group Tree View
/// @param {String} $tree-view-selector [".tree-view-primary"] -
/// @param {String} $drag-preview-selector [".tree-view-primary::part(drag-preview)"] -
/// @param {String} $item--drag-enter-selector [".tree-view-primary::part(item drag-enter)"] -
/// @param {String} $item__header-selector [".tree-view-primary::part(item__header)"] -
/// @param {String} $item__header--not-selected-selector [".tree-view-primary::part(item__header not-selected)"] -
/// @param {String} $item__header--selected-selector [".tree-view-primary::part(item__header selected)"] -
/// @param {String} $item__action-selector [".tree-view-primary::part(item__action)"] -
/// @param {String} $item__checkbox-selector [".tree-view-primary::part(item__checkbox)"] -
/// @param {String} $item__checkbox-input-selector [".tree-view-primary::part(item__checkbox-input)"] -
/// @param {String} $item__checkbox-input--disabled-selector [".tree-view-primary::part(item__checkbox-input disabled)"] -
/// @param {String} $item__checkbox-input--checked-selector [".tree-view-primary::part(item__checkbox-input checked)"] -
/// @param {String} $item__checkbox-input--indeterminate-selector [".tree-view-primary::part(item__checkbox-input indeterminate)"] -
/// @param {String} $item__checkbox-option--disabled-selector [".tree-view-primary::part(item__checkbox-option disabled)"] -
/// @param {String} $item__checkbox-option--checked-selector [".tree-view-primary::part(item__checkbox-option checked)"] -
/// @param {String} $item__checkbox-option--indeterminate-selector [".tree-view-primary::part(item__checkbox-option indeterminate)"] -
/// @param {Boolean} $add--disabled [true] -
/// @example scss - Default case: Using the `.tree-view-primary` class.
/// SCSS:
///   @include tree-view-primary();
///
/// @example markup
/// HTML/render:
///   <ch-tree-view-render class="tree-view-primary">
///   </ch-tree-view-render>
///
/// @example scss - Advanced case: Style a `ch-tree-view-render` control inside a Shadow Root.
/// SCSS:
///   my-component-with-shadow {
///     @include tree-view-primary(
///       // TODO
///     );
///   }
///
/// @example markup
/// HTML/render:
///   <my-component-with-shadow>
///     #shadow root (open)
///     |  <ch-tree-view-render part="tree-view" exportparts="TODO">
///     |  </ch-tree-view-render>
///   </my-component-with-shadow>
///
@mixin tree-view-primary(
  $tree-view-selector: ".tree-view-primary",

  // Drag preview
  $drag-preview-selector: ".tree-view-primary::part(drag-preview)",

  // Drag enter on item
  $item--drag-enter-selector: ".tree-view-primary::part(item drag-enter)",

  // Item header
  $item__header-selector: ".tree-view-primary::part(item__header)",
  $item__header--not-selected-selector:
    ".tree-view-primary::part(item__header not-selected)",
  $item__header--selected-selector:
    ".tree-view-primary::part(item__header selected)",

  // Item action
  $item__action-selector: ".tree-view-primary::part(item__action)",

  // Checkbox
  $item__checkbox-selector: ".tree-view-primary::part(item__checkbox)",
  $item__checkbox-input-selector:
    ".tree-view-primary::part(item__checkbox-input)",
  $item__checkbox-input--disabled-selector:
    ".tree-view-primary::part(item__checkbox-input disabled)",
  $item__checkbox-input--checked-selector:
    ".tree-view-primary::part(item__checkbox-input checked)",
  $item__checkbox-input--indeterminate-selector:
    ".tree-view-primary::part(item__checkbox-input indeterminate)",
  $item__checkbox-option--disabled-selector:
    ".tree-view-primary::part(item__checkbox-option disabled)",
  $item__checkbox-option--checked-selector:
    ".tree-view-primary::part(item__checkbox-option checked)",
  $item__checkbox-option--indeterminate-selector:
    ".tree-view-primary::part(item__checkbox-option indeterminate)",

  $add--disabled: true
) {
  // Base style
  #{$tree-view-selector} {
    @extend %tree-view;
    @extend %tree-view-primary;

    &::-webkit-scrollbar {
      @extend %tree-view-primary--webkit-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      @extend %tree-view-primary--webkit-scrollbar-thumb;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               Drag preview
  // - - - - - - - - - - - - - - - - - - - -
  #{$drag-preview-selector} {
    @extend %tree-view--drag-preview;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  // Drag enter
  #{$item--drag-enter-selector} {
    @extend %tree-view-primary--drag-enter;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Header
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__header-selector} {
    @extend %tree-view-item__header;

    &:focus-visible {
      @extend %tree-view-primary-item__header--focus-visible;
    }
  }

  // Item not selected with hover
  #{$item__header--not-selected-selector}:hover {
    @extend %tree-view-primary-item__header--not-selected-hover;
  }

  // Item selected and item with active
  #{$item__header--selected-selector} {
    @extend %tree-view-primary-item__header--selected;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Action
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__action-selector} {
    @extend %tree-view-item__action;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Checkbox
  // - - - - - - - - - - - - - - - - - - - -
  @include checkbox(
    $checkbox-selector: #{$item__checkbox-selector},

    $checkbox__input-selector: #{$item__checkbox-input-selector},

    $checkbox__input--disabled-selector: #{$item__checkbox-input--disabled-selector},

    $checkbox__input--checked-selector: #{$item__checkbox-input--checked-selector},

    $checkbox__input--indeterminate-selector: #{$item__checkbox-input--indeterminate-selector},

    $checkbox__option--disabled-selector: #{$item__checkbox-option--disabled-selector},

    $checkbox__option--checked-selector: #{$item__checkbox-option--checked-selector},

    $checkbox__option--indeterminate-selector: #{$item__checkbox-option--indeterminate-selector},

    $add--disabled: $add--disabled,
    $add--error: false,
    $add--label: false
  );
}

@mixin tree-view-secondary(
  $tree-view-selector: ".tree-view-secondary",

  // Drag preview
  $drag-preview-selector: ".tree-view-secondary::part(drag-preview)",

  // Drag enter on item
  $item--drag-enter-selector: ".tree-view-secondary::part(item drag-enter)",

  // Item header
  $item__header-selector: ".tree-view-secondary::part(item__header)",
  $item__header--not-selected-selector:
    ".tree-view-secondary::part(item__header not-selected)",
  $item__header--selected-selector:
    ".tree-view-secondary::part(item__header selected)",

  // Item action
  $item__action-selector: ".tree-view-secondary::part(item__action)",

  // Checkbox
  $item__checkbox-selector: ".tree-view-secondary::part(item__checkbox)",
  $item__checkbox-input-selector:
    ".tree-view-secondary::part(item__checkbox-input)",
  $item__checkbox-input--disabled-selector:
    ".tree-view-secondary::part(item__checkbox-input disabled)",
  $item__checkbox-input--checked-selector:
    ".tree-view-secondary::part(item__checkbox-input checked)",
  $item__checkbox-input--indeterminate-selector:
    ".tree-view-secondary::part(item__checkbox-input indeterminate)",
  $item__checkbox-option--disabled-selector:
    ".tree-view-secondary::part(item__checkbox-option disabled)",
  $item__checkbox-option--checked-selector:
    ".tree-view-secondary::part(item__checkbox-option checked)",
  $item__checkbox-option--indeterminate-selector:
    ".tree-view-secondary::part(item__checkbox-option indeterminate)",

  $add--disabled: true
) {
  // Base style
  #{$tree-view-selector} {
    @extend %tree-view;
    @extend %tree-view-secondary;

    &::-webkit-scrollbar {
      @extend %tree-view-secondary--webkit-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      @extend %tree-view-secondary--webkit-scrollbar-thumb;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               Drag preview
  // - - - - - - - - - - - - - - - - - - - -
  #{$drag-preview-selector} {
    @extend %tree-view--drag-preview;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  // Drag enter
  #{$item--drag-enter-selector} {
    @extend %tree-view-secondary--drag-enter;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Header
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__header-selector} {
    @extend %tree-view-item__header;
    @extend %tree-view-secondary-item__header;

    &:focus-visible {
      @extend %tree-view-secondary-item__header--focus-visible;
    }
  }

  // Item not selected with hover
  #{$item__header--not-selected-selector}:hover {
    @extend %tree-view-secondary-item__header--not-selected-hover;
  }

  // Item selected and item with active
  #{$item__header--selected-selector} {
    @extend %tree-view-secondary-item__header--selected;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Action
  // - - - - - - - - - - - - - - - - - - - -
  #{$item__action-selector} {
    @extend %tree-view-item__action;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Checkbox
  // - - - - - - - - - - - - - - - - - - - -
  @include checkbox(
    $checkbox-selector: #{$item__checkbox-selector},

    $checkbox__input-selector: #{$item__checkbox-input-selector},

    $checkbox__input--disabled-selector: #{$item__checkbox-input--disabled-selector},

    $checkbox__input--checked-selector: #{$item__checkbox-input--checked-selector},

    $checkbox__input--indeterminate-selector: #{$item__checkbox-input--indeterminate-selector},

    $checkbox__option--disabled-selector: #{$item__checkbox-option--disabled-selector},

    $checkbox__option--checked-selector: #{$item__checkbox-option--checked-selector},

    $checkbox__option--indeterminate-selector: #{$item__checkbox-option--indeterminate-selector},

    $add--disabled: $add--disabled,
    $add--error: false,
    $add--label: false
  );
}
