/*multicolor lists*/
.icon__objects-2_stroke:enabled,
.icon__objects-2_stroke--enabled {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#enabled");
}
.icon__objects-2_stroke:hover,
.icon__objects-2_stroke--hover {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#hover");
}
.icon__objects-2_stroke:active,
.icon__objects-2_stroke--active {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#active");
}
.icon__objects-2_stroke:disabled,
.icon__objects-2_stroke--disabled {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#disabled");
}
.icon__objects-2_path:enabled,
.icon__objects-2_path--enabled {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#enabled");
}
.icon__objects-2_path:hover,
.icon__objects-2_path--hover {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#hover");
}
.icon__objects-2_path:active,
.icon__objects-2_path--active {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#active");
}
.icon__objects-2_path:disabled,
.icon__objects-2_path--disabled {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#disabled");
}
html.dark .icon__objects-2_stroke:enabled,
html.dark .icon__objects-2_stroke--enabled {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#enabled");
}
html.dark .icon__objects-2_stroke:hover,
html.dark .icon__objects-2_stroke--hover {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#hover");
}
html.dark .icon__objects-2_stroke:active,
html.dark .icon__objects-2_stroke--active {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#active");
}
html.dark .icon__objects-2_stroke:disabled,
html.dark .icon__objects-2_stroke--disabled {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#disabled");
}
html.dark .icon__objects-2_path:enabled,
html.dark .icon__objects-2_path--enabled {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#enabled");
}
html.dark .icon__objects-2_path:hover,
html.dark .icon__objects-2_path--hover {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#hover");
}
html.dark .icon__objects-2_path:active,
html.dark .icon__objects-2_path--active {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#active");
}
html.dark .icon__objects-2_path:disabled,
html.dark .icon__objects-2_path--disabled {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#disabled");
}

.icon__objects-1_stroke:enabled,
.icon__objects-1_stroke--enabled {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#enabled");
}
.icon__objects-1_stroke:hover,
.icon__objects-1_stroke--hover {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#hover");
}
.icon__objects-1_stroke:active,
.icon__objects-1_stroke--active {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#active");
}
.icon__objects-1_stroke:disabled,
.icon__objects-1_stroke--disabled {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#disabled");
}
.icon__objects-1_path:enabled,
.icon__objects-1_path--enabled {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#enabled");
}
.icon__objects-1_path:hover,
.icon__objects-1_path--hover {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#hover");
}
.icon__objects-1_path:active,
.icon__objects-1_path--active {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#active");
}
.icon__objects-1_path:disabled,
.icon__objects-1_path--disabled {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#disabled");
}
html.dark .icon__objects-1_stroke:enabled,
html.dark .icon__objects-1_stroke--enabled {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#enabled");
}
html.dark .icon__objects-1_stroke:hover,
html.dark .icon__objects-1_stroke--hover {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#hover");
}
html.dark .icon__objects-1_stroke:active,
html.dark .icon__objects-1_stroke--active {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#active");
}
html.dark .icon__objects-1_stroke:disabled,
html.dark .icon__objects-1_stroke--disabled {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#disabled");
}
html.dark .icon__objects-1_path:enabled,
html.dark .icon__objects-1_path--enabled {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#enabled");
}
html.dark .icon__objects-1_path:hover,
html.dark .icon__objects-1_path--hover {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#hover");
}
html.dark .icon__objects-1_path:active,
html.dark .icon__objects-1_path--active {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#active");
}
html.dark .icon__objects-1_path:disabled,
html.dark .icon__objects-1_path--disabled {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#disabled");
}

/*monochrome lists*/
.icon__bpm-2_stroke--on-surface {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-surface");
}
.icon__bpm-2_stroke--on-primary {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-primary");
}
.icon__bpm-2_stroke--on-primary-hover, .icon__bpm-2_stroke--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-primary-hover");
}
.icon__bpm-2_stroke--on-primary-active, .icon__bpm-2_stroke--on-primary:active {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-primary-active");
}
.icon__bpm-2_stroke--on-disabled {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-disabled");
}
.icon__bpm-2_stroke--on-message {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-message");
}
.icon__bpm-2_stroke--on-elevation {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#on-elevation");
}
.icon__bpm-2_stroke--primary {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#primary");
}
.icon__bpm-2_stroke--primary-hover, .icon__bpm-2_stroke--primary:hover {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#primary-hover");
}
.icon__bpm-2_stroke--primary-active, .icon__bpm-2_stroke--primary:active {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#primary-active");
}
.icon__bpm-2_stroke--primary-disabled {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#primary-disabled");
}
.icon__bpm-2_stroke--error {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#error");
}
.icon__bpm-2_stroke--warning {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#warning");
}
.icon__bpm-2_stroke--success {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#success");
}
.icon__bpm-2_stroke--neutral {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#neutral");
}
.icon__bpm-2_stroke--highlighted {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#highlighted");
}
.icon__bpm-2_stroke--bright {
  --icon-path: url("../dist/icons/bpm-2/light/stroke.svg#bright");
}
.icon__bpm-2_path--on-surface {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-surface");
}
.icon__bpm-2_path--on-primary {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-primary");
}
.icon__bpm-2_path--on-primary-hover, .icon__bpm-2_path--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-primary-hover");
}
.icon__bpm-2_path--on-primary-active, .icon__bpm-2_path--on-primary:active {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-primary-active");
}
.icon__bpm-2_path--on-disabled {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-disabled");
}
.icon__bpm-2_path--on-message {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-message");
}
.icon__bpm-2_path--on-elevation {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#on-elevation");
}
.icon__bpm-2_path--primary {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#primary");
}
.icon__bpm-2_path--primary-hover, .icon__bpm-2_path--primary:hover {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#primary-hover");
}
.icon__bpm-2_path--primary-active, .icon__bpm-2_path--primary:active {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#primary-active");
}
.icon__bpm-2_path--primary-disabled {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#primary-disabled");
}
.icon__bpm-2_path--error {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#error");
}
.icon__bpm-2_path--warning {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#warning");
}
.icon__bpm-2_path--success {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#success");
}
.icon__bpm-2_path--neutral {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#neutral");
}
.icon__bpm-2_path--highlighted {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#highlighted");
}
.icon__bpm-2_path--bright {
  --icon-path: url("../dist/icons/bpm-2/light/path.svg#bright");
}
html.dark .icon__bpm-2_stroke--on-surface {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-surface");
}
html.dark .icon__bpm-2_stroke--on-primary {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-primary");
}
html.dark .icon__bpm-2_stroke--on-primary-hover, html.dark .icon__bpm-2_stroke--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-primary-hover");
}
html.dark .icon__bpm-2_stroke--on-primary-active, html.dark .icon__bpm-2_stroke--on-primary:active {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-primary-active");
}
html.dark .icon__bpm-2_stroke--on-disabled {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-disabled");
}
html.dark .icon__bpm-2_stroke--on-message {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-message");
}
html.dark .icon__bpm-2_stroke--on-elevation {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#on-elevation");
}
html.dark .icon__bpm-2_stroke--primary {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#primary");
}
html.dark .icon__bpm-2_stroke--primary-hover, html.dark .icon__bpm-2_stroke--primary:hover {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#primary-hover");
}
html.dark .icon__bpm-2_stroke--primary-active, html.dark .icon__bpm-2_stroke--primary:active {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#primary-active");
}
html.dark .icon__bpm-2_stroke--primary-disabled {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#primary-disabled");
}
html.dark .icon__bpm-2_stroke--error {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#error");
}
html.dark .icon__bpm-2_stroke--warning {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#warning");
}
html.dark .icon__bpm-2_stroke--success {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#success");
}
html.dark .icon__bpm-2_stroke--neutral {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#neutral");
}
html.dark .icon__bpm-2_stroke--highlighted {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#highlighted");
}
html.dark .icon__bpm-2_stroke--bright {
  --icon-path: url("../dist/icons/bpm-2/dark/stroke.svg#bright");
}
html.dark .icon__bpm-2_path--on-surface {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-surface");
}
html.dark .icon__bpm-2_path--on-primary {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-primary");
}
html.dark .icon__bpm-2_path--on-primary-hover, html.dark .icon__bpm-2_path--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-primary-hover");
}
html.dark .icon__bpm-2_path--on-primary-active, html.dark .icon__bpm-2_path--on-primary:active {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-primary-active");
}
html.dark .icon__bpm-2_path--on-disabled {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-disabled");
}
html.dark .icon__bpm-2_path--on-message {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-message");
}
html.dark .icon__bpm-2_path--on-elevation {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#on-elevation");
}
html.dark .icon__bpm-2_path--primary {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#primary");
}
html.dark .icon__bpm-2_path--primary-hover, html.dark .icon__bpm-2_path--primary:hover {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#primary-hover");
}
html.dark .icon__bpm-2_path--primary-active, html.dark .icon__bpm-2_path--primary:active {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#primary-active");
}
html.dark .icon__bpm-2_path--primary-disabled {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#primary-disabled");
}
html.dark .icon__bpm-2_path--error {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#error");
}
html.dark .icon__bpm-2_path--warning {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#warning");
}
html.dark .icon__bpm-2_path--success {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#success");
}
html.dark .icon__bpm-2_path--neutral {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#neutral");
}
html.dark .icon__bpm-2_path--highlighted {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#highlighted");
}
html.dark .icon__bpm-2_path--bright {
  --icon-path: url("../dist/icons/bpm-2/dark/path.svg#bright");
}

.icon__bpm-1_stroke--on-surface {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-surface");
}
.icon__bpm-1_stroke--on-primary {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-primary");
}
.icon__bpm-1_stroke--on-primary-hover, .icon__bpm-1_stroke--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-primary-hover");
}
.icon__bpm-1_stroke--on-primary-active, .icon__bpm-1_stroke--on-primary:active {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-primary-active");
}
.icon__bpm-1_stroke--on-disabled {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-disabled");
}
.icon__bpm-1_stroke--on-message {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-message");
}
.icon__bpm-1_stroke--on-elevation {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#on-elevation");
}
.icon__bpm-1_stroke--primary {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#primary");
}
.icon__bpm-1_stroke--primary-hover, .icon__bpm-1_stroke--primary:hover {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#primary-hover");
}
.icon__bpm-1_stroke--primary-active, .icon__bpm-1_stroke--primary:active {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#primary-active");
}
.icon__bpm-1_stroke--primary-disabled {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#primary-disabled");
}
.icon__bpm-1_stroke--error {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#error");
}
.icon__bpm-1_stroke--warning {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#warning");
}
.icon__bpm-1_stroke--success {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#success");
}
.icon__bpm-1_stroke--neutral {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#neutral");
}
.icon__bpm-1_stroke--highlighted {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#highlighted");
}
.icon__bpm-1_stroke--bright {
  --icon-path: url("../dist/icons/bpm-1/light/stroke.svg#bright");
}
.icon__bpm-1_path--on-surface {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-surface");
}
.icon__bpm-1_path--on-primary {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-primary");
}
.icon__bpm-1_path--on-primary-hover, .icon__bpm-1_path--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-primary-hover");
}
.icon__bpm-1_path--on-primary-active, .icon__bpm-1_path--on-primary:active {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-primary-active");
}
.icon__bpm-1_path--on-disabled {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-disabled");
}
.icon__bpm-1_path--on-message {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-message");
}
.icon__bpm-1_path--on-elevation {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#on-elevation");
}
.icon__bpm-1_path--primary {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#primary");
}
.icon__bpm-1_path--primary-hover, .icon__bpm-1_path--primary:hover {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#primary-hover");
}
.icon__bpm-1_path--primary-active, .icon__bpm-1_path--primary:active {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#primary-active");
}
.icon__bpm-1_path--primary-disabled {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#primary-disabled");
}
.icon__bpm-1_path--error {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#error");
}
.icon__bpm-1_path--warning {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#warning");
}
.icon__bpm-1_path--success {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#success");
}
.icon__bpm-1_path--neutral {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#neutral");
}
.icon__bpm-1_path--highlighted {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#highlighted");
}
.icon__bpm-1_path--bright {
  --icon-path: url("../dist/icons/bpm-1/light/path.svg#bright");
}
html.dark .icon__bpm-1_stroke--on-surface {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-surface");
}
html.dark .icon__bpm-1_stroke--on-primary {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-primary");
}
html.dark .icon__bpm-1_stroke--on-primary-hover, html.dark .icon__bpm-1_stroke--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-primary-hover");
}
html.dark .icon__bpm-1_stroke--on-primary-active, html.dark .icon__bpm-1_stroke--on-primary:active {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-primary-active");
}
html.dark .icon__bpm-1_stroke--on-disabled {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-disabled");
}
html.dark .icon__bpm-1_stroke--on-message {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-message");
}
html.dark .icon__bpm-1_stroke--on-elevation {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#on-elevation");
}
html.dark .icon__bpm-1_stroke--primary {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#primary");
}
html.dark .icon__bpm-1_stroke--primary-hover, html.dark .icon__bpm-1_stroke--primary:hover {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#primary-hover");
}
html.dark .icon__bpm-1_stroke--primary-active, html.dark .icon__bpm-1_stroke--primary:active {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#primary-active");
}
html.dark .icon__bpm-1_stroke--primary-disabled {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#primary-disabled");
}
html.dark .icon__bpm-1_stroke--error {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#error");
}
html.dark .icon__bpm-1_stroke--warning {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#warning");
}
html.dark .icon__bpm-1_stroke--success {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#success");
}
html.dark .icon__bpm-1_stroke--neutral {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#neutral");
}
html.dark .icon__bpm-1_stroke--highlighted {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#highlighted");
}
html.dark .icon__bpm-1_stroke--bright {
  --icon-path: url("../dist/icons/bpm-1/dark/stroke.svg#bright");
}
html.dark .icon__bpm-1_path--on-surface {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-surface");
}
html.dark .icon__bpm-1_path--on-primary {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-primary");
}
html.dark .icon__bpm-1_path--on-primary-hover, html.dark .icon__bpm-1_path--on-primary:hover {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-primary-hover");
}
html.dark .icon__bpm-1_path--on-primary-active, html.dark .icon__bpm-1_path--on-primary:active {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-primary-active");
}
html.dark .icon__bpm-1_path--on-disabled {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-disabled");
}
html.dark .icon__bpm-1_path--on-message {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-message");
}
html.dark .icon__bpm-1_path--on-elevation {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#on-elevation");
}
html.dark .icon__bpm-1_path--primary {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#primary");
}
html.dark .icon__bpm-1_path--primary-hover, html.dark .icon__bpm-1_path--primary:hover {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#primary-hover");
}
html.dark .icon__bpm-1_path--primary-active, html.dark .icon__bpm-1_path--primary:active {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#primary-active");
}
html.dark .icon__bpm-1_path--primary-disabled {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#primary-disabled");
}
html.dark .icon__bpm-1_path--error {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#error");
}
html.dark .icon__bpm-1_path--warning {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#warning");
}
html.dark .icon__bpm-1_path--success {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#success");
}
html.dark .icon__bpm-1_path--neutral {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#neutral");
}
html.dark .icon__bpm-1_path--highlighted {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#highlighted");
}
html.dark .icon__bpm-1_path--bright {
  --icon-path: url("../dist/icons/bpm-1/dark/path.svg#bright");
}