@import "tokens";

@mixin code($selector: ".code") {
  #{$selector} {
    @include code-tokens();
    @include scrollbar-styles();
    padding: var(--code__padding);
    background-color: var(--code__bg-color);
    border: var(--code__border);
    border-radius: var(--code__border-radius);
    font-size: 13px;
    line-height: 1.55em;
    overflow: auto;
  }
}
