
/*multicolor lists*/

/*monochrome lists*/
@import "./monochrome/windows-tools";
@import "./monochrome/navigation";
@import "./monochrome/menus";
@import "./monochrome/gemini-tools";

$all-multicolor-lists: (
);

$all-monochrome-lists: (
windows-tools: $windows-tools,
navigation: $navigation,
menus: $menus,
gemini-tools: $gemini-tools,
);