@import "tokens";

@mixin layout($selector: ".layout", $full: true) {
  .layout {
    display: grid;
    block-size: 100%;
    padding-block: var(--mer-spacing--md);
    padding-inline: var(--mer-spacing--lg);
    gap: var(--mer-spacing--md);

    &__panel {
      block-size: 100%;
    }

    &--cols-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    &--cols-2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    &--cols-3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }

    &--cols-4 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    &--cols-1-2 {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
    }

    &--cols-2-1 {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
