@mixin border-radius() {
  --border-radius--0: 0px;
  --border-radius--xs: 1px;
  --border-radius--s: 2px;
  --border-radius--m: 4px;
  --border-radius--l: 8px;
  --border-radius--xl: 16px;
  --border-radius--xxl: 32px;
}
