
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*bpm*/
  --icon__bpm_timer-6_neutral--enabled: url('#{$icons-path}bpm/light/timer-6.svg#neutral--enabled'); 
  --icon__bpm_timer-6_neutral--hover: url('#{$icons-path}bpm/light/timer-6.svg#neutral--hover'); 
  --icon__bpm_timer-6_neutral--active: url('#{$icons-path}bpm/light/timer-6.svg#neutral--active'); 
  --icon__bpm_timer-6_neutral--disabled: url('#{$icons-path}bpm/light/timer-6.svg#neutral--disabled'); 
  --icon__bpm_timer-5_neutral--enabled: url('#{$icons-path}bpm/light/timer-5.svg#neutral--enabled'); 
  --icon__bpm_timer-5_neutral--hover: url('#{$icons-path}bpm/light/timer-5.svg#neutral--hover'); 
  --icon__bpm_timer-5_neutral--active: url('#{$icons-path}bpm/light/timer-5.svg#neutral--active'); 
  --icon__bpm_timer-5_neutral--disabled: url('#{$icons-path}bpm/light/timer-5.svg#neutral--disabled'); 
  --icon__bpm_timer-2_neutral--enabled: url('#{$icons-path}bpm/light/timer-2.svg#neutral--enabled'); 
  --icon__bpm_timer-2_neutral--hover: url('#{$icons-path}bpm/light/timer-2.svg#neutral--hover'); 
  --icon__bpm_timer-2_neutral--active: url('#{$icons-path}bpm/light/timer-2.svg#neutral--active'); 
  --icon__bpm_timer-2_neutral--disabled: url('#{$icons-path}bpm/light/timer-2.svg#neutral--disabled'); 
  --icon__bpm_timer-1_neutral--enabled: url('#{$icons-path}bpm/light/timer-1.svg#neutral--enabled'); 
  --icon__bpm_timer-1_neutral--hover: url('#{$icons-path}bpm/light/timer-1.svg#neutral--hover'); 
  --icon__bpm_timer-1_neutral--active: url('#{$icons-path}bpm/light/timer-1.svg#neutral--active'); 
  --icon__bpm_timer-1_neutral--disabled: url('#{$icons-path}bpm/light/timer-1.svg#neutral--disabled'); 
  --icon__bpm_terminale-4_neutral--enabled: url('#{$icons-path}bpm/light/terminale-4.svg#neutral--enabled'); 
  --icon__bpm_terminale-4_neutral--hover: url('#{$icons-path}bpm/light/terminale-4.svg#neutral--hover'); 
  --icon__bpm_terminale-4_neutral--active: url('#{$icons-path}bpm/light/terminale-4.svg#neutral--active'); 
  --icon__bpm_terminale-4_neutral--disabled: url('#{$icons-path}bpm/light/terminale-4.svg#neutral--disabled'); 
  --icon__bpm_tasks_neutral--enabled: url('#{$icons-path}bpm/light/tasks.svg#neutral--enabled'); 
  --icon__bpm_tasks_neutral--hover: url('#{$icons-path}bpm/light/tasks.svg#neutral--hover'); 
  --icon__bpm_tasks_neutral--active: url('#{$icons-path}bpm/light/tasks.svg#neutral--active'); 
  --icon__bpm_tasks_neutral--disabled: url('#{$icons-path}bpm/light/tasks.svg#neutral--disabled'); 
  --icon__bpm_subprocess_neutral--enabled: url('#{$icons-path}bpm/light/subprocess.svg#neutral--enabled'); 
  --icon__bpm_subprocess_neutral--hover: url('#{$icons-path}bpm/light/subprocess.svg#neutral--hover'); 
  --icon__bpm_subprocess_neutral--active: url('#{$icons-path}bpm/light/subprocess.svg#neutral--active'); 
  --icon__bpm_subprocess_neutral--disabled: url('#{$icons-path}bpm/light/subprocess.svg#neutral--disabled'); 
  --icon__bpm_signal-6_neutral--enabled: url('#{$icons-path}bpm/light/signal-6.svg#neutral--enabled'); 
  --icon__bpm_signal-6_neutral--hover: url('#{$icons-path}bpm/light/signal-6.svg#neutral--hover'); 
  --icon__bpm_signal-6_neutral--active: url('#{$icons-path}bpm/light/signal-6.svg#neutral--active'); 
  --icon__bpm_signal-6_neutral--disabled: url('#{$icons-path}bpm/light/signal-6.svg#neutral--disabled'); 
  --icon__bpm_signal-5_neutral--enabled: url('#{$icons-path}bpm/light/signal-5.svg#neutral--enabled'); 
  --icon__bpm_signal-5_neutral--hover: url('#{$icons-path}bpm/light/signal-5.svg#neutral--hover'); 
  --icon__bpm_signal-5_neutral--active: url('#{$icons-path}bpm/light/signal-5.svg#neutral--active'); 
  --icon__bpm_signal-5_neutral--disabled: url('#{$icons-path}bpm/light/signal-5.svg#neutral--disabled'); 
  --icon__bpm_signal-4_neutral--enabled: url('#{$icons-path}bpm/light/signal-4.svg#neutral--enabled'); 
  --icon__bpm_signal-4_neutral--hover: url('#{$icons-path}bpm/light/signal-4.svg#neutral--hover'); 
  --icon__bpm_signal-4_neutral--active: url('#{$icons-path}bpm/light/signal-4.svg#neutral--active'); 
  --icon__bpm_signal-4_neutral--disabled: url('#{$icons-path}bpm/light/signal-4.svg#neutral--disabled'); 
  --icon__bpm_signal-3_neutral--enabled: url('#{$icons-path}bpm/light/signal-3.svg#neutral--enabled'); 
  --icon__bpm_signal-3_neutral--hover: url('#{$icons-path}bpm/light/signal-3.svg#neutral--hover'); 
  --icon__bpm_signal-3_neutral--active: url('#{$icons-path}bpm/light/signal-3.svg#neutral--active'); 
  --icon__bpm_signal-3_neutral--disabled: url('#{$icons-path}bpm/light/signal-3.svg#neutral--disabled'); 
  --icon__bpm_signal-2_neutral--enabled: url('#{$icons-path}bpm/light/signal-2.svg#neutral--enabled'); 
  --icon__bpm_signal-2_neutral--hover: url('#{$icons-path}bpm/light/signal-2.svg#neutral--hover'); 
  --icon__bpm_signal-2_neutral--active: url('#{$icons-path}bpm/light/signal-2.svg#neutral--active'); 
  --icon__bpm_signal-2_neutral--disabled: url('#{$icons-path}bpm/light/signal-2.svg#neutral--disabled'); 
  --icon__bpm_signal-1_neutral--enabled: url('#{$icons-path}bpm/light/signal-1.svg#neutral--enabled'); 
  --icon__bpm_signal-1_neutral--hover: url('#{$icons-path}bpm/light/signal-1.svg#neutral--hover'); 
  --icon__bpm_signal-1_neutral--active: url('#{$icons-path}bpm/light/signal-1.svg#neutral--active'); 
  --icon__bpm_signal-1_neutral--disabled: url('#{$icons-path}bpm/light/signal-1.svg#neutral--disabled'); 
  --icon__bpm_person_neutral--enabled: url('#{$icons-path}bpm/light/person.svg#neutral--enabled'); 
  --icon__bpm_person_neutral--hover: url('#{$icons-path}bpm/light/person.svg#neutral--hover'); 
  --icon__bpm_person_neutral--active: url('#{$icons-path}bpm/light/person.svg#neutral--active'); 
  --icon__bpm_person_neutral--disabled: url('#{$icons-path}bpm/light/person.svg#neutral--disabled'); 
  --icon__bpm_paralell-4_neutral--enabled: url('#{$icons-path}bpm/light/paralell-4.svg#neutral--enabled'); 
  --icon__bpm_paralell-4_neutral--hover: url('#{$icons-path}bpm/light/paralell-4.svg#neutral--hover'); 
  --icon__bpm_paralell-4_neutral--active: url('#{$icons-path}bpm/light/paralell-4.svg#neutral--active'); 
  --icon__bpm_paralell-4_neutral--disabled: url('#{$icons-path}bpm/light/paralell-4.svg#neutral--disabled'); 
  --icon__bpm_paralell-3_neutral--enabled: url('#{$icons-path}bpm/light/paralell-3.svg#neutral--enabled'); 
  --icon__bpm_paralell-3_neutral--hover: url('#{$icons-path}bpm/light/paralell-3.svg#neutral--hover'); 
  --icon__bpm_paralell-3_neutral--active: url('#{$icons-path}bpm/light/paralell-3.svg#neutral--active'); 
  --icon__bpm_paralell-3_neutral--disabled: url('#{$icons-path}bpm/light/paralell-3.svg#neutral--disabled'); 
  --icon__bpm_paralell-2_neutral--enabled: url('#{$icons-path}bpm/light/paralell-2.svg#neutral--enabled'); 
  --icon__bpm_paralell-2_neutral--hover: url('#{$icons-path}bpm/light/paralell-2.svg#neutral--hover'); 
  --icon__bpm_paralell-2_neutral--active: url('#{$icons-path}bpm/light/paralell-2.svg#neutral--active'); 
  --icon__bpm_paralell-2_neutral--disabled: url('#{$icons-path}bpm/light/paralell-2.svg#neutral--disabled'); 
  --icon__bpm_paralell-1_neutral--enabled: url('#{$icons-path}bpm/light/paralell-1.svg#neutral--enabled'); 
  --icon__bpm_paralell-1_neutral--hover: url('#{$icons-path}bpm/light/paralell-1.svg#neutral--hover'); 
  --icon__bpm_paralell-1_neutral--active: url('#{$icons-path}bpm/light/paralell-1.svg#neutral--active'); 
  --icon__bpm_paralell-1_neutral--disabled: url('#{$icons-path}bpm/light/paralell-1.svg#neutral--disabled'); 
  --icon__bpm_oval_neutral--enabled: url('#{$icons-path}bpm/light/oval.svg#neutral--enabled'); 
  --icon__bpm_oval_neutral--hover: url('#{$icons-path}bpm/light/oval.svg#neutral--hover'); 
  --icon__bpm_oval_neutral--active: url('#{$icons-path}bpm/light/oval.svg#neutral--active'); 
  --icon__bpm_oval_neutral--disabled: url('#{$icons-path}bpm/light/oval.svg#neutral--disabled'); 
  --icon__bpm_oval-doble_neutral--enabled: url('#{$icons-path}bpm/light/oval-doble.svg#neutral--enabled'); 
  --icon__bpm_oval-doble_neutral--hover: url('#{$icons-path}bpm/light/oval-doble.svg#neutral--hover'); 
  --icon__bpm_oval-doble_neutral--active: url('#{$icons-path}bpm/light/oval-doble.svg#neutral--active'); 
  --icon__bpm_oval-doble_neutral--disabled: url('#{$icons-path}bpm/light/oval-doble.svg#neutral--disabled'); 
  --icon__bpm_multiple-6_neutral--enabled: url('#{$icons-path}bpm/light/multiple-6.svg#neutral--enabled'); 
  --icon__bpm_multiple-6_neutral--hover: url('#{$icons-path}bpm/light/multiple-6.svg#neutral--hover'); 
  --icon__bpm_multiple-6_neutral--active: url('#{$icons-path}bpm/light/multiple-6.svg#neutral--active'); 
  --icon__bpm_multiple-6_neutral--disabled: url('#{$icons-path}bpm/light/multiple-6.svg#neutral--disabled'); 
  --icon__bpm_multiple-5_neutral--enabled: url('#{$icons-path}bpm/light/multiple-5.svg#neutral--enabled'); 
  --icon__bpm_multiple-5_neutral--hover: url('#{$icons-path}bpm/light/multiple-5.svg#neutral--hover'); 
  --icon__bpm_multiple-5_neutral--active: url('#{$icons-path}bpm/light/multiple-5.svg#neutral--active'); 
  --icon__bpm_multiple-5_neutral--disabled: url('#{$icons-path}bpm/light/multiple-5.svg#neutral--disabled'); 
  --icon__bpm_multiple-4_neutral--enabled: url('#{$icons-path}bpm/light/multiple-4.svg#neutral--enabled'); 
  --icon__bpm_multiple-4_neutral--hover: url('#{$icons-path}bpm/light/multiple-4.svg#neutral--hover'); 
  --icon__bpm_multiple-4_neutral--active: url('#{$icons-path}bpm/light/multiple-4.svg#neutral--active'); 
  --icon__bpm_multiple-4_neutral--disabled: url('#{$icons-path}bpm/light/multiple-4.svg#neutral--disabled'); 
  --icon__bpm_multiple-3_neutral--enabled: url('#{$icons-path}bpm/light/multiple-3.svg#neutral--enabled'); 
  --icon__bpm_multiple-3_neutral--hover: url('#{$icons-path}bpm/light/multiple-3.svg#neutral--hover'); 
  --icon__bpm_multiple-3_neutral--active: url('#{$icons-path}bpm/light/multiple-3.svg#neutral--active'); 
  --icon__bpm_multiple-3_neutral--disabled: url('#{$icons-path}bpm/light/multiple-3.svg#neutral--disabled'); 
  --icon__bpm_multiple-2_neutral--enabled: url('#{$icons-path}bpm/light/multiple-2.svg#neutral--enabled'); 
  --icon__bpm_multiple-2_neutral--hover: url('#{$icons-path}bpm/light/multiple-2.svg#neutral--hover'); 
  --icon__bpm_multiple-2_neutral--active: url('#{$icons-path}bpm/light/multiple-2.svg#neutral--active'); 
  --icon__bpm_multiple-2_neutral--disabled: url('#{$icons-path}bpm/light/multiple-2.svg#neutral--disabled'); 
  --icon__bpm_multiple-1_neutral--enabled: url('#{$icons-path}bpm/light/multiple-1.svg#neutral--enabled'); 
  --icon__bpm_multiple-1_neutral--hover: url('#{$icons-path}bpm/light/multiple-1.svg#neutral--hover'); 
  --icon__bpm_multiple-1_neutral--active: url('#{$icons-path}bpm/light/multiple-1.svg#neutral--active'); 
  --icon__bpm_multiple-1_neutral--disabled: url('#{$icons-path}bpm/light/multiple-1.svg#neutral--disabled'); 
  --icon__bpm_message-6_neutral--enabled: url('#{$icons-path}bpm/light/message-6.svg#neutral--enabled'); 
  --icon__bpm_message-6_neutral--hover: url('#{$icons-path}bpm/light/message-6.svg#neutral--hover'); 
  --icon__bpm_message-6_neutral--active: url('#{$icons-path}bpm/light/message-6.svg#neutral--active'); 
  --icon__bpm_message-6_neutral--disabled: url('#{$icons-path}bpm/light/message-6.svg#neutral--disabled'); 
  --icon__bpm_message-5_neutral--enabled: url('#{$icons-path}bpm/light/message-5.svg#neutral--enabled'); 
  --icon__bpm_message-5_neutral--hover: url('#{$icons-path}bpm/light/message-5.svg#neutral--hover'); 
  --icon__bpm_message-5_neutral--active: url('#{$icons-path}bpm/light/message-5.svg#neutral--active'); 
  --icon__bpm_message-5_neutral--disabled: url('#{$icons-path}bpm/light/message-5.svg#neutral--disabled'); 
  --icon__bpm_message-4_neutral--enabled: url('#{$icons-path}bpm/light/message-4.svg#neutral--enabled'); 
  --icon__bpm_message-4_neutral--hover: url('#{$icons-path}bpm/light/message-4.svg#neutral--hover'); 
  --icon__bpm_message-4_neutral--active: url('#{$icons-path}bpm/light/message-4.svg#neutral--active'); 
  --icon__bpm_message-4_neutral--disabled: url('#{$icons-path}bpm/light/message-4.svg#neutral--disabled'); 
  --icon__bpm_message-3_neutral--enabled: url('#{$icons-path}bpm/light/message-3.svg#neutral--enabled'); 
  --icon__bpm_message-3_neutral--hover: url('#{$icons-path}bpm/light/message-3.svg#neutral--hover'); 
  --icon__bpm_message-3_neutral--active: url('#{$icons-path}bpm/light/message-3.svg#neutral--active'); 
  --icon__bpm_message-3_neutral--disabled: url('#{$icons-path}bpm/light/message-3.svg#neutral--disabled'); 
  --icon__bpm_message-2_neutral--enabled: url('#{$icons-path}bpm/light/message-2.svg#neutral--enabled'); 
  --icon__bpm_message-2_neutral--hover: url('#{$icons-path}bpm/light/message-2.svg#neutral--hover'); 
  --icon__bpm_message-2_neutral--active: url('#{$icons-path}bpm/light/message-2.svg#neutral--active'); 
  --icon__bpm_message-2_neutral--disabled: url('#{$icons-path}bpm/light/message-2.svg#neutral--disabled'); 
  --icon__bpm_message-1_neutral--enabled: url('#{$icons-path}bpm/light/message-1.svg#neutral--enabled'); 
  --icon__bpm_message-1_neutral--hover: url('#{$icons-path}bpm/light/message-1.svg#neutral--hover'); 
  --icon__bpm_message-1_neutral--active: url('#{$icons-path}bpm/light/message-1.svg#neutral--active'); 
  --icon__bpm_message-1_neutral--disabled: url('#{$icons-path}bpm/light/message-1.svg#neutral--disabled'); 
  --icon__bpm_link-4_neutral--enabled: url('#{$icons-path}bpm/light/link-4.svg#neutral--enabled'); 
  --icon__bpm_link-4_neutral--hover: url('#{$icons-path}bpm/light/link-4.svg#neutral--hover'); 
  --icon__bpm_link-4_neutral--active: url('#{$icons-path}bpm/light/link-4.svg#neutral--active'); 
  --icon__bpm_link-4_neutral--disabled: url('#{$icons-path}bpm/light/link-4.svg#neutral--disabled'); 
  --icon__bpm_link-3_neutral--enabled: url('#{$icons-path}bpm/light/link-3.svg#neutral--enabled'); 
  --icon__bpm_link-3_neutral--hover: url('#{$icons-path}bpm/light/link-3.svg#neutral--hover'); 
  --icon__bpm_link-3_neutral--active: url('#{$icons-path}bpm/light/link-3.svg#neutral--active'); 
  --icon__bpm_link-3_neutral--disabled: url('#{$icons-path}bpm/light/link-3.svg#neutral--disabled'); 
  --icon__bpm_escalation-6_neutral--enabled: url('#{$icons-path}bpm/light/escalation-6.svg#neutral--enabled'); 
  --icon__bpm_escalation-6_neutral--hover: url('#{$icons-path}bpm/light/escalation-6.svg#neutral--hover'); 
  --icon__bpm_escalation-6_neutral--active: url('#{$icons-path}bpm/light/escalation-6.svg#neutral--active'); 
  --icon__bpm_escalation-6_neutral--disabled: url('#{$icons-path}bpm/light/escalation-6.svg#neutral--disabled'); 
  --icon__bpm_escalation-5_neutral--enabled: url('#{$icons-path}bpm/light/escalation-5.svg#neutral--enabled'); 
  --icon__bpm_escalation-5_neutral--hover: url('#{$icons-path}bpm/light/escalation-5.svg#neutral--hover'); 
  --icon__bpm_escalation-5_neutral--active: url('#{$icons-path}bpm/light/escalation-5.svg#neutral--active'); 
  --icon__bpm_escalation-5_neutral--disabled: url('#{$icons-path}bpm/light/escalation-5.svg#neutral--disabled'); 
  --icon__bpm_escalation-4_neutral--enabled: url('#{$icons-path}bpm/light/escalation-4.svg#neutral--enabled'); 
  --icon__bpm_escalation-4_neutral--hover: url('#{$icons-path}bpm/light/escalation-4.svg#neutral--hover'); 
  --icon__bpm_escalation-4_neutral--active: url('#{$icons-path}bpm/light/escalation-4.svg#neutral--active'); 
  --icon__bpm_escalation-4_neutral--disabled: url('#{$icons-path}bpm/light/escalation-4.svg#neutral--disabled'); 
  --icon__bpm_escalation-3_neutral--enabled: url('#{$icons-path}bpm/light/escalation-3.svg#neutral--enabled'); 
  --icon__bpm_escalation-3_neutral--hover: url('#{$icons-path}bpm/light/escalation-3.svg#neutral--hover'); 
  --icon__bpm_escalation-3_neutral--active: url('#{$icons-path}bpm/light/escalation-3.svg#neutral--active'); 
  --icon__bpm_escalation-3_neutral--disabled: url('#{$icons-path}bpm/light/escalation-3.svg#neutral--disabled'); 
  --icon__bpm_escalation-2_neutral--enabled: url('#{$icons-path}bpm/light/escalation-2.svg#neutral--enabled'); 
  --icon__bpm_escalation-2_neutral--hover: url('#{$icons-path}bpm/light/escalation-2.svg#neutral--hover'); 
  --icon__bpm_escalation-2_neutral--active: url('#{$icons-path}bpm/light/escalation-2.svg#neutral--active'); 
  --icon__bpm_escalation-2_neutral--disabled: url('#{$icons-path}bpm/light/escalation-2.svg#neutral--disabled'); 
  --icon__bpm_escalation-1_neutral--enabled: url('#{$icons-path}bpm/light/escalation-1.svg#neutral--enabled'); 
  --icon__bpm_escalation-1_neutral--hover: url('#{$icons-path}bpm/light/escalation-1.svg#neutral--hover'); 
  --icon__bpm_escalation-1_neutral--active: url('#{$icons-path}bpm/light/escalation-1.svg#neutral--active'); 
  --icon__bpm_escalation-1_neutral--disabled: url('#{$icons-path}bpm/light/escalation-1.svg#neutral--disabled'); 
  --icon__bpm_error-2_neutral--enabled: url('#{$icons-path}bpm/light/error-2.svg#neutral--enabled'); 
  --icon__bpm_error-2_neutral--hover: url('#{$icons-path}bpm/light/error-2.svg#neutral--hover'); 
  --icon__bpm_error-2_neutral--active: url('#{$icons-path}bpm/light/error-2.svg#neutral--active'); 
  --icon__bpm_error-2_neutral--disabled: url('#{$icons-path}bpm/light/error-2.svg#neutral--disabled'); 
  --icon__bpm_error-1_neutral--enabled: url('#{$icons-path}bpm/light/error-1.svg#neutral--enabled'); 
  --icon__bpm_error-1_neutral--hover: url('#{$icons-path}bpm/light/error-1.svg#neutral--hover'); 
  --icon__bpm_error-1_neutral--active: url('#{$icons-path}bpm/light/error-1.svg#neutral--active'); 
  --icon__bpm_error-1_neutral--disabled: url('#{$icons-path}bpm/light/error-1.svg#neutral--disabled'); 
  --icon__bpm_delete_neutral--enabled: url('#{$icons-path}bpm/light/delete.svg#neutral--enabled'); 
  --icon__bpm_delete_neutral--hover: url('#{$icons-path}bpm/light/delete.svg#neutral--hover'); 
  --icon__bpm_delete_neutral--active: url('#{$icons-path}bpm/light/delete.svg#neutral--active'); 
  --icon__bpm_delete_neutral--disabled: url('#{$icons-path}bpm/light/delete.svg#neutral--disabled'); 
  --icon__bpm_conditional_neutral--enabled: url('#{$icons-path}bpm/light/conditional.svg#neutral--enabled'); 
  --icon__bpm_conditional_neutral--hover: url('#{$icons-path}bpm/light/conditional.svg#neutral--hover'); 
  --icon__bpm_conditional_neutral--active: url('#{$icons-path}bpm/light/conditional.svg#neutral--active'); 
  --icon__bpm_conditional_neutral--disabled: url('#{$icons-path}bpm/light/conditional.svg#neutral--disabled'); 
  --icon__bpm_conditional-6_neutral--enabled: url('#{$icons-path}bpm/light/conditional-6.svg#neutral--enabled'); 
  --icon__bpm_conditional-6_neutral--hover: url('#{$icons-path}bpm/light/conditional-6.svg#neutral--hover'); 
  --icon__bpm_conditional-6_neutral--active: url('#{$icons-path}bpm/light/conditional-6.svg#neutral--active'); 
  --icon__bpm_conditional-6_neutral--disabled: url('#{$icons-path}bpm/light/conditional-6.svg#neutral--disabled'); 
  --icon__bpm_conditional-5_neutral--enabled: url('#{$icons-path}bpm/light/conditional-5.svg#neutral--enabled'); 
  --icon__bpm_conditional-5_neutral--hover: url('#{$icons-path}bpm/light/conditional-5.svg#neutral--hover'); 
  --icon__bpm_conditional-5_neutral--active: url('#{$icons-path}bpm/light/conditional-5.svg#neutral--active'); 
  --icon__bpm_conditional-5_neutral--disabled: url('#{$icons-path}bpm/light/conditional-5.svg#neutral--disabled'); 
  --icon__bpm_conditional-2_neutral--enabled: url('#{$icons-path}bpm/light/conditional-2.svg#neutral--enabled'); 
  --icon__bpm_conditional-2_neutral--hover: url('#{$icons-path}bpm/light/conditional-2.svg#neutral--hover'); 
  --icon__bpm_conditional-2_neutral--active: url('#{$icons-path}bpm/light/conditional-2.svg#neutral--active'); 
  --icon__bpm_conditional-2_neutral--disabled: url('#{$icons-path}bpm/light/conditional-2.svg#neutral--disabled'); 
  --icon__bpm_conditional-1_neutral--enabled: url('#{$icons-path}bpm/light/conditional-1.svg#neutral--enabled'); 
  --icon__bpm_conditional-1_neutral--hover: url('#{$icons-path}bpm/light/conditional-1.svg#neutral--hover'); 
  --icon__bpm_conditional-1_neutral--active: url('#{$icons-path}bpm/light/conditional-1.svg#neutral--active'); 
  --icon__bpm_conditional-1_neutral--disabled: url('#{$icons-path}bpm/light/conditional-1.svg#neutral--disabled'); 
  --icon__bpm_compensation-4_neutral--enabled: url('#{$icons-path}bpm/light/compensation-4.svg#neutral--enabled'); 
  --icon__bpm_compensation-4_neutral--hover: url('#{$icons-path}bpm/light/compensation-4.svg#neutral--hover'); 
  --icon__bpm_compensation-4_neutral--active: url('#{$icons-path}bpm/light/compensation-4.svg#neutral--active'); 
  --icon__bpm_compensation-4_neutral--disabled: url('#{$icons-path}bpm/light/compensation-4.svg#neutral--disabled'); 
  --icon__bpm_compensation-3_neutral--enabled: url('#{$icons-path}bpm/light/compensation-3.svg#neutral--enabled'); 
  --icon__bpm_compensation-3_neutral--hover: url('#{$icons-path}bpm/light/compensation-3.svg#neutral--hover'); 
  --icon__bpm_compensation-3_neutral--active: url('#{$icons-path}bpm/light/compensation-3.svg#neutral--active'); 
  --icon__bpm_compensation-3_neutral--disabled: url('#{$icons-path}bpm/light/compensation-3.svg#neutral--disabled'); 
  --icon__bpm_compensation-2_neutral--enabled: url('#{$icons-path}bpm/light/compensation-2.svg#neutral--enabled'); 
  --icon__bpm_compensation-2_neutral--hover: url('#{$icons-path}bpm/light/compensation-2.svg#neutral--hover'); 
  --icon__bpm_compensation-2_neutral--active: url('#{$icons-path}bpm/light/compensation-2.svg#neutral--active'); 
  --icon__bpm_compensation-2_neutral--disabled: url('#{$icons-path}bpm/light/compensation-2.svg#neutral--disabled'); 
  --icon__bpm_compensation-1_neutral--enabled: url('#{$icons-path}bpm/light/compensation-1.svg#neutral--enabled'); 
  --icon__bpm_compensation-1_neutral--hover: url('#{$icons-path}bpm/light/compensation-1.svg#neutral--hover'); 
  --icon__bpm_compensation-1_neutral--active: url('#{$icons-path}bpm/light/compensation-1.svg#neutral--active'); 
  --icon__bpm_compensation-1_neutral--disabled: url('#{$icons-path}bpm/light/compensation-1.svg#neutral--disabled'); 
  --icon__bpm_cancel-4_neutral--enabled: url('#{$icons-path}bpm/light/cancel-4.svg#neutral--enabled'); 
  --icon__bpm_cancel-4_neutral--hover: url('#{$icons-path}bpm/light/cancel-4.svg#neutral--hover'); 
  --icon__bpm_cancel-4_neutral--active: url('#{$icons-path}bpm/light/cancel-4.svg#neutral--active'); 
  --icon__bpm_cancel-4_neutral--disabled: url('#{$icons-path}bpm/light/cancel-4.svg#neutral--disabled'); 
  --icon__bpm_cancel-2_neutral--enabled: url('#{$icons-path}bpm/light/cancel-2.svg#neutral--enabled'); 
  --icon__bpm_cancel-2_neutral--hover: url('#{$icons-path}bpm/light/cancel-2.svg#neutral--hover'); 
  --icon__bpm_cancel-2_neutral--active: url('#{$icons-path}bpm/light/cancel-2.svg#neutral--active'); 
  --icon__bpm_cancel-2_neutral--disabled: url('#{$icons-path}bpm/light/cancel-2.svg#neutral--disabled'); 
  --icon__bpm_arrows_neutral--enabled: url('#{$icons-path}bpm/light/arrows.svg#neutral--enabled'); 
  --icon__bpm_arrows_neutral--hover: url('#{$icons-path}bpm/light/arrows.svg#neutral--hover'); 
  --icon__bpm_arrows_neutral--active: url('#{$icons-path}bpm/light/arrows.svg#neutral--active'); 
  --icon__bpm_arrows_neutral--disabled: url('#{$icons-path}bpm/light/arrows.svg#neutral--disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*bpm*/
  --icon__bpm_timer-6_neutral--enabled: url('#{$icons-path}bpm/dark/timer-6.svg#neutral--enabled'); 
  --icon__bpm_timer-6_neutral--hover: url('#{$icons-path}bpm/dark/timer-6.svg#neutral--hover'); 
  --icon__bpm_timer-6_neutral--active: url('#{$icons-path}bpm/dark/timer-6.svg#neutral--active'); 
  --icon__bpm_timer-6_neutral--disabled: url('#{$icons-path}bpm/dark/timer-6.svg#neutral--disabled'); 
  --icon__bpm_timer-5_neutral--enabled: url('#{$icons-path}bpm/dark/timer-5.svg#neutral--enabled'); 
  --icon__bpm_timer-5_neutral--hover: url('#{$icons-path}bpm/dark/timer-5.svg#neutral--hover'); 
  --icon__bpm_timer-5_neutral--active: url('#{$icons-path}bpm/dark/timer-5.svg#neutral--active'); 
  --icon__bpm_timer-5_neutral--disabled: url('#{$icons-path}bpm/dark/timer-5.svg#neutral--disabled'); 
  --icon__bpm_timer-2_neutral--enabled: url('#{$icons-path}bpm/dark/timer-2.svg#neutral--enabled'); 
  --icon__bpm_timer-2_neutral--hover: url('#{$icons-path}bpm/dark/timer-2.svg#neutral--hover'); 
  --icon__bpm_timer-2_neutral--active: url('#{$icons-path}bpm/dark/timer-2.svg#neutral--active'); 
  --icon__bpm_timer-2_neutral--disabled: url('#{$icons-path}bpm/dark/timer-2.svg#neutral--disabled'); 
  --icon__bpm_timer-1_neutral--enabled: url('#{$icons-path}bpm/dark/timer-1.svg#neutral--enabled'); 
  --icon__bpm_timer-1_neutral--hover: url('#{$icons-path}bpm/dark/timer-1.svg#neutral--hover'); 
  --icon__bpm_timer-1_neutral--active: url('#{$icons-path}bpm/dark/timer-1.svg#neutral--active'); 
  --icon__bpm_timer-1_neutral--disabled: url('#{$icons-path}bpm/dark/timer-1.svg#neutral--disabled'); 
  --icon__bpm_terminale-4_neutral--enabled: url('#{$icons-path}bpm/dark/terminale-4.svg#neutral--enabled'); 
  --icon__bpm_terminale-4_neutral--hover: url('#{$icons-path}bpm/dark/terminale-4.svg#neutral--hover'); 
  --icon__bpm_terminale-4_neutral--active: url('#{$icons-path}bpm/dark/terminale-4.svg#neutral--active'); 
  --icon__bpm_terminale-4_neutral--disabled: url('#{$icons-path}bpm/dark/terminale-4.svg#neutral--disabled'); 
  --icon__bpm_tasks_neutral--enabled: url('#{$icons-path}bpm/dark/tasks.svg#neutral--enabled'); 
  --icon__bpm_tasks_neutral--hover: url('#{$icons-path}bpm/dark/tasks.svg#neutral--hover'); 
  --icon__bpm_tasks_neutral--active: url('#{$icons-path}bpm/dark/tasks.svg#neutral--active'); 
  --icon__bpm_tasks_neutral--disabled: url('#{$icons-path}bpm/dark/tasks.svg#neutral--disabled'); 
  --icon__bpm_subprocess_neutral--enabled: url('#{$icons-path}bpm/dark/subprocess.svg#neutral--enabled'); 
  --icon__bpm_subprocess_neutral--hover: url('#{$icons-path}bpm/dark/subprocess.svg#neutral--hover'); 
  --icon__bpm_subprocess_neutral--active: url('#{$icons-path}bpm/dark/subprocess.svg#neutral--active'); 
  --icon__bpm_subprocess_neutral--disabled: url('#{$icons-path}bpm/dark/subprocess.svg#neutral--disabled'); 
  --icon__bpm_signal-6_neutral--enabled: url('#{$icons-path}bpm/dark/signal-6.svg#neutral--enabled'); 
  --icon__bpm_signal-6_neutral--hover: url('#{$icons-path}bpm/dark/signal-6.svg#neutral--hover'); 
  --icon__bpm_signal-6_neutral--active: url('#{$icons-path}bpm/dark/signal-6.svg#neutral--active'); 
  --icon__bpm_signal-6_neutral--disabled: url('#{$icons-path}bpm/dark/signal-6.svg#neutral--disabled'); 
  --icon__bpm_signal-5_neutral--enabled: url('#{$icons-path}bpm/dark/signal-5.svg#neutral--enabled'); 
  --icon__bpm_signal-5_neutral--hover: url('#{$icons-path}bpm/dark/signal-5.svg#neutral--hover'); 
  --icon__bpm_signal-5_neutral--active: url('#{$icons-path}bpm/dark/signal-5.svg#neutral--active'); 
  --icon__bpm_signal-5_neutral--disabled: url('#{$icons-path}bpm/dark/signal-5.svg#neutral--disabled'); 
  --icon__bpm_signal-4_neutral--enabled: url('#{$icons-path}bpm/dark/signal-4.svg#neutral--enabled'); 
  --icon__bpm_signal-4_neutral--hover: url('#{$icons-path}bpm/dark/signal-4.svg#neutral--hover'); 
  --icon__bpm_signal-4_neutral--active: url('#{$icons-path}bpm/dark/signal-4.svg#neutral--active'); 
  --icon__bpm_signal-4_neutral--disabled: url('#{$icons-path}bpm/dark/signal-4.svg#neutral--disabled'); 
  --icon__bpm_signal-3_neutral--enabled: url('#{$icons-path}bpm/dark/signal-3.svg#neutral--enabled'); 
  --icon__bpm_signal-3_neutral--hover: url('#{$icons-path}bpm/dark/signal-3.svg#neutral--hover'); 
  --icon__bpm_signal-3_neutral--active: url('#{$icons-path}bpm/dark/signal-3.svg#neutral--active'); 
  --icon__bpm_signal-3_neutral--disabled: url('#{$icons-path}bpm/dark/signal-3.svg#neutral--disabled'); 
  --icon__bpm_signal-2_neutral--enabled: url('#{$icons-path}bpm/dark/signal-2.svg#neutral--enabled'); 
  --icon__bpm_signal-2_neutral--hover: url('#{$icons-path}bpm/dark/signal-2.svg#neutral--hover'); 
  --icon__bpm_signal-2_neutral--active: url('#{$icons-path}bpm/dark/signal-2.svg#neutral--active'); 
  --icon__bpm_signal-2_neutral--disabled: url('#{$icons-path}bpm/dark/signal-2.svg#neutral--disabled'); 
  --icon__bpm_signal-1_neutral--enabled: url('#{$icons-path}bpm/dark/signal-1.svg#neutral--enabled'); 
  --icon__bpm_signal-1_neutral--hover: url('#{$icons-path}bpm/dark/signal-1.svg#neutral--hover'); 
  --icon__bpm_signal-1_neutral--active: url('#{$icons-path}bpm/dark/signal-1.svg#neutral--active'); 
  --icon__bpm_signal-1_neutral--disabled: url('#{$icons-path}bpm/dark/signal-1.svg#neutral--disabled'); 
  --icon__bpm_person_neutral--enabled: url('#{$icons-path}bpm/dark/person.svg#neutral--enabled'); 
  --icon__bpm_person_neutral--hover: url('#{$icons-path}bpm/dark/person.svg#neutral--hover'); 
  --icon__bpm_person_neutral--active: url('#{$icons-path}bpm/dark/person.svg#neutral--active'); 
  --icon__bpm_person_neutral--disabled: url('#{$icons-path}bpm/dark/person.svg#neutral--disabled'); 
  --icon__bpm_paralell-4_neutral--enabled: url('#{$icons-path}bpm/dark/paralell-4.svg#neutral--enabled'); 
  --icon__bpm_paralell-4_neutral--hover: url('#{$icons-path}bpm/dark/paralell-4.svg#neutral--hover'); 
  --icon__bpm_paralell-4_neutral--active: url('#{$icons-path}bpm/dark/paralell-4.svg#neutral--active'); 
  --icon__bpm_paralell-4_neutral--disabled: url('#{$icons-path}bpm/dark/paralell-4.svg#neutral--disabled'); 
  --icon__bpm_paralell-3_neutral--enabled: url('#{$icons-path}bpm/dark/paralell-3.svg#neutral--enabled'); 
  --icon__bpm_paralell-3_neutral--hover: url('#{$icons-path}bpm/dark/paralell-3.svg#neutral--hover'); 
  --icon__bpm_paralell-3_neutral--active: url('#{$icons-path}bpm/dark/paralell-3.svg#neutral--active'); 
  --icon__bpm_paralell-3_neutral--disabled: url('#{$icons-path}bpm/dark/paralell-3.svg#neutral--disabled'); 
  --icon__bpm_paralell-2_neutral--enabled: url('#{$icons-path}bpm/dark/paralell-2.svg#neutral--enabled'); 
  --icon__bpm_paralell-2_neutral--hover: url('#{$icons-path}bpm/dark/paralell-2.svg#neutral--hover'); 
  --icon__bpm_paralell-2_neutral--active: url('#{$icons-path}bpm/dark/paralell-2.svg#neutral--active'); 
  --icon__bpm_paralell-2_neutral--disabled: url('#{$icons-path}bpm/dark/paralell-2.svg#neutral--disabled'); 
  --icon__bpm_paralell-1_neutral--enabled: url('#{$icons-path}bpm/dark/paralell-1.svg#neutral--enabled'); 
  --icon__bpm_paralell-1_neutral--hover: url('#{$icons-path}bpm/dark/paralell-1.svg#neutral--hover'); 
  --icon__bpm_paralell-1_neutral--active: url('#{$icons-path}bpm/dark/paralell-1.svg#neutral--active'); 
  --icon__bpm_paralell-1_neutral--disabled: url('#{$icons-path}bpm/dark/paralell-1.svg#neutral--disabled'); 
  --icon__bpm_oval_neutral--enabled: url('#{$icons-path}bpm/dark/oval.svg#neutral--enabled'); 
  --icon__bpm_oval_neutral--hover: url('#{$icons-path}bpm/dark/oval.svg#neutral--hover'); 
  --icon__bpm_oval_neutral--active: url('#{$icons-path}bpm/dark/oval.svg#neutral--active'); 
  --icon__bpm_oval_neutral--disabled: url('#{$icons-path}bpm/dark/oval.svg#neutral--disabled'); 
  --icon__bpm_oval-doble_neutral--enabled: url('#{$icons-path}bpm/dark/oval-doble.svg#neutral--enabled'); 
  --icon__bpm_oval-doble_neutral--hover: url('#{$icons-path}bpm/dark/oval-doble.svg#neutral--hover'); 
  --icon__bpm_oval-doble_neutral--active: url('#{$icons-path}bpm/dark/oval-doble.svg#neutral--active'); 
  --icon__bpm_oval-doble_neutral--disabled: url('#{$icons-path}bpm/dark/oval-doble.svg#neutral--disabled'); 
  --icon__bpm_multiple-6_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-6.svg#neutral--enabled'); 
  --icon__bpm_multiple-6_neutral--hover: url('#{$icons-path}bpm/dark/multiple-6.svg#neutral--hover'); 
  --icon__bpm_multiple-6_neutral--active: url('#{$icons-path}bpm/dark/multiple-6.svg#neutral--active'); 
  --icon__bpm_multiple-6_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-6.svg#neutral--disabled'); 
  --icon__bpm_multiple-5_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-5.svg#neutral--enabled'); 
  --icon__bpm_multiple-5_neutral--hover: url('#{$icons-path}bpm/dark/multiple-5.svg#neutral--hover'); 
  --icon__bpm_multiple-5_neutral--active: url('#{$icons-path}bpm/dark/multiple-5.svg#neutral--active'); 
  --icon__bpm_multiple-5_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-5.svg#neutral--disabled'); 
  --icon__bpm_multiple-4_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-4.svg#neutral--enabled'); 
  --icon__bpm_multiple-4_neutral--hover: url('#{$icons-path}bpm/dark/multiple-4.svg#neutral--hover'); 
  --icon__bpm_multiple-4_neutral--active: url('#{$icons-path}bpm/dark/multiple-4.svg#neutral--active'); 
  --icon__bpm_multiple-4_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-4.svg#neutral--disabled'); 
  --icon__bpm_multiple-3_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-3.svg#neutral--enabled'); 
  --icon__bpm_multiple-3_neutral--hover: url('#{$icons-path}bpm/dark/multiple-3.svg#neutral--hover'); 
  --icon__bpm_multiple-3_neutral--active: url('#{$icons-path}bpm/dark/multiple-3.svg#neutral--active'); 
  --icon__bpm_multiple-3_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-3.svg#neutral--disabled'); 
  --icon__bpm_multiple-2_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-2.svg#neutral--enabled'); 
  --icon__bpm_multiple-2_neutral--hover: url('#{$icons-path}bpm/dark/multiple-2.svg#neutral--hover'); 
  --icon__bpm_multiple-2_neutral--active: url('#{$icons-path}bpm/dark/multiple-2.svg#neutral--active'); 
  --icon__bpm_multiple-2_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-2.svg#neutral--disabled'); 
  --icon__bpm_multiple-1_neutral--enabled: url('#{$icons-path}bpm/dark/multiple-1.svg#neutral--enabled'); 
  --icon__bpm_multiple-1_neutral--hover: url('#{$icons-path}bpm/dark/multiple-1.svg#neutral--hover'); 
  --icon__bpm_multiple-1_neutral--active: url('#{$icons-path}bpm/dark/multiple-1.svg#neutral--active'); 
  --icon__bpm_multiple-1_neutral--disabled: url('#{$icons-path}bpm/dark/multiple-1.svg#neutral--disabled'); 
  --icon__bpm_message-6_neutral--enabled: url('#{$icons-path}bpm/dark/message-6.svg#neutral--enabled'); 
  --icon__bpm_message-6_neutral--hover: url('#{$icons-path}bpm/dark/message-6.svg#neutral--hover'); 
  --icon__bpm_message-6_neutral--active: url('#{$icons-path}bpm/dark/message-6.svg#neutral--active'); 
  --icon__bpm_message-6_neutral--disabled: url('#{$icons-path}bpm/dark/message-6.svg#neutral--disabled'); 
  --icon__bpm_message-5_neutral--enabled: url('#{$icons-path}bpm/dark/message-5.svg#neutral--enabled'); 
  --icon__bpm_message-5_neutral--hover: url('#{$icons-path}bpm/dark/message-5.svg#neutral--hover'); 
  --icon__bpm_message-5_neutral--active: url('#{$icons-path}bpm/dark/message-5.svg#neutral--active'); 
  --icon__bpm_message-5_neutral--disabled: url('#{$icons-path}bpm/dark/message-5.svg#neutral--disabled'); 
  --icon__bpm_message-4_neutral--enabled: url('#{$icons-path}bpm/dark/message-4.svg#neutral--enabled'); 
  --icon__bpm_message-4_neutral--hover: url('#{$icons-path}bpm/dark/message-4.svg#neutral--hover'); 
  --icon__bpm_message-4_neutral--active: url('#{$icons-path}bpm/dark/message-4.svg#neutral--active'); 
  --icon__bpm_message-4_neutral--disabled: url('#{$icons-path}bpm/dark/message-4.svg#neutral--disabled'); 
  --icon__bpm_message-3_neutral--enabled: url('#{$icons-path}bpm/dark/message-3.svg#neutral--enabled'); 
  --icon__bpm_message-3_neutral--hover: url('#{$icons-path}bpm/dark/message-3.svg#neutral--hover'); 
  --icon__bpm_message-3_neutral--active: url('#{$icons-path}bpm/dark/message-3.svg#neutral--active'); 
  --icon__bpm_message-3_neutral--disabled: url('#{$icons-path}bpm/dark/message-3.svg#neutral--disabled'); 
  --icon__bpm_message-2_neutral--enabled: url('#{$icons-path}bpm/dark/message-2.svg#neutral--enabled'); 
  --icon__bpm_message-2_neutral--hover: url('#{$icons-path}bpm/dark/message-2.svg#neutral--hover'); 
  --icon__bpm_message-2_neutral--active: url('#{$icons-path}bpm/dark/message-2.svg#neutral--active'); 
  --icon__bpm_message-2_neutral--disabled: url('#{$icons-path}bpm/dark/message-2.svg#neutral--disabled'); 
  --icon__bpm_message-1_neutral--enabled: url('#{$icons-path}bpm/dark/message-1.svg#neutral--enabled'); 
  --icon__bpm_message-1_neutral--hover: url('#{$icons-path}bpm/dark/message-1.svg#neutral--hover'); 
  --icon__bpm_message-1_neutral--active: url('#{$icons-path}bpm/dark/message-1.svg#neutral--active'); 
  --icon__bpm_message-1_neutral--disabled: url('#{$icons-path}bpm/dark/message-1.svg#neutral--disabled'); 
  --icon__bpm_link-4_neutral--enabled: url('#{$icons-path}bpm/dark/link-4.svg#neutral--enabled'); 
  --icon__bpm_link-4_neutral--hover: url('#{$icons-path}bpm/dark/link-4.svg#neutral--hover'); 
  --icon__bpm_link-4_neutral--active: url('#{$icons-path}bpm/dark/link-4.svg#neutral--active'); 
  --icon__bpm_link-4_neutral--disabled: url('#{$icons-path}bpm/dark/link-4.svg#neutral--disabled'); 
  --icon__bpm_link-3_neutral--enabled: url('#{$icons-path}bpm/dark/link-3.svg#neutral--enabled'); 
  --icon__bpm_link-3_neutral--hover: url('#{$icons-path}bpm/dark/link-3.svg#neutral--hover'); 
  --icon__bpm_link-3_neutral--active: url('#{$icons-path}bpm/dark/link-3.svg#neutral--active'); 
  --icon__bpm_link-3_neutral--disabled: url('#{$icons-path}bpm/dark/link-3.svg#neutral--disabled'); 
  --icon__bpm_escalation-6_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-6.svg#neutral--enabled'); 
  --icon__bpm_escalation-6_neutral--hover: url('#{$icons-path}bpm/dark/escalation-6.svg#neutral--hover'); 
  --icon__bpm_escalation-6_neutral--active: url('#{$icons-path}bpm/dark/escalation-6.svg#neutral--active'); 
  --icon__bpm_escalation-6_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-6.svg#neutral--disabled'); 
  --icon__bpm_escalation-5_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-5.svg#neutral--enabled'); 
  --icon__bpm_escalation-5_neutral--hover: url('#{$icons-path}bpm/dark/escalation-5.svg#neutral--hover'); 
  --icon__bpm_escalation-5_neutral--active: url('#{$icons-path}bpm/dark/escalation-5.svg#neutral--active'); 
  --icon__bpm_escalation-5_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-5.svg#neutral--disabled'); 
  --icon__bpm_escalation-4_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-4.svg#neutral--enabled'); 
  --icon__bpm_escalation-4_neutral--hover: url('#{$icons-path}bpm/dark/escalation-4.svg#neutral--hover'); 
  --icon__bpm_escalation-4_neutral--active: url('#{$icons-path}bpm/dark/escalation-4.svg#neutral--active'); 
  --icon__bpm_escalation-4_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-4.svg#neutral--disabled'); 
  --icon__bpm_escalation-3_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-3.svg#neutral--enabled'); 
  --icon__bpm_escalation-3_neutral--hover: url('#{$icons-path}bpm/dark/escalation-3.svg#neutral--hover'); 
  --icon__bpm_escalation-3_neutral--active: url('#{$icons-path}bpm/dark/escalation-3.svg#neutral--active'); 
  --icon__bpm_escalation-3_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-3.svg#neutral--disabled'); 
  --icon__bpm_escalation-2_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-2.svg#neutral--enabled'); 
  --icon__bpm_escalation-2_neutral--hover: url('#{$icons-path}bpm/dark/escalation-2.svg#neutral--hover'); 
  --icon__bpm_escalation-2_neutral--active: url('#{$icons-path}bpm/dark/escalation-2.svg#neutral--active'); 
  --icon__bpm_escalation-2_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-2.svg#neutral--disabled'); 
  --icon__bpm_escalation-1_neutral--enabled: url('#{$icons-path}bpm/dark/escalation-1.svg#neutral--enabled'); 
  --icon__bpm_escalation-1_neutral--hover: url('#{$icons-path}bpm/dark/escalation-1.svg#neutral--hover'); 
  --icon__bpm_escalation-1_neutral--active: url('#{$icons-path}bpm/dark/escalation-1.svg#neutral--active'); 
  --icon__bpm_escalation-1_neutral--disabled: url('#{$icons-path}bpm/dark/escalation-1.svg#neutral--disabled'); 
  --icon__bpm_error-2_neutral--enabled: url('#{$icons-path}bpm/dark/error-2.svg#neutral--enabled'); 
  --icon__bpm_error-2_neutral--hover: url('#{$icons-path}bpm/dark/error-2.svg#neutral--hover'); 
  --icon__bpm_error-2_neutral--active: url('#{$icons-path}bpm/dark/error-2.svg#neutral--active'); 
  --icon__bpm_error-2_neutral--disabled: url('#{$icons-path}bpm/dark/error-2.svg#neutral--disabled'); 
  --icon__bpm_error-1_neutral--enabled: url('#{$icons-path}bpm/dark/error-1.svg#neutral--enabled'); 
  --icon__bpm_error-1_neutral--hover: url('#{$icons-path}bpm/dark/error-1.svg#neutral--hover'); 
  --icon__bpm_error-1_neutral--active: url('#{$icons-path}bpm/dark/error-1.svg#neutral--active'); 
  --icon__bpm_error-1_neutral--disabled: url('#{$icons-path}bpm/dark/error-1.svg#neutral--disabled'); 
  --icon__bpm_delete_neutral--enabled: url('#{$icons-path}bpm/dark/delete.svg#neutral--enabled'); 
  --icon__bpm_delete_neutral--hover: url('#{$icons-path}bpm/dark/delete.svg#neutral--hover'); 
  --icon__bpm_delete_neutral--active: url('#{$icons-path}bpm/dark/delete.svg#neutral--active'); 
  --icon__bpm_delete_neutral--disabled: url('#{$icons-path}bpm/dark/delete.svg#neutral--disabled'); 
  --icon__bpm_conditional_neutral--enabled: url('#{$icons-path}bpm/dark/conditional.svg#neutral--enabled'); 
  --icon__bpm_conditional_neutral--hover: url('#{$icons-path}bpm/dark/conditional.svg#neutral--hover'); 
  --icon__bpm_conditional_neutral--active: url('#{$icons-path}bpm/dark/conditional.svg#neutral--active'); 
  --icon__bpm_conditional_neutral--disabled: url('#{$icons-path}bpm/dark/conditional.svg#neutral--disabled'); 
  --icon__bpm_conditional-6_neutral--enabled: url('#{$icons-path}bpm/dark/conditional-6.svg#neutral--enabled'); 
  --icon__bpm_conditional-6_neutral--hover: url('#{$icons-path}bpm/dark/conditional-6.svg#neutral--hover'); 
  --icon__bpm_conditional-6_neutral--active: url('#{$icons-path}bpm/dark/conditional-6.svg#neutral--active'); 
  --icon__bpm_conditional-6_neutral--disabled: url('#{$icons-path}bpm/dark/conditional-6.svg#neutral--disabled'); 
  --icon__bpm_conditional-5_neutral--enabled: url('#{$icons-path}bpm/dark/conditional-5.svg#neutral--enabled'); 
  --icon__bpm_conditional-5_neutral--hover: url('#{$icons-path}bpm/dark/conditional-5.svg#neutral--hover'); 
  --icon__bpm_conditional-5_neutral--active: url('#{$icons-path}bpm/dark/conditional-5.svg#neutral--active'); 
  --icon__bpm_conditional-5_neutral--disabled: url('#{$icons-path}bpm/dark/conditional-5.svg#neutral--disabled'); 
  --icon__bpm_conditional-2_neutral--enabled: url('#{$icons-path}bpm/dark/conditional-2.svg#neutral--enabled'); 
  --icon__bpm_conditional-2_neutral--hover: url('#{$icons-path}bpm/dark/conditional-2.svg#neutral--hover'); 
  --icon__bpm_conditional-2_neutral--active: url('#{$icons-path}bpm/dark/conditional-2.svg#neutral--active'); 
  --icon__bpm_conditional-2_neutral--disabled: url('#{$icons-path}bpm/dark/conditional-2.svg#neutral--disabled'); 
  --icon__bpm_conditional-1_neutral--enabled: url('#{$icons-path}bpm/dark/conditional-1.svg#neutral--enabled'); 
  --icon__bpm_conditional-1_neutral--hover: url('#{$icons-path}bpm/dark/conditional-1.svg#neutral--hover'); 
  --icon__bpm_conditional-1_neutral--active: url('#{$icons-path}bpm/dark/conditional-1.svg#neutral--active'); 
  --icon__bpm_conditional-1_neutral--disabled: url('#{$icons-path}bpm/dark/conditional-1.svg#neutral--disabled'); 
  --icon__bpm_compensation-4_neutral--enabled: url('#{$icons-path}bpm/dark/compensation-4.svg#neutral--enabled'); 
  --icon__bpm_compensation-4_neutral--hover: url('#{$icons-path}bpm/dark/compensation-4.svg#neutral--hover'); 
  --icon__bpm_compensation-4_neutral--active: url('#{$icons-path}bpm/dark/compensation-4.svg#neutral--active'); 
  --icon__bpm_compensation-4_neutral--disabled: url('#{$icons-path}bpm/dark/compensation-4.svg#neutral--disabled'); 
  --icon__bpm_compensation-3_neutral--enabled: url('#{$icons-path}bpm/dark/compensation-3.svg#neutral--enabled'); 
  --icon__bpm_compensation-3_neutral--hover: url('#{$icons-path}bpm/dark/compensation-3.svg#neutral--hover'); 
  --icon__bpm_compensation-3_neutral--active: url('#{$icons-path}bpm/dark/compensation-3.svg#neutral--active'); 
  --icon__bpm_compensation-3_neutral--disabled: url('#{$icons-path}bpm/dark/compensation-3.svg#neutral--disabled'); 
  --icon__bpm_compensation-2_neutral--enabled: url('#{$icons-path}bpm/dark/compensation-2.svg#neutral--enabled'); 
  --icon__bpm_compensation-2_neutral--hover: url('#{$icons-path}bpm/dark/compensation-2.svg#neutral--hover'); 
  --icon__bpm_compensation-2_neutral--active: url('#{$icons-path}bpm/dark/compensation-2.svg#neutral--active'); 
  --icon__bpm_compensation-2_neutral--disabled: url('#{$icons-path}bpm/dark/compensation-2.svg#neutral--disabled'); 
  --icon__bpm_compensation-1_neutral--enabled: url('#{$icons-path}bpm/dark/compensation-1.svg#neutral--enabled'); 
  --icon__bpm_compensation-1_neutral--hover: url('#{$icons-path}bpm/dark/compensation-1.svg#neutral--hover'); 
  --icon__bpm_compensation-1_neutral--active: url('#{$icons-path}bpm/dark/compensation-1.svg#neutral--active'); 
  --icon__bpm_compensation-1_neutral--disabled: url('#{$icons-path}bpm/dark/compensation-1.svg#neutral--disabled'); 
  --icon__bpm_cancel-4_neutral--enabled: url('#{$icons-path}bpm/dark/cancel-4.svg#neutral--enabled'); 
  --icon__bpm_cancel-4_neutral--hover: url('#{$icons-path}bpm/dark/cancel-4.svg#neutral--hover'); 
  --icon__bpm_cancel-4_neutral--active: url('#{$icons-path}bpm/dark/cancel-4.svg#neutral--active'); 
  --icon__bpm_cancel-4_neutral--disabled: url('#{$icons-path}bpm/dark/cancel-4.svg#neutral--disabled'); 
  --icon__bpm_cancel-2_neutral--enabled: url('#{$icons-path}bpm/dark/cancel-2.svg#neutral--enabled'); 
  --icon__bpm_cancel-2_neutral--hover: url('#{$icons-path}bpm/dark/cancel-2.svg#neutral--hover'); 
  --icon__bpm_cancel-2_neutral--active: url('#{$icons-path}bpm/dark/cancel-2.svg#neutral--active'); 
  --icon__bpm_cancel-2_neutral--disabled: url('#{$icons-path}bpm/dark/cancel-2.svg#neutral--disabled'); 
  --icon__bpm_arrows_neutral--enabled: url('#{$icons-path}bpm/dark/arrows.svg#neutral--enabled'); 
  --icon__bpm_arrows_neutral--hover: url('#{$icons-path}bpm/dark/arrows.svg#neutral--hover'); 
  --icon__bpm_arrows_neutral--active: url('#{$icons-path}bpm/dark/arrows.svg#neutral--active'); 
  --icon__bpm_arrows_neutral--disabled: url('#{$icons-path}bpm/dark/arrows.svg#neutral--disabled'); 

  }
  