%icon__bpm {
      

  /* =================================
  LIGHT PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    timer-6.svg 
    - - - - - - - - - - - - */
    
    &_timer-6_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-6_neutral--enabled);
    }
    &_timer-6_neutral--hover {
      --icon-path: var(--icon__bpm_timer-6_neutral--hover);
    }
    &_timer-6_neutral--active {
      --icon-path: var(--icon__bpm_timer-6_neutral--active);
    }
    &_timer-6_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-5.svg 
    - - - - - - - - - - - - */
    
    &_timer-5_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-5_neutral--enabled);
    }
    &_timer-5_neutral--hover {
      --icon-path: var(--icon__bpm_timer-5_neutral--hover);
    }
    &_timer-5_neutral--active {
      --icon-path: var(--icon__bpm_timer-5_neutral--active);
    }
    &_timer-5_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-2.svg 
    - - - - - - - - - - - - */
    
    &_timer-2_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-2_neutral--enabled);
    }
    &_timer-2_neutral--hover {
      --icon-path: var(--icon__bpm_timer-2_neutral--hover);
    }
    &_timer-2_neutral--active {
      --icon-path: var(--icon__bpm_timer-2_neutral--active);
    }
    &_timer-2_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-1.svg 
    - - - - - - - - - - - - */
    
    &_timer-1_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-1_neutral--enabled);
    }
    &_timer-1_neutral--hover {
      --icon-path: var(--icon__bpm_timer-1_neutral--hover);
    }
    &_timer-1_neutral--active {
      --icon-path: var(--icon__bpm_timer-1_neutral--active);
    }
    &_timer-1_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    terminale-4.svg 
    - - - - - - - - - - - - */
    
    &_terminale-4_neutral--enabled {
      --icon-path: var(--icon__bpm_terminale-4_neutral--enabled);
    }
    &_terminale-4_neutral--hover {
      --icon-path: var(--icon__bpm_terminale-4_neutral--hover);
    }
    &_terminale-4_neutral--active {
      --icon-path: var(--icon__bpm_terminale-4_neutral--active);
    }
    &_terminale-4_neutral--disabled {
      --icon-path: var(--icon__bpm_terminale-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    tasks.svg 
    - - - - - - - - - - - - */
    
    &_tasks_neutral--enabled {
      --icon-path: var(--icon__bpm_tasks_neutral--enabled);
    }
    &_tasks_neutral--hover {
      --icon-path: var(--icon__bpm_tasks_neutral--hover);
    }
    &_tasks_neutral--active {
      --icon-path: var(--icon__bpm_tasks_neutral--active);
    }
    &_tasks_neutral--disabled {
      --icon-path: var(--icon__bpm_tasks_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    subprocess.svg 
    - - - - - - - - - - - - */
    
    &_subprocess_neutral--enabled {
      --icon-path: var(--icon__bpm_subprocess_neutral--enabled);
    }
    &_subprocess_neutral--hover {
      --icon-path: var(--icon__bpm_subprocess_neutral--hover);
    }
    &_subprocess_neutral--active {
      --icon-path: var(--icon__bpm_subprocess_neutral--active);
    }
    &_subprocess_neutral--disabled {
      --icon-path: var(--icon__bpm_subprocess_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-6.svg 
    - - - - - - - - - - - - */
    
    &_signal-6_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-6_neutral--enabled);
    }
    &_signal-6_neutral--hover {
      --icon-path: var(--icon__bpm_signal-6_neutral--hover);
    }
    &_signal-6_neutral--active {
      --icon-path: var(--icon__bpm_signal-6_neutral--active);
    }
    &_signal-6_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-5.svg 
    - - - - - - - - - - - - */
    
    &_signal-5_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-5_neutral--enabled);
    }
    &_signal-5_neutral--hover {
      --icon-path: var(--icon__bpm_signal-5_neutral--hover);
    }
    &_signal-5_neutral--active {
      --icon-path: var(--icon__bpm_signal-5_neutral--active);
    }
    &_signal-5_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-4.svg 
    - - - - - - - - - - - - */
    
    &_signal-4_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-4_neutral--enabled);
    }
    &_signal-4_neutral--hover {
      --icon-path: var(--icon__bpm_signal-4_neutral--hover);
    }
    &_signal-4_neutral--active {
      --icon-path: var(--icon__bpm_signal-4_neutral--active);
    }
    &_signal-4_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-3.svg 
    - - - - - - - - - - - - */
    
    &_signal-3_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-3_neutral--enabled);
    }
    &_signal-3_neutral--hover {
      --icon-path: var(--icon__bpm_signal-3_neutral--hover);
    }
    &_signal-3_neutral--active {
      --icon-path: var(--icon__bpm_signal-3_neutral--active);
    }
    &_signal-3_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-2.svg 
    - - - - - - - - - - - - */
    
    &_signal-2_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-2_neutral--enabled);
    }
    &_signal-2_neutral--hover {
      --icon-path: var(--icon__bpm_signal-2_neutral--hover);
    }
    &_signal-2_neutral--active {
      --icon-path: var(--icon__bpm_signal-2_neutral--active);
    }
    &_signal-2_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-1.svg 
    - - - - - - - - - - - - */
    
    &_signal-1_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-1_neutral--enabled);
    }
    &_signal-1_neutral--hover {
      --icon-path: var(--icon__bpm_signal-1_neutral--hover);
    }
    &_signal-1_neutral--active {
      --icon-path: var(--icon__bpm_signal-1_neutral--active);
    }
    &_signal-1_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    person.svg 
    - - - - - - - - - - - - */
    
    &_person_neutral--enabled {
      --icon-path: var(--icon__bpm_person_neutral--enabled);
    }
    &_person_neutral--hover {
      --icon-path: var(--icon__bpm_person_neutral--hover);
    }
    &_person_neutral--active {
      --icon-path: var(--icon__bpm_person_neutral--active);
    }
    &_person_neutral--disabled {
      --icon-path: var(--icon__bpm_person_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-4.svg 
    - - - - - - - - - - - - */
    
    &_paralell-4_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-4_neutral--enabled);
    }
    &_paralell-4_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-4_neutral--hover);
    }
    &_paralell-4_neutral--active {
      --icon-path: var(--icon__bpm_paralell-4_neutral--active);
    }
    &_paralell-4_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-3.svg 
    - - - - - - - - - - - - */
    
    &_paralell-3_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-3_neutral--enabled);
    }
    &_paralell-3_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-3_neutral--hover);
    }
    &_paralell-3_neutral--active {
      --icon-path: var(--icon__bpm_paralell-3_neutral--active);
    }
    &_paralell-3_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-2.svg 
    - - - - - - - - - - - - */
    
    &_paralell-2_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-2_neutral--enabled);
    }
    &_paralell-2_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-2_neutral--hover);
    }
    &_paralell-2_neutral--active {
      --icon-path: var(--icon__bpm_paralell-2_neutral--active);
    }
    &_paralell-2_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-1.svg 
    - - - - - - - - - - - - */
    
    &_paralell-1_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-1_neutral--enabled);
    }
    &_paralell-1_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-1_neutral--hover);
    }
    &_paralell-1_neutral--active {
      --icon-path: var(--icon__bpm_paralell-1_neutral--active);
    }
    &_paralell-1_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    oval.svg 
    - - - - - - - - - - - - */
    
    &_oval_neutral--enabled {
      --icon-path: var(--icon__bpm_oval_neutral--enabled);
    }
    &_oval_neutral--hover {
      --icon-path: var(--icon__bpm_oval_neutral--hover);
    }
    &_oval_neutral--active {
      --icon-path: var(--icon__bpm_oval_neutral--active);
    }
    &_oval_neutral--disabled {
      --icon-path: var(--icon__bpm_oval_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    oval-doble.svg 
    - - - - - - - - - - - - */
    
    &_oval-doble_neutral--enabled {
      --icon-path: var(--icon__bpm_oval-doble_neutral--enabled);
    }
    &_oval-doble_neutral--hover {
      --icon-path: var(--icon__bpm_oval-doble_neutral--hover);
    }
    &_oval-doble_neutral--active {
      --icon-path: var(--icon__bpm_oval-doble_neutral--active);
    }
    &_oval-doble_neutral--disabled {
      --icon-path: var(--icon__bpm_oval-doble_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-6.svg 
    - - - - - - - - - - - - */
    
    &_multiple-6_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-6_neutral--enabled);
    }
    &_multiple-6_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-6_neutral--hover);
    }
    &_multiple-6_neutral--active {
      --icon-path: var(--icon__bpm_multiple-6_neutral--active);
    }
    &_multiple-6_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-5.svg 
    - - - - - - - - - - - - */
    
    &_multiple-5_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-5_neutral--enabled);
    }
    &_multiple-5_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-5_neutral--hover);
    }
    &_multiple-5_neutral--active {
      --icon-path: var(--icon__bpm_multiple-5_neutral--active);
    }
    &_multiple-5_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-4.svg 
    - - - - - - - - - - - - */
    
    &_multiple-4_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-4_neutral--enabled);
    }
    &_multiple-4_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-4_neutral--hover);
    }
    &_multiple-4_neutral--active {
      --icon-path: var(--icon__bpm_multiple-4_neutral--active);
    }
    &_multiple-4_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-3.svg 
    - - - - - - - - - - - - */
    
    &_multiple-3_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-3_neutral--enabled);
    }
    &_multiple-3_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-3_neutral--hover);
    }
    &_multiple-3_neutral--active {
      --icon-path: var(--icon__bpm_multiple-3_neutral--active);
    }
    &_multiple-3_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-2.svg 
    - - - - - - - - - - - - */
    
    &_multiple-2_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-2_neutral--enabled);
    }
    &_multiple-2_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-2_neutral--hover);
    }
    &_multiple-2_neutral--active {
      --icon-path: var(--icon__bpm_multiple-2_neutral--active);
    }
    &_multiple-2_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-1.svg 
    - - - - - - - - - - - - */
    
    &_multiple-1_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-1_neutral--enabled);
    }
    &_multiple-1_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-1_neutral--hover);
    }
    &_multiple-1_neutral--active {
      --icon-path: var(--icon__bpm_multiple-1_neutral--active);
    }
    &_multiple-1_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-6.svg 
    - - - - - - - - - - - - */
    
    &_message-6_neutral--enabled {
      --icon-path: var(--icon__bpm_message-6_neutral--enabled);
    }
    &_message-6_neutral--hover {
      --icon-path: var(--icon__bpm_message-6_neutral--hover);
    }
    &_message-6_neutral--active {
      --icon-path: var(--icon__bpm_message-6_neutral--active);
    }
    &_message-6_neutral--disabled {
      --icon-path: var(--icon__bpm_message-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-5.svg 
    - - - - - - - - - - - - */
    
    &_message-5_neutral--enabled {
      --icon-path: var(--icon__bpm_message-5_neutral--enabled);
    }
    &_message-5_neutral--hover {
      --icon-path: var(--icon__bpm_message-5_neutral--hover);
    }
    &_message-5_neutral--active {
      --icon-path: var(--icon__bpm_message-5_neutral--active);
    }
    &_message-5_neutral--disabled {
      --icon-path: var(--icon__bpm_message-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-4.svg 
    - - - - - - - - - - - - */
    
    &_message-4_neutral--enabled {
      --icon-path: var(--icon__bpm_message-4_neutral--enabled);
    }
    &_message-4_neutral--hover {
      --icon-path: var(--icon__bpm_message-4_neutral--hover);
    }
    &_message-4_neutral--active {
      --icon-path: var(--icon__bpm_message-4_neutral--active);
    }
    &_message-4_neutral--disabled {
      --icon-path: var(--icon__bpm_message-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-3.svg 
    - - - - - - - - - - - - */
    
    &_message-3_neutral--enabled {
      --icon-path: var(--icon__bpm_message-3_neutral--enabled);
    }
    &_message-3_neutral--hover {
      --icon-path: var(--icon__bpm_message-3_neutral--hover);
    }
    &_message-3_neutral--active {
      --icon-path: var(--icon__bpm_message-3_neutral--active);
    }
    &_message-3_neutral--disabled {
      --icon-path: var(--icon__bpm_message-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-2.svg 
    - - - - - - - - - - - - */
    
    &_message-2_neutral--enabled {
      --icon-path: var(--icon__bpm_message-2_neutral--enabled);
    }
    &_message-2_neutral--hover {
      --icon-path: var(--icon__bpm_message-2_neutral--hover);
    }
    &_message-2_neutral--active {
      --icon-path: var(--icon__bpm_message-2_neutral--active);
    }
    &_message-2_neutral--disabled {
      --icon-path: var(--icon__bpm_message-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-1.svg 
    - - - - - - - - - - - - */
    
    &_message-1_neutral--enabled {
      --icon-path: var(--icon__bpm_message-1_neutral--enabled);
    }
    &_message-1_neutral--hover {
      --icon-path: var(--icon__bpm_message-1_neutral--hover);
    }
    &_message-1_neutral--active {
      --icon-path: var(--icon__bpm_message-1_neutral--active);
    }
    &_message-1_neutral--disabled {
      --icon-path: var(--icon__bpm_message-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    link-4.svg 
    - - - - - - - - - - - - */
    
    &_link-4_neutral--enabled {
      --icon-path: var(--icon__bpm_link-4_neutral--enabled);
    }
    &_link-4_neutral--hover {
      --icon-path: var(--icon__bpm_link-4_neutral--hover);
    }
    &_link-4_neutral--active {
      --icon-path: var(--icon__bpm_link-4_neutral--active);
    }
    &_link-4_neutral--disabled {
      --icon-path: var(--icon__bpm_link-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    link-3.svg 
    - - - - - - - - - - - - */
    
    &_link-3_neutral--enabled {
      --icon-path: var(--icon__bpm_link-3_neutral--enabled);
    }
    &_link-3_neutral--hover {
      --icon-path: var(--icon__bpm_link-3_neutral--hover);
    }
    &_link-3_neutral--active {
      --icon-path: var(--icon__bpm_link-3_neutral--active);
    }
    &_link-3_neutral--disabled {
      --icon-path: var(--icon__bpm_link-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-6.svg 
    - - - - - - - - - - - - */
    
    &_escalation-6_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-6_neutral--enabled);
    }
    &_escalation-6_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-6_neutral--hover);
    }
    &_escalation-6_neutral--active {
      --icon-path: var(--icon__bpm_escalation-6_neutral--active);
    }
    &_escalation-6_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-5.svg 
    - - - - - - - - - - - - */
    
    &_escalation-5_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-5_neutral--enabled);
    }
    &_escalation-5_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-5_neutral--hover);
    }
    &_escalation-5_neutral--active {
      --icon-path: var(--icon__bpm_escalation-5_neutral--active);
    }
    &_escalation-5_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-4.svg 
    - - - - - - - - - - - - */
    
    &_escalation-4_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-4_neutral--enabled);
    }
    &_escalation-4_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-4_neutral--hover);
    }
    &_escalation-4_neutral--active {
      --icon-path: var(--icon__bpm_escalation-4_neutral--active);
    }
    &_escalation-4_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-3.svg 
    - - - - - - - - - - - - */
    
    &_escalation-3_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-3_neutral--enabled);
    }
    &_escalation-3_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-3_neutral--hover);
    }
    &_escalation-3_neutral--active {
      --icon-path: var(--icon__bpm_escalation-3_neutral--active);
    }
    &_escalation-3_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-2.svg 
    - - - - - - - - - - - - */
    
    &_escalation-2_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-2_neutral--enabled);
    }
    &_escalation-2_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-2_neutral--hover);
    }
    &_escalation-2_neutral--active {
      --icon-path: var(--icon__bpm_escalation-2_neutral--active);
    }
    &_escalation-2_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-1.svg 
    - - - - - - - - - - - - */
    
    &_escalation-1_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-1_neutral--enabled);
    }
    &_escalation-1_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-1_neutral--hover);
    }
    &_escalation-1_neutral--active {
      --icon-path: var(--icon__bpm_escalation-1_neutral--active);
    }
    &_escalation-1_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    error-2.svg 
    - - - - - - - - - - - - */
    
    &_error-2_neutral--enabled {
      --icon-path: var(--icon__bpm_error-2_neutral--enabled);
    }
    &_error-2_neutral--hover {
      --icon-path: var(--icon__bpm_error-2_neutral--hover);
    }
    &_error-2_neutral--active {
      --icon-path: var(--icon__bpm_error-2_neutral--active);
    }
    &_error-2_neutral--disabled {
      --icon-path: var(--icon__bpm_error-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    error-1.svg 
    - - - - - - - - - - - - */
    
    &_error-1_neutral--enabled {
      --icon-path: var(--icon__bpm_error-1_neutral--enabled);
    }
    &_error-1_neutral--hover {
      --icon-path: var(--icon__bpm_error-1_neutral--hover);
    }
    &_error-1_neutral--active {
      --icon-path: var(--icon__bpm_error-1_neutral--active);
    }
    &_error-1_neutral--disabled {
      --icon-path: var(--icon__bpm_error-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    delete.svg 
    - - - - - - - - - - - - */
    
    &_delete_neutral--enabled {
      --icon-path: var(--icon__bpm_delete_neutral--enabled);
    }
    &_delete_neutral--hover {
      --icon-path: var(--icon__bpm_delete_neutral--hover);
    }
    &_delete_neutral--active {
      --icon-path: var(--icon__bpm_delete_neutral--active);
    }
    &_delete_neutral--disabled {
      --icon-path: var(--icon__bpm_delete_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional.svg 
    - - - - - - - - - - - - */
    
    &_conditional_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional_neutral--enabled);
    }
    &_conditional_neutral--hover {
      --icon-path: var(--icon__bpm_conditional_neutral--hover);
    }
    &_conditional_neutral--active {
      --icon-path: var(--icon__bpm_conditional_neutral--active);
    }
    &_conditional_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-6.svg 
    - - - - - - - - - - - - */
    
    &_conditional-6_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-6_neutral--enabled);
    }
    &_conditional-6_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-6_neutral--hover);
    }
    &_conditional-6_neutral--active {
      --icon-path: var(--icon__bpm_conditional-6_neutral--active);
    }
    &_conditional-6_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-5.svg 
    - - - - - - - - - - - - */
    
    &_conditional-5_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-5_neutral--enabled);
    }
    &_conditional-5_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-5_neutral--hover);
    }
    &_conditional-5_neutral--active {
      --icon-path: var(--icon__bpm_conditional-5_neutral--active);
    }
    &_conditional-5_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-2.svg 
    - - - - - - - - - - - - */
    
    &_conditional-2_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-2_neutral--enabled);
    }
    &_conditional-2_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-2_neutral--hover);
    }
    &_conditional-2_neutral--active {
      --icon-path: var(--icon__bpm_conditional-2_neutral--active);
    }
    &_conditional-2_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-1.svg 
    - - - - - - - - - - - - */
    
    &_conditional-1_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-1_neutral--enabled);
    }
    &_conditional-1_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-1_neutral--hover);
    }
    &_conditional-1_neutral--active {
      --icon-path: var(--icon__bpm_conditional-1_neutral--active);
    }
    &_conditional-1_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-4.svg 
    - - - - - - - - - - - - */
    
    &_compensation-4_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-4_neutral--enabled);
    }
    &_compensation-4_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-4_neutral--hover);
    }
    &_compensation-4_neutral--active {
      --icon-path: var(--icon__bpm_compensation-4_neutral--active);
    }
    &_compensation-4_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-3.svg 
    - - - - - - - - - - - - */
    
    &_compensation-3_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-3_neutral--enabled);
    }
    &_compensation-3_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-3_neutral--hover);
    }
    &_compensation-3_neutral--active {
      --icon-path: var(--icon__bpm_compensation-3_neutral--active);
    }
    &_compensation-3_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-2.svg 
    - - - - - - - - - - - - */
    
    &_compensation-2_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-2_neutral--enabled);
    }
    &_compensation-2_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-2_neutral--hover);
    }
    &_compensation-2_neutral--active {
      --icon-path: var(--icon__bpm_compensation-2_neutral--active);
    }
    &_compensation-2_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-1.svg 
    - - - - - - - - - - - - */
    
    &_compensation-1_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-1_neutral--enabled);
    }
    &_compensation-1_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-1_neutral--hover);
    }
    &_compensation-1_neutral--active {
      --icon-path: var(--icon__bpm_compensation-1_neutral--active);
    }
    &_compensation-1_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    cancel-4.svg 
    - - - - - - - - - - - - */
    
    &_cancel-4_neutral--enabled {
      --icon-path: var(--icon__bpm_cancel-4_neutral--enabled);
    }
    &_cancel-4_neutral--hover {
      --icon-path: var(--icon__bpm_cancel-4_neutral--hover);
    }
    &_cancel-4_neutral--active {
      --icon-path: var(--icon__bpm_cancel-4_neutral--active);
    }
    &_cancel-4_neutral--disabled {
      --icon-path: var(--icon__bpm_cancel-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    cancel-2.svg 
    - - - - - - - - - - - - */
    
    &_cancel-2_neutral--enabled {
      --icon-path: var(--icon__bpm_cancel-2_neutral--enabled);
    }
    &_cancel-2_neutral--hover {
      --icon-path: var(--icon__bpm_cancel-2_neutral--hover);
    }
    &_cancel-2_neutral--active {
      --icon-path: var(--icon__bpm_cancel-2_neutral--active);
    }
    &_cancel-2_neutral--disabled {
      --icon-path: var(--icon__bpm_cancel-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    arrows.svg 
    - - - - - - - - - - - - */
    
    &_arrows_neutral--enabled {
      --icon-path: var(--icon__bpm_arrows_neutral--enabled);
    }
    &_arrows_neutral--hover {
      --icon-path: var(--icon__bpm_arrows_neutral--hover);
    }
    &_arrows_neutral--active {
      --icon-path: var(--icon__bpm_arrows_neutral--active);
    }
    &_arrows_neutral--disabled {
      --icon-path: var(--icon__bpm_arrows_neutral--disabled);
    }

  
  /* =================================
  DARK PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    timer-6.svg 
    - - - - - - - - - - - - */
    
    &_timer-6_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-6_neutral--enabled);
    }
    &_timer-6_neutral--hover {
      --icon-path: var(--icon__bpm_timer-6_neutral--hover);
    }
    &_timer-6_neutral--active {
      --icon-path: var(--icon__bpm_timer-6_neutral--active);
    }
    &_timer-6_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-5.svg 
    - - - - - - - - - - - - */
    
    &_timer-5_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-5_neutral--enabled);
    }
    &_timer-5_neutral--hover {
      --icon-path: var(--icon__bpm_timer-5_neutral--hover);
    }
    &_timer-5_neutral--active {
      --icon-path: var(--icon__bpm_timer-5_neutral--active);
    }
    &_timer-5_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-2.svg 
    - - - - - - - - - - - - */
    
    &_timer-2_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-2_neutral--enabled);
    }
    &_timer-2_neutral--hover {
      --icon-path: var(--icon__bpm_timer-2_neutral--hover);
    }
    &_timer-2_neutral--active {
      --icon-path: var(--icon__bpm_timer-2_neutral--active);
    }
    &_timer-2_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    timer-1.svg 
    - - - - - - - - - - - - */
    
    &_timer-1_neutral--enabled {
      --icon-path: var(--icon__bpm_timer-1_neutral--enabled);
    }
    &_timer-1_neutral--hover {
      --icon-path: var(--icon__bpm_timer-1_neutral--hover);
    }
    &_timer-1_neutral--active {
      --icon-path: var(--icon__bpm_timer-1_neutral--active);
    }
    &_timer-1_neutral--disabled {
      --icon-path: var(--icon__bpm_timer-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    terminale-4.svg 
    - - - - - - - - - - - - */
    
    &_terminale-4_neutral--enabled {
      --icon-path: var(--icon__bpm_terminale-4_neutral--enabled);
    }
    &_terminale-4_neutral--hover {
      --icon-path: var(--icon__bpm_terminale-4_neutral--hover);
    }
    &_terminale-4_neutral--active {
      --icon-path: var(--icon__bpm_terminale-4_neutral--active);
    }
    &_terminale-4_neutral--disabled {
      --icon-path: var(--icon__bpm_terminale-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    tasks.svg 
    - - - - - - - - - - - - */
    
    &_tasks_neutral--enabled {
      --icon-path: var(--icon__bpm_tasks_neutral--enabled);
    }
    &_tasks_neutral--hover {
      --icon-path: var(--icon__bpm_tasks_neutral--hover);
    }
    &_tasks_neutral--active {
      --icon-path: var(--icon__bpm_tasks_neutral--active);
    }
    &_tasks_neutral--disabled {
      --icon-path: var(--icon__bpm_tasks_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    subprocess.svg 
    - - - - - - - - - - - - */
    
    &_subprocess_neutral--enabled {
      --icon-path: var(--icon__bpm_subprocess_neutral--enabled);
    }
    &_subprocess_neutral--hover {
      --icon-path: var(--icon__bpm_subprocess_neutral--hover);
    }
    &_subprocess_neutral--active {
      --icon-path: var(--icon__bpm_subprocess_neutral--active);
    }
    &_subprocess_neutral--disabled {
      --icon-path: var(--icon__bpm_subprocess_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-6.svg 
    - - - - - - - - - - - - */
    
    &_signal-6_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-6_neutral--enabled);
    }
    &_signal-6_neutral--hover {
      --icon-path: var(--icon__bpm_signal-6_neutral--hover);
    }
    &_signal-6_neutral--active {
      --icon-path: var(--icon__bpm_signal-6_neutral--active);
    }
    &_signal-6_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-5.svg 
    - - - - - - - - - - - - */
    
    &_signal-5_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-5_neutral--enabled);
    }
    &_signal-5_neutral--hover {
      --icon-path: var(--icon__bpm_signal-5_neutral--hover);
    }
    &_signal-5_neutral--active {
      --icon-path: var(--icon__bpm_signal-5_neutral--active);
    }
    &_signal-5_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-4.svg 
    - - - - - - - - - - - - */
    
    &_signal-4_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-4_neutral--enabled);
    }
    &_signal-4_neutral--hover {
      --icon-path: var(--icon__bpm_signal-4_neutral--hover);
    }
    &_signal-4_neutral--active {
      --icon-path: var(--icon__bpm_signal-4_neutral--active);
    }
    &_signal-4_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-3.svg 
    - - - - - - - - - - - - */
    
    &_signal-3_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-3_neutral--enabled);
    }
    &_signal-3_neutral--hover {
      --icon-path: var(--icon__bpm_signal-3_neutral--hover);
    }
    &_signal-3_neutral--active {
      --icon-path: var(--icon__bpm_signal-3_neutral--active);
    }
    &_signal-3_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-2.svg 
    - - - - - - - - - - - - */
    
    &_signal-2_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-2_neutral--enabled);
    }
    &_signal-2_neutral--hover {
      --icon-path: var(--icon__bpm_signal-2_neutral--hover);
    }
    &_signal-2_neutral--active {
      --icon-path: var(--icon__bpm_signal-2_neutral--active);
    }
    &_signal-2_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    signal-1.svg 
    - - - - - - - - - - - - */
    
    &_signal-1_neutral--enabled {
      --icon-path: var(--icon__bpm_signal-1_neutral--enabled);
    }
    &_signal-1_neutral--hover {
      --icon-path: var(--icon__bpm_signal-1_neutral--hover);
    }
    &_signal-1_neutral--active {
      --icon-path: var(--icon__bpm_signal-1_neutral--active);
    }
    &_signal-1_neutral--disabled {
      --icon-path: var(--icon__bpm_signal-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    person.svg 
    - - - - - - - - - - - - */
    
    &_person_neutral--enabled {
      --icon-path: var(--icon__bpm_person_neutral--enabled);
    }
    &_person_neutral--hover {
      --icon-path: var(--icon__bpm_person_neutral--hover);
    }
    &_person_neutral--active {
      --icon-path: var(--icon__bpm_person_neutral--active);
    }
    &_person_neutral--disabled {
      --icon-path: var(--icon__bpm_person_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-4.svg 
    - - - - - - - - - - - - */
    
    &_paralell-4_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-4_neutral--enabled);
    }
    &_paralell-4_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-4_neutral--hover);
    }
    &_paralell-4_neutral--active {
      --icon-path: var(--icon__bpm_paralell-4_neutral--active);
    }
    &_paralell-4_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-3.svg 
    - - - - - - - - - - - - */
    
    &_paralell-3_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-3_neutral--enabled);
    }
    &_paralell-3_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-3_neutral--hover);
    }
    &_paralell-3_neutral--active {
      --icon-path: var(--icon__bpm_paralell-3_neutral--active);
    }
    &_paralell-3_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-2.svg 
    - - - - - - - - - - - - */
    
    &_paralell-2_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-2_neutral--enabled);
    }
    &_paralell-2_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-2_neutral--hover);
    }
    &_paralell-2_neutral--active {
      --icon-path: var(--icon__bpm_paralell-2_neutral--active);
    }
    &_paralell-2_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    paralell-1.svg 
    - - - - - - - - - - - - */
    
    &_paralell-1_neutral--enabled {
      --icon-path: var(--icon__bpm_paralell-1_neutral--enabled);
    }
    &_paralell-1_neutral--hover {
      --icon-path: var(--icon__bpm_paralell-1_neutral--hover);
    }
    &_paralell-1_neutral--active {
      --icon-path: var(--icon__bpm_paralell-1_neutral--active);
    }
    &_paralell-1_neutral--disabled {
      --icon-path: var(--icon__bpm_paralell-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    oval.svg 
    - - - - - - - - - - - - */
    
    &_oval_neutral--enabled {
      --icon-path: var(--icon__bpm_oval_neutral--enabled);
    }
    &_oval_neutral--hover {
      --icon-path: var(--icon__bpm_oval_neutral--hover);
    }
    &_oval_neutral--active {
      --icon-path: var(--icon__bpm_oval_neutral--active);
    }
    &_oval_neutral--disabled {
      --icon-path: var(--icon__bpm_oval_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    oval-doble.svg 
    - - - - - - - - - - - - */
    
    &_oval-doble_neutral--enabled {
      --icon-path: var(--icon__bpm_oval-doble_neutral--enabled);
    }
    &_oval-doble_neutral--hover {
      --icon-path: var(--icon__bpm_oval-doble_neutral--hover);
    }
    &_oval-doble_neutral--active {
      --icon-path: var(--icon__bpm_oval-doble_neutral--active);
    }
    &_oval-doble_neutral--disabled {
      --icon-path: var(--icon__bpm_oval-doble_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-6.svg 
    - - - - - - - - - - - - */
    
    &_multiple-6_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-6_neutral--enabled);
    }
    &_multiple-6_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-6_neutral--hover);
    }
    &_multiple-6_neutral--active {
      --icon-path: var(--icon__bpm_multiple-6_neutral--active);
    }
    &_multiple-6_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-5.svg 
    - - - - - - - - - - - - */
    
    &_multiple-5_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-5_neutral--enabled);
    }
    &_multiple-5_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-5_neutral--hover);
    }
    &_multiple-5_neutral--active {
      --icon-path: var(--icon__bpm_multiple-5_neutral--active);
    }
    &_multiple-5_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-4.svg 
    - - - - - - - - - - - - */
    
    &_multiple-4_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-4_neutral--enabled);
    }
    &_multiple-4_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-4_neutral--hover);
    }
    &_multiple-4_neutral--active {
      --icon-path: var(--icon__bpm_multiple-4_neutral--active);
    }
    &_multiple-4_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-3.svg 
    - - - - - - - - - - - - */
    
    &_multiple-3_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-3_neutral--enabled);
    }
    &_multiple-3_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-3_neutral--hover);
    }
    &_multiple-3_neutral--active {
      --icon-path: var(--icon__bpm_multiple-3_neutral--active);
    }
    &_multiple-3_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-2.svg 
    - - - - - - - - - - - - */
    
    &_multiple-2_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-2_neutral--enabled);
    }
    &_multiple-2_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-2_neutral--hover);
    }
    &_multiple-2_neutral--active {
      --icon-path: var(--icon__bpm_multiple-2_neutral--active);
    }
    &_multiple-2_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    multiple-1.svg 
    - - - - - - - - - - - - */
    
    &_multiple-1_neutral--enabled {
      --icon-path: var(--icon__bpm_multiple-1_neutral--enabled);
    }
    &_multiple-1_neutral--hover {
      --icon-path: var(--icon__bpm_multiple-1_neutral--hover);
    }
    &_multiple-1_neutral--active {
      --icon-path: var(--icon__bpm_multiple-1_neutral--active);
    }
    &_multiple-1_neutral--disabled {
      --icon-path: var(--icon__bpm_multiple-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-6.svg 
    - - - - - - - - - - - - */
    
    &_message-6_neutral--enabled {
      --icon-path: var(--icon__bpm_message-6_neutral--enabled);
    }
    &_message-6_neutral--hover {
      --icon-path: var(--icon__bpm_message-6_neutral--hover);
    }
    &_message-6_neutral--active {
      --icon-path: var(--icon__bpm_message-6_neutral--active);
    }
    &_message-6_neutral--disabled {
      --icon-path: var(--icon__bpm_message-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-5.svg 
    - - - - - - - - - - - - */
    
    &_message-5_neutral--enabled {
      --icon-path: var(--icon__bpm_message-5_neutral--enabled);
    }
    &_message-5_neutral--hover {
      --icon-path: var(--icon__bpm_message-5_neutral--hover);
    }
    &_message-5_neutral--active {
      --icon-path: var(--icon__bpm_message-5_neutral--active);
    }
    &_message-5_neutral--disabled {
      --icon-path: var(--icon__bpm_message-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-4.svg 
    - - - - - - - - - - - - */
    
    &_message-4_neutral--enabled {
      --icon-path: var(--icon__bpm_message-4_neutral--enabled);
    }
    &_message-4_neutral--hover {
      --icon-path: var(--icon__bpm_message-4_neutral--hover);
    }
    &_message-4_neutral--active {
      --icon-path: var(--icon__bpm_message-4_neutral--active);
    }
    &_message-4_neutral--disabled {
      --icon-path: var(--icon__bpm_message-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-3.svg 
    - - - - - - - - - - - - */
    
    &_message-3_neutral--enabled {
      --icon-path: var(--icon__bpm_message-3_neutral--enabled);
    }
    &_message-3_neutral--hover {
      --icon-path: var(--icon__bpm_message-3_neutral--hover);
    }
    &_message-3_neutral--active {
      --icon-path: var(--icon__bpm_message-3_neutral--active);
    }
    &_message-3_neutral--disabled {
      --icon-path: var(--icon__bpm_message-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-2.svg 
    - - - - - - - - - - - - */
    
    &_message-2_neutral--enabled {
      --icon-path: var(--icon__bpm_message-2_neutral--enabled);
    }
    &_message-2_neutral--hover {
      --icon-path: var(--icon__bpm_message-2_neutral--hover);
    }
    &_message-2_neutral--active {
      --icon-path: var(--icon__bpm_message-2_neutral--active);
    }
    &_message-2_neutral--disabled {
      --icon-path: var(--icon__bpm_message-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    message-1.svg 
    - - - - - - - - - - - - */
    
    &_message-1_neutral--enabled {
      --icon-path: var(--icon__bpm_message-1_neutral--enabled);
    }
    &_message-1_neutral--hover {
      --icon-path: var(--icon__bpm_message-1_neutral--hover);
    }
    &_message-1_neutral--active {
      --icon-path: var(--icon__bpm_message-1_neutral--active);
    }
    &_message-1_neutral--disabled {
      --icon-path: var(--icon__bpm_message-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    link-4.svg 
    - - - - - - - - - - - - */
    
    &_link-4_neutral--enabled {
      --icon-path: var(--icon__bpm_link-4_neutral--enabled);
    }
    &_link-4_neutral--hover {
      --icon-path: var(--icon__bpm_link-4_neutral--hover);
    }
    &_link-4_neutral--active {
      --icon-path: var(--icon__bpm_link-4_neutral--active);
    }
    &_link-4_neutral--disabled {
      --icon-path: var(--icon__bpm_link-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    link-3.svg 
    - - - - - - - - - - - - */
    
    &_link-3_neutral--enabled {
      --icon-path: var(--icon__bpm_link-3_neutral--enabled);
    }
    &_link-3_neutral--hover {
      --icon-path: var(--icon__bpm_link-3_neutral--hover);
    }
    &_link-3_neutral--active {
      --icon-path: var(--icon__bpm_link-3_neutral--active);
    }
    &_link-3_neutral--disabled {
      --icon-path: var(--icon__bpm_link-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-6.svg 
    - - - - - - - - - - - - */
    
    &_escalation-6_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-6_neutral--enabled);
    }
    &_escalation-6_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-6_neutral--hover);
    }
    &_escalation-6_neutral--active {
      --icon-path: var(--icon__bpm_escalation-6_neutral--active);
    }
    &_escalation-6_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-5.svg 
    - - - - - - - - - - - - */
    
    &_escalation-5_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-5_neutral--enabled);
    }
    &_escalation-5_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-5_neutral--hover);
    }
    &_escalation-5_neutral--active {
      --icon-path: var(--icon__bpm_escalation-5_neutral--active);
    }
    &_escalation-5_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-4.svg 
    - - - - - - - - - - - - */
    
    &_escalation-4_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-4_neutral--enabled);
    }
    &_escalation-4_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-4_neutral--hover);
    }
    &_escalation-4_neutral--active {
      --icon-path: var(--icon__bpm_escalation-4_neutral--active);
    }
    &_escalation-4_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-3.svg 
    - - - - - - - - - - - - */
    
    &_escalation-3_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-3_neutral--enabled);
    }
    &_escalation-3_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-3_neutral--hover);
    }
    &_escalation-3_neutral--active {
      --icon-path: var(--icon__bpm_escalation-3_neutral--active);
    }
    &_escalation-3_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-2.svg 
    - - - - - - - - - - - - */
    
    &_escalation-2_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-2_neutral--enabled);
    }
    &_escalation-2_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-2_neutral--hover);
    }
    &_escalation-2_neutral--active {
      --icon-path: var(--icon__bpm_escalation-2_neutral--active);
    }
    &_escalation-2_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    escalation-1.svg 
    - - - - - - - - - - - - */
    
    &_escalation-1_neutral--enabled {
      --icon-path: var(--icon__bpm_escalation-1_neutral--enabled);
    }
    &_escalation-1_neutral--hover {
      --icon-path: var(--icon__bpm_escalation-1_neutral--hover);
    }
    &_escalation-1_neutral--active {
      --icon-path: var(--icon__bpm_escalation-1_neutral--active);
    }
    &_escalation-1_neutral--disabled {
      --icon-path: var(--icon__bpm_escalation-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    error-2.svg 
    - - - - - - - - - - - - */
    
    &_error-2_neutral--enabled {
      --icon-path: var(--icon__bpm_error-2_neutral--enabled);
    }
    &_error-2_neutral--hover {
      --icon-path: var(--icon__bpm_error-2_neutral--hover);
    }
    &_error-2_neutral--active {
      --icon-path: var(--icon__bpm_error-2_neutral--active);
    }
    &_error-2_neutral--disabled {
      --icon-path: var(--icon__bpm_error-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    error-1.svg 
    - - - - - - - - - - - - */
    
    &_error-1_neutral--enabled {
      --icon-path: var(--icon__bpm_error-1_neutral--enabled);
    }
    &_error-1_neutral--hover {
      --icon-path: var(--icon__bpm_error-1_neutral--hover);
    }
    &_error-1_neutral--active {
      --icon-path: var(--icon__bpm_error-1_neutral--active);
    }
    &_error-1_neutral--disabled {
      --icon-path: var(--icon__bpm_error-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    delete.svg 
    - - - - - - - - - - - - */
    
    &_delete_neutral--enabled {
      --icon-path: var(--icon__bpm_delete_neutral--enabled);
    }
    &_delete_neutral--hover {
      --icon-path: var(--icon__bpm_delete_neutral--hover);
    }
    &_delete_neutral--active {
      --icon-path: var(--icon__bpm_delete_neutral--active);
    }
    &_delete_neutral--disabled {
      --icon-path: var(--icon__bpm_delete_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional.svg 
    - - - - - - - - - - - - */
    
    &_conditional_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional_neutral--enabled);
    }
    &_conditional_neutral--hover {
      --icon-path: var(--icon__bpm_conditional_neutral--hover);
    }
    &_conditional_neutral--active {
      --icon-path: var(--icon__bpm_conditional_neutral--active);
    }
    &_conditional_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-6.svg 
    - - - - - - - - - - - - */
    
    &_conditional-6_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-6_neutral--enabled);
    }
    &_conditional-6_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-6_neutral--hover);
    }
    &_conditional-6_neutral--active {
      --icon-path: var(--icon__bpm_conditional-6_neutral--active);
    }
    &_conditional-6_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-6_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-5.svg 
    - - - - - - - - - - - - */
    
    &_conditional-5_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-5_neutral--enabled);
    }
    &_conditional-5_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-5_neutral--hover);
    }
    &_conditional-5_neutral--active {
      --icon-path: var(--icon__bpm_conditional-5_neutral--active);
    }
    &_conditional-5_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-5_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-2.svg 
    - - - - - - - - - - - - */
    
    &_conditional-2_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-2_neutral--enabled);
    }
    &_conditional-2_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-2_neutral--hover);
    }
    &_conditional-2_neutral--active {
      --icon-path: var(--icon__bpm_conditional-2_neutral--active);
    }
    &_conditional-2_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    conditional-1.svg 
    - - - - - - - - - - - - */
    
    &_conditional-1_neutral--enabled {
      --icon-path: var(--icon__bpm_conditional-1_neutral--enabled);
    }
    &_conditional-1_neutral--hover {
      --icon-path: var(--icon__bpm_conditional-1_neutral--hover);
    }
    &_conditional-1_neutral--active {
      --icon-path: var(--icon__bpm_conditional-1_neutral--active);
    }
    &_conditional-1_neutral--disabled {
      --icon-path: var(--icon__bpm_conditional-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-4.svg 
    - - - - - - - - - - - - */
    
    &_compensation-4_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-4_neutral--enabled);
    }
    &_compensation-4_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-4_neutral--hover);
    }
    &_compensation-4_neutral--active {
      --icon-path: var(--icon__bpm_compensation-4_neutral--active);
    }
    &_compensation-4_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-3.svg 
    - - - - - - - - - - - - */
    
    &_compensation-3_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-3_neutral--enabled);
    }
    &_compensation-3_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-3_neutral--hover);
    }
    &_compensation-3_neutral--active {
      --icon-path: var(--icon__bpm_compensation-3_neutral--active);
    }
    &_compensation-3_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-3_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-2.svg 
    - - - - - - - - - - - - */
    
    &_compensation-2_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-2_neutral--enabled);
    }
    &_compensation-2_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-2_neutral--hover);
    }
    &_compensation-2_neutral--active {
      --icon-path: var(--icon__bpm_compensation-2_neutral--active);
    }
    &_compensation-2_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    compensation-1.svg 
    - - - - - - - - - - - - */
    
    &_compensation-1_neutral--enabled {
      --icon-path: var(--icon__bpm_compensation-1_neutral--enabled);
    }
    &_compensation-1_neutral--hover {
      --icon-path: var(--icon__bpm_compensation-1_neutral--hover);
    }
    &_compensation-1_neutral--active {
      --icon-path: var(--icon__bpm_compensation-1_neutral--active);
    }
    &_compensation-1_neutral--disabled {
      --icon-path: var(--icon__bpm_compensation-1_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    cancel-4.svg 
    - - - - - - - - - - - - */
    
    &_cancel-4_neutral--enabled {
      --icon-path: var(--icon__bpm_cancel-4_neutral--enabled);
    }
    &_cancel-4_neutral--hover {
      --icon-path: var(--icon__bpm_cancel-4_neutral--hover);
    }
    &_cancel-4_neutral--active {
      --icon-path: var(--icon__bpm_cancel-4_neutral--active);
    }
    &_cancel-4_neutral--disabled {
      --icon-path: var(--icon__bpm_cancel-4_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    cancel-2.svg 
    - - - - - - - - - - - - */
    
    &_cancel-2_neutral--enabled {
      --icon-path: var(--icon__bpm_cancel-2_neutral--enabled);
    }
    &_cancel-2_neutral--hover {
      --icon-path: var(--icon__bpm_cancel-2_neutral--hover);
    }
    &_cancel-2_neutral--active {
      --icon-path: var(--icon__bpm_cancel-2_neutral--active);
    }
    &_cancel-2_neutral--disabled {
      --icon-path: var(--icon__bpm_cancel-2_neutral--disabled);
    }

    /* - - - - - - - - - - - - 
    arrows.svg 
    - - - - - - - - - - - - */
    
    &_arrows_neutral--enabled {
      --icon-path: var(--icon__bpm_arrows_neutral--enabled);
    }
    &_arrows_neutral--hover {
      --icon-path: var(--icon__bpm_arrows_neutral--hover);
    }
    &_arrows_neutral--active {
      --icon-path: var(--icon__bpm_arrows_neutral--active);
    }
    &_arrows_neutral--disabled {
      --icon-path: var(--icon__bpm_arrows_neutral--disabled);
    }
  
    }