@import "accordion-tokens";

%accordion {
  @include accordion-tokens();

  --spacing-body-block-start: var(--mer-spacing--sm);
  --spacing-body-block-end: var(--mer-spacing--sm);
  --spacing-body-inline-start: var(--mer-spacing--sm);
  --spacing-body-inline-end: var(--mer-spacing--sm);

  gap: var(--accordion__gap);

  &-outlined {
    --accordion-section__border-color: var(
      --accordion-section-outlined__border-color
    );
    --accordion-section__bg-color: transparent;
  }
}

%accordion-header {
  @extend %subtitle-semi-bold-xs;
  padding: var(--accordion-header__padding);
  gap: var(--accordion-header__gap);
  color: var(--accordion-header__color);
  border: var(--accordion-header__border-width) solid
    var(--accordion-header__border-color);

  &--hover {
    --accordion-header__border-color: var(--mer-border-color__primary--hover);
  }
  &--active {
    --accordion-header__border-color: var(--mer-border-color__primary--active);
  }

  &--hover,
  &--active {
    --accordion-header__border-block-end-color: var(
      --accordion-header__border-color
    );
  }

  &--focus-visible {
    @include focus-outline();
  }

  &--disabled {
    color: var(--mer-accent__primary--disabled);
  }

  &-outlined {
    &--disabled {
      color: var(--mer-accent__primary--disabled);
    }
  }

  // expanded
  &--expanded {
    border-block-end-color: var(--accordion-header__border-block-end-color);

    &-disabled {
    }
  }
}

%accordion-panel {
  border-radius: var(--mer-border__radius--sm);
  background-color: var(--accordion-panel__bg-color);

  &--disabled {
    --accordion-panel__bg-color: var(--accordion-panel__bg-color--disabled);
  }

  &-outlined {
    border: var(--accordion-panel-outlined__border);
    border-radius: var(--accordion-panel-outlined__border-radius);

    &--disabled {
      border-color: var(--accordion-panel-outlined__border-color--disabled);
    }
  }
}

%accordion-section {
  // "1px" is used to improve the display of the outline when :focus-visible

  &-outlined {
    &--disabled {
    }
  }
}

@mixin accordion-filled(
  $accordion-selector: ".accordion-filled",
  $panel-selector: ".accordion-filled::part(panel)",
  $panel-disabled-selector: ".accordion-filled::part(panel disabled)",
  $header-selector: ".accordion-filled::part(header)",
  $header-disabled-selector: ".accordion-filled::part(header disabled)",
  $header-expanded-selector: ".accordion-filled::part(header expanded)",
  $header-expanded-disabled-selector:
    ".accordion-filled::part(header expanded disabled)",
  $section-selector: ".accordion-filled::part(section)"
) {
  #{$accordion-selector} {
    @extend %accordion;
  }

  #{$panel-selector} {
    @extend %accordion-panel;
  }
  #{$panel-disabled-selector} {
    @extend %accordion-panel--disabled;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:hover {
      @extend %accordion-header--hover;
    }
    &:active {
      @extend %accordion-header--active;
    }

    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$header-expanded-selector} {
    @extend %accordion-header--expanded;
  }

  #{$header-expanded-disabled-selector} {
    @extend %accordion-header--expanded-disabled;
  }

  #{$section-selector} {
    @extend %accordion-section;
  }

  #{$header-disabled-selector} {
    @extend %accordion-header--disabled;
  }
}

@mixin accordion-outlined(
  $accordion-selector: ".accordion-outlined",
  $panel-selector: ".accordion-outlined::part(panel)",
  $panel-disabled-selector: ".accordion-outlined::part(panel disabled)",
  $header-selector: ".accordion-outlined::part(header)",
  $header-disabled-selector: ".accordion-outlined::part(header disabled)",
  $header-expanded-selector: ".accordion-outlined::part(header expanded)",
  $header-expanded-disabled-selector:
    ".accordion-outlined::part(header expanded disabled)",
  $section-selector: ".accordion-outlined::part(section)",
  $section-disabled-selector: ".accordion-outlined::part(section disabled)"
) {
  #{$accordion-selector} {
    @extend %accordion;
    @extend %accordion-outlined;
  }

  #{$panel-selector} {
    @extend %accordion-panel-outlined;
  }
  #{$panel-disabled-selector} {
    @extend %accordion-panel-outlined--disabled;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:hover {
      @extend %accordion-header--hover;
    }
    &:active {
      @extend %accordion-header--active;
    }

    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$header-expanded-selector} {
    @extend %accordion-header--expanded;
  }

  #{$header-expanded-disabled-selector} {
    @extend %accordion-header--expanded-disabled;
  }

  #{$section-selector} {
    @extend %accordion-section;
  }
  #{$section-disabled-selector} {
    @extend %accordion-section-outlined--disabled;
  }

  #{$header-disabled-selector} {
    @extend %accordion-header-outlined--disabled;
  }
}
