@import "accordion-tokens";

%accordion {
  @include accordion-tokens();

  background-color: transparent !important;
  // force elevation-* class not applying on the host

  gap: var(--mer-spacing--2xs);
}

%accordion-header {
  @extend %subtitle-semi-bold-xs;
  padding: var(--mer-spacing--sm);
  gap: var(--mer-spacing--sm);
  color: var(--accordion-header__color);
  // border: var(--mer-border__width--sm) solid
  //   var(--accordion-header__border-color);
  outline-width: var(--mer-border__width--sm);
  outline-style: solid;
  outline-color: var(--accordion-header__outline-color);
  border-radius: var(--accordion-panel__border-radius);

  &--hover {
    --accordion-header__outline-color: var(--mer-border-color__primary--hover);
  }
  &--active {
    --accordion-header__outline-color: var(--mer-border-color__primary--active);
  }
  &--focus-visible {
    @include focus-outline();
  }
  &--disabled {
    --accordion-header__color: var(--mer-accent__primary--disabled);
  }
}

%accordion-panel {
  background-color: var(--accordion-panel__bg-color);
  border: var(--mer-border__width--sm) solid
    var(--accordion-panel__border-color);
  border-style: solid;
  border-radius: var(--accordion-panel__border-radius);
  color: var(--elevation-color, --mer-text__on-elevation);

  &-filled {
    --accordion-panel__bg-color: var(--elevation-background-color, transparent);
    --accordion-panel__border-color: var(--accordion-panel__bg-color);

    &--disabled {
      --accordion-panel__bg-color: var(--mer-surface__elevation--02);
    }
  }

  &-outlined {
    --accordion-panel__border-color: var(--elevation-border-color, transparent);

    &--disabled {
      border-color: var(--mer-border-color__primary--disabled);
    }
  }
}

%accordion-section {
  // "1px" is used to improve the display of the outline when :focus-visible
}

@mixin accordion-filled(
  $accordion-selector: ".accordion-filled",
  $panel-selector: ".accordion-filled::part(panel)",
  $panel-disabled-selector: ".accordion-filled::part(panel disabled)",
  $header-selector: ".accordion-filled::part(header)",
  $header-disabled-selector: ".accordion-filled::part(header disabled)"
) {
  #{$accordion-selector} {
    @extend %accordion;
  }

  #{$panel-selector} {
    @extend %accordion-panel;
    @extend %accordion-panel-filled;
  }
  #{$panel-disabled-selector} {
    @extend %accordion-panel-filled--disabled;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:hover {
      @extend %accordion-header--hover;
    }
    &:active {
      @extend %accordion-header--active;
    }
    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$header-disabled-selector} {
    @extend %accordion-header--disabled;
  }
}

@mixin accordion-outlined(
  $accordion-selector: ".accordion-outlined",
  $panel-selector: ".accordion-outlined::part(panel)",
  $panel-disabled-selector: ".accordion-outlined::part(panel disabled)",
  $header-selector: ".accordion-outlined::part(header)",
  $header-disabled-selector: ".accordion-outlined::part(header disabled)"
) {
  #{$accordion-selector} {
    @extend %accordion;
  }

  #{$panel-selector} {
    @extend %accordion-panel;
    @extend %accordion-panel-outlined;
  }
  #{$panel-disabled-selector} {
    @extend %accordion-panel-outlined--disabled;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:hover {
      @extend %accordion-header--hover;
    }
    &:active {
      @extend %accordion-header--active;
    }
    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$header-disabled-selector} {
    @extend %accordion-header--disabled;
  }
}
