@import "accordion-tokens";

%accordion {
  @include accordion-tokens();
  gap: var(--accordion__gap);
}

%accordion-header {
  @extend %text-body-highlighted-m;
  padding: var(--accordion-header__padding);
  gap: var(--accordion-header__gap);
  color: var(--accordion-header__color);

  &--focus-visible {
    @include focus-outline();
  }

  &--disabled {
    color: var(--mer-accent__primary--disabled);
  }

  &-outlined {
    &--disabled {
      color: var(--mer-accent__primary--disabled);
    }
  }
}

%accordion-panel {
  border-radius: var(--mer-border__radius--sm);
  background-color: var(--mer-surface__elevation--01);

  &-outlined {
    border: var(--accordion-panel-outlined__border);
    border-radius: var(--accordion-panel-outlined__border-radius);
  }
}

%accordion-section {
  // "1px" is used to improve the display of the outline when :focus-visible
  margin-block: var(--accordion-section__margin-block);
  margin-inline: var(--accordion-section__margin-inline);
  padding-block: var(--accordion-section__padding-block);
  padding-inline: var(--accordion-section__padding-inline);
  border: var(--accordion-section__border);
  border-radius: var(--accordion-section__border-radius);
}

@mixin accordion-filled(
  $accordion-selector: ".accordion-filled",
  $panel-selector: ".accordion-filled::part(panel)",
  $header-selector: ".accordion-filled::part(header)",
  $header-disabled-selector: ".accordion-filled::part(header disabled)",
  $section-selector: ".accordion-filled::part(section)"
) {
  #{$accordion-selector} {
    @extend %accordion;
  }

  #{$panel-selector} {
    @extend %accordion-panel;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$header-disabled-selector} {
    @extend %accordion-header--disabled;
  }
}

@mixin accordion-outlined(
  $accordion-selector: ".accordion-outlined",
  $panel-selector: ".accordion-outlined::part(panel)",
  $header-selector: ".accordion-outlined::part(header)",
  $header-disabled-selector: ".accordion-outlined::part(header disabled)",
  $section-selector: ".accordion-outlined::part(section)"
) {
  #{$accordion-selector} {
    @extend %accordion;
  }

  #{$panel-selector} {
    @extend %accordion-panel-outlined;
  }

  #{$header-selector} {
    @extend %accordion-header;

    &:focus-visible {
      @extend %accordion-header--focus-visible;
    }
  }

  #{$section-selector} {
    @extend %accordion-section;
  }

  #{$header-disabled-selector} {
    @extend %accordion-header-outlined--disabled;
  }
}
