@mixin button-common-styles() {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
}

@mixin button-icon-mask-common-styles(
  $inline-size: var(--button-icon-size),
  $block-size: var(--button-icon-size),
  $mask-size: var(--button-icon-mask-size)
) {
  content: "";
  display: block;
  inline-size: $inline-size;
  block-size: $block-size;
  -webkit-mask: no-repeat center / $mask-size var(--button-icon);
  background-color: currentColor;
}

@mixin button-icon-background-common-styles(
  $inline-size: var(--button-icon-size),
  $block-size: var(--button-icon-size),
  $background-size: var(--button-icon-background-size)
) {
  content: "";
  display: block;
  inline-size: $inline-size;
  block-size: $block-size;
  background: no-repeat center / $background-size var(--button-icon);
}

@mixin label-common-styles() {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
}
