@mixin button-common-styles() {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
}

@mixin icon-mask-common-styles(
  $inline-size: var(--icon-size),
  $block-size: var(--icon-size),
  $mask-size: var(--icon-mask-size)
) {
  content: "";
  display: block;
  inline-size: $inline-size;
  block-size: $block-size;
  -webkit-mask: no-repeat center / $mask-size var(--icon-path);
  background-color: currentColor;
}

@mixin icon-background-common-styles(
  $inline-size: var(--icon-size),
  $block-size: var(--icon-size),
  $background-size: var(--icon-background-size)
) {
  content: "";
  display: block;
  inline-size: $inline-size;
  block-size: $block-size;
  background: no-repeat center / $background-size var(--icon-path);
}

@mixin label-common-styles() {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: auto; // Necessary to avoid creating additional rows and then adding additional gap at the bottom of the label
  align-items: center;
}
