%tab {
  --ch-tab-close-button__background-image-size: var(--mer-icon__size--md);
  --ch-tab-close-button__image-size: var(--mer-icon__box--md);

  --spacing-body-block-start: var(--mer-spacing--md);
  --spacing-body-block-end: var(--mer-spacing--md);
  --spacing-body-inline-start: var(--mer-spacing--md);
  --spacing-body-inline-end: var(--mer-spacing--md);

  @include items-container-border();
  @include items-container-colors();
}

%tab-caption {
  border-width: 0;
  @include tab-button-colors-enabled();
  @include tab-button-font();
  @include tab-button-gap();

  &--hover {
    @include tab-button-colors-hover();
  }

  &--focus-visible {
    @include focus-outline();
  }

  &--block {
    @include tab-button-padding-inline();
    &-start {
      @include tab-button-border-block-start();
    }
    &-end {
      @include tab-button-border-block-end();
    }
  }

  &--inline {
    @include tab-button-padding-stack();
    @include tab-button-border-block();
  }

  &--selected {
    &-inline {
      @include tab-button-colors-selected-stack();
    }
    &-block {
      @include tab-button-colors-selected-inline();
    }
  }

  &--disabled {
    @include tab-button-colors-disabled();
  }

  &__close-button {
    &--focus {
      @include focus-outline();
    }
  }
}

%tab-list {
  &--block {
    border-block-end: var(--items-container__border-width)
      var(--items-container__border-style) var(--items-container__border-color);
  }

  &--inline {
    border-inline-end: var(--items-container__border-width)
      var(--items-container__border-style) var(--items-container__border-color);
  }
}

@mixin tab(
  $tab-selector: ".tab",
  $tab-selector-indicator-start: ".tab-indicator-start::part(button block)",
  $tab-selector-indicator-end: ".tab-indicator-end::part(button block)",
  $tab-caption-selector: ".tab::part(button)",
  $tab-caption--block-selector: ".tab::part(button block)",
  $tab-caption--inline-selector: ".tab::part(button inline)",
  $tab-caption--selected-selector: ".tab::part(button selected)",
  $tab-caption--selected-inline-selector: ".tab::part(button inline selected)",
  $tab-caption--selected-block-selector: ".tab::part(button block selected)",
  $tab-caption--disabled-selector: ".tab::part(button disabled)",
  $tab-caption__close-button-selector: ".tab::part(close-button)",
  $tab-list-selector: ".tab::part(tab-list)",
  $tab-list--block-selector: ".tab::part(tab-list block)",
  $tab-list--inline-selector: ".tab::part(tab-list inline)",
  $add--disabled: true
) {
  #{$tab-selector} {
    @extend %tab;
  }
  #{$tab-selector-indicator-start} {
    @extend %tab-caption--block-start;
  }
  #{$tab-selector-indicator-end} {
    @extend %tab-caption--block-end;
  }

  #{$tab-caption-selector} {
    // @extend %tab-text;
    @extend %tab-caption;

    &:hover {
      @extend %tab-caption--hover;
    }

    &:focus-visible {
      @extend %tab-caption--focus-visible;
    }
  }

  #{$tab-caption--block-selector} {
    @extend %tab-caption--block;
  }

  #{$tab-caption--inline-selector} {
    @extend %tab-caption--inline;
  }

  #{$tab-caption--selected-selector} {
    @extend %tab-caption--selected;
  }

  #{$tab-caption--selected-inline-selector} {
    @extend %tab-caption--selected-inline;
  }

  #{$tab-caption--selected-block-selector} {
    @extend %tab-caption--selected-block;
  }

  #{$tab-caption__close-button-selector} {
    &:focus-visible {
      @extend %tab-caption__close-button--focus;
    }
  }

  #{$tab-list-selector} {
    @extend %tab-list;
  }

  #{$tab-list--block-selector} {
    @extend %tab-list--block;
  }

  #{$tab-list--inline-selector} {
    @extend %tab-list--inline;
  }

  @if $add--disabled {
    #{$tab-caption--disabled-selector} {
      @extend %tab-caption--disabled;
    }
  }
}
