@mixin markdown-viewer() {
  :host {
    @extend %text-body;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Heading
  // - - - - - - - - - - - - - - - - - - - -
  h1 {
    @extend %heading-1;
    margin-block: var(--mer-spacing--md) var(--mer-spacing--xs);
    padding-block-end: var(--mer-spacing--xs);
  }

  h2 {
    @extend %heading-2;
    margin-block: var(--mer-spacing--sm) 6px; // It does not exists the --spacing--xm value
    padding-block-end: 6px; // It does not exists the --spacing--xm value
  }

  h3 {
    @extend %heading-3;
    margin-block: var(--mer-spacing--xs) var(--mer-spacing--2xs);
    padding-block-end: var(--mer-spacing--2xs);
  }

  h4 {
    @extend %heading-4;
    margin-block: var(--mer-spacing--2xs) var(--mer-spacing--3xs);
    padding-block-end: var(--mer-spacing--3xs);
  }

  h5 {
    @extend %heading-5;
    margin-block: var(--mer-spacing--2xs) var(--mer-spacing--3xs);
    padding-block-end: var(--mer-spacing--3xs);
  }

  h6 {
    @extend %heading-6;
    margin-block: var(--mer-spacing--2xs) var(--mer-spacing--3xs);
    padding-block-end: var(--mer-spacing--3xs);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-block-end: 1px solid var(--mer-border-color__on-surface);
  }

  p,
  ul,
  ol,
  table,
  ch-code {
    margin-block: var(--mer-spacing--xs);
  }

  ul,
  ol {
    padding-inline-start: var(--mer-spacing--xl);
  }

  // TODO: Add hyperlink styles
  a {
    @extend %text-link;
  }

  blockquote {
    margin-block: var(--mer-spacing--xs);
    padding-block: var(--mer-spacing--xs);
    padding-inline: calc(var(--mer-spacing--xl) - 4px) var(--mer-spacing--xl);
    border-inline-start: 4px solid var(--mer-color__primary--400);

    // First <p> don't add margin-block-start, because the <blockquote> adds it
    & > p:first-of-type {
      margin-block-start: 0;
    }

    // Last <p> don't add margin-block-end, because the <blockquote> adds it
    & > p:last-of-type {
      margin-block-end: 0;
    }
  }

  strong {
    font-weight: 700;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Table
  // - - - - - - - - - - - - - - - - - - - -
  // Table
  table {
    display: block;
    inline-size: max-content;
    border: 1px solid var(--mer-border-color__on-surface);
    border-spacing: 0;

    & > thead > tr {
      @extend %heading-4;
      font-weight: unset;
    }
  }

  // Cells
  td {
    border-block-start: 1px solid var(--mer-border-color__on-surface);
  }

  // Header and body cells
  th,
  td {
    padding: var(--mer-spacing--xs);
    border-inline-start: 1px solid var(--mer-border-color__on-surface);
  }

  // Remove left border in the first cell of each row
  tr > td:first-child,
  tr > th:first-child {
    border-inline-start: unset;
  }

  thead > tr,
  tbody > tr:nth-child(2n) {
    background-color: var(--mer-color__neutral-gray--700);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Code
  // - - - - - - - - - - - - - - - - - - - -
  .code-block-container {
    position: relative;
  }

  .code-block-header {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: flex-end;
    position: absolute;
    inset-block-start: var(--mer-spacing--md);
    inset-inline-end: var(--mer-spacing--xs);
    padding: 6px;
    background-color: var(--mer-surface__elevation--01);
    border-radius: var(--mer-border__radius--xs);
  }

  .button-copy-code {
    inline-size: 18px;
    block-size: 18px;

    &::before {
      content: "";
      display: grid;
      inline-size: 100%;
      block-size: 100%;
      -webkit-mask: no-repeat center / 100%
        var(--icon__system_copy_primary--enabled);
      background-color: currentColor;
    }

    &:focus-visible {
      outline: 1px solid currentColor;
    }
  }

  // Multiline code
  ch-code {
    // Override inline border-radius
    border: 1px solid var(--mer-border-color__on-surface);
    border-radius: 4px;
    padding: var(--mer-spacing--md);

    // & > .code-block__header {
    //   display: grid;
    //   grid-template-columns: 1fr max-content;
    //   align-items: center;
    //   padding-inline: var(--mer-spacing--md);
    //   padding-block: var(--mer-spacing--xs);
    //   background-color: var(--surface--alternative);
    // }

    // & > .code-block__content {
    //   // Override inline padding
    //
    // }
  }

  @include code($selector: "ch-code");

  // Inline code
  code {
    padding-block: var(--mer-spacing--3xs);
    padding-inline: var(--mer-spacing--2xs);
    background-color: var(--mer-elevation__bg-color--01);
    border-radius: 2px;
    font-size: calc(1em - 2px);
  }

  img {
    display: inline-block;
    max-inline-size: 25%;
  }

  // Don't add margin-block-start in the first element of the markdown
  :host > :first-child,
  ch-theme + * {
    margin-block-start: 0px;
  }

  // Don't add margin-block-end in the last element of the markdown
  :host > :last-child {
    margin-block-end: 0px;
  }
}
