%chat-message-icon {
  content: "";
  display: grid;
  justify-self: flex-end;
  inline-size: 16px;
  block-size: 16px;
  -webkit-mask: no-repeat center / 100% var(--chat-message-icon);
  background-color: var(--chat-message-icon-color);
}

.chat {
  &::part(content) {
    gap: 6px;
  }

  &::part(message) {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-rows: max-content;
    padding: var(--mer-spacing--sm);
    gap: var(--mer-spacing--sm);
    border-radius: var(--mer-border__radius--sm);
    overflow: hidden;
  }

  &::part(message user) {
    background-color: rgba(91, 167, 255, 0.08);
    border-inline-start: 2px solid var(--mer-border-color__primary);
  }

  &::part(message assistant complete) {
    background-color: var(--mer-color__elevation--01);
  }

  &::part(message assistant warning) {
    background-color: rgba(255, 201, 107, 0.05);
    border-inline-start: 2px solid var(--mer-border-color__warning);

    &::after {
      @extend %chat-message-icon;
      --chat-message-icon: var(--icon__system_warning_primary--enabled);
      --chat-message-icon-color: var(--mer-icon__warning);
    }
  }

  &::part(message error) {
    background-color: rgba(251, 124, 132, 0.05);
    border-inline-start: 2px solid var(--mer-border-color__error);

    &::after {
      @extend %chat-message-icon;
      --chat-message-icon: var(--icon__system_error_primary--enabled);
      --chat-message-icon-color: var(--mer-icon__error);
    }
  }

  &::part(message assistant success) {
    background-color: rgba(63, 168, 155, 0.05);
    border-inline-start: 2px solid var(--mer-border-color__success);

    &::after {
      @extend %chat-message-icon;
      --chat-message-icon: var(--icon__system_success_primary--enabled);
      --chat-message-icon-color: var(--mer-icon__success);
    }
  }
}
