%chat-message-icon {
  content: "";
  display: grid;
  justify-self: flex-end;
  inline-size: 16px;
  block-size: 16px;
  -webkit-mask: no-repeat center / 100% var(--chat-message-icon);
  background-color: var(--chat-message-icon-color);
}

@mixin chat($chat-selector: ".chat") {
  #{$chat-selector} {
    --button-block-size: 31px;
    --button-margin-block: 16px;

    &::part(content) {
      gap: 6px;
    }

    &::part(message) {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-auto-rows: max-content;
      padding: var(--mer-spacing--sm);
      gap: var(--mer-spacing--sm);
      border-radius: var(--mer-border__radius--sm);
      overflow: hidden;
    }

    &::part(message__role) {
      @extend %body-semi-bold-m;
      display: inline-grid;
      grid-template-columns: max-content max-content;
      gap: 6px;

      &::before {
        content: "";
        display: grid;
        justify-self: flex-end;
        inline-size: 4px;
        block-size: 4px;
        border-radius: 50%;
        align-self: center;
        background-color: currentColor;
      }
    }

    &::part(message__role user) {
      color: var(--mer-accent__primary);
    }

    &::part(message__time) {
      @extend %body-regular-italic-m;
      color: #828b96;
    }

    &::part(message__content) {
      @extend %body-regular-m;
      color: var(--mer-color__neutral-gray--100);
    }

    &::part(message__content user),
    &::part(message__content no-error) {
      grid-area: 2 / 1 / 2 / 3;
    }

    &::part(message user) {
      background-color: rgba(91, 167, 255, 0.08);
      border-inline-start: 2px solid var(--mer-border-color__primary);
    }

    &::part(message assistant) {
      background-color: var(--mer-color__neutral-gray--900);
    }

    &::part(message assistant waiting) {
      @extend %body-regular-italic-s;
      background-color: var(--mer-color__neutral-gray--900);
      border-radius: unset;
      color: #666;
    }

    &::part(message assistant complete) {
      background-color: var(--mer-surface__elevation--01);
    }

    &::part(message assistant warning) {
      background-color: rgba(255, 201, 107, 0.05);
      border-inline-start: 2px solid var(--mer-border-color__warning);

      &::after {
        @extend %chat-message-icon;
        --chat-message-icon: var(--icon__system_warning_primary--enabled);
        --chat-message-icon-color: var(--mer-icon__warning);
      }
    }

    &::part(message error) {
      background-color: rgba(251, 124, 132, 0.05);
      border-inline-start: 2px solid var(--mer-border-color__error);

      &::after {
        @extend %chat-message-icon;
        --chat-message-icon: var(
          --icon__system_warning_primary--enabled
        ); // TODO: Add error icon
        --chat-message-icon-color: var(--mer-icon__error);
      }
    }

    &::part(message assistant success) {
      background-color: rgba(63, 168, 155, 0.05);
      border-inline-start: 2px solid var(--mer-border-color__success);

      &::after {
        @extend %chat-message-icon;
        --chat-message-icon: var(--icon__system_success_primary--enabled);
        --chat-message-icon-color: var(--mer-icon__success);
      }
    }

    &::part(message__processing) {
      color: var(--mer-text__on-surface);
      font-size: var(--font-size-body-s);
    }

    @include input(
      $selector: "&::part(send-input)",
      $add--disabled: false,
      $add--placeholder: false,
      $add--error: false
    );

    &::part(stop-generating-answer-button) {
      border-radius: var(--control__border-radius);
      border: 1px solid var(--mer-border-color__neutral);
      color: var(--control__border-style);
      font-size: var(--font-size-body-m);
      inline-size: 100%;
      justify-content: center;
      line-height: var(--control__line-height);
      padding-block: var(--control__padding-block);
      padding-inline: var(--control__padding-inline);
      transform: translateY(calc(var(--button-margin-block) / 2));
    }
    &::part(stop-generating-answer-button):hover {
      border-color: var(--mer-border-color__primary--hover);
      color: var(--mer-text__primary--hover);
    }
    &::part(stop-generating-answer-button):active {
      border-color: var(--mer-border-color__primary--active);
      color: var(--mer-text__on-primary--active);
    }

    &::part(send-input) {
      background-color: var(--mer-color__neutral-gray--900);
      border-color: var(--mer-color__neutral-gray--900);
      --control__padding-block: 10px;

      background-color: var(--mer-surface__elevation--01) !important;
    }

    &::part(send-input-wrapper) {
      margin-block-start: calc(
        var(--button-block-size) + var(--button-margin-block)
      );
    }
  }
}
