@mixin semantic-item() {
  // - - - - - - - - - - - - - - - - - - - -
  //                 Items
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - Colors - - - - - - -

  --item__bg-color: var(--item__bg-color--enabled);
  --item__border-color: var(--item__border-color--enabled);
  --item__color: var(--item__color--enabled);

  // enabled
  --item__bg-color--enabled: var(--mer-color__elevation--01);
  --item__border-color--enabled: transparent;
  --item__color--enabled: var(--mer-text__on-elevation);

  // hover
  --item__bg-color--hover: var(--mer-color__tinted-blue--5);
  --item__border-color--hover: var(--mer-color__tinted-blue--20);
  --item__color--hover: var(--mer-color__neutral-gray--100);

  // selected
  --item__bg-color--selected: var(--mer-color__tinted-blue--10);
  --item__border-color--selected: var(--mer-color__tinted-blue--30);
  --item__color--selected: var(--mer-color__neutral-gray--100);

  // selected + hover
  --item__bg-color--selected-hover: var(--mer-color__tinted-blue--10);
  --item__border-color--selected-hover: var(--mer-color__tinted-blue--20);
  --item__color--selected-hover: var(--mer-color__neutral-gray--100);

  // disabled
  --item__bg-color--disabled: transparent;
  --item__border-color--disabled: transparent;
  --item__color--disabled: var(--mer-text__primary--disabled);

  // - - - - - - - Border - - - - - - -

  --item__border-width: var(--mer-border__width--sm);
  --item__border-style: solid;

  // - - - - - - - Border Radius - - - - - - -

  --item__border-radius: var(--mer-border__radius--sm);

  // - - - - - - - Padding - - - - - - -

  --item__padding-block: var(--mer-spacing--xs);
  --item__padding-inline: var(--mer-spacing--xs);

  // - - - - - - - Height - - - - - - -

  --item__height--regular: var(--mer-spacing--xl); // ie.: Combo box
  --item__height--large: 36px; // ie.: Grid

  // - - - - - - - Font Face - - - - - - -

  --item__font-family: var(--mer-font-family--body);
  --item__font-weight: var(--mer-font__weight--regular);
  --mer-item-header__font-weight: var(--mer-font__weight--semi-bold);

  // - - - - - - - Font Size - - - - - - -

  --item__font-size--small: var(--mer-font__size--3xs);
  --item__font-size--regular: var(--mer-font__size--xs);

  // - - - - - - - - - - - - - - - - - - - -
  //           Items Container
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - Colors - - - - - - -

  --items-container__bg-color: var(--mer-color__elevation--01);
  --items-container__border-color: var(--mer-border-color__on-surface);

  // - - - - - - - Padding - - - - - - -

  --items-container__padding-block: var(--mer-spacing--xs);
  --items-container__padding-inline: var(--mer-spacing--xs);

  // - - - - - - - Type Dropdown - - - - - - -

  --items-container__border-radius: var(--mer-border__radius--sm);
  --items-container__box-shadow: var(--mer-box-shadow--01);

  // - - - - - - - Gap - - - - - - -

  --items-container__gap: var(--mer-spacing--2xs);

  // - - - - - - - Height - - - - - - -

  --items-container__max-block-size: 300px;

  // - - - - - - - - - - - - - - - - - - - -
  //               Grid Cell
  // - - - - - - - - - - - - - - - - - - - -
  --grid-cell__border-color: var(--mer-color__elevation--04);
  --grid-cell__border: var(--mer-border__width--sm) solid
    var(--grid-cell__border-color);
  --grid-cell__box-shadow-inline-block: 0 0 0 1px var(--grid-cell__border-color);
}
