$icons-monochrome: path, stroke;
%icon__monochrome {
  
  // path.svg
  &-path--on-surface-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/path.svg#on-surface");
  }
  &-path--on-surface-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/path.svg#on-surface");
  }
      
  &-path--on-primary-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/path.svg#on-primary");
  }
  &-path--on-primary-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/path.svg#on-primary");
  }
      
  &-path--on-primary--active-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/path.svg#on-primary--active");
  }
  &-path--on-primary--active-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/path.svg#on-primary--active");
  }
      
  // stroke.svg
  &-stroke--on-surface-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/stroke.svg#on-surface");
  }
  &-stroke--on-surface-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/stroke.svg#on-surface");
  }
      
  &-stroke--on-primary-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/stroke.svg#on-primary");
  }
  &-stroke--on-primary-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/stroke.svg#on-primary");
  }
      
  &-stroke--on-primary--active-light {
    --icon-path :url("#{$assets-path}icons/monochrome/light/stroke.svg#on-primary--active");
  }
  &-stroke--on-primary--active-dark {
    --icon-path :url("#{$assets-path}icons/monochrome/dark/stroke.svg#on-primary--active");
  }
      
}
  