%dialog {
  --spacing-body-block-start: var(--mer-spacing--lg);
  --spacing-body-block-end: var(--mer-spacing--lg);
  --spacing-body-inline-start: var(--mer-spacing--md);
  --spacing-body-inline-end: var(--mer-spacing--md);
  --ch-dialog-max-inline-size: 800px;
  background-color: var(--mer-color__elevation--01);
  box-shadow: var(--mer-box-shadow--01);

  &__backdrop {
    background-color: rgba(32, 36, 40, 0.9);
    backdrop-filter: blur(1.5px);
    z-index: 108; // TODO: This is a WA to show the backdrop above the button of the dropdown
  }

  &__header {
    gap: var(--mer-spacing--sm);
    padding-block: var(--mer-spacing--md);
    padding-inline: var(--mer-spacing--sm);
    border-block-end: var(--mer-border__width--sm) solid
      var(--mer-color__elevation--04);
  }

  &__caption {
    @extend %heading-5;
    @extend %heading-color__gray--light;
    word-break: break-word;
  }

  &__close {
    @extend %icon-size--md;
    --icon-path: var(--icon__system_close_primary--enabled);
    &--hover {
      --icon-path: var(--icon__system_close_primary--hover);
    }
    &--active {
      --icon-path: var(--icon__system_close_primary--active);
    }
  }

  &__content {
    overflow: auto;
  }

  &__footer {
    @extend %control-footer;
    @extend %control-footer--with-border;
  }

  // ------------------------------
  // Edges (For dragging)
  // ------------------------------
  &__edge {
    $edge-border-width: var(--mer-border__width--lg);
    $edge-border-style: solid;
    $edge-color: var(--mer-color__tinted-blue--20);
    border-color: transparent;
    transition: var(--mer-timing--fast) border-color;

    &--hover {
      border-color: $edge-color;
    }

    &-block-start {
      border-block-start-width: $edge-border-width;
      border-block-start-style: $edge-border-style;
    }

    &-inline-end {
      border-inline-end-width: $edge-border-width;
      border-inline-end-style: $edge-border-style;
    }

    &-block-end {
      border-block-end-width: $edge-border-width;
      border-block-end-style: $edge-border-style;
    }

    &-inline-start {
      border-inline-start-width: $edge-border-width;
      border-inline-start-style: $edge-border-style;
    }
  }
}

/// @group Dialog
/// @param {String} $dialog-selector [".dialog::part(dialog)"] -
/// @param {String} $backdrop-selector [".dialog.ch-dialog--modal"] -
/// @param {String} $header-selector [".dialog::part(header)"] -
/// @param {String} $caption-selector [".dialog::part(caption)"] -
/// @param {String} $close-selector [".dialog::part(close-button)"] -
/// @param {String} $content-selector [".dialog::part(content)"] -
/// @param {String} $footer-selector [".dialog::part(footer)"] -
// Edges (For dragging)
/// @param {String} $edge-selector [".dialog::part(edge)"] -
/// @param {String} $edge-block-start-selector [".dialog::part(edge-block-start)"] -
/// @param {String} $edge-inline-end-selector [".dialog::part(edge-inline-end)"] -
/// @param {String} $edge-block-end-selector [".dialog::part(edge-block-end)"] -
/// @param {String} $edge-inline-start-selector [".dialog::part(edge-inline-start)"] -
// Icons
/// @param {String} $icons-path [""] -
@mixin dialog(
  $dialog-selector: ".dialog::part(dialog)",
  $backdrop-selector: ".dialog.ch-dialog--modal",
  $header-selector: ".dialog::part(header)",
  $caption-selector: ".dialog::part(caption)",
  $close-selector: ".dialog::part(close-button)",
  $content-selector: ".dialog::part(content)",
  $footer-selector: ".dialog::part(footer)",
  $edge-selector: ".dialog::part(edge)",
  $edge-block-start-selector: ".dialog::part(edge-block-start)",
  $edge-inline-end-selector: ".dialog::part(edge-inline-end)",
  $edge-block-end-selector: ".dialog::part(edge-block-end)",
  $edge-inline-start-selector: ".dialog::part(edge-inline-start)"
) {
  #{$dialog-selector} {
    @extend %dialog;
  }

  #{$backdrop-selector} {
    @extend %dialog__backdrop;
  }

  #{$header-selector} {
    @extend %dialog__header;
  }

  #{$caption-selector} {
    @extend %dialog__caption;
  }

  #{$close-selector} {
    @extend %dialog__close;
    &:hover {
      @extend %dialog__close--hover;
    }
    &:active {
      @extend %dialog__close--active;
    }
  }

  #{$content-selector} {
    @extend %dialog__content;
  }

  #{$footer-selector} {
    @extend %dialog__footer;
  }

  // ------------------------------
  // Edges (For dragging)
  // ------------------------------
  #{$edge-selector} {
    @extend %dialog__edge;
    &:hover {
      @extend %dialog__edge--hover;
    }
  }

  #{$edge-block-start-selector} {
    @extend %dialog__edge-block-start;
  }

  #{$edge-inline-end-selector} {
    @extend %dialog__edge-inline-end;
  }

  #{$edge-block-end-selector} {
    @extend %dialog__edge-block-end;
  }

  #{$edge-inline-start-selector} {
    @extend %dialog__edge-inline-start;
  }
}
