/* - - - - - - - - - - - - - - - -
 Monochrome Categories and Colors
 - - - - - - - - - - - - - - - - -*/

$monochrome-colors: (
  on-surface: (
    enabled,
    hover,
    active,
    disabled
 ),
  on-primary: (
    enabled,
    hover,
    active,
    disabled
 ),
  on-disabled: (
    enabled,
 ),
  on-message: (
    enabled,
 ),
  on-elevation: (
    enabled,
 ),
  primary: (
    enabled,
    hover,
    active,
    disabled
 ),
  error: (
    enabled,
 ),
  warning: (
    enabled,
 ),
  success: (
    enabled,
 ),
  neutral: (
    enabled,
    hover,
    active,
    disabled
 ),
  highlighted: (
    enabled,
 ),
  bright: (
    enabled,
 )
);

$monochrome-categories: (
 bpm: (
   neutral,
 ),
 gemini-tools: (
   on-surface,
   on-primary,
   on-disabled,
   on-message,
   on-elevation,
   primary,
   neutral,
   highlighted,
   bright
 ),
 menus: (
   on-surface,
   on-primary,
   on-disabled,
   on-message,
   on-elevation,
   primary,
   neutral,
   highlighted,
   bright
 ),
 navigation: (
   on-surface,
   on-primary,
   on-disabled,
   on-message,
   on-elevation,
   primary,
   neutral,
   highlighted,
   bright
 ),
 windows-tools: (
   on-surface,
   on-primary,
   on-disabled,
   on-message,
   on-elevation,
   primary,
   neutral,
   highlighted,
   bright
 )
);

/* - - - - - - - - - - - 
Monochrome lists
- - - - - - - - - - - */
 
// windows-tools
$windows-tools: workflow, workflow-settings, work-with-attributes, watch, toolbox, teamdev, services, roles, rol, responsive-sizes, references, properties, preferences, performance-test-objects, output, logout, last-changes-view, kb-explorer, indexer-monitor, history, genexus-cloud, frontend, filter, filter-conditions, error-list, debugx, datastores, category-groups, breakpoints, backend, alphabetical-order;
 
// navigation
$navigation: pill-outlined, pill-filled, level-up, level-down, gx-arrow-right, drag, chevron-up, chevron-right, chevron-left, chevron-down, bullet, arrow-up, arrow-right, arrow-left, arrow-down, arrow-down-skyblue;
 
// menus
$menus: undo, undo-close-object, save, save-all, run, redo, properties, paste, open-object, new-object, find, delete, cut, create-database-tables, copy, cancel-build, build, build-all;
 
// gemini-tools
$gemini-tools: warning, success, show-more-vertical, show-more-horizontal, share, settings, search, reset, read-only, open-window, notice, more-info, minus, minus-circle, list-view, folder, flow-arrow, file, error, edit, edit-wand, duplicate, download, deleted, delete, data-provider, copy, copy-to-clipboard, color-picker, close, category-ungroup, category-group, card-view, add, add-circle;
 
// bpm
$bpm: timer-6, timer-5, timer-2, timer-1, terminale-4, tasks, subprocess, signal-6, signal-5, signal-4, signal-3, signal-2, signal-1, person, paralell-4, paralell-3, paralell-2, paralell-1, oval, oval-doble, multiple-6, multiple-5, multiple-4, multiple-3, multiple-2, multiple-1, message-6, message-5, message-4, message-3, message-2, message-1, link-4, link-3, escalation-6, escalation-5, escalation-4, escalation-3, escalation-2, escalation-1, error-2, error-1, delete, conditional, conditional-6, conditional-5, conditional-2, conditional-1, compensation-4, compensation-3, compensation-2, compensation-1, cancel-4, cancel-2, arrows;

$all-monochrome-lists: (
  windows-tools: $windows-tools,
  navigation: $navigation,
  menus: $menus,
  gemini-tools: $gemini-tools,
  bpm: $bpm,
);

/* - - - - - - - - - - - 
Multicolor lists
- - - - - - - - - - - */
 
// objects
$objects: workflow, work-panel, web-panel, web-component, version, url-rewrite, transaction, to-be-defined, theme, theme-web, theme-for-sd, table, super-app, subtype-group, structured-data-type, stencil, roles, report, references, query, procedure, patterns, panel-for-sd, orphant-document, offline-database, object, notification-templates, module, module-open, mini-app, menubar, menu, masterpage, main-object, language, knowledge-base, image, generator, generator-category, folder, folder-open, file, external-object, environment-select, environment-no-select, dso, domain, document, document-workflow, diagram, design, deployment-unit, dataview-index, datastore, datastore-category, data-view, data-selector, data-provider, dashboard, customization, conversational-flows, category, calendars, business-process-diagram, bg-color, attribute, api;
 
// gx-test
$gx-test: unit-test, unit-test-db, ui-test-web, ui-test-sd, test-suite, test-results, test-folder, test-folder-open, screenshot-viewer, run-unit-test, run-ui-test-web, run-ui-test-sd, run-tests, run-test-suite, run-test-cancel, result-warning, result-skipped, result-ok, result-exception, result-error, record-mock, plus, image, explorer, cutfo;
 
// gx-server
$gx-server: public, private, new, lock-without-changes, lock-by-user-reserve, lock-by-user-changes, internal, delete, conflict, changes-commit-pending;
 
// general
$general: version, swift, sql-server, services, sd, sd-web, sap-hana, references, postgre-sql, patterns, oracle, launchpad, knowledge-base, java, informix, generator, environment-select, environment-no-select, db2, datastore, customization, csharp, apple, angular, android;
 
// editing-structures
$editing-structures: user-index, system-index, redundant-attribute, platforms, logical-attributes, formula-redundant, default, attribute-key, attribute-formula, attribute-description;
 
// controls
$controls: variable, treeview, text-block, tag-html, table, table-row, table-column, table-cell, tab, tab-page, snippet, smart-table, section, pop-up, messages, media-player, id-html, hyperlink, html, horizontal-line, history-manager, gx-scheduler, group, grid, google-geomap, google-charts, google-annotated-tmeline, google-analytics, free-style-grid, font, flex, file-upload, error-viewer, embedded-page, default, component, class-html, canva, call-target, button, button-group, action-group, action-group-item;

$all-multicolor-lists: (
  objects: $objects,
  gx-test: $gx-test,
  gx-server: $gx-server,
  general: $general,
  editing-structures: $editing-structures,
  controls: $controls,
);