
/*multicolor lists*/

/*monochrome lists*/
@import "./monochrome/system";

/*all multicolor lists*/
$all-multicolor-lists: (
);

/*all monochrome lists*/
$all-monochrome-lists: (
system: $icons-system
);