@mixin tab-font-tokens() {
  --text-tab__font-family: var(--mer-font-family--inter-regular);
  --text-tab__font-size: var(--mer-font__size--3xs);
  --text-tab__line-height: var(--mer-line-height--regular);
}

@mixin button-font-tokens() {
  --text-button__font-family: var(--mer-font-family--inter-regular);
  --text-button__font-size: var(--mer-font__size--3xs);
  --text-button__line-height: var(--mer-line-height--regular);
  --text-button__font-weight--semi-bold: var(--mer-font__weight--semi-bold);
  --text-button__font-weight--regular: var(--mer-font__weight--regular);
}

@mixin tooltip-font-tokens() {
  --mer-text-tooltip__font-family: var(--mer-font-family--body);
  --mer-text-tooltip__font-size: var(--mer-font-size--2xs);
}
