@import "tokens";

// ----------------------
// Heading
// ----------------------

%heading {
  &-base {
    @include heading-font-tokens();
    font-family: var(--mer-font-family--title);
    line-height: var(--mer-line-height--tight);
    color: var(--heading__color);
  }

  &-1 {
    @extend %heading-base;
    font-size: var(--mer-font__size--xl); // 36px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h1__line-height);
  }

  &-2 {
    @extend %heading-base;
    font-size: var(--mer-font__size--lg); // 24px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h2__line-height);
  }

  &-3 {
    @extend %heading-base;
    font-size: var(--mer-font__size--sm); // 16px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h3__line-height);
  }

  &-4 {
    @extend %heading-base;
    font-size: var(--mer-font__size--xs); // 14px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h4__line-height);
  }

  &-5 {
    @extend %heading-base;
    font-size: var(--mer-font__size--2xs); // 13px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h5__line-height);
  }

  &-6 {
    @extend %heading-base;
    font-size: var(--mer-font__size--3xs); // 12px
    font-weight: var(--mer-font__weight--semi-bold);
    line-height: var(--heading-h6__line-height);
  }

  &-color {
    &__gray--light {
      --heading__color: var(--mer-heading__gray--light);
    }
  }
}

%text-link {
  text-decoration: underline;
}

// body
%text-body {
  &-base {
    @include body-font-tokens();
  }
  &-regular {
    &-l {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--l);
      font-weight: var(--text-body-regular__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-m {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--m);
      font-weight: var(--text-body-regular__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-s {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--s);
      font-weight: var(--text-body-regular__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-xs {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--xs);
      font-weight: var(--text-body-regular__font-weight);
      line-height: var(--text-body__line-height);
    }
  }
  &-highlighted {
    &-l {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--l);
      font-weight: var(--text-body-highlighted__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-m {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--m);
      font-weight: var(--text-body-highlighted__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-s {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--s);
      font-weight: var(--text-body-highlighted__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-xs {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--xs);
      font-weight: var(--text-body-highlighted__font-weight);
      line-height: var(--text-body__line-height);
    }
  }
  &-italic {
    &-l {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--l);
      font-style: italic;
      font-weight: var(--text-body-italic__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-m {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--m);
      font-style: italic;
      font-weight: var(--text-body-italic__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-s {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--s);
      font-style: italic;
      font-weight: var(--text-body-italic__font-weight);
      line-height: var(--text-body__line-height);
    }
    &-xs {
      @extend %text-body-base;
      font-size: var(--text-body__font-size--xs);
      font-style: italic;
      font-weight: var(--text-body-italic__font-weight);
      line-height: var(--text-body__line-height);
    }
  }
}

// tab
%tab-text {
  @include tab-font-tokens();
  font-family: var(--text-tab__font-family);
  font-size: var(--text-tab__font-size);
  line-height: var(--text-tab__line-height);
}

// button
%button-text {
  @include button-font-tokens();
  font-family: var(--text-button__font-family);
  font-size: var(--text-button__font-size);
  line-height: var(--text-button__line-height);

  &--semi-bold {
    @extend %button-text;
    font-weight: var(--mer-font__weight--semi-bold);
  }
  &--regular {
    @extend %button-text;
    font-weight: var(--mer-font__weight--regular);
  }
}

// tooltip
%tooltip-text {
  @include tooltip-font-tokens();
  font-family: var(--mer-text-tooltip__font-family);
  font-size: var(--mer-text-tooltip__font-size);
}

/// @group Typography
/// @param {String} $heading-1-selector [".heading-1"] -
/// @param {String} $heading-2-selector [".heading-2"] -
/// @param {String} $heading-3-selector [".heading-3"] -
/// @param {String} $heading-4-selector [".heading-4"] -
/// @param {String} $heading-5-selector [".heading-5"] -
/// @param {String} $heading-6-selector [".heading-6"] -
/// @param {String} $heading-color__gray-light-selector [".heading-gray--light"] -
/// @param {String} $text-body-regular-l-selector [".text-body-regular-l"] -
/// @param {String} $text-body-regular-m-selector [".text-body-regular-m"] -
/// @param {String} $text-body-regular-s-selector [".text-body-regular-s"] -
/// @param {String} $text-body-regular-xs-selector [".text-body-regular-xs"] -
/// @param {String} $text-body-highlighted-l-selector [".text-body-highlighted-l"] -
/// @param {String} $text-body-highlighted-m-selector [".text-body-highlighted-m"] -
/// @param {String} $text-body-highlighted-s-selector [".text-body-highlighted-s"] -
/// @param {String} $text-body-highlighted-xs-selector [".text-body-highlighted-xs"] -
/// @param {String} $text-body-italic-l-selector [".text-body-italic-l"] -
/// @param {String} $text-body-italic-m-selector [".text-body-italic-m"] -
/// @param {String} $text-body-italic-s-selector [".text-body-italic-s"] -
/// @param {String} $text-body-italic-xs-selector [".text-body-italic-xs"] -

@mixin typography-classes(
  $heading-1-selector: ".heading-1",
  $heading-2-selector: ".heading-2",
  $heading-3-selector: ".heading-3",
  $heading-4-selector: ".heading-4",
  $heading-5-selector: ".heading-5",
  $heading-6-selector: ".heading-6",
  $heading-color__gray-light-selector: ".heading-gray--light",
  $text-body-regular-l-selector: ".text-body-regular-l",
  $text-body-regular-m-selector: ".text-body-regular-m",
  $text-body-regular-s-selector: ".text-body-regular-s",
  $text-body-regular-xs-selector: ".text-body-regular-xs",
  $text-body-highlighted-l-selector: ".text-body-highlighted-l",
  $text-body-highlighted-m-selector: ".text-body-highlighted-m",
  $text-body-highlighted-s-selector: ".text-body-highlighted-s",
  $text-body-highlighted-xs-selector: ".text-body-highlighted-xs",
  $text-body-italic-l-selector: ".text-body-italic-l",
  $text-body-italic-m-selector: ".text-body-italic-m",
  $text-body-italic-s-selector: ".text-body-italic-s",
  $text-body-italic-xs-selector: ".text-body-italic-xs"
) {
  // headings

  #{$heading-1-selector} {
    @extend %heading-1;
  }

  #{$heading-2-selector} {
    @extend %heading-2;
  }

  #{$heading-3-selector} {
    @extend %heading-3;
  }

  #{$heading-4-selector} {
    @extend %heading-4;
  }

  #{$heading-5-selector} {
    @extend %heading-5;
  }

  #{$heading-6-selector} {
    @extend %heading-6;
  }

  #{$heading-color__gray-light-selector} {
    @extend %heading-color__gray--light;
  }

  // body

  #{$text-body-regular-l-selector} {
    @extend %text-body-regular-l;
  }

  #{$text-body-regular-m-selector} {
    @extend %text-body-regular-m;
  }

  #{$text-body-regular-s-selector} {
    @extend %text-body-regular-s;
  }

  #{$text-body-regular-xs-selector} {
    @extend %text-body-regular-xs;
  }

  #{$text-body-highlighted-l-selector} {
    @extend %text-body-highlighted-l;
  }

  #{$text-body-highlighted-m-selector} {
    @extend %text-body-highlighted-m;
  }

  #{$text-body-highlighted-s-selector} {
    @extend %text-body-highlighted-s;
  }

  #{$text-body-highlighted-xs-selector} {
    @extend %text-body-highlighted-xs;
  }

  #{$text-body-italic-l-selector} {
    @extend %text-body-italic-l;
  }

  #{$text-body-italic-m-selector} {
    @extend %text-body-italic-m;
  }

  #{$text-body-italic-s-selector} {
    @extend %text-body-italic-s;
  }

  #{$text-body-italic-xs-selector} {
    @extend %text-body-italic-xs;
  }
}

// ---------------------------------------
// Text States e.g.: for the property-grid
// ---------------------------------------

%text-edited {
  font-weight: var(--mer-font__weight--semi-bold);
}
%text-readonly {
  font-style: italic;
  color: var(--item__color--disabled);
}
