%heading-base {
  font-family: var(--mer-font-family--title);
  color: var(--mer-color__neutral-gray--100);
  line-height: var(--mer-line-height--tight);
}

%heading-1 {
  @extend %heading-base;
  font-size: 36px; //TODO (Update with token, or add token)
  font-weight: var(--mer-font__weight--bold);
}

%heading-2 {
  @extend %heading-base;
  font-size: var(--mer-font__size--lg); // 24px
  font-weight: var(--mer-font__weight--bold);
}

%heading-3 {
  @extend %heading-base;
  font-size: 20px; //TODO (Update with token, or add token)
  font-weight: var(--mer-font__weight--bold);
}

%heading-4 {
  @extend %heading-base;
  font-size: var(--mer-font__size--md); // 20px
  font-weight: var(--mer-font__weight--bold);
}

%heading-5 {
  @extend %heading-base;
  font-size: 14px; //TODO (Update with token, or add token)
  font-weight: var(--mer-font__weight--bold);
}

%heading-6 {
  @extend %heading-base;
  font-size: var(--mer-font__size--sm); // 16px
  font-weight: var(--mer-font__weight--semi-bold);
}

%text-body {
  font-size: var(--mer-font__size--xs); // 14px
  font-family: var(--mer-body__font-family);
  font-weight: var(--mer-body__font-weight);
  line-height: var(--mer-body__line-height);
  margin-block: var(--mer-body__margin-block);
}

// tab
%tab-text {
  font-family: var(--mer-font-family--inter-regular);
  font-size: var(--mer-font__size--2xs);
  line-height: var(--mer-font-family--inter-regular);
}

// button
%button-text {
  font-family: var(--mer-font-family--body);
  font-size: var(--mer-font__size--2xs);
  line-height: var(--mer-line-height--regular);
}

%button-text--regular {
  @extend %button-text;
  font-weight: var(--mer-font__weight--semi-bold);
}

%button-text--light {
  @extend %button-text;
  font-weight: var(--mer-font__weight--semi-regular);
}

// tooltip
%tooltip-text {
  font-family: var(--mer-font-family--body);
  font-size: var(--mer-font-size--2xs);
}

/// @group Typography
/// @param {String} $heading--1-selector [".heading-1"] -
/// @param {String} $heading--2-selector [".heading-2"] -
/// @param {String} $heading--3-selector [".heading-3"] -
/// @param {String} $heading--4-selector [".heading-4"] -
/// @param {String} $heading--5-selector [".heading-5"] -
/// @param {String} $heading--6-selector [".heading-6"] -
/// @param {String} $text-body-selector [".text-body"] -
@mixin typography-classes(
  $heading--1-selector: ".heading-1",
  $heading--2-selector: ".heading-2",
  $heading--3-selector: ".heading-3",
  $heading--4-selector: ".heading-4",
  $heading--5-selector: ".heading-5",
  $heading--6-selector: ".heading-6",
  $text-body-selector: ".text-body"
) {
  #{$heading--1-selector} {
    @extend %heading-1;
  }

  #{$heading--2-selector} {
    @extend %heading-2;
  }

  #{$heading--3-selector} {
    @extend %heading-3;
  }

  #{$heading--4-selector} {
    @extend %heading-4;
  }

  #{$heading--5-selector} {
    @extend %heading-5;
  }

  #{$heading--6-selector} {
    @extend %heading-6;
  }

  #{$text-body-selector} {
    @extend %text-body;
  }
}
