@import "tokens";

/*----------------------
Heading
----------------------*/

%heading {
  &-base {
    @include heading-tokens();
    font-family: var(--mer-font-family--title);
    line-height: var(--mer-line-height--tight);
    color: var(--heading__color);
  }

  &-1 {
    @extend %heading-base;
    font-size: var(--mer-font__size--xl); // 36px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h1__line-height);
  }

  &-2 {
    @extend %heading-base;
    font-size: var(--mer-font__size--lg); // 24px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h2__line-height);
  }

  &-3 {
    @extend %heading-base;
    font-size: var(--mer-font__size--sm); // 16px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h3__line-height);
  }

  &-4 {
    @extend %heading-base;
    font-size: var(--mer-font__size--xs); // 14px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h4__line-height);
  }

  &-5 {
    @extend %heading-base;
    font-size: var(--mer-font__size--2xs); // 13px
    font-weight: var(--mer-font__weight--bold);
    line-height: var(--heading-h5__line-height);
  }

  &-6 {
    @extend %heading-base;
    font-size: var(--mer-font__size--3xs); // 12px
    font-weight: var(--mer-font__weight--semi-bold);
    line-height: var(--heading-h6__line-height);
  }

  &-color {
    &__gray--light {
      --heading__color: var(--mer-heading__gray--light);
    }
  }
}

%text-link {
  text-decoration: underline;
}

// body
%text-body {
  @include body-tokens();
  font-size: var(--text-body__font-size);
  font-family: var(--text-body__font-family);
  font-weight: var(--text-body__font-weight);
  line-height: var(--text-body__line-height);
}

// tab
%tab-text {
  @include tab-tokens();
  font-family: var(--text-tab__font-family);
  font-size: var(--text-tab__font-size);
  line-height: var(--text-tab__line-height);
}

// button
%button-text {
  @include button-tokens();
  font-family: var(--text-button__font-family);
  font-size: var(--text-button__font-size);
  line-height: var(--text-button__line-height);

  &--semi-bold {
    @extend %button-text;
    font-weight: var(--mer-font__weight--semi-bold);
  }
  &--regular {
    @extend %button-text;
    font-weight: var(--mer-font__weight--regular);
  }
}

// tooltip
%tooltip-text {
  @include tooltip-tokens();
  font-family: var(--mer-text-tooltip__font-family);
  font-size: var(--mer-text-tooltip__font-size);
}

/// @group Typography
/// @param {String} $heading-1-selector [".heading-1"] -
/// @param {String} $heading-2-selector [".heading-2"] -
/// @param {String} $heading-3-selector [".heading-3"] -
/// @param {String} $heading-4-selector [".heading-4"] -
/// @param {String} $heading-5-selector [".heading-5"] -
/// @param {String} $heading-6-selector [".heading-6"] -
/// @param {String} $heading-color__gray-light-selector [".heading-gray--light"] -
/// @param {String} $text-body-selector [".text--body"] -
@mixin typography-classes(
  $heading-1-selector: ".heading-1",
  $heading-2-selector: ".heading-2",
  $heading-3-selector: ".heading-3",
  $heading-4-selector: ".heading-4",
  $heading-5-selector: ".heading-5",
  $heading-6-selector: ".heading-6",
  $heading-color__gray-light-selector: ".heading-gray--light",
  $text-body-selector: ".text-body"
) {
  #{$heading-1-selector} {
    @extend %heading-1;
  }

  #{$heading-2-selector} {
    @extend %heading-2;
  }

  #{$heading-3-selector} {
    @extend %heading-3;
  }

  #{$heading-4-selector} {
    @extend %heading-4;
  }

  #{$heading-5-selector} {
    @extend %heading-5;
  }

  #{$heading-6-selector} {
    @extend %heading-6;
  }

  #{$heading-color__gray-light-selector} {
    @extend %heading-color__gray--light;
  }

  #{$text-body-selector} {
    @extend %text-body;
  }
}

/*-------------------------------------
Text States e.g.: for the property-grid
-------------------------------------*/

%text-edited {
  font-weight: var(--mer-font__weight--semi-bold);
}
%text-readonly {
  font-style: italic;
  color: var(--item__color--disabled);
}
