
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*controls*/
  --icon__controls_variable--enabled: url('#{$icons-path}controls/light/variable.svg#enabled'); 
  --icon__controls_variable--hover: url('#{$icons-path}controls/light/variable.svg#hover'); 
  --icon__controls_variable--active: url('#{$icons-path}controls/light/variable.svg#active'); 
  --icon__controls_variable--disabled: url('#{$icons-path}controls/light/variable.svg#disabled'); 
  --icon__controls_treeview--enabled: url('#{$icons-path}controls/light/treeview.svg#enabled'); 
  --icon__controls_treeview--hover: url('#{$icons-path}controls/light/treeview.svg#hover'); 
  --icon__controls_treeview--active: url('#{$icons-path}controls/light/treeview.svg#active'); 
  --icon__controls_treeview--disabled: url('#{$icons-path}controls/light/treeview.svg#disabled'); 
  --icon__controls_text-block--enabled: url('#{$icons-path}controls/light/text-block.svg#enabled'); 
  --icon__controls_text-block--hover: url('#{$icons-path}controls/light/text-block.svg#hover'); 
  --icon__controls_text-block--active: url('#{$icons-path}controls/light/text-block.svg#active'); 
  --icon__controls_text-block--disabled: url('#{$icons-path}controls/light/text-block.svg#disabled'); 
  --icon__controls_tag-html--enabled: url('#{$icons-path}controls/light/tag-html.svg#enabled'); 
  --icon__controls_tag-html--hover: url('#{$icons-path}controls/light/tag-html.svg#hover'); 
  --icon__controls_tag-html--active: url('#{$icons-path}controls/light/tag-html.svg#active'); 
  --icon__controls_tag-html--disabled: url('#{$icons-path}controls/light/tag-html.svg#disabled'); 
  --icon__controls_table--enabled: url('#{$icons-path}controls/light/table.svg#enabled'); 
  --icon__controls_table--hover: url('#{$icons-path}controls/light/table.svg#hover'); 
  --icon__controls_table--active: url('#{$icons-path}controls/light/table.svg#active'); 
  --icon__controls_table--disabled: url('#{$icons-path}controls/light/table.svg#disabled'); 
  --icon__controls_table-row--enabled: url('#{$icons-path}controls/light/table-row.svg#enabled'); 
  --icon__controls_table-row--hover: url('#{$icons-path}controls/light/table-row.svg#hover'); 
  --icon__controls_table-row--active: url('#{$icons-path}controls/light/table-row.svg#active'); 
  --icon__controls_table-row--disabled: url('#{$icons-path}controls/light/table-row.svg#disabled'); 
  --icon__controls_table-column--enabled: url('#{$icons-path}controls/light/table-column.svg#enabled'); 
  --icon__controls_table-column--hover: url('#{$icons-path}controls/light/table-column.svg#hover'); 
  --icon__controls_table-column--active: url('#{$icons-path}controls/light/table-column.svg#active'); 
  --icon__controls_table-column--disabled: url('#{$icons-path}controls/light/table-column.svg#disabled'); 
  --icon__controls_table-cell--enabled: url('#{$icons-path}controls/light/table-cell.svg#enabled'); 
  --icon__controls_table-cell--hover: url('#{$icons-path}controls/light/table-cell.svg#hover'); 
  --icon__controls_table-cell--active: url('#{$icons-path}controls/light/table-cell.svg#active'); 
  --icon__controls_table-cell--disabled: url('#{$icons-path}controls/light/table-cell.svg#disabled'); 
  --icon__controls_tab--enabled: url('#{$icons-path}controls/light/tab.svg#enabled'); 
  --icon__controls_tab--hover: url('#{$icons-path}controls/light/tab.svg#hover'); 
  --icon__controls_tab--active: url('#{$icons-path}controls/light/tab.svg#active'); 
  --icon__controls_tab--disabled: url('#{$icons-path}controls/light/tab.svg#disabled'); 
  --icon__controls_tab-page--enabled: url('#{$icons-path}controls/light/tab-page.svg#enabled'); 
  --icon__controls_tab-page--hover: url('#{$icons-path}controls/light/tab-page.svg#hover'); 
  --icon__controls_tab-page--active: url('#{$icons-path}controls/light/tab-page.svg#active'); 
  --icon__controls_tab-page--disabled: url('#{$icons-path}controls/light/tab-page.svg#disabled'); 
  --icon__controls_snippet--enabled: url('#{$icons-path}controls/light/snippet.svg#enabled'); 
  --icon__controls_snippet--hover: url('#{$icons-path}controls/light/snippet.svg#hover'); 
  --icon__controls_snippet--active: url('#{$icons-path}controls/light/snippet.svg#active'); 
  --icon__controls_snippet--disabled: url('#{$icons-path}controls/light/snippet.svg#disabled'); 
  --icon__controls_smart-table--enabled: url('#{$icons-path}controls/light/smart-table.svg#enabled'); 
  --icon__controls_smart-table--hover: url('#{$icons-path}controls/light/smart-table.svg#hover'); 
  --icon__controls_smart-table--active: url('#{$icons-path}controls/light/smart-table.svg#active'); 
  --icon__controls_smart-table--disabled: url('#{$icons-path}controls/light/smart-table.svg#disabled'); 
  --icon__controls_section--enabled: url('#{$icons-path}controls/light/section.svg#enabled'); 
  --icon__controls_section--hover: url('#{$icons-path}controls/light/section.svg#hover'); 
  --icon__controls_section--active: url('#{$icons-path}controls/light/section.svg#active'); 
  --icon__controls_section--disabled: url('#{$icons-path}controls/light/section.svg#disabled'); 
  --icon__controls_pop-up--enabled: url('#{$icons-path}controls/light/pop-up.svg#enabled'); 
  --icon__controls_pop-up--hover: url('#{$icons-path}controls/light/pop-up.svg#hover'); 
  --icon__controls_pop-up--active: url('#{$icons-path}controls/light/pop-up.svg#active'); 
  --icon__controls_pop-up--disabled: url('#{$icons-path}controls/light/pop-up.svg#disabled'); 
  --icon__controls_messages--enabled: url('#{$icons-path}controls/light/messages.svg#enabled'); 
  --icon__controls_messages--hover: url('#{$icons-path}controls/light/messages.svg#hover'); 
  --icon__controls_messages--active: url('#{$icons-path}controls/light/messages.svg#active'); 
  --icon__controls_messages--disabled: url('#{$icons-path}controls/light/messages.svg#disabled'); 
  --icon__controls_media-player--enabled: url('#{$icons-path}controls/light/media-player.svg#enabled'); 
  --icon__controls_media-player--hover: url('#{$icons-path}controls/light/media-player.svg#hover'); 
  --icon__controls_media-player--active: url('#{$icons-path}controls/light/media-player.svg#active'); 
  --icon__controls_media-player--disabled: url('#{$icons-path}controls/light/media-player.svg#disabled'); 
  --icon__controls_id-html--enabled: url('#{$icons-path}controls/light/id-html.svg#enabled'); 
  --icon__controls_id-html--hover: url('#{$icons-path}controls/light/id-html.svg#hover'); 
  --icon__controls_id-html--active: url('#{$icons-path}controls/light/id-html.svg#active'); 
  --icon__controls_id-html--disabled: url('#{$icons-path}controls/light/id-html.svg#disabled'); 
  --icon__controls_hyperlink--enabled: url('#{$icons-path}controls/light/hyperlink.svg#enabled'); 
  --icon__controls_hyperlink--hover: url('#{$icons-path}controls/light/hyperlink.svg#hover'); 
  --icon__controls_hyperlink--active: url('#{$icons-path}controls/light/hyperlink.svg#active'); 
  --icon__controls_hyperlink--disabled: url('#{$icons-path}controls/light/hyperlink.svg#disabled'); 
  --icon__controls_html--enabled: url('#{$icons-path}controls/light/html.svg#enabled'); 
  --icon__controls_html--hover: url('#{$icons-path}controls/light/html.svg#hover'); 
  --icon__controls_html--active: url('#{$icons-path}controls/light/html.svg#active'); 
  --icon__controls_html--disabled: url('#{$icons-path}controls/light/html.svg#disabled'); 
  --icon__controls_horizontal-line--enabled: url('#{$icons-path}controls/light/horizontal-line.svg#enabled'); 
  --icon__controls_horizontal-line--hover: url('#{$icons-path}controls/light/horizontal-line.svg#hover'); 
  --icon__controls_horizontal-line--active: url('#{$icons-path}controls/light/horizontal-line.svg#active'); 
  --icon__controls_horizontal-line--disabled: url('#{$icons-path}controls/light/horizontal-line.svg#disabled'); 
  --icon__controls_history-manager--enabled: url('#{$icons-path}controls/light/history-manager.svg#enabled'); 
  --icon__controls_history-manager--hover: url('#{$icons-path}controls/light/history-manager.svg#hover'); 
  --icon__controls_history-manager--active: url('#{$icons-path}controls/light/history-manager.svg#active'); 
  --icon__controls_history-manager--disabled: url('#{$icons-path}controls/light/history-manager.svg#disabled'); 
  --icon__controls_gx-scheduler--enabled: url('#{$icons-path}controls/light/gx-scheduler.svg#enabled'); 
  --icon__controls_gx-scheduler--hover: url('#{$icons-path}controls/light/gx-scheduler.svg#hover'); 
  --icon__controls_gx-scheduler--active: url('#{$icons-path}controls/light/gx-scheduler.svg#active'); 
  --icon__controls_gx-scheduler--disabled: url('#{$icons-path}controls/light/gx-scheduler.svg#disabled'); 
  --icon__controls_group--enabled: url('#{$icons-path}controls/light/group.svg#enabled'); 
  --icon__controls_group--hover: url('#{$icons-path}controls/light/group.svg#hover'); 
  --icon__controls_group--active: url('#{$icons-path}controls/light/group.svg#active'); 
  --icon__controls_group--disabled: url('#{$icons-path}controls/light/group.svg#disabled'); 
  --icon__controls_grid--enabled: url('#{$icons-path}controls/light/grid.svg#enabled'); 
  --icon__controls_grid--hover: url('#{$icons-path}controls/light/grid.svg#hover'); 
  --icon__controls_grid--active: url('#{$icons-path}controls/light/grid.svg#active'); 
  --icon__controls_grid--disabled: url('#{$icons-path}controls/light/grid.svg#disabled'); 
  --icon__controls_google-geomap--enabled: url('#{$icons-path}controls/light/google-geomap.svg#enabled'); 
  --icon__controls_google-geomap--hover: url('#{$icons-path}controls/light/google-geomap.svg#hover'); 
  --icon__controls_google-geomap--active: url('#{$icons-path}controls/light/google-geomap.svg#active'); 
  --icon__controls_google-geomap--disabled: url('#{$icons-path}controls/light/google-geomap.svg#disabled'); 
  --icon__controls_google-charts--enabled: url('#{$icons-path}controls/light/google-charts.svg#enabled'); 
  --icon__controls_google-charts--hover: url('#{$icons-path}controls/light/google-charts.svg#hover'); 
  --icon__controls_google-charts--active: url('#{$icons-path}controls/light/google-charts.svg#active'); 
  --icon__controls_google-charts--disabled: url('#{$icons-path}controls/light/google-charts.svg#disabled'); 
  --icon__controls_google-annotated-tmeline--enabled: url('#{$icons-path}controls/light/google-annotated-tmeline.svg#enabled'); 
  --icon__controls_google-annotated-tmeline--hover: url('#{$icons-path}controls/light/google-annotated-tmeline.svg#hover'); 
  --icon__controls_google-annotated-tmeline--active: url('#{$icons-path}controls/light/google-annotated-tmeline.svg#active'); 
  --icon__controls_google-annotated-tmeline--disabled: url('#{$icons-path}controls/light/google-annotated-tmeline.svg#disabled'); 
  --icon__controls_google-analytics--enabled: url('#{$icons-path}controls/light/google-analytics.svg#enabled'); 
  --icon__controls_google-analytics--hover: url('#{$icons-path}controls/light/google-analytics.svg#hover'); 
  --icon__controls_google-analytics--active: url('#{$icons-path}controls/light/google-analytics.svg#active'); 
  --icon__controls_google-analytics--disabled: url('#{$icons-path}controls/light/google-analytics.svg#disabled'); 
  --icon__controls_free-style-grid--enabled: url('#{$icons-path}controls/light/free-style-grid.svg#enabled'); 
  --icon__controls_free-style-grid--hover: url('#{$icons-path}controls/light/free-style-grid.svg#hover'); 
  --icon__controls_free-style-grid--active: url('#{$icons-path}controls/light/free-style-grid.svg#active'); 
  --icon__controls_free-style-grid--disabled: url('#{$icons-path}controls/light/free-style-grid.svg#disabled'); 
  --icon__controls_font--enabled: url('#{$icons-path}controls/light/font.svg#enabled'); 
  --icon__controls_font--hover: url('#{$icons-path}controls/light/font.svg#hover'); 
  --icon__controls_font--active: url('#{$icons-path}controls/light/font.svg#active'); 
  --icon__controls_font--disabled: url('#{$icons-path}controls/light/font.svg#disabled'); 
  --icon__controls_flex--enabled: url('#{$icons-path}controls/light/flex.svg#enabled'); 
  --icon__controls_flex--hover: url('#{$icons-path}controls/light/flex.svg#hover'); 
  --icon__controls_flex--active: url('#{$icons-path}controls/light/flex.svg#active'); 
  --icon__controls_flex--disabled: url('#{$icons-path}controls/light/flex.svg#disabled'); 
  --icon__controls_file-upload--enabled: url('#{$icons-path}controls/light/file-upload.svg#enabled'); 
  --icon__controls_file-upload--hover: url('#{$icons-path}controls/light/file-upload.svg#hover'); 
  --icon__controls_file-upload--active: url('#{$icons-path}controls/light/file-upload.svg#active'); 
  --icon__controls_file-upload--disabled: url('#{$icons-path}controls/light/file-upload.svg#disabled'); 
  --icon__controls_error-viewer--enabled: url('#{$icons-path}controls/light/error-viewer.svg#enabled'); 
  --icon__controls_error-viewer--hover: url('#{$icons-path}controls/light/error-viewer.svg#hover'); 
  --icon__controls_error-viewer--active: url('#{$icons-path}controls/light/error-viewer.svg#active'); 
  --icon__controls_error-viewer--disabled: url('#{$icons-path}controls/light/error-viewer.svg#disabled'); 
  --icon__controls_embedded-page--enabled: url('#{$icons-path}controls/light/embedded-page.svg#enabled'); 
  --icon__controls_embedded-page--hover: url('#{$icons-path}controls/light/embedded-page.svg#hover'); 
  --icon__controls_embedded-page--active: url('#{$icons-path}controls/light/embedded-page.svg#active'); 
  --icon__controls_embedded-page--disabled: url('#{$icons-path}controls/light/embedded-page.svg#disabled'); 
  --icon__controls_default--enabled: url('#{$icons-path}controls/light/default.svg#enabled'); 
  --icon__controls_default--hover: url('#{$icons-path}controls/light/default.svg#hover'); 
  --icon__controls_default--active: url('#{$icons-path}controls/light/default.svg#active'); 
  --icon__controls_default--disabled: url('#{$icons-path}controls/light/default.svg#disabled'); 
  --icon__controls_component--enabled: url('#{$icons-path}controls/light/component.svg#enabled'); 
  --icon__controls_component--hover: url('#{$icons-path}controls/light/component.svg#hover'); 
  --icon__controls_component--active: url('#{$icons-path}controls/light/component.svg#active'); 
  --icon__controls_component--disabled: url('#{$icons-path}controls/light/component.svg#disabled'); 
  --icon__controls_class-html--enabled: url('#{$icons-path}controls/light/class-html.svg#enabled'); 
  --icon__controls_class-html--hover: url('#{$icons-path}controls/light/class-html.svg#hover'); 
  --icon__controls_class-html--active: url('#{$icons-path}controls/light/class-html.svg#active'); 
  --icon__controls_class-html--disabled: url('#{$icons-path}controls/light/class-html.svg#disabled'); 
  --icon__controls_canva--enabled: url('#{$icons-path}controls/light/canva.svg#enabled'); 
  --icon__controls_canva--hover: url('#{$icons-path}controls/light/canva.svg#hover'); 
  --icon__controls_canva--active: url('#{$icons-path}controls/light/canva.svg#active'); 
  --icon__controls_canva--disabled: url('#{$icons-path}controls/light/canva.svg#disabled'); 
  --icon__controls_call-target--enabled: url('#{$icons-path}controls/light/call-target.svg#enabled'); 
  --icon__controls_call-target--hover: url('#{$icons-path}controls/light/call-target.svg#hover'); 
  --icon__controls_call-target--active: url('#{$icons-path}controls/light/call-target.svg#active'); 
  --icon__controls_call-target--disabled: url('#{$icons-path}controls/light/call-target.svg#disabled'); 
  --icon__controls_button--enabled: url('#{$icons-path}controls/light/button.svg#enabled'); 
  --icon__controls_button--hover: url('#{$icons-path}controls/light/button.svg#hover'); 
  --icon__controls_button--active: url('#{$icons-path}controls/light/button.svg#active'); 
  --icon__controls_button--disabled: url('#{$icons-path}controls/light/button.svg#disabled'); 
  --icon__controls_button-group--enabled: url('#{$icons-path}controls/light/button-group.svg#enabled'); 
  --icon__controls_button-group--hover: url('#{$icons-path}controls/light/button-group.svg#hover'); 
  --icon__controls_button-group--active: url('#{$icons-path}controls/light/button-group.svg#active'); 
  --icon__controls_button-group--disabled: url('#{$icons-path}controls/light/button-group.svg#disabled'); 
  --icon__controls_action-group--enabled: url('#{$icons-path}controls/light/action-group.svg#enabled'); 
  --icon__controls_action-group--hover: url('#{$icons-path}controls/light/action-group.svg#hover'); 
  --icon__controls_action-group--active: url('#{$icons-path}controls/light/action-group.svg#active'); 
  --icon__controls_action-group--disabled: url('#{$icons-path}controls/light/action-group.svg#disabled'); 
  --icon__controls_action-group-item--enabled: url('#{$icons-path}controls/light/action-group-item.svg#enabled'); 
  --icon__controls_action-group-item--hover: url('#{$icons-path}controls/light/action-group-item.svg#hover'); 
  --icon__controls_action-group-item--active: url('#{$icons-path}controls/light/action-group-item.svg#active'); 
  --icon__controls_action-group-item--disabled: url('#{$icons-path}controls/light/action-group-item.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*controls*/
  --icon__controls_variable--enabled: url('#{$icons-path}controls/dark/variable.svg#enabled'); 
  --icon__controls_variable--hover: url('#{$icons-path}controls/dark/variable.svg#hover'); 
  --icon__controls_variable--active: url('#{$icons-path}controls/dark/variable.svg#active'); 
  --icon__controls_variable--disabled: url('#{$icons-path}controls/dark/variable.svg#disabled'); 
  --icon__controls_treeview--enabled: url('#{$icons-path}controls/dark/treeview.svg#enabled'); 
  --icon__controls_treeview--hover: url('#{$icons-path}controls/dark/treeview.svg#hover'); 
  --icon__controls_treeview--active: url('#{$icons-path}controls/dark/treeview.svg#active'); 
  --icon__controls_treeview--disabled: url('#{$icons-path}controls/dark/treeview.svg#disabled'); 
  --icon__controls_text-block--enabled: url('#{$icons-path}controls/dark/text-block.svg#enabled'); 
  --icon__controls_text-block--hover: url('#{$icons-path}controls/dark/text-block.svg#hover'); 
  --icon__controls_text-block--active: url('#{$icons-path}controls/dark/text-block.svg#active'); 
  --icon__controls_text-block--disabled: url('#{$icons-path}controls/dark/text-block.svg#disabled'); 
  --icon__controls_tag-html--enabled: url('#{$icons-path}controls/dark/tag-html.svg#enabled'); 
  --icon__controls_tag-html--hover: url('#{$icons-path}controls/dark/tag-html.svg#hover'); 
  --icon__controls_tag-html--active: url('#{$icons-path}controls/dark/tag-html.svg#active'); 
  --icon__controls_tag-html--disabled: url('#{$icons-path}controls/dark/tag-html.svg#disabled'); 
  --icon__controls_table--enabled: url('#{$icons-path}controls/dark/table.svg#enabled'); 
  --icon__controls_table--hover: url('#{$icons-path}controls/dark/table.svg#hover'); 
  --icon__controls_table--active: url('#{$icons-path}controls/dark/table.svg#active'); 
  --icon__controls_table--disabled: url('#{$icons-path}controls/dark/table.svg#disabled'); 
  --icon__controls_table-row--enabled: url('#{$icons-path}controls/dark/table-row.svg#enabled'); 
  --icon__controls_table-row--hover: url('#{$icons-path}controls/dark/table-row.svg#hover'); 
  --icon__controls_table-row--active: url('#{$icons-path}controls/dark/table-row.svg#active'); 
  --icon__controls_table-row--disabled: url('#{$icons-path}controls/dark/table-row.svg#disabled'); 
  --icon__controls_table-column--enabled: url('#{$icons-path}controls/dark/table-column.svg#enabled'); 
  --icon__controls_table-column--hover: url('#{$icons-path}controls/dark/table-column.svg#hover'); 
  --icon__controls_table-column--active: url('#{$icons-path}controls/dark/table-column.svg#active'); 
  --icon__controls_table-column--disabled: url('#{$icons-path}controls/dark/table-column.svg#disabled'); 
  --icon__controls_table-cell--enabled: url('#{$icons-path}controls/dark/table-cell.svg#enabled'); 
  --icon__controls_table-cell--hover: url('#{$icons-path}controls/dark/table-cell.svg#hover'); 
  --icon__controls_table-cell--active: url('#{$icons-path}controls/dark/table-cell.svg#active'); 
  --icon__controls_table-cell--disabled: url('#{$icons-path}controls/dark/table-cell.svg#disabled'); 
  --icon__controls_tab--enabled: url('#{$icons-path}controls/dark/tab.svg#enabled'); 
  --icon__controls_tab--hover: url('#{$icons-path}controls/dark/tab.svg#hover'); 
  --icon__controls_tab--active: url('#{$icons-path}controls/dark/tab.svg#active'); 
  --icon__controls_tab--disabled: url('#{$icons-path}controls/dark/tab.svg#disabled'); 
  --icon__controls_tab-page--enabled: url('#{$icons-path}controls/dark/tab-page.svg#enabled'); 
  --icon__controls_tab-page--hover: url('#{$icons-path}controls/dark/tab-page.svg#hover'); 
  --icon__controls_tab-page--active: url('#{$icons-path}controls/dark/tab-page.svg#active'); 
  --icon__controls_tab-page--disabled: url('#{$icons-path}controls/dark/tab-page.svg#disabled'); 
  --icon__controls_snippet--enabled: url('#{$icons-path}controls/dark/snippet.svg#enabled'); 
  --icon__controls_snippet--hover: url('#{$icons-path}controls/dark/snippet.svg#hover'); 
  --icon__controls_snippet--active: url('#{$icons-path}controls/dark/snippet.svg#active'); 
  --icon__controls_snippet--disabled: url('#{$icons-path}controls/dark/snippet.svg#disabled'); 
  --icon__controls_smart-table--enabled: url('#{$icons-path}controls/dark/smart-table.svg#enabled'); 
  --icon__controls_smart-table--hover: url('#{$icons-path}controls/dark/smart-table.svg#hover'); 
  --icon__controls_smart-table--active: url('#{$icons-path}controls/dark/smart-table.svg#active'); 
  --icon__controls_smart-table--disabled: url('#{$icons-path}controls/dark/smart-table.svg#disabled'); 
  --icon__controls_section--enabled: url('#{$icons-path}controls/dark/section.svg#enabled'); 
  --icon__controls_section--hover: url('#{$icons-path}controls/dark/section.svg#hover'); 
  --icon__controls_section--active: url('#{$icons-path}controls/dark/section.svg#active'); 
  --icon__controls_section--disabled: url('#{$icons-path}controls/dark/section.svg#disabled'); 
  --icon__controls_pop-up--enabled: url('#{$icons-path}controls/dark/pop-up.svg#enabled'); 
  --icon__controls_pop-up--hover: url('#{$icons-path}controls/dark/pop-up.svg#hover'); 
  --icon__controls_pop-up--active: url('#{$icons-path}controls/dark/pop-up.svg#active'); 
  --icon__controls_pop-up--disabled: url('#{$icons-path}controls/dark/pop-up.svg#disabled'); 
  --icon__controls_messages--enabled: url('#{$icons-path}controls/dark/messages.svg#enabled'); 
  --icon__controls_messages--hover: url('#{$icons-path}controls/dark/messages.svg#hover'); 
  --icon__controls_messages--active: url('#{$icons-path}controls/dark/messages.svg#active'); 
  --icon__controls_messages--disabled: url('#{$icons-path}controls/dark/messages.svg#disabled'); 
  --icon__controls_media-player--enabled: url('#{$icons-path}controls/dark/media-player.svg#enabled'); 
  --icon__controls_media-player--hover: url('#{$icons-path}controls/dark/media-player.svg#hover'); 
  --icon__controls_media-player--active: url('#{$icons-path}controls/dark/media-player.svg#active'); 
  --icon__controls_media-player--disabled: url('#{$icons-path}controls/dark/media-player.svg#disabled'); 
  --icon__controls_id-html--enabled: url('#{$icons-path}controls/dark/id-html.svg#enabled'); 
  --icon__controls_id-html--hover: url('#{$icons-path}controls/dark/id-html.svg#hover'); 
  --icon__controls_id-html--active: url('#{$icons-path}controls/dark/id-html.svg#active'); 
  --icon__controls_id-html--disabled: url('#{$icons-path}controls/dark/id-html.svg#disabled'); 
  --icon__controls_hyperlink--enabled: url('#{$icons-path}controls/dark/hyperlink.svg#enabled'); 
  --icon__controls_hyperlink--hover: url('#{$icons-path}controls/dark/hyperlink.svg#hover'); 
  --icon__controls_hyperlink--active: url('#{$icons-path}controls/dark/hyperlink.svg#active'); 
  --icon__controls_hyperlink--disabled: url('#{$icons-path}controls/dark/hyperlink.svg#disabled'); 
  --icon__controls_html--enabled: url('#{$icons-path}controls/dark/html.svg#enabled'); 
  --icon__controls_html--hover: url('#{$icons-path}controls/dark/html.svg#hover'); 
  --icon__controls_html--active: url('#{$icons-path}controls/dark/html.svg#active'); 
  --icon__controls_html--disabled: url('#{$icons-path}controls/dark/html.svg#disabled'); 
  --icon__controls_horizontal-line--enabled: url('#{$icons-path}controls/dark/horizontal-line.svg#enabled'); 
  --icon__controls_horizontal-line--hover: url('#{$icons-path}controls/dark/horizontal-line.svg#hover'); 
  --icon__controls_horizontal-line--active: url('#{$icons-path}controls/dark/horizontal-line.svg#active'); 
  --icon__controls_horizontal-line--disabled: url('#{$icons-path}controls/dark/horizontal-line.svg#disabled'); 
  --icon__controls_history-manager--enabled: url('#{$icons-path}controls/dark/history-manager.svg#enabled'); 
  --icon__controls_history-manager--hover: url('#{$icons-path}controls/dark/history-manager.svg#hover'); 
  --icon__controls_history-manager--active: url('#{$icons-path}controls/dark/history-manager.svg#active'); 
  --icon__controls_history-manager--disabled: url('#{$icons-path}controls/dark/history-manager.svg#disabled'); 
  --icon__controls_gx-scheduler--enabled: url('#{$icons-path}controls/dark/gx-scheduler.svg#enabled'); 
  --icon__controls_gx-scheduler--hover: url('#{$icons-path}controls/dark/gx-scheduler.svg#hover'); 
  --icon__controls_gx-scheduler--active: url('#{$icons-path}controls/dark/gx-scheduler.svg#active'); 
  --icon__controls_gx-scheduler--disabled: url('#{$icons-path}controls/dark/gx-scheduler.svg#disabled'); 
  --icon__controls_group--enabled: url('#{$icons-path}controls/dark/group.svg#enabled'); 
  --icon__controls_group--hover: url('#{$icons-path}controls/dark/group.svg#hover'); 
  --icon__controls_group--active: url('#{$icons-path}controls/dark/group.svg#active'); 
  --icon__controls_group--disabled: url('#{$icons-path}controls/dark/group.svg#disabled'); 
  --icon__controls_grid--enabled: url('#{$icons-path}controls/dark/grid.svg#enabled'); 
  --icon__controls_grid--hover: url('#{$icons-path}controls/dark/grid.svg#hover'); 
  --icon__controls_grid--active: url('#{$icons-path}controls/dark/grid.svg#active'); 
  --icon__controls_grid--disabled: url('#{$icons-path}controls/dark/grid.svg#disabled'); 
  --icon__controls_google-geomap--enabled: url('#{$icons-path}controls/dark/google-geomap.svg#enabled'); 
  --icon__controls_google-geomap--hover: url('#{$icons-path}controls/dark/google-geomap.svg#hover'); 
  --icon__controls_google-geomap--active: url('#{$icons-path}controls/dark/google-geomap.svg#active'); 
  --icon__controls_google-geomap--disabled: url('#{$icons-path}controls/dark/google-geomap.svg#disabled'); 
  --icon__controls_google-charts--enabled: url('#{$icons-path}controls/dark/google-charts.svg#enabled'); 
  --icon__controls_google-charts--hover: url('#{$icons-path}controls/dark/google-charts.svg#hover'); 
  --icon__controls_google-charts--active: url('#{$icons-path}controls/dark/google-charts.svg#active'); 
  --icon__controls_google-charts--disabled: url('#{$icons-path}controls/dark/google-charts.svg#disabled'); 
  --icon__controls_google-annotated-tmeline--enabled: url('#{$icons-path}controls/dark/google-annotated-tmeline.svg#enabled'); 
  --icon__controls_google-annotated-tmeline--hover: url('#{$icons-path}controls/dark/google-annotated-tmeline.svg#hover'); 
  --icon__controls_google-annotated-tmeline--active: url('#{$icons-path}controls/dark/google-annotated-tmeline.svg#active'); 
  --icon__controls_google-annotated-tmeline--disabled: url('#{$icons-path}controls/dark/google-annotated-tmeline.svg#disabled'); 
  --icon__controls_google-analytics--enabled: url('#{$icons-path}controls/dark/google-analytics.svg#enabled'); 
  --icon__controls_google-analytics--hover: url('#{$icons-path}controls/dark/google-analytics.svg#hover'); 
  --icon__controls_google-analytics--active: url('#{$icons-path}controls/dark/google-analytics.svg#active'); 
  --icon__controls_google-analytics--disabled: url('#{$icons-path}controls/dark/google-analytics.svg#disabled'); 
  --icon__controls_free-style-grid--enabled: url('#{$icons-path}controls/dark/free-style-grid.svg#enabled'); 
  --icon__controls_free-style-grid--hover: url('#{$icons-path}controls/dark/free-style-grid.svg#hover'); 
  --icon__controls_free-style-grid--active: url('#{$icons-path}controls/dark/free-style-grid.svg#active'); 
  --icon__controls_free-style-grid--disabled: url('#{$icons-path}controls/dark/free-style-grid.svg#disabled'); 
  --icon__controls_font--enabled: url('#{$icons-path}controls/dark/font.svg#enabled'); 
  --icon__controls_font--hover: url('#{$icons-path}controls/dark/font.svg#hover'); 
  --icon__controls_font--active: url('#{$icons-path}controls/dark/font.svg#active'); 
  --icon__controls_font--disabled: url('#{$icons-path}controls/dark/font.svg#disabled'); 
  --icon__controls_flex--enabled: url('#{$icons-path}controls/dark/flex.svg#enabled'); 
  --icon__controls_flex--hover: url('#{$icons-path}controls/dark/flex.svg#hover'); 
  --icon__controls_flex--active: url('#{$icons-path}controls/dark/flex.svg#active'); 
  --icon__controls_flex--disabled: url('#{$icons-path}controls/dark/flex.svg#disabled'); 
  --icon__controls_file-upload--enabled: url('#{$icons-path}controls/dark/file-upload.svg#enabled'); 
  --icon__controls_file-upload--hover: url('#{$icons-path}controls/dark/file-upload.svg#hover'); 
  --icon__controls_file-upload--active: url('#{$icons-path}controls/dark/file-upload.svg#active'); 
  --icon__controls_file-upload--disabled: url('#{$icons-path}controls/dark/file-upload.svg#disabled'); 
  --icon__controls_error-viewer--enabled: url('#{$icons-path}controls/dark/error-viewer.svg#enabled'); 
  --icon__controls_error-viewer--hover: url('#{$icons-path}controls/dark/error-viewer.svg#hover'); 
  --icon__controls_error-viewer--active: url('#{$icons-path}controls/dark/error-viewer.svg#active'); 
  --icon__controls_error-viewer--disabled: url('#{$icons-path}controls/dark/error-viewer.svg#disabled'); 
  --icon__controls_embedded-page--enabled: url('#{$icons-path}controls/dark/embedded-page.svg#enabled'); 
  --icon__controls_embedded-page--hover: url('#{$icons-path}controls/dark/embedded-page.svg#hover'); 
  --icon__controls_embedded-page--active: url('#{$icons-path}controls/dark/embedded-page.svg#active'); 
  --icon__controls_embedded-page--disabled: url('#{$icons-path}controls/dark/embedded-page.svg#disabled'); 
  --icon__controls_default--enabled: url('#{$icons-path}controls/dark/default.svg#enabled'); 
  --icon__controls_default--hover: url('#{$icons-path}controls/dark/default.svg#hover'); 
  --icon__controls_default--active: url('#{$icons-path}controls/dark/default.svg#active'); 
  --icon__controls_default--disabled: url('#{$icons-path}controls/dark/default.svg#disabled'); 
  --icon__controls_component--enabled: url('#{$icons-path}controls/dark/component.svg#enabled'); 
  --icon__controls_component--hover: url('#{$icons-path}controls/dark/component.svg#hover'); 
  --icon__controls_component--active: url('#{$icons-path}controls/dark/component.svg#active'); 
  --icon__controls_component--disabled: url('#{$icons-path}controls/dark/component.svg#disabled'); 
  --icon__controls_class-html--enabled: url('#{$icons-path}controls/dark/class-html.svg#enabled'); 
  --icon__controls_class-html--hover: url('#{$icons-path}controls/dark/class-html.svg#hover'); 
  --icon__controls_class-html--active: url('#{$icons-path}controls/dark/class-html.svg#active'); 
  --icon__controls_class-html--disabled: url('#{$icons-path}controls/dark/class-html.svg#disabled'); 
  --icon__controls_canva--enabled: url('#{$icons-path}controls/dark/canva.svg#enabled'); 
  --icon__controls_canva--hover: url('#{$icons-path}controls/dark/canva.svg#hover'); 
  --icon__controls_canva--active: url('#{$icons-path}controls/dark/canva.svg#active'); 
  --icon__controls_canva--disabled: url('#{$icons-path}controls/dark/canva.svg#disabled'); 
  --icon__controls_call-target--enabled: url('#{$icons-path}controls/dark/call-target.svg#enabled'); 
  --icon__controls_call-target--hover: url('#{$icons-path}controls/dark/call-target.svg#hover'); 
  --icon__controls_call-target--active: url('#{$icons-path}controls/dark/call-target.svg#active'); 
  --icon__controls_call-target--disabled: url('#{$icons-path}controls/dark/call-target.svg#disabled'); 
  --icon__controls_button--enabled: url('#{$icons-path}controls/dark/button.svg#enabled'); 
  --icon__controls_button--hover: url('#{$icons-path}controls/dark/button.svg#hover'); 
  --icon__controls_button--active: url('#{$icons-path}controls/dark/button.svg#active'); 
  --icon__controls_button--disabled: url('#{$icons-path}controls/dark/button.svg#disabled'); 
  --icon__controls_button-group--enabled: url('#{$icons-path}controls/dark/button-group.svg#enabled'); 
  --icon__controls_button-group--hover: url('#{$icons-path}controls/dark/button-group.svg#hover'); 
  --icon__controls_button-group--active: url('#{$icons-path}controls/dark/button-group.svg#active'); 
  --icon__controls_button-group--disabled: url('#{$icons-path}controls/dark/button-group.svg#disabled'); 
  --icon__controls_action-group--enabled: url('#{$icons-path}controls/dark/action-group.svg#enabled'); 
  --icon__controls_action-group--hover: url('#{$icons-path}controls/dark/action-group.svg#hover'); 
  --icon__controls_action-group--active: url('#{$icons-path}controls/dark/action-group.svg#active'); 
  --icon__controls_action-group--disabled: url('#{$icons-path}controls/dark/action-group.svg#disabled'); 
  --icon__controls_action-group-item--enabled: url('#{$icons-path}controls/dark/action-group-item.svg#enabled'); 
  --icon__controls_action-group-item--hover: url('#{$icons-path}controls/dark/action-group-item.svg#hover'); 
  --icon__controls_action-group-item--active: url('#{$icons-path}controls/dark/action-group-item.svg#active'); 
  --icon__controls_action-group-item--disabled: url('#{$icons-path}controls/dark/action-group-item.svg#disabled'); 

  }
  