
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*editing-structures*/
  --icon-mer__editing-structures_user-index--enabled: url('#{$icons-path}editing-structures/light/user-index.svg#enabled'); 
  --icon-mer__editing-structures_user-index--hover: url('#{$icons-path}editing-structures/light/user-index.svg#hover'); 
  --icon-mer__editing-structures_user-index--active: url('#{$icons-path}editing-structures/light/user-index.svg#active'); 
  --icon-mer__editing-structures_user-index--disabled: url('#{$icons-path}editing-structures/light/user-index.svg#disabled'); 
  --icon-mer__editing-structures_system-index--enabled: url('#{$icons-path}editing-structures/light/system-index.svg#enabled'); 
  --icon-mer__editing-structures_system-index--hover: url('#{$icons-path}editing-structures/light/system-index.svg#hover'); 
  --icon-mer__editing-structures_system-index--active: url('#{$icons-path}editing-structures/light/system-index.svg#active'); 
  --icon-mer__editing-structures_system-index--disabled: url('#{$icons-path}editing-structures/light/system-index.svg#disabled'); 
  --icon-mer__editing-structures_redundant-attribute--enabled: url('#{$icons-path}editing-structures/light/redundant-attribute.svg#enabled'); 
  --icon-mer__editing-structures_redundant-attribute--hover: url('#{$icons-path}editing-structures/light/redundant-attribute.svg#hover'); 
  --icon-mer__editing-structures_redundant-attribute--active: url('#{$icons-path}editing-structures/light/redundant-attribute.svg#active'); 
  --icon-mer__editing-structures_redundant-attribute--disabled: url('#{$icons-path}editing-structures/light/redundant-attribute.svg#disabled'); 
  --icon-mer__editing-structures_platforms--enabled: url('#{$icons-path}editing-structures/light/platforms.svg#enabled'); 
  --icon-mer__editing-structures_platforms--hover: url('#{$icons-path}editing-structures/light/platforms.svg#hover'); 
  --icon-mer__editing-structures_platforms--active: url('#{$icons-path}editing-structures/light/platforms.svg#active'); 
  --icon-mer__editing-structures_platforms--disabled: url('#{$icons-path}editing-structures/light/platforms.svg#disabled'); 
  --icon-mer__editing-structures_logical-attributes--enabled: url('#{$icons-path}editing-structures/light/logical-attributes.svg#enabled'); 
  --icon-mer__editing-structures_logical-attributes--hover: url('#{$icons-path}editing-structures/light/logical-attributes.svg#hover'); 
  --icon-mer__editing-structures_logical-attributes--active: url('#{$icons-path}editing-structures/light/logical-attributes.svg#active'); 
  --icon-mer__editing-structures_logical-attributes--disabled: url('#{$icons-path}editing-structures/light/logical-attributes.svg#disabled'); 
  --icon-mer__editing-structures_formula-redundant--enabled: url('#{$icons-path}editing-structures/light/formula-redundant.svg#enabled'); 
  --icon-mer__editing-structures_formula-redundant--hover: url('#{$icons-path}editing-structures/light/formula-redundant.svg#hover'); 
  --icon-mer__editing-structures_formula-redundant--active: url('#{$icons-path}editing-structures/light/formula-redundant.svg#active'); 
  --icon-mer__editing-structures_formula-redundant--disabled: url('#{$icons-path}editing-structures/light/formula-redundant.svg#disabled'); 
  --icon-mer__editing-structures_default--enabled: url('#{$icons-path}editing-structures/light/default.svg#enabled'); 
  --icon-mer__editing-structures_default--hover: url('#{$icons-path}editing-structures/light/default.svg#hover'); 
  --icon-mer__editing-structures_default--active: url('#{$icons-path}editing-structures/light/default.svg#active'); 
  --icon-mer__editing-structures_default--disabled: url('#{$icons-path}editing-structures/light/default.svg#disabled'); 
  --icon-mer__editing-structures_attribute-key--enabled: url('#{$icons-path}editing-structures/light/attribute-key.svg#enabled'); 
  --icon-mer__editing-structures_attribute-key--hover: url('#{$icons-path}editing-structures/light/attribute-key.svg#hover'); 
  --icon-mer__editing-structures_attribute-key--active: url('#{$icons-path}editing-structures/light/attribute-key.svg#active'); 
  --icon-mer__editing-structures_attribute-key--disabled: url('#{$icons-path}editing-structures/light/attribute-key.svg#disabled'); 
  --icon-mer__editing-structures_attribute-formula--enabled: url('#{$icons-path}editing-structures/light/attribute-formula.svg#enabled'); 
  --icon-mer__editing-structures_attribute-formula--hover: url('#{$icons-path}editing-structures/light/attribute-formula.svg#hover'); 
  --icon-mer__editing-structures_attribute-formula--active: url('#{$icons-path}editing-structures/light/attribute-formula.svg#active'); 
  --icon-mer__editing-structures_attribute-formula--disabled: url('#{$icons-path}editing-structures/light/attribute-formula.svg#disabled'); 
  --icon-mer__editing-structures_attribute-description--enabled: url('#{$icons-path}editing-structures/light/attribute-description.svg#enabled'); 
  --icon-mer__editing-structures_attribute-description--hover: url('#{$icons-path}editing-structures/light/attribute-description.svg#hover'); 
  --icon-mer__editing-structures_attribute-description--active: url('#{$icons-path}editing-structures/light/attribute-description.svg#active'); 
  --icon-mer__editing-structures_attribute-description--disabled: url('#{$icons-path}editing-structures/light/attribute-description.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*editing-structures*/
  --icon-mer__editing-structures_user-index--enabled: url('#{$icons-path}editing-structures/dark/user-index.svg#enabled'); 
  --icon-mer__editing-structures_user-index--hover: url('#{$icons-path}editing-structures/dark/user-index.svg#hover'); 
  --icon-mer__editing-structures_user-index--active: url('#{$icons-path}editing-structures/dark/user-index.svg#active'); 
  --icon-mer__editing-structures_user-index--disabled: url('#{$icons-path}editing-structures/dark/user-index.svg#disabled'); 
  --icon-mer__editing-structures_system-index--enabled: url('#{$icons-path}editing-structures/dark/system-index.svg#enabled'); 
  --icon-mer__editing-structures_system-index--hover: url('#{$icons-path}editing-structures/dark/system-index.svg#hover'); 
  --icon-mer__editing-structures_system-index--active: url('#{$icons-path}editing-structures/dark/system-index.svg#active'); 
  --icon-mer__editing-structures_system-index--disabled: url('#{$icons-path}editing-structures/dark/system-index.svg#disabled'); 
  --icon-mer__editing-structures_redundant-attribute--enabled: url('#{$icons-path}editing-structures/dark/redundant-attribute.svg#enabled'); 
  --icon-mer__editing-structures_redundant-attribute--hover: url('#{$icons-path}editing-structures/dark/redundant-attribute.svg#hover'); 
  --icon-mer__editing-structures_redundant-attribute--active: url('#{$icons-path}editing-structures/dark/redundant-attribute.svg#active'); 
  --icon-mer__editing-structures_redundant-attribute--disabled: url('#{$icons-path}editing-structures/dark/redundant-attribute.svg#disabled'); 
  --icon-mer__editing-structures_platforms--enabled: url('#{$icons-path}editing-structures/dark/platforms.svg#enabled'); 
  --icon-mer__editing-structures_platforms--hover: url('#{$icons-path}editing-structures/dark/platforms.svg#hover'); 
  --icon-mer__editing-structures_platforms--active: url('#{$icons-path}editing-structures/dark/platforms.svg#active'); 
  --icon-mer__editing-structures_platforms--disabled: url('#{$icons-path}editing-structures/dark/platforms.svg#disabled'); 
  --icon-mer__editing-structures_logical-attributes--enabled: url('#{$icons-path}editing-structures/dark/logical-attributes.svg#enabled'); 
  --icon-mer__editing-structures_logical-attributes--hover: url('#{$icons-path}editing-structures/dark/logical-attributes.svg#hover'); 
  --icon-mer__editing-structures_logical-attributes--active: url('#{$icons-path}editing-structures/dark/logical-attributes.svg#active'); 
  --icon-mer__editing-structures_logical-attributes--disabled: url('#{$icons-path}editing-structures/dark/logical-attributes.svg#disabled'); 
  --icon-mer__editing-structures_formula-redundant--enabled: url('#{$icons-path}editing-structures/dark/formula-redundant.svg#enabled'); 
  --icon-mer__editing-structures_formula-redundant--hover: url('#{$icons-path}editing-structures/dark/formula-redundant.svg#hover'); 
  --icon-mer__editing-structures_formula-redundant--active: url('#{$icons-path}editing-structures/dark/formula-redundant.svg#active'); 
  --icon-mer__editing-structures_formula-redundant--disabled: url('#{$icons-path}editing-structures/dark/formula-redundant.svg#disabled'); 
  --icon-mer__editing-structures_default--enabled: url('#{$icons-path}editing-structures/dark/default.svg#enabled'); 
  --icon-mer__editing-structures_default--hover: url('#{$icons-path}editing-structures/dark/default.svg#hover'); 
  --icon-mer__editing-structures_default--active: url('#{$icons-path}editing-structures/dark/default.svg#active'); 
  --icon-mer__editing-structures_default--disabled: url('#{$icons-path}editing-structures/dark/default.svg#disabled'); 
  --icon-mer__editing-structures_attribute-key--enabled: url('#{$icons-path}editing-structures/dark/attribute-key.svg#enabled'); 
  --icon-mer__editing-structures_attribute-key--hover: url('#{$icons-path}editing-structures/dark/attribute-key.svg#hover'); 
  --icon-mer__editing-structures_attribute-key--active: url('#{$icons-path}editing-structures/dark/attribute-key.svg#active'); 
  --icon-mer__editing-structures_attribute-key--disabled: url('#{$icons-path}editing-structures/dark/attribute-key.svg#disabled'); 
  --icon-mer__editing-structures_attribute-formula--enabled: url('#{$icons-path}editing-structures/dark/attribute-formula.svg#enabled'); 
  --icon-mer__editing-structures_attribute-formula--hover: url('#{$icons-path}editing-structures/dark/attribute-formula.svg#hover'); 
  --icon-mer__editing-structures_attribute-formula--active: url('#{$icons-path}editing-structures/dark/attribute-formula.svg#active'); 
  --icon-mer__editing-structures_attribute-formula--disabled: url('#{$icons-path}editing-structures/dark/attribute-formula.svg#disabled'); 
  --icon-mer__editing-structures_attribute-description--enabled: url('#{$icons-path}editing-structures/dark/attribute-description.svg#enabled'); 
  --icon-mer__editing-structures_attribute-description--hover: url('#{$icons-path}editing-structures/dark/attribute-description.svg#hover'); 
  --icon-mer__editing-structures_attribute-description--active: url('#{$icons-path}editing-structures/dark/attribute-description.svg#active'); 
  --icon-mer__editing-structures_attribute-description--disabled: url('#{$icons-path}editing-structures/dark/attribute-description.svg#disabled'); 

  }
  