%icon__general {
      

  /* =================================
  LIGHT PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    version.svg 
    - - - - - - - - - - - - */
    
    &_version--enabled {
      --icon-path: var(--icon__general_version--enabled);
    }
    &_version--hover {
      --icon-path: var(--icon__general_version--hover);
    }
    &_version--active {
      --icon-path: var(--icon__general_version--active);
    }
    &_version--disabled {
      --icon-path: var(--icon__general_version--disabled);
    }

    /* - - - - - - - - - - - - 
    swift.svg 
    - - - - - - - - - - - - */
    
    &_swift--enabled {
      --icon-path: var(--icon__general_swift--enabled);
    }
    &_swift--hover {
      --icon-path: var(--icon__general_swift--hover);
    }
    &_swift--active {
      --icon-path: var(--icon__general_swift--active);
    }
    &_swift--disabled {
      --icon-path: var(--icon__general_swift--disabled);
    }

    /* - - - - - - - - - - - - 
    sql-server.svg 
    - - - - - - - - - - - - */
    
    &_sql-server--enabled {
      --icon-path: var(--icon__general_sql-server--enabled);
    }
    &_sql-server--hover {
      --icon-path: var(--icon__general_sql-server--hover);
    }
    &_sql-server--active {
      --icon-path: var(--icon__general_sql-server--active);
    }
    &_sql-server--disabled {
      --icon-path: var(--icon__general_sql-server--disabled);
    }

    /* - - - - - - - - - - - - 
    services.svg 
    - - - - - - - - - - - - */
    
    &_services--enabled {
      --icon-path: var(--icon__general_services--enabled);
    }
    &_services--hover {
      --icon-path: var(--icon__general_services--hover);
    }
    &_services--active {
      --icon-path: var(--icon__general_services--active);
    }
    &_services--disabled {
      --icon-path: var(--icon__general_services--disabled);
    }

    /* - - - - - - - - - - - - 
    sd.svg 
    - - - - - - - - - - - - */
    
    &_sd--enabled {
      --icon-path: var(--icon__general_sd--enabled);
    }
    &_sd--hover {
      --icon-path: var(--icon__general_sd--hover);
    }
    &_sd--active {
      --icon-path: var(--icon__general_sd--active);
    }
    &_sd--disabled {
      --icon-path: var(--icon__general_sd--disabled);
    }

    /* - - - - - - - - - - - - 
    sd-web.svg 
    - - - - - - - - - - - - */
    
    &_sd-web--enabled {
      --icon-path: var(--icon__general_sd-web--enabled);
    }
    &_sd-web--hover {
      --icon-path: var(--icon__general_sd-web--hover);
    }
    &_sd-web--active {
      --icon-path: var(--icon__general_sd-web--active);
    }
    &_sd-web--disabled {
      --icon-path: var(--icon__general_sd-web--disabled);
    }

    /* - - - - - - - - - - - - 
    sap-hana.svg 
    - - - - - - - - - - - - */
    
    &_sap-hana--enabled {
      --icon-path: var(--icon__general_sap-hana--enabled);
    }
    &_sap-hana--hover {
      --icon-path: var(--icon__general_sap-hana--hover);
    }
    &_sap-hana--active {
      --icon-path: var(--icon__general_sap-hana--active);
    }
    &_sap-hana--disabled {
      --icon-path: var(--icon__general_sap-hana--disabled);
    }

    /* - - - - - - - - - - - - 
    references.svg 
    - - - - - - - - - - - - */
    
    &_references--enabled {
      --icon-path: var(--icon__general_references--enabled);
    }
    &_references--hover {
      --icon-path: var(--icon__general_references--hover);
    }
    &_references--active {
      --icon-path: var(--icon__general_references--active);
    }
    &_references--disabled {
      --icon-path: var(--icon__general_references--disabled);
    }

    /* - - - - - - - - - - - - 
    postgre-sql.svg 
    - - - - - - - - - - - - */
    
    &_postgre-sql--enabled {
      --icon-path: var(--icon__general_postgre-sql--enabled);
    }
    &_postgre-sql--hover {
      --icon-path: var(--icon__general_postgre-sql--hover);
    }
    &_postgre-sql--active {
      --icon-path: var(--icon__general_postgre-sql--active);
    }
    &_postgre-sql--disabled {
      --icon-path: var(--icon__general_postgre-sql--disabled);
    }

    /* - - - - - - - - - - - - 
    patterns.svg 
    - - - - - - - - - - - - */
    
    &_patterns--enabled {
      --icon-path: var(--icon__general_patterns--enabled);
    }
    &_patterns--hover {
      --icon-path: var(--icon__general_patterns--hover);
    }
    &_patterns--active {
      --icon-path: var(--icon__general_patterns--active);
    }
    &_patterns--disabled {
      --icon-path: var(--icon__general_patterns--disabled);
    }

    /* - - - - - - - - - - - - 
    oracle.svg 
    - - - - - - - - - - - - */
    
    &_oracle--enabled {
      --icon-path: var(--icon__general_oracle--enabled);
    }
    &_oracle--hover {
      --icon-path: var(--icon__general_oracle--hover);
    }
    &_oracle--active {
      --icon-path: var(--icon__general_oracle--active);
    }
    &_oracle--disabled {
      --icon-path: var(--icon__general_oracle--disabled);
    }

    /* - - - - - - - - - - - - 
    launchpad.svg 
    - - - - - - - - - - - - */
    
    &_launchpad--enabled {
      --icon-path: var(--icon__general_launchpad--enabled);
    }
    &_launchpad--hover {
      --icon-path: var(--icon__general_launchpad--hover);
    }
    &_launchpad--active {
      --icon-path: var(--icon__general_launchpad--active);
    }
    &_launchpad--disabled {
      --icon-path: var(--icon__general_launchpad--disabled);
    }

    /* - - - - - - - - - - - - 
    knowledge-base.svg 
    - - - - - - - - - - - - */
    
    &_knowledge-base--enabled {
      --icon-path: var(--icon__general_knowledge-base--enabled);
    }
    &_knowledge-base--hover {
      --icon-path: var(--icon__general_knowledge-base--hover);
    }
    &_knowledge-base--active {
      --icon-path: var(--icon__general_knowledge-base--active);
    }
    &_knowledge-base--disabled {
      --icon-path: var(--icon__general_knowledge-base--disabled);
    }

    /* - - - - - - - - - - - - 
    java.svg 
    - - - - - - - - - - - - */
    
    &_java--enabled {
      --icon-path: var(--icon__general_java--enabled);
    }
    &_java--hover {
      --icon-path: var(--icon__general_java--hover);
    }
    &_java--active {
      --icon-path: var(--icon__general_java--active);
    }
    &_java--disabled {
      --icon-path: var(--icon__general_java--disabled);
    }

    /* - - - - - - - - - - - - 
    informix.svg 
    - - - - - - - - - - - - */
    
    &_informix--enabled {
      --icon-path: var(--icon__general_informix--enabled);
    }
    &_informix--hover {
      --icon-path: var(--icon__general_informix--hover);
    }
    &_informix--active {
      --icon-path: var(--icon__general_informix--active);
    }
    &_informix--disabled {
      --icon-path: var(--icon__general_informix--disabled);
    }

    /* - - - - - - - - - - - - 
    generator.svg 
    - - - - - - - - - - - - */
    
    &_generator--enabled {
      --icon-path: var(--icon__general_generator--enabled);
    }
    &_generator--hover {
      --icon-path: var(--icon__general_generator--hover);
    }
    &_generator--active {
      --icon-path: var(--icon__general_generator--active);
    }
    &_generator--disabled {
      --icon-path: var(--icon__general_generator--disabled);
    }

    /* - - - - - - - - - - - - 
    environment-select.svg 
    - - - - - - - - - - - - */
    
    &_environment-select--enabled {
      --icon-path: var(--icon__general_environment-select--enabled);
    }
    &_environment-select--hover {
      --icon-path: var(--icon__general_environment-select--hover);
    }
    &_environment-select--active {
      --icon-path: var(--icon__general_environment-select--active);
    }
    &_environment-select--disabled {
      --icon-path: var(--icon__general_environment-select--disabled);
    }

    /* - - - - - - - - - - - - 
    environment-no-select.svg 
    - - - - - - - - - - - - */
    
    &_environment-no-select--enabled {
      --icon-path: var(--icon__general_environment-no-select--enabled);
    }
    &_environment-no-select--hover {
      --icon-path: var(--icon__general_environment-no-select--hover);
    }
    &_environment-no-select--active {
      --icon-path: var(--icon__general_environment-no-select--active);
    }
    &_environment-no-select--disabled {
      --icon-path: var(--icon__general_environment-no-select--disabled);
    }

    /* - - - - - - - - - - - - 
    db2.svg 
    - - - - - - - - - - - - */
    
    &_db2--enabled {
      --icon-path: var(--icon__general_db2--enabled);
    }
    &_db2--hover {
      --icon-path: var(--icon__general_db2--hover);
    }
    &_db2--active {
      --icon-path: var(--icon__general_db2--active);
    }
    &_db2--disabled {
      --icon-path: var(--icon__general_db2--disabled);
    }

    /* - - - - - - - - - - - - 
    datastore.svg 
    - - - - - - - - - - - - */
    
    &_datastore--enabled {
      --icon-path: var(--icon__general_datastore--enabled);
    }
    &_datastore--hover {
      --icon-path: var(--icon__general_datastore--hover);
    }
    &_datastore--active {
      --icon-path: var(--icon__general_datastore--active);
    }
    &_datastore--disabled {
      --icon-path: var(--icon__general_datastore--disabled);
    }

    /* - - - - - - - - - - - - 
    customization.svg 
    - - - - - - - - - - - - */
    
    &_customization--enabled {
      --icon-path: var(--icon__general_customization--enabled);
    }
    &_customization--hover {
      --icon-path: var(--icon__general_customization--hover);
    }
    &_customization--active {
      --icon-path: var(--icon__general_customization--active);
    }
    &_customization--disabled {
      --icon-path: var(--icon__general_customization--disabled);
    }

    /* - - - - - - - - - - - - 
    csharp.svg 
    - - - - - - - - - - - - */
    
    &_csharp--enabled {
      --icon-path: var(--icon__general_csharp--enabled);
    }
    &_csharp--hover {
      --icon-path: var(--icon__general_csharp--hover);
    }
    &_csharp--active {
      --icon-path: var(--icon__general_csharp--active);
    }
    &_csharp--disabled {
      --icon-path: var(--icon__general_csharp--disabled);
    }

    /* - - - - - - - - - - - - 
    apple.svg 
    - - - - - - - - - - - - */
    
    &_apple--enabled {
      --icon-path: var(--icon__general_apple--enabled);
    }
    &_apple--hover {
      --icon-path: var(--icon__general_apple--hover);
    }
    &_apple--active {
      --icon-path: var(--icon__general_apple--active);
    }
    &_apple--disabled {
      --icon-path: var(--icon__general_apple--disabled);
    }

    /* - - - - - - - - - - - - 
    angular.svg 
    - - - - - - - - - - - - */
    
    &_angular--enabled {
      --icon-path: var(--icon__general_angular--enabled);
    }
    &_angular--hover {
      --icon-path: var(--icon__general_angular--hover);
    }
    &_angular--active {
      --icon-path: var(--icon__general_angular--active);
    }
    &_angular--disabled {
      --icon-path: var(--icon__general_angular--disabled);
    }

    /* - - - - - - - - - - - - 
    android.svg 
    - - - - - - - - - - - - */
    
    &_android--enabled {
      --icon-path: var(--icon__general_android--enabled);
    }
    &_android--hover {
      --icon-path: var(--icon__general_android--hover);
    }
    &_android--active {
      --icon-path: var(--icon__general_android--active);
    }
    &_android--disabled {
      --icon-path: var(--icon__general_android--disabled);
    }

  
  /* =================================
  DARK PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    version.svg 
    - - - - - - - - - - - - */
    
    &_version--enabled {
      --icon-path: var(--icon__general_version--enabled);
    }
    &_version--hover {
      --icon-path: var(--icon__general_version--hover);
    }
    &_version--active {
      --icon-path: var(--icon__general_version--active);
    }
    &_version--disabled {
      --icon-path: var(--icon__general_version--disabled);
    }

    /* - - - - - - - - - - - - 
    swift.svg 
    - - - - - - - - - - - - */
    
    &_swift--enabled {
      --icon-path: var(--icon__general_swift--enabled);
    }
    &_swift--hover {
      --icon-path: var(--icon__general_swift--hover);
    }
    &_swift--active {
      --icon-path: var(--icon__general_swift--active);
    }
    &_swift--disabled {
      --icon-path: var(--icon__general_swift--disabled);
    }

    /* - - - - - - - - - - - - 
    sql-server.svg 
    - - - - - - - - - - - - */
    
    &_sql-server--enabled {
      --icon-path: var(--icon__general_sql-server--enabled);
    }
    &_sql-server--hover {
      --icon-path: var(--icon__general_sql-server--hover);
    }
    &_sql-server--active {
      --icon-path: var(--icon__general_sql-server--active);
    }
    &_sql-server--disabled {
      --icon-path: var(--icon__general_sql-server--disabled);
    }

    /* - - - - - - - - - - - - 
    services.svg 
    - - - - - - - - - - - - */
    
    &_services--enabled {
      --icon-path: var(--icon__general_services--enabled);
    }
    &_services--hover {
      --icon-path: var(--icon__general_services--hover);
    }
    &_services--active {
      --icon-path: var(--icon__general_services--active);
    }
    &_services--disabled {
      --icon-path: var(--icon__general_services--disabled);
    }

    /* - - - - - - - - - - - - 
    sd.svg 
    - - - - - - - - - - - - */
    
    &_sd--enabled {
      --icon-path: var(--icon__general_sd--enabled);
    }
    &_sd--hover {
      --icon-path: var(--icon__general_sd--hover);
    }
    &_sd--active {
      --icon-path: var(--icon__general_sd--active);
    }
    &_sd--disabled {
      --icon-path: var(--icon__general_sd--disabled);
    }

    /* - - - - - - - - - - - - 
    sd-web.svg 
    - - - - - - - - - - - - */
    
    &_sd-web--enabled {
      --icon-path: var(--icon__general_sd-web--enabled);
    }
    &_sd-web--hover {
      --icon-path: var(--icon__general_sd-web--hover);
    }
    &_sd-web--active {
      --icon-path: var(--icon__general_sd-web--active);
    }
    &_sd-web--disabled {
      --icon-path: var(--icon__general_sd-web--disabled);
    }

    /* - - - - - - - - - - - - 
    sap-hana.svg 
    - - - - - - - - - - - - */
    
    &_sap-hana--enabled {
      --icon-path: var(--icon__general_sap-hana--enabled);
    }
    &_sap-hana--hover {
      --icon-path: var(--icon__general_sap-hana--hover);
    }
    &_sap-hana--active {
      --icon-path: var(--icon__general_sap-hana--active);
    }
    &_sap-hana--disabled {
      --icon-path: var(--icon__general_sap-hana--disabled);
    }

    /* - - - - - - - - - - - - 
    references.svg 
    - - - - - - - - - - - - */
    
    &_references--enabled {
      --icon-path: var(--icon__general_references--enabled);
    }
    &_references--hover {
      --icon-path: var(--icon__general_references--hover);
    }
    &_references--active {
      --icon-path: var(--icon__general_references--active);
    }
    &_references--disabled {
      --icon-path: var(--icon__general_references--disabled);
    }

    /* - - - - - - - - - - - - 
    postgre-sql.svg 
    - - - - - - - - - - - - */
    
    &_postgre-sql--enabled {
      --icon-path: var(--icon__general_postgre-sql--enabled);
    }
    &_postgre-sql--hover {
      --icon-path: var(--icon__general_postgre-sql--hover);
    }
    &_postgre-sql--active {
      --icon-path: var(--icon__general_postgre-sql--active);
    }
    &_postgre-sql--disabled {
      --icon-path: var(--icon__general_postgre-sql--disabled);
    }

    /* - - - - - - - - - - - - 
    patterns.svg 
    - - - - - - - - - - - - */
    
    &_patterns--enabled {
      --icon-path: var(--icon__general_patterns--enabled);
    }
    &_patterns--hover {
      --icon-path: var(--icon__general_patterns--hover);
    }
    &_patterns--active {
      --icon-path: var(--icon__general_patterns--active);
    }
    &_patterns--disabled {
      --icon-path: var(--icon__general_patterns--disabled);
    }

    /* - - - - - - - - - - - - 
    oracle.svg 
    - - - - - - - - - - - - */
    
    &_oracle--enabled {
      --icon-path: var(--icon__general_oracle--enabled);
    }
    &_oracle--hover {
      --icon-path: var(--icon__general_oracle--hover);
    }
    &_oracle--active {
      --icon-path: var(--icon__general_oracle--active);
    }
    &_oracle--disabled {
      --icon-path: var(--icon__general_oracle--disabled);
    }

    /* - - - - - - - - - - - - 
    launchpad.svg 
    - - - - - - - - - - - - */
    
    &_launchpad--enabled {
      --icon-path: var(--icon__general_launchpad--enabled);
    }
    &_launchpad--hover {
      --icon-path: var(--icon__general_launchpad--hover);
    }
    &_launchpad--active {
      --icon-path: var(--icon__general_launchpad--active);
    }
    &_launchpad--disabled {
      --icon-path: var(--icon__general_launchpad--disabled);
    }

    /* - - - - - - - - - - - - 
    knowledge-base.svg 
    - - - - - - - - - - - - */
    
    &_knowledge-base--enabled {
      --icon-path: var(--icon__general_knowledge-base--enabled);
    }
    &_knowledge-base--hover {
      --icon-path: var(--icon__general_knowledge-base--hover);
    }
    &_knowledge-base--active {
      --icon-path: var(--icon__general_knowledge-base--active);
    }
    &_knowledge-base--disabled {
      --icon-path: var(--icon__general_knowledge-base--disabled);
    }

    /* - - - - - - - - - - - - 
    java.svg 
    - - - - - - - - - - - - */
    
    &_java--enabled {
      --icon-path: var(--icon__general_java--enabled);
    }
    &_java--hover {
      --icon-path: var(--icon__general_java--hover);
    }
    &_java--active {
      --icon-path: var(--icon__general_java--active);
    }
    &_java--disabled {
      --icon-path: var(--icon__general_java--disabled);
    }

    /* - - - - - - - - - - - - 
    informix.svg 
    - - - - - - - - - - - - */
    
    &_informix--enabled {
      --icon-path: var(--icon__general_informix--enabled);
    }
    &_informix--hover {
      --icon-path: var(--icon__general_informix--hover);
    }
    &_informix--active {
      --icon-path: var(--icon__general_informix--active);
    }
    &_informix--disabled {
      --icon-path: var(--icon__general_informix--disabled);
    }

    /* - - - - - - - - - - - - 
    generator.svg 
    - - - - - - - - - - - - */
    
    &_generator--enabled {
      --icon-path: var(--icon__general_generator--enabled);
    }
    &_generator--hover {
      --icon-path: var(--icon__general_generator--hover);
    }
    &_generator--active {
      --icon-path: var(--icon__general_generator--active);
    }
    &_generator--disabled {
      --icon-path: var(--icon__general_generator--disabled);
    }

    /* - - - - - - - - - - - - 
    environment-select.svg 
    - - - - - - - - - - - - */
    
    &_environment-select--enabled {
      --icon-path: var(--icon__general_environment-select--enabled);
    }
    &_environment-select--hover {
      --icon-path: var(--icon__general_environment-select--hover);
    }
    &_environment-select--active {
      --icon-path: var(--icon__general_environment-select--active);
    }
    &_environment-select--disabled {
      --icon-path: var(--icon__general_environment-select--disabled);
    }

    /* - - - - - - - - - - - - 
    environment-no-select.svg 
    - - - - - - - - - - - - */
    
    &_environment-no-select--enabled {
      --icon-path: var(--icon__general_environment-no-select--enabled);
    }
    &_environment-no-select--hover {
      --icon-path: var(--icon__general_environment-no-select--hover);
    }
    &_environment-no-select--active {
      --icon-path: var(--icon__general_environment-no-select--active);
    }
    &_environment-no-select--disabled {
      --icon-path: var(--icon__general_environment-no-select--disabled);
    }

    /* - - - - - - - - - - - - 
    db2.svg 
    - - - - - - - - - - - - */
    
    &_db2--enabled {
      --icon-path: var(--icon__general_db2--enabled);
    }
    &_db2--hover {
      --icon-path: var(--icon__general_db2--hover);
    }
    &_db2--active {
      --icon-path: var(--icon__general_db2--active);
    }
    &_db2--disabled {
      --icon-path: var(--icon__general_db2--disabled);
    }

    /* - - - - - - - - - - - - 
    datastore.svg 
    - - - - - - - - - - - - */
    
    &_datastore--enabled {
      --icon-path: var(--icon__general_datastore--enabled);
    }
    &_datastore--hover {
      --icon-path: var(--icon__general_datastore--hover);
    }
    &_datastore--active {
      --icon-path: var(--icon__general_datastore--active);
    }
    &_datastore--disabled {
      --icon-path: var(--icon__general_datastore--disabled);
    }

    /* - - - - - - - - - - - - 
    customization.svg 
    - - - - - - - - - - - - */
    
    &_customization--enabled {
      --icon-path: var(--icon__general_customization--enabled);
    }
    &_customization--hover {
      --icon-path: var(--icon__general_customization--hover);
    }
    &_customization--active {
      --icon-path: var(--icon__general_customization--active);
    }
    &_customization--disabled {
      --icon-path: var(--icon__general_customization--disabled);
    }

    /* - - - - - - - - - - - - 
    csharp.svg 
    - - - - - - - - - - - - */
    
    &_csharp--enabled {
      --icon-path: var(--icon__general_csharp--enabled);
    }
    &_csharp--hover {
      --icon-path: var(--icon__general_csharp--hover);
    }
    &_csharp--active {
      --icon-path: var(--icon__general_csharp--active);
    }
    &_csharp--disabled {
      --icon-path: var(--icon__general_csharp--disabled);
    }

    /* - - - - - - - - - - - - 
    apple.svg 
    - - - - - - - - - - - - */
    
    &_apple--enabled {
      --icon-path: var(--icon__general_apple--enabled);
    }
    &_apple--hover {
      --icon-path: var(--icon__general_apple--hover);
    }
    &_apple--active {
      --icon-path: var(--icon__general_apple--active);
    }
    &_apple--disabled {
      --icon-path: var(--icon__general_apple--disabled);
    }

    /* - - - - - - - - - - - - 
    angular.svg 
    - - - - - - - - - - - - */
    
    &_angular--enabled {
      --icon-path: var(--icon__general_angular--enabled);
    }
    &_angular--hover {
      --icon-path: var(--icon__general_angular--hover);
    }
    &_angular--active {
      --icon-path: var(--icon__general_angular--active);
    }
    &_angular--disabled {
      --icon-path: var(--icon__general_angular--disabled);
    }

    /* - - - - - - - - - - - - 
    android.svg 
    - - - - - - - - - - - - */
    
    &_android--enabled {
      --icon-path: var(--icon__general_android--enabled);
    }
    &_android--hover {
      --icon-path: var(--icon__general_android--hover);
    }
    &_android--active {
      --icon-path: var(--icon__general_android--active);
    }
    &_android--disabled {
      --icon-path: var(--icon__general_android--disabled);
    }
  
    }