
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*general*/
  --icon__general_version--enabled: url('#{$icons-path}general/light/version.svg#enabled'); 
  --icon__general_version--hover: url('#{$icons-path}general/light/version.svg#hover'); 
  --icon__general_version--active: url('#{$icons-path}general/light/version.svg#active'); 
  --icon__general_version--disabled: url('#{$icons-path}general/light/version.svg#disabled'); 
  --icon__general_swift--enabled: url('#{$icons-path}general/light/swift.svg#enabled'); 
  --icon__general_swift--hover: url('#{$icons-path}general/light/swift.svg#hover'); 
  --icon__general_swift--active: url('#{$icons-path}general/light/swift.svg#active'); 
  --icon__general_swift--disabled: url('#{$icons-path}general/light/swift.svg#disabled'); 
  --icon__general_sql-server--enabled: url('#{$icons-path}general/light/sql-server.svg#enabled'); 
  --icon__general_sql-server--hover: url('#{$icons-path}general/light/sql-server.svg#hover'); 
  --icon__general_sql-server--active: url('#{$icons-path}general/light/sql-server.svg#active'); 
  --icon__general_sql-server--disabled: url('#{$icons-path}general/light/sql-server.svg#disabled'); 
  --icon__general_services--enabled: url('#{$icons-path}general/light/services.svg#enabled'); 
  --icon__general_services--hover: url('#{$icons-path}general/light/services.svg#hover'); 
  --icon__general_services--active: url('#{$icons-path}general/light/services.svg#active'); 
  --icon__general_services--disabled: url('#{$icons-path}general/light/services.svg#disabled'); 
  --icon__general_sd--enabled: url('#{$icons-path}general/light/sd.svg#enabled'); 
  --icon__general_sd--hover: url('#{$icons-path}general/light/sd.svg#hover'); 
  --icon__general_sd--active: url('#{$icons-path}general/light/sd.svg#active'); 
  --icon__general_sd--disabled: url('#{$icons-path}general/light/sd.svg#disabled'); 
  --icon__general_sd-web--enabled: url('#{$icons-path}general/light/sd-web.svg#enabled'); 
  --icon__general_sd-web--hover: url('#{$icons-path}general/light/sd-web.svg#hover'); 
  --icon__general_sd-web--active: url('#{$icons-path}general/light/sd-web.svg#active'); 
  --icon__general_sd-web--disabled: url('#{$icons-path}general/light/sd-web.svg#disabled'); 
  --icon__general_sap-hana--enabled: url('#{$icons-path}general/light/sap-hana.svg#enabled'); 
  --icon__general_sap-hana--hover: url('#{$icons-path}general/light/sap-hana.svg#hover'); 
  --icon__general_sap-hana--active: url('#{$icons-path}general/light/sap-hana.svg#active'); 
  --icon__general_sap-hana--disabled: url('#{$icons-path}general/light/sap-hana.svg#disabled'); 
  --icon__general_references--enabled: url('#{$icons-path}general/light/references.svg#enabled'); 
  --icon__general_references--hover: url('#{$icons-path}general/light/references.svg#hover'); 
  --icon__general_references--active: url('#{$icons-path}general/light/references.svg#active'); 
  --icon__general_references--disabled: url('#{$icons-path}general/light/references.svg#disabled'); 
  --icon__general_postgre-sql--enabled: url('#{$icons-path}general/light/postgre-sql.svg#enabled'); 
  --icon__general_postgre-sql--hover: url('#{$icons-path}general/light/postgre-sql.svg#hover'); 
  --icon__general_postgre-sql--active: url('#{$icons-path}general/light/postgre-sql.svg#active'); 
  --icon__general_postgre-sql--disabled: url('#{$icons-path}general/light/postgre-sql.svg#disabled'); 
  --icon__general_patterns--enabled: url('#{$icons-path}general/light/patterns.svg#enabled'); 
  --icon__general_patterns--hover: url('#{$icons-path}general/light/patterns.svg#hover'); 
  --icon__general_patterns--active: url('#{$icons-path}general/light/patterns.svg#active'); 
  --icon__general_patterns--disabled: url('#{$icons-path}general/light/patterns.svg#disabled'); 
  --icon__general_oracle--enabled: url('#{$icons-path}general/light/oracle.svg#enabled'); 
  --icon__general_oracle--hover: url('#{$icons-path}general/light/oracle.svg#hover'); 
  --icon__general_oracle--active: url('#{$icons-path}general/light/oracle.svg#active'); 
  --icon__general_oracle--disabled: url('#{$icons-path}general/light/oracle.svg#disabled'); 
  --icon__general_launchpad--enabled: url('#{$icons-path}general/light/launchpad.svg#enabled'); 
  --icon__general_launchpad--hover: url('#{$icons-path}general/light/launchpad.svg#hover'); 
  --icon__general_launchpad--active: url('#{$icons-path}general/light/launchpad.svg#active'); 
  --icon__general_launchpad--disabled: url('#{$icons-path}general/light/launchpad.svg#disabled'); 
  --icon__general_knowledge-base--enabled: url('#{$icons-path}general/light/knowledge-base.svg#enabled'); 
  --icon__general_knowledge-base--hover: url('#{$icons-path}general/light/knowledge-base.svg#hover'); 
  --icon__general_knowledge-base--active: url('#{$icons-path}general/light/knowledge-base.svg#active'); 
  --icon__general_knowledge-base--disabled: url('#{$icons-path}general/light/knowledge-base.svg#disabled'); 
  --icon__general_java--enabled: url('#{$icons-path}general/light/java.svg#enabled'); 
  --icon__general_java--hover: url('#{$icons-path}general/light/java.svg#hover'); 
  --icon__general_java--active: url('#{$icons-path}general/light/java.svg#active'); 
  --icon__general_java--disabled: url('#{$icons-path}general/light/java.svg#disabled'); 
  --icon__general_informix--enabled: url('#{$icons-path}general/light/informix.svg#enabled'); 
  --icon__general_informix--hover: url('#{$icons-path}general/light/informix.svg#hover'); 
  --icon__general_informix--active: url('#{$icons-path}general/light/informix.svg#active'); 
  --icon__general_informix--disabled: url('#{$icons-path}general/light/informix.svg#disabled'); 
  --icon__general_generator--enabled: url('#{$icons-path}general/light/generator.svg#enabled'); 
  --icon__general_generator--hover: url('#{$icons-path}general/light/generator.svg#hover'); 
  --icon__general_generator--active: url('#{$icons-path}general/light/generator.svg#active'); 
  --icon__general_generator--disabled: url('#{$icons-path}general/light/generator.svg#disabled'); 
  --icon__general_environment-select--enabled: url('#{$icons-path}general/light/environment-select.svg#enabled'); 
  --icon__general_environment-select--hover: url('#{$icons-path}general/light/environment-select.svg#hover'); 
  --icon__general_environment-select--active: url('#{$icons-path}general/light/environment-select.svg#active'); 
  --icon__general_environment-select--disabled: url('#{$icons-path}general/light/environment-select.svg#disabled'); 
  --icon__general_environment-no-select--enabled: url('#{$icons-path}general/light/environment-no-select.svg#enabled'); 
  --icon__general_environment-no-select--hover: url('#{$icons-path}general/light/environment-no-select.svg#hover'); 
  --icon__general_environment-no-select--active: url('#{$icons-path}general/light/environment-no-select.svg#active'); 
  --icon__general_environment-no-select--disabled: url('#{$icons-path}general/light/environment-no-select.svg#disabled'); 
  --icon__general_db2--enabled: url('#{$icons-path}general/light/db2.svg#enabled'); 
  --icon__general_db2--hover: url('#{$icons-path}general/light/db2.svg#hover'); 
  --icon__general_db2--active: url('#{$icons-path}general/light/db2.svg#active'); 
  --icon__general_db2--disabled: url('#{$icons-path}general/light/db2.svg#disabled'); 
  --icon__general_datastore--enabled: url('#{$icons-path}general/light/datastore.svg#enabled'); 
  --icon__general_datastore--hover: url('#{$icons-path}general/light/datastore.svg#hover'); 
  --icon__general_datastore--active: url('#{$icons-path}general/light/datastore.svg#active'); 
  --icon__general_datastore--disabled: url('#{$icons-path}general/light/datastore.svg#disabled'); 
  --icon__general_customization--enabled: url('#{$icons-path}general/light/customization.svg#enabled'); 
  --icon__general_customization--hover: url('#{$icons-path}general/light/customization.svg#hover'); 
  --icon__general_customization--active: url('#{$icons-path}general/light/customization.svg#active'); 
  --icon__general_customization--disabled: url('#{$icons-path}general/light/customization.svg#disabled'); 
  --icon__general_csharp--enabled: url('#{$icons-path}general/light/csharp.svg#enabled'); 
  --icon__general_csharp--hover: url('#{$icons-path}general/light/csharp.svg#hover'); 
  --icon__general_csharp--active: url('#{$icons-path}general/light/csharp.svg#active'); 
  --icon__general_csharp--disabled: url('#{$icons-path}general/light/csharp.svg#disabled'); 
  --icon__general_apple--enabled: url('#{$icons-path}general/light/apple.svg#enabled'); 
  --icon__general_apple--hover: url('#{$icons-path}general/light/apple.svg#hover'); 
  --icon__general_apple--active: url('#{$icons-path}general/light/apple.svg#active'); 
  --icon__general_apple--disabled: url('#{$icons-path}general/light/apple.svg#disabled'); 
  --icon__general_angular--enabled: url('#{$icons-path}general/light/angular.svg#enabled'); 
  --icon__general_angular--hover: url('#{$icons-path}general/light/angular.svg#hover'); 
  --icon__general_angular--active: url('#{$icons-path}general/light/angular.svg#active'); 
  --icon__general_angular--disabled: url('#{$icons-path}general/light/angular.svg#disabled'); 
  --icon__general_android--enabled: url('#{$icons-path}general/light/android.svg#enabled'); 
  --icon__general_android--hover: url('#{$icons-path}general/light/android.svg#hover'); 
  --icon__general_android--active: url('#{$icons-path}general/light/android.svg#active'); 
  --icon__general_android--disabled: url('#{$icons-path}general/light/android.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*general*/
  --icon__general_version--enabled: url('#{$icons-path}general/dark/version.svg#enabled'); 
  --icon__general_version--hover: url('#{$icons-path}general/dark/version.svg#hover'); 
  --icon__general_version--active: url('#{$icons-path}general/dark/version.svg#active'); 
  --icon__general_version--disabled: url('#{$icons-path}general/dark/version.svg#disabled'); 
  --icon__general_swift--enabled: url('#{$icons-path}general/dark/swift.svg#enabled'); 
  --icon__general_swift--hover: url('#{$icons-path}general/dark/swift.svg#hover'); 
  --icon__general_swift--active: url('#{$icons-path}general/dark/swift.svg#active'); 
  --icon__general_swift--disabled: url('#{$icons-path}general/dark/swift.svg#disabled'); 
  --icon__general_sql-server--enabled: url('#{$icons-path}general/dark/sql-server.svg#enabled'); 
  --icon__general_sql-server--hover: url('#{$icons-path}general/dark/sql-server.svg#hover'); 
  --icon__general_sql-server--active: url('#{$icons-path}general/dark/sql-server.svg#active'); 
  --icon__general_sql-server--disabled: url('#{$icons-path}general/dark/sql-server.svg#disabled'); 
  --icon__general_services--enabled: url('#{$icons-path}general/dark/services.svg#enabled'); 
  --icon__general_services--hover: url('#{$icons-path}general/dark/services.svg#hover'); 
  --icon__general_services--active: url('#{$icons-path}general/dark/services.svg#active'); 
  --icon__general_services--disabled: url('#{$icons-path}general/dark/services.svg#disabled'); 
  --icon__general_sd--enabled: url('#{$icons-path}general/dark/sd.svg#enabled'); 
  --icon__general_sd--hover: url('#{$icons-path}general/dark/sd.svg#hover'); 
  --icon__general_sd--active: url('#{$icons-path}general/dark/sd.svg#active'); 
  --icon__general_sd--disabled: url('#{$icons-path}general/dark/sd.svg#disabled'); 
  --icon__general_sd-web--enabled: url('#{$icons-path}general/dark/sd-web.svg#enabled'); 
  --icon__general_sd-web--hover: url('#{$icons-path}general/dark/sd-web.svg#hover'); 
  --icon__general_sd-web--active: url('#{$icons-path}general/dark/sd-web.svg#active'); 
  --icon__general_sd-web--disabled: url('#{$icons-path}general/dark/sd-web.svg#disabled'); 
  --icon__general_sap-hana--enabled: url('#{$icons-path}general/dark/sap-hana.svg#enabled'); 
  --icon__general_sap-hana--hover: url('#{$icons-path}general/dark/sap-hana.svg#hover'); 
  --icon__general_sap-hana--active: url('#{$icons-path}general/dark/sap-hana.svg#active'); 
  --icon__general_sap-hana--disabled: url('#{$icons-path}general/dark/sap-hana.svg#disabled'); 
  --icon__general_references--enabled: url('#{$icons-path}general/dark/references.svg#enabled'); 
  --icon__general_references--hover: url('#{$icons-path}general/dark/references.svg#hover'); 
  --icon__general_references--active: url('#{$icons-path}general/dark/references.svg#active'); 
  --icon__general_references--disabled: url('#{$icons-path}general/dark/references.svg#disabled'); 
  --icon__general_postgre-sql--enabled: url('#{$icons-path}general/dark/postgre-sql.svg#enabled'); 
  --icon__general_postgre-sql--hover: url('#{$icons-path}general/dark/postgre-sql.svg#hover'); 
  --icon__general_postgre-sql--active: url('#{$icons-path}general/dark/postgre-sql.svg#active'); 
  --icon__general_postgre-sql--disabled: url('#{$icons-path}general/dark/postgre-sql.svg#disabled'); 
  --icon__general_patterns--enabled: url('#{$icons-path}general/dark/patterns.svg#enabled'); 
  --icon__general_patterns--hover: url('#{$icons-path}general/dark/patterns.svg#hover'); 
  --icon__general_patterns--active: url('#{$icons-path}general/dark/patterns.svg#active'); 
  --icon__general_patterns--disabled: url('#{$icons-path}general/dark/patterns.svg#disabled'); 
  --icon__general_oracle--enabled: url('#{$icons-path}general/dark/oracle.svg#enabled'); 
  --icon__general_oracle--hover: url('#{$icons-path}general/dark/oracle.svg#hover'); 
  --icon__general_oracle--active: url('#{$icons-path}general/dark/oracle.svg#active'); 
  --icon__general_oracle--disabled: url('#{$icons-path}general/dark/oracle.svg#disabled'); 
  --icon__general_launchpad--enabled: url('#{$icons-path}general/dark/launchpad.svg#enabled'); 
  --icon__general_launchpad--hover: url('#{$icons-path}general/dark/launchpad.svg#hover'); 
  --icon__general_launchpad--active: url('#{$icons-path}general/dark/launchpad.svg#active'); 
  --icon__general_launchpad--disabled: url('#{$icons-path}general/dark/launchpad.svg#disabled'); 
  --icon__general_knowledge-base--enabled: url('#{$icons-path}general/dark/knowledge-base.svg#enabled'); 
  --icon__general_knowledge-base--hover: url('#{$icons-path}general/dark/knowledge-base.svg#hover'); 
  --icon__general_knowledge-base--active: url('#{$icons-path}general/dark/knowledge-base.svg#active'); 
  --icon__general_knowledge-base--disabled: url('#{$icons-path}general/dark/knowledge-base.svg#disabled'); 
  --icon__general_java--enabled: url('#{$icons-path}general/dark/java.svg#enabled'); 
  --icon__general_java--hover: url('#{$icons-path}general/dark/java.svg#hover'); 
  --icon__general_java--active: url('#{$icons-path}general/dark/java.svg#active'); 
  --icon__general_java--disabled: url('#{$icons-path}general/dark/java.svg#disabled'); 
  --icon__general_informix--enabled: url('#{$icons-path}general/dark/informix.svg#enabled'); 
  --icon__general_informix--hover: url('#{$icons-path}general/dark/informix.svg#hover'); 
  --icon__general_informix--active: url('#{$icons-path}general/dark/informix.svg#active'); 
  --icon__general_informix--disabled: url('#{$icons-path}general/dark/informix.svg#disabled'); 
  --icon__general_generator--enabled: url('#{$icons-path}general/dark/generator.svg#enabled'); 
  --icon__general_generator--hover: url('#{$icons-path}general/dark/generator.svg#hover'); 
  --icon__general_generator--active: url('#{$icons-path}general/dark/generator.svg#active'); 
  --icon__general_generator--disabled: url('#{$icons-path}general/dark/generator.svg#disabled'); 
  --icon__general_environment-select--enabled: url('#{$icons-path}general/dark/environment-select.svg#enabled'); 
  --icon__general_environment-select--hover: url('#{$icons-path}general/dark/environment-select.svg#hover'); 
  --icon__general_environment-select--active: url('#{$icons-path}general/dark/environment-select.svg#active'); 
  --icon__general_environment-select--disabled: url('#{$icons-path}general/dark/environment-select.svg#disabled'); 
  --icon__general_environment-no-select--enabled: url('#{$icons-path}general/dark/environment-no-select.svg#enabled'); 
  --icon__general_environment-no-select--hover: url('#{$icons-path}general/dark/environment-no-select.svg#hover'); 
  --icon__general_environment-no-select--active: url('#{$icons-path}general/dark/environment-no-select.svg#active'); 
  --icon__general_environment-no-select--disabled: url('#{$icons-path}general/dark/environment-no-select.svg#disabled'); 
  --icon__general_db2--enabled: url('#{$icons-path}general/dark/db2.svg#enabled'); 
  --icon__general_db2--hover: url('#{$icons-path}general/dark/db2.svg#hover'); 
  --icon__general_db2--active: url('#{$icons-path}general/dark/db2.svg#active'); 
  --icon__general_db2--disabled: url('#{$icons-path}general/dark/db2.svg#disabled'); 
  --icon__general_datastore--enabled: url('#{$icons-path}general/dark/datastore.svg#enabled'); 
  --icon__general_datastore--hover: url('#{$icons-path}general/dark/datastore.svg#hover'); 
  --icon__general_datastore--active: url('#{$icons-path}general/dark/datastore.svg#active'); 
  --icon__general_datastore--disabled: url('#{$icons-path}general/dark/datastore.svg#disabled'); 
  --icon__general_customization--enabled: url('#{$icons-path}general/dark/customization.svg#enabled'); 
  --icon__general_customization--hover: url('#{$icons-path}general/dark/customization.svg#hover'); 
  --icon__general_customization--active: url('#{$icons-path}general/dark/customization.svg#active'); 
  --icon__general_customization--disabled: url('#{$icons-path}general/dark/customization.svg#disabled'); 
  --icon__general_csharp--enabled: url('#{$icons-path}general/dark/csharp.svg#enabled'); 
  --icon__general_csharp--hover: url('#{$icons-path}general/dark/csharp.svg#hover'); 
  --icon__general_csharp--active: url('#{$icons-path}general/dark/csharp.svg#active'); 
  --icon__general_csharp--disabled: url('#{$icons-path}general/dark/csharp.svg#disabled'); 
  --icon__general_apple--enabled: url('#{$icons-path}general/dark/apple.svg#enabled'); 
  --icon__general_apple--hover: url('#{$icons-path}general/dark/apple.svg#hover'); 
  --icon__general_apple--active: url('#{$icons-path}general/dark/apple.svg#active'); 
  --icon__general_apple--disabled: url('#{$icons-path}general/dark/apple.svg#disabled'); 
  --icon__general_angular--enabled: url('#{$icons-path}general/dark/angular.svg#enabled'); 
  --icon__general_angular--hover: url('#{$icons-path}general/dark/angular.svg#hover'); 
  --icon__general_angular--active: url('#{$icons-path}general/dark/angular.svg#active'); 
  --icon__general_angular--disabled: url('#{$icons-path}general/dark/angular.svg#disabled'); 
  --icon__general_android--enabled: url('#{$icons-path}general/dark/android.svg#enabled'); 
  --icon__general_android--hover: url('#{$icons-path}general/dark/android.svg#hover'); 
  --icon__general_android--active: url('#{$icons-path}general/dark/android.svg#active'); 
  --icon__general_android--disabled: url('#{$icons-path}general/dark/android.svg#disabled'); 

  }
  