%icon__gx-server {
      

  /* =================================
  LIGHT PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    public.svg 
    - - - - - - - - - - - - */
    
    &_public--enabled {
      --icon-path: var(--icon__gx-server_public--enabled);
    }
    &_public--hover {
      --icon-path: var(--icon__gx-server_public--hover);
    }
    &_public--active {
      --icon-path: var(--icon__gx-server_public--active);
    }
    &_public--disabled {
      --icon-path: var(--icon__gx-server_public--disabled);
    }

    /* - - - - - - - - - - - - 
    private.svg 
    - - - - - - - - - - - - */
    
    &_private--enabled {
      --icon-path: var(--icon__gx-server_private--enabled);
    }
    &_private--hover {
      --icon-path: var(--icon__gx-server_private--hover);
    }
    &_private--active {
      --icon-path: var(--icon__gx-server_private--active);
    }
    &_private--disabled {
      --icon-path: var(--icon__gx-server_private--disabled);
    }

    /* - - - - - - - - - - - - 
    new.svg 
    - - - - - - - - - - - - */
    
    &_new--enabled {
      --icon-path: var(--icon__gx-server_new--enabled);
    }
    &_new--hover {
      --icon-path: var(--icon__gx-server_new--hover);
    }
    &_new--active {
      --icon-path: var(--icon__gx-server_new--active);
    }
    &_new--disabled {
      --icon-path: var(--icon__gx-server_new--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-without-changes.svg 
    - - - - - - - - - - - - */
    
    &_lock-without-changes--enabled {
      --icon-path: var(--icon__gx-server_lock-without-changes--enabled);
    }
    &_lock-without-changes--hover {
      --icon-path: var(--icon__gx-server_lock-without-changes--hover);
    }
    &_lock-without-changes--active {
      --icon-path: var(--icon__gx-server_lock-without-changes--active);
    }
    &_lock-without-changes--disabled {
      --icon-path: var(--icon__gx-server_lock-without-changes--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-by-user-reserve.svg 
    - - - - - - - - - - - - */
    
    &_lock-by-user-reserve--enabled {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--enabled);
    }
    &_lock-by-user-reserve--hover {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--hover);
    }
    &_lock-by-user-reserve--active {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--active);
    }
    &_lock-by-user-reserve--disabled {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-by-user-changes.svg 
    - - - - - - - - - - - - */
    
    &_lock-by-user-changes--enabled {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--enabled);
    }
    &_lock-by-user-changes--hover {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--hover);
    }
    &_lock-by-user-changes--active {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--active);
    }
    &_lock-by-user-changes--disabled {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--disabled);
    }

    /* - - - - - - - - - - - - 
    internal.svg 
    - - - - - - - - - - - - */
    
    &_internal--enabled {
      --icon-path: var(--icon__gx-server_internal--enabled);
    }
    &_internal--hover {
      --icon-path: var(--icon__gx-server_internal--hover);
    }
    &_internal--active {
      --icon-path: var(--icon__gx-server_internal--active);
    }
    &_internal--disabled {
      --icon-path: var(--icon__gx-server_internal--disabled);
    }

    /* - - - - - - - - - - - - 
    delete.svg 
    - - - - - - - - - - - - */
    
    &_delete--enabled {
      --icon-path: var(--icon__gx-server_delete--enabled);
    }
    &_delete--hover {
      --icon-path: var(--icon__gx-server_delete--hover);
    }
    &_delete--active {
      --icon-path: var(--icon__gx-server_delete--active);
    }
    &_delete--disabled {
      --icon-path: var(--icon__gx-server_delete--disabled);
    }

    /* - - - - - - - - - - - - 
    conflict.svg 
    - - - - - - - - - - - - */
    
    &_conflict--enabled {
      --icon-path: var(--icon__gx-server_conflict--enabled);
    }
    &_conflict--hover {
      --icon-path: var(--icon__gx-server_conflict--hover);
    }
    &_conflict--active {
      --icon-path: var(--icon__gx-server_conflict--active);
    }
    &_conflict--disabled {
      --icon-path: var(--icon__gx-server_conflict--disabled);
    }

    /* - - - - - - - - - - - - 
    changes-commit-pending.svg 
    - - - - - - - - - - - - */
    
    &_changes-commit-pending--enabled {
      --icon-path: var(--icon__gx-server_changes-commit-pending--enabled);
    }
    &_changes-commit-pending--hover {
      --icon-path: var(--icon__gx-server_changes-commit-pending--hover);
    }
    &_changes-commit-pending--active {
      --icon-path: var(--icon__gx-server_changes-commit-pending--active);
    }
    &_changes-commit-pending--disabled {
      --icon-path: var(--icon__gx-server_changes-commit-pending--disabled);
    }

  
  /* =================================
  DARK PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    public.svg 
    - - - - - - - - - - - - */
    
    &_public--enabled {
      --icon-path: var(--icon__gx-server_public--enabled);
    }
    &_public--hover {
      --icon-path: var(--icon__gx-server_public--hover);
    }
    &_public--active {
      --icon-path: var(--icon__gx-server_public--active);
    }
    &_public--disabled {
      --icon-path: var(--icon__gx-server_public--disabled);
    }

    /* - - - - - - - - - - - - 
    private.svg 
    - - - - - - - - - - - - */
    
    &_private--enabled {
      --icon-path: var(--icon__gx-server_private--enabled);
    }
    &_private--hover {
      --icon-path: var(--icon__gx-server_private--hover);
    }
    &_private--active {
      --icon-path: var(--icon__gx-server_private--active);
    }
    &_private--disabled {
      --icon-path: var(--icon__gx-server_private--disabled);
    }

    /* - - - - - - - - - - - - 
    new.svg 
    - - - - - - - - - - - - */
    
    &_new--enabled {
      --icon-path: var(--icon__gx-server_new--enabled);
    }
    &_new--hover {
      --icon-path: var(--icon__gx-server_new--hover);
    }
    &_new--active {
      --icon-path: var(--icon__gx-server_new--active);
    }
    &_new--disabled {
      --icon-path: var(--icon__gx-server_new--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-without-changes.svg 
    - - - - - - - - - - - - */
    
    &_lock-without-changes--enabled {
      --icon-path: var(--icon__gx-server_lock-without-changes--enabled);
    }
    &_lock-without-changes--hover {
      --icon-path: var(--icon__gx-server_lock-without-changes--hover);
    }
    &_lock-without-changes--active {
      --icon-path: var(--icon__gx-server_lock-without-changes--active);
    }
    &_lock-without-changes--disabled {
      --icon-path: var(--icon__gx-server_lock-without-changes--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-by-user-reserve.svg 
    - - - - - - - - - - - - */
    
    &_lock-by-user-reserve--enabled {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--enabled);
    }
    &_lock-by-user-reserve--hover {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--hover);
    }
    &_lock-by-user-reserve--active {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--active);
    }
    &_lock-by-user-reserve--disabled {
      --icon-path: var(--icon__gx-server_lock-by-user-reserve--disabled);
    }

    /* - - - - - - - - - - - - 
    lock-by-user-changes.svg 
    - - - - - - - - - - - - */
    
    &_lock-by-user-changes--enabled {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--enabled);
    }
    &_lock-by-user-changes--hover {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--hover);
    }
    &_lock-by-user-changes--active {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--active);
    }
    &_lock-by-user-changes--disabled {
      --icon-path: var(--icon__gx-server_lock-by-user-changes--disabled);
    }

    /* - - - - - - - - - - - - 
    internal.svg 
    - - - - - - - - - - - - */
    
    &_internal--enabled {
      --icon-path: var(--icon__gx-server_internal--enabled);
    }
    &_internal--hover {
      --icon-path: var(--icon__gx-server_internal--hover);
    }
    &_internal--active {
      --icon-path: var(--icon__gx-server_internal--active);
    }
    &_internal--disabled {
      --icon-path: var(--icon__gx-server_internal--disabled);
    }

    /* - - - - - - - - - - - - 
    delete.svg 
    - - - - - - - - - - - - */
    
    &_delete--enabled {
      --icon-path: var(--icon__gx-server_delete--enabled);
    }
    &_delete--hover {
      --icon-path: var(--icon__gx-server_delete--hover);
    }
    &_delete--active {
      --icon-path: var(--icon__gx-server_delete--active);
    }
    &_delete--disabled {
      --icon-path: var(--icon__gx-server_delete--disabled);
    }

    /* - - - - - - - - - - - - 
    conflict.svg 
    - - - - - - - - - - - - */
    
    &_conflict--enabled {
      --icon-path: var(--icon__gx-server_conflict--enabled);
    }
    &_conflict--hover {
      --icon-path: var(--icon__gx-server_conflict--hover);
    }
    &_conflict--active {
      --icon-path: var(--icon__gx-server_conflict--active);
    }
    &_conflict--disabled {
      --icon-path: var(--icon__gx-server_conflict--disabled);
    }

    /* - - - - - - - - - - - - 
    changes-commit-pending.svg 
    - - - - - - - - - - - - */
    
    &_changes-commit-pending--enabled {
      --icon-path: var(--icon__gx-server_changes-commit-pending--enabled);
    }
    &_changes-commit-pending--hover {
      --icon-path: var(--icon__gx-server_changes-commit-pending--hover);
    }
    &_changes-commit-pending--active {
      --icon-path: var(--icon__gx-server_changes-commit-pending--active);
    }
    &_changes-commit-pending--disabled {
      --icon-path: var(--icon__gx-server_changes-commit-pending--disabled);
    }
  
    }