
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*gx-test*/
  --icon-mer__gx-test_unit-test--enabled: url('#{$icons-path}gx-test/light/unit-test.svg#enabled'); 
  --icon-mer__gx-test_unit-test--hover: url('#{$icons-path}gx-test/light/unit-test.svg#hover'); 
  --icon-mer__gx-test_unit-test--active: url('#{$icons-path}gx-test/light/unit-test.svg#active'); 
  --icon-mer__gx-test_unit-test--disabled: url('#{$icons-path}gx-test/light/unit-test.svg#disabled'); 
  --icon-mer__gx-test_unit-test-db--enabled: url('#{$icons-path}gx-test/light/unit-test-db.svg#enabled'); 
  --icon-mer__gx-test_unit-test-db--hover: url('#{$icons-path}gx-test/light/unit-test-db.svg#hover'); 
  --icon-mer__gx-test_unit-test-db--active: url('#{$icons-path}gx-test/light/unit-test-db.svg#active'); 
  --icon-mer__gx-test_unit-test-db--disabled: url('#{$icons-path}gx-test/light/unit-test-db.svg#disabled'); 
  --icon-mer__gx-test_ui-test-web--enabled: url('#{$icons-path}gx-test/light/ui-test-web.svg#enabled'); 
  --icon-mer__gx-test_ui-test-web--hover: url('#{$icons-path}gx-test/light/ui-test-web.svg#hover'); 
  --icon-mer__gx-test_ui-test-web--active: url('#{$icons-path}gx-test/light/ui-test-web.svg#active'); 
  --icon-mer__gx-test_ui-test-web--disabled: url('#{$icons-path}gx-test/light/ui-test-web.svg#disabled'); 
  --icon-mer__gx-test_ui-test-sd--enabled: url('#{$icons-path}gx-test/light/ui-test-sd.svg#enabled'); 
  --icon-mer__gx-test_ui-test-sd--hover: url('#{$icons-path}gx-test/light/ui-test-sd.svg#hover'); 
  --icon-mer__gx-test_ui-test-sd--active: url('#{$icons-path}gx-test/light/ui-test-sd.svg#active'); 
  --icon-mer__gx-test_ui-test-sd--disabled: url('#{$icons-path}gx-test/light/ui-test-sd.svg#disabled'); 
  --icon-mer__gx-test_test-suite--enabled: url('#{$icons-path}gx-test/light/test-suite.svg#enabled'); 
  --icon-mer__gx-test_test-suite--hover: url('#{$icons-path}gx-test/light/test-suite.svg#hover'); 
  --icon-mer__gx-test_test-suite--active: url('#{$icons-path}gx-test/light/test-suite.svg#active'); 
  --icon-mer__gx-test_test-suite--disabled: url('#{$icons-path}gx-test/light/test-suite.svg#disabled'); 
  --icon-mer__gx-test_test-results--enabled: url('#{$icons-path}gx-test/light/test-results.svg#enabled'); 
  --icon-mer__gx-test_test-results--hover: url('#{$icons-path}gx-test/light/test-results.svg#hover'); 
  --icon-mer__gx-test_test-results--active: url('#{$icons-path}gx-test/light/test-results.svg#active'); 
  --icon-mer__gx-test_test-results--disabled: url('#{$icons-path}gx-test/light/test-results.svg#disabled'); 
  --icon-mer__gx-test_test-folder--enabled: url('#{$icons-path}gx-test/light/test-folder.svg#enabled'); 
  --icon-mer__gx-test_test-folder--hover: url('#{$icons-path}gx-test/light/test-folder.svg#hover'); 
  --icon-mer__gx-test_test-folder--active: url('#{$icons-path}gx-test/light/test-folder.svg#active'); 
  --icon-mer__gx-test_test-folder--disabled: url('#{$icons-path}gx-test/light/test-folder.svg#disabled'); 
  --icon-mer__gx-test_test-folder-open--enabled: url('#{$icons-path}gx-test/light/test-folder-open.svg#enabled'); 
  --icon-mer__gx-test_test-folder-open--hover: url('#{$icons-path}gx-test/light/test-folder-open.svg#hover'); 
  --icon-mer__gx-test_test-folder-open--active: url('#{$icons-path}gx-test/light/test-folder-open.svg#active'); 
  --icon-mer__gx-test_test-folder-open--disabled: url('#{$icons-path}gx-test/light/test-folder-open.svg#disabled'); 
  --icon-mer__gx-test_screenshot-viewer--enabled: url('#{$icons-path}gx-test/light/screenshot-viewer.svg#enabled'); 
  --icon-mer__gx-test_screenshot-viewer--hover: url('#{$icons-path}gx-test/light/screenshot-viewer.svg#hover'); 
  --icon-mer__gx-test_screenshot-viewer--active: url('#{$icons-path}gx-test/light/screenshot-viewer.svg#active'); 
  --icon-mer__gx-test_screenshot-viewer--disabled: url('#{$icons-path}gx-test/light/screenshot-viewer.svg#disabled'); 
  --icon-mer__gx-test_run-unit-test--enabled: url('#{$icons-path}gx-test/light/run-unit-test.svg#enabled'); 
  --icon-mer__gx-test_run-unit-test--hover: url('#{$icons-path}gx-test/light/run-unit-test.svg#hover'); 
  --icon-mer__gx-test_run-unit-test--active: url('#{$icons-path}gx-test/light/run-unit-test.svg#active'); 
  --icon-mer__gx-test_run-unit-test--disabled: url('#{$icons-path}gx-test/light/run-unit-test.svg#disabled'); 
  --icon-mer__gx-test_run-ui-test-web--enabled: url('#{$icons-path}gx-test/light/run-ui-test-web.svg#enabled'); 
  --icon-mer__gx-test_run-ui-test-web--hover: url('#{$icons-path}gx-test/light/run-ui-test-web.svg#hover'); 
  --icon-mer__gx-test_run-ui-test-web--active: url('#{$icons-path}gx-test/light/run-ui-test-web.svg#active'); 
  --icon-mer__gx-test_run-ui-test-web--disabled: url('#{$icons-path}gx-test/light/run-ui-test-web.svg#disabled'); 
  --icon-mer__gx-test_run-ui-test-sd--enabled: url('#{$icons-path}gx-test/light/run-ui-test-sd.svg#enabled'); 
  --icon-mer__gx-test_run-ui-test-sd--hover: url('#{$icons-path}gx-test/light/run-ui-test-sd.svg#hover'); 
  --icon-mer__gx-test_run-ui-test-sd--active: url('#{$icons-path}gx-test/light/run-ui-test-sd.svg#active'); 
  --icon-mer__gx-test_run-ui-test-sd--disabled: url('#{$icons-path}gx-test/light/run-ui-test-sd.svg#disabled'); 
  --icon-mer__gx-test_run-tests--enabled: url('#{$icons-path}gx-test/light/run-tests.svg#enabled'); 
  --icon-mer__gx-test_run-tests--hover: url('#{$icons-path}gx-test/light/run-tests.svg#hover'); 
  --icon-mer__gx-test_run-tests--active: url('#{$icons-path}gx-test/light/run-tests.svg#active'); 
  --icon-mer__gx-test_run-tests--disabled: url('#{$icons-path}gx-test/light/run-tests.svg#disabled'); 
  --icon-mer__gx-test_run-test-suite--enabled: url('#{$icons-path}gx-test/light/run-test-suite.svg#enabled'); 
  --icon-mer__gx-test_run-test-suite--hover: url('#{$icons-path}gx-test/light/run-test-suite.svg#hover'); 
  --icon-mer__gx-test_run-test-suite--active: url('#{$icons-path}gx-test/light/run-test-suite.svg#active'); 
  --icon-mer__gx-test_run-test-suite--disabled: url('#{$icons-path}gx-test/light/run-test-suite.svg#disabled'); 
  --icon-mer__gx-test_run-test-cancel--enabled: url('#{$icons-path}gx-test/light/run-test-cancel.svg#enabled'); 
  --icon-mer__gx-test_run-test-cancel--hover: url('#{$icons-path}gx-test/light/run-test-cancel.svg#hover'); 
  --icon-mer__gx-test_run-test-cancel--active: url('#{$icons-path}gx-test/light/run-test-cancel.svg#active'); 
  --icon-mer__gx-test_run-test-cancel--disabled: url('#{$icons-path}gx-test/light/run-test-cancel.svg#disabled'); 
  --icon-mer__gx-test_result-warning--enabled: url('#{$icons-path}gx-test/light/result-warning.svg#enabled'); 
  --icon-mer__gx-test_result-warning--hover: url('#{$icons-path}gx-test/light/result-warning.svg#hover'); 
  --icon-mer__gx-test_result-warning--active: url('#{$icons-path}gx-test/light/result-warning.svg#active'); 
  --icon-mer__gx-test_result-warning--disabled: url('#{$icons-path}gx-test/light/result-warning.svg#disabled'); 
  --icon-mer__gx-test_result-skipped--enabled: url('#{$icons-path}gx-test/light/result-skipped.svg#enabled'); 
  --icon-mer__gx-test_result-skipped--hover: url('#{$icons-path}gx-test/light/result-skipped.svg#hover'); 
  --icon-mer__gx-test_result-skipped--active: url('#{$icons-path}gx-test/light/result-skipped.svg#active'); 
  --icon-mer__gx-test_result-skipped--disabled: url('#{$icons-path}gx-test/light/result-skipped.svg#disabled'); 
  --icon-mer__gx-test_result-ok--enabled: url('#{$icons-path}gx-test/light/result-ok.svg#enabled'); 
  --icon-mer__gx-test_result-ok--hover: url('#{$icons-path}gx-test/light/result-ok.svg#hover'); 
  --icon-mer__gx-test_result-ok--active: url('#{$icons-path}gx-test/light/result-ok.svg#active'); 
  --icon-mer__gx-test_result-ok--disabled: url('#{$icons-path}gx-test/light/result-ok.svg#disabled'); 
  --icon-mer__gx-test_result-exception--enabled: url('#{$icons-path}gx-test/light/result-exception.svg#enabled'); 
  --icon-mer__gx-test_result-exception--hover: url('#{$icons-path}gx-test/light/result-exception.svg#hover'); 
  --icon-mer__gx-test_result-exception--active: url('#{$icons-path}gx-test/light/result-exception.svg#active'); 
  --icon-mer__gx-test_result-exception--disabled: url('#{$icons-path}gx-test/light/result-exception.svg#disabled'); 
  --icon-mer__gx-test_result-error--enabled: url('#{$icons-path}gx-test/light/result-error.svg#enabled'); 
  --icon-mer__gx-test_result-error--hover: url('#{$icons-path}gx-test/light/result-error.svg#hover'); 
  --icon-mer__gx-test_result-error--active: url('#{$icons-path}gx-test/light/result-error.svg#active'); 
  --icon-mer__gx-test_result-error--disabled: url('#{$icons-path}gx-test/light/result-error.svg#disabled'); 
  --icon-mer__gx-test_record-mock--enabled: url('#{$icons-path}gx-test/light/record-mock.svg#enabled'); 
  --icon-mer__gx-test_record-mock--hover: url('#{$icons-path}gx-test/light/record-mock.svg#hover'); 
  --icon-mer__gx-test_record-mock--active: url('#{$icons-path}gx-test/light/record-mock.svg#active'); 
  --icon-mer__gx-test_record-mock--disabled: url('#{$icons-path}gx-test/light/record-mock.svg#disabled'); 
  --icon-mer__gx-test_plus--enabled: url('#{$icons-path}gx-test/light/plus.svg#enabled'); 
  --icon-mer__gx-test_plus--hover: url('#{$icons-path}gx-test/light/plus.svg#hover'); 
  --icon-mer__gx-test_plus--active: url('#{$icons-path}gx-test/light/plus.svg#active'); 
  --icon-mer__gx-test_plus--disabled: url('#{$icons-path}gx-test/light/plus.svg#disabled'); 
  --icon-mer__gx-test_image--enabled: url('#{$icons-path}gx-test/light/image.svg#enabled'); 
  --icon-mer__gx-test_image--hover: url('#{$icons-path}gx-test/light/image.svg#hover'); 
  --icon-mer__gx-test_image--active: url('#{$icons-path}gx-test/light/image.svg#active'); 
  --icon-mer__gx-test_image--disabled: url('#{$icons-path}gx-test/light/image.svg#disabled'); 
  --icon-mer__gx-test_explorer--enabled: url('#{$icons-path}gx-test/light/explorer.svg#enabled'); 
  --icon-mer__gx-test_explorer--hover: url('#{$icons-path}gx-test/light/explorer.svg#hover'); 
  --icon-mer__gx-test_explorer--active: url('#{$icons-path}gx-test/light/explorer.svg#active'); 
  --icon-mer__gx-test_explorer--disabled: url('#{$icons-path}gx-test/light/explorer.svg#disabled'); 
  --icon-mer__gx-test_cutfo--enabled: url('#{$icons-path}gx-test/light/cutfo.svg#enabled'); 
  --icon-mer__gx-test_cutfo--hover: url('#{$icons-path}gx-test/light/cutfo.svg#hover'); 
  --icon-mer__gx-test_cutfo--active: url('#{$icons-path}gx-test/light/cutfo.svg#active'); 
  --icon-mer__gx-test_cutfo--disabled: url('#{$icons-path}gx-test/light/cutfo.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*gx-test*/
  --icon-mer__gx-test_unit-test--enabled: url('#{$icons-path}gx-test/dark/unit-test.svg#enabled'); 
  --icon-mer__gx-test_unit-test--hover: url('#{$icons-path}gx-test/dark/unit-test.svg#hover'); 
  --icon-mer__gx-test_unit-test--active: url('#{$icons-path}gx-test/dark/unit-test.svg#active'); 
  --icon-mer__gx-test_unit-test--disabled: url('#{$icons-path}gx-test/dark/unit-test.svg#disabled'); 
  --icon-mer__gx-test_unit-test-db--enabled: url('#{$icons-path}gx-test/dark/unit-test-db.svg#enabled'); 
  --icon-mer__gx-test_unit-test-db--hover: url('#{$icons-path}gx-test/dark/unit-test-db.svg#hover'); 
  --icon-mer__gx-test_unit-test-db--active: url('#{$icons-path}gx-test/dark/unit-test-db.svg#active'); 
  --icon-mer__gx-test_unit-test-db--disabled: url('#{$icons-path}gx-test/dark/unit-test-db.svg#disabled'); 
  --icon-mer__gx-test_ui-test-web--enabled: url('#{$icons-path}gx-test/dark/ui-test-web.svg#enabled'); 
  --icon-mer__gx-test_ui-test-web--hover: url('#{$icons-path}gx-test/dark/ui-test-web.svg#hover'); 
  --icon-mer__gx-test_ui-test-web--active: url('#{$icons-path}gx-test/dark/ui-test-web.svg#active'); 
  --icon-mer__gx-test_ui-test-web--disabled: url('#{$icons-path}gx-test/dark/ui-test-web.svg#disabled'); 
  --icon-mer__gx-test_ui-test-sd--enabled: url('#{$icons-path}gx-test/dark/ui-test-sd.svg#enabled'); 
  --icon-mer__gx-test_ui-test-sd--hover: url('#{$icons-path}gx-test/dark/ui-test-sd.svg#hover'); 
  --icon-mer__gx-test_ui-test-sd--active: url('#{$icons-path}gx-test/dark/ui-test-sd.svg#active'); 
  --icon-mer__gx-test_ui-test-sd--disabled: url('#{$icons-path}gx-test/dark/ui-test-sd.svg#disabled'); 
  --icon-mer__gx-test_test-suite--enabled: url('#{$icons-path}gx-test/dark/test-suite.svg#enabled'); 
  --icon-mer__gx-test_test-suite--hover: url('#{$icons-path}gx-test/dark/test-suite.svg#hover'); 
  --icon-mer__gx-test_test-suite--active: url('#{$icons-path}gx-test/dark/test-suite.svg#active'); 
  --icon-mer__gx-test_test-suite--disabled: url('#{$icons-path}gx-test/dark/test-suite.svg#disabled'); 
  --icon-mer__gx-test_test-results--enabled: url('#{$icons-path}gx-test/dark/test-results.svg#enabled'); 
  --icon-mer__gx-test_test-results--hover: url('#{$icons-path}gx-test/dark/test-results.svg#hover'); 
  --icon-mer__gx-test_test-results--active: url('#{$icons-path}gx-test/dark/test-results.svg#active'); 
  --icon-mer__gx-test_test-results--disabled: url('#{$icons-path}gx-test/dark/test-results.svg#disabled'); 
  --icon-mer__gx-test_test-folder--enabled: url('#{$icons-path}gx-test/dark/test-folder.svg#enabled'); 
  --icon-mer__gx-test_test-folder--hover: url('#{$icons-path}gx-test/dark/test-folder.svg#hover'); 
  --icon-mer__gx-test_test-folder--active: url('#{$icons-path}gx-test/dark/test-folder.svg#active'); 
  --icon-mer__gx-test_test-folder--disabled: url('#{$icons-path}gx-test/dark/test-folder.svg#disabled'); 
  --icon-mer__gx-test_test-folder-open--enabled: url('#{$icons-path}gx-test/dark/test-folder-open.svg#enabled'); 
  --icon-mer__gx-test_test-folder-open--hover: url('#{$icons-path}gx-test/dark/test-folder-open.svg#hover'); 
  --icon-mer__gx-test_test-folder-open--active: url('#{$icons-path}gx-test/dark/test-folder-open.svg#active'); 
  --icon-mer__gx-test_test-folder-open--disabled: url('#{$icons-path}gx-test/dark/test-folder-open.svg#disabled'); 
  --icon-mer__gx-test_screenshot-viewer--enabled: url('#{$icons-path}gx-test/dark/screenshot-viewer.svg#enabled'); 
  --icon-mer__gx-test_screenshot-viewer--hover: url('#{$icons-path}gx-test/dark/screenshot-viewer.svg#hover'); 
  --icon-mer__gx-test_screenshot-viewer--active: url('#{$icons-path}gx-test/dark/screenshot-viewer.svg#active'); 
  --icon-mer__gx-test_screenshot-viewer--disabled: url('#{$icons-path}gx-test/dark/screenshot-viewer.svg#disabled'); 
  --icon-mer__gx-test_run-unit-test--enabled: url('#{$icons-path}gx-test/dark/run-unit-test.svg#enabled'); 
  --icon-mer__gx-test_run-unit-test--hover: url('#{$icons-path}gx-test/dark/run-unit-test.svg#hover'); 
  --icon-mer__gx-test_run-unit-test--active: url('#{$icons-path}gx-test/dark/run-unit-test.svg#active'); 
  --icon-mer__gx-test_run-unit-test--disabled: url('#{$icons-path}gx-test/dark/run-unit-test.svg#disabled'); 
  --icon-mer__gx-test_run-ui-test-web--enabled: url('#{$icons-path}gx-test/dark/run-ui-test-web.svg#enabled'); 
  --icon-mer__gx-test_run-ui-test-web--hover: url('#{$icons-path}gx-test/dark/run-ui-test-web.svg#hover'); 
  --icon-mer__gx-test_run-ui-test-web--active: url('#{$icons-path}gx-test/dark/run-ui-test-web.svg#active'); 
  --icon-mer__gx-test_run-ui-test-web--disabled: url('#{$icons-path}gx-test/dark/run-ui-test-web.svg#disabled'); 
  --icon-mer__gx-test_run-ui-test-sd--enabled: url('#{$icons-path}gx-test/dark/run-ui-test-sd.svg#enabled'); 
  --icon-mer__gx-test_run-ui-test-sd--hover: url('#{$icons-path}gx-test/dark/run-ui-test-sd.svg#hover'); 
  --icon-mer__gx-test_run-ui-test-sd--active: url('#{$icons-path}gx-test/dark/run-ui-test-sd.svg#active'); 
  --icon-mer__gx-test_run-ui-test-sd--disabled: url('#{$icons-path}gx-test/dark/run-ui-test-sd.svg#disabled'); 
  --icon-mer__gx-test_run-tests--enabled: url('#{$icons-path}gx-test/dark/run-tests.svg#enabled'); 
  --icon-mer__gx-test_run-tests--hover: url('#{$icons-path}gx-test/dark/run-tests.svg#hover'); 
  --icon-mer__gx-test_run-tests--active: url('#{$icons-path}gx-test/dark/run-tests.svg#active'); 
  --icon-mer__gx-test_run-tests--disabled: url('#{$icons-path}gx-test/dark/run-tests.svg#disabled'); 
  --icon-mer__gx-test_run-test-suite--enabled: url('#{$icons-path}gx-test/dark/run-test-suite.svg#enabled'); 
  --icon-mer__gx-test_run-test-suite--hover: url('#{$icons-path}gx-test/dark/run-test-suite.svg#hover'); 
  --icon-mer__gx-test_run-test-suite--active: url('#{$icons-path}gx-test/dark/run-test-suite.svg#active'); 
  --icon-mer__gx-test_run-test-suite--disabled: url('#{$icons-path}gx-test/dark/run-test-suite.svg#disabled'); 
  --icon-mer__gx-test_run-test-cancel--enabled: url('#{$icons-path}gx-test/dark/run-test-cancel.svg#enabled'); 
  --icon-mer__gx-test_run-test-cancel--hover: url('#{$icons-path}gx-test/dark/run-test-cancel.svg#hover'); 
  --icon-mer__gx-test_run-test-cancel--active: url('#{$icons-path}gx-test/dark/run-test-cancel.svg#active'); 
  --icon-mer__gx-test_run-test-cancel--disabled: url('#{$icons-path}gx-test/dark/run-test-cancel.svg#disabled'); 
  --icon-mer__gx-test_result-warning--enabled: url('#{$icons-path}gx-test/dark/result-warning.svg#enabled'); 
  --icon-mer__gx-test_result-warning--hover: url('#{$icons-path}gx-test/dark/result-warning.svg#hover'); 
  --icon-mer__gx-test_result-warning--active: url('#{$icons-path}gx-test/dark/result-warning.svg#active'); 
  --icon-mer__gx-test_result-warning--disabled: url('#{$icons-path}gx-test/dark/result-warning.svg#disabled'); 
  --icon-mer__gx-test_result-skipped--enabled: url('#{$icons-path}gx-test/dark/result-skipped.svg#enabled'); 
  --icon-mer__gx-test_result-skipped--hover: url('#{$icons-path}gx-test/dark/result-skipped.svg#hover'); 
  --icon-mer__gx-test_result-skipped--active: url('#{$icons-path}gx-test/dark/result-skipped.svg#active'); 
  --icon-mer__gx-test_result-skipped--disabled: url('#{$icons-path}gx-test/dark/result-skipped.svg#disabled'); 
  --icon-mer__gx-test_result-ok--enabled: url('#{$icons-path}gx-test/dark/result-ok.svg#enabled'); 
  --icon-mer__gx-test_result-ok--hover: url('#{$icons-path}gx-test/dark/result-ok.svg#hover'); 
  --icon-mer__gx-test_result-ok--active: url('#{$icons-path}gx-test/dark/result-ok.svg#active'); 
  --icon-mer__gx-test_result-ok--disabled: url('#{$icons-path}gx-test/dark/result-ok.svg#disabled'); 
  --icon-mer__gx-test_result-exception--enabled: url('#{$icons-path}gx-test/dark/result-exception.svg#enabled'); 
  --icon-mer__gx-test_result-exception--hover: url('#{$icons-path}gx-test/dark/result-exception.svg#hover'); 
  --icon-mer__gx-test_result-exception--active: url('#{$icons-path}gx-test/dark/result-exception.svg#active'); 
  --icon-mer__gx-test_result-exception--disabled: url('#{$icons-path}gx-test/dark/result-exception.svg#disabled'); 
  --icon-mer__gx-test_result-error--enabled: url('#{$icons-path}gx-test/dark/result-error.svg#enabled'); 
  --icon-mer__gx-test_result-error--hover: url('#{$icons-path}gx-test/dark/result-error.svg#hover'); 
  --icon-mer__gx-test_result-error--active: url('#{$icons-path}gx-test/dark/result-error.svg#active'); 
  --icon-mer__gx-test_result-error--disabled: url('#{$icons-path}gx-test/dark/result-error.svg#disabled'); 
  --icon-mer__gx-test_record-mock--enabled: url('#{$icons-path}gx-test/dark/record-mock.svg#enabled'); 
  --icon-mer__gx-test_record-mock--hover: url('#{$icons-path}gx-test/dark/record-mock.svg#hover'); 
  --icon-mer__gx-test_record-mock--active: url('#{$icons-path}gx-test/dark/record-mock.svg#active'); 
  --icon-mer__gx-test_record-mock--disabled: url('#{$icons-path}gx-test/dark/record-mock.svg#disabled'); 
  --icon-mer__gx-test_plus--enabled: url('#{$icons-path}gx-test/dark/plus.svg#enabled'); 
  --icon-mer__gx-test_plus--hover: url('#{$icons-path}gx-test/dark/plus.svg#hover'); 
  --icon-mer__gx-test_plus--active: url('#{$icons-path}gx-test/dark/plus.svg#active'); 
  --icon-mer__gx-test_plus--disabled: url('#{$icons-path}gx-test/dark/plus.svg#disabled'); 
  --icon-mer__gx-test_image--enabled: url('#{$icons-path}gx-test/dark/image.svg#enabled'); 
  --icon-mer__gx-test_image--hover: url('#{$icons-path}gx-test/dark/image.svg#hover'); 
  --icon-mer__gx-test_image--active: url('#{$icons-path}gx-test/dark/image.svg#active'); 
  --icon-mer__gx-test_image--disabled: url('#{$icons-path}gx-test/dark/image.svg#disabled'); 
  --icon-mer__gx-test_explorer--enabled: url('#{$icons-path}gx-test/dark/explorer.svg#enabled'); 
  --icon-mer__gx-test_explorer--hover: url('#{$icons-path}gx-test/dark/explorer.svg#hover'); 
  --icon-mer__gx-test_explorer--active: url('#{$icons-path}gx-test/dark/explorer.svg#active'); 
  --icon-mer__gx-test_explorer--disabled: url('#{$icons-path}gx-test/dark/explorer.svg#disabled'); 
  --icon-mer__gx-test_cutfo--enabled: url('#{$icons-path}gx-test/dark/cutfo.svg#enabled'); 
  --icon-mer__gx-test_cutfo--hover: url('#{$icons-path}gx-test/dark/cutfo.svg#hover'); 
  --icon-mer__gx-test_cutfo--active: url('#{$icons-path}gx-test/dark/cutfo.svg#active'); 
  --icon-mer__gx-test_cutfo--disabled: url('#{$icons-path}gx-test/dark/cutfo.svg#disabled'); 

  }
  