%icon__objects-parts {
      

  /* =================================
  LIGHT PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    variables.svg 
    - - - - - - - - - - - - */
    
    &_variables--enabled {
      --icon-path: var(--icon__objects-parts_variables--enabled);
    }
    &_variables--hover {
      --icon-path: var(--icon__objects-parts_variables--hover);
    }
    &_variables--active {
      --icon-path: var(--icon__objects-parts_variables--active);
    }
    &_variables--disabled {
      --icon-path: var(--icon__objects-parts_variables--disabled);
    }

    /* - - - - - - - - - - - - 
    rules.svg 
    - - - - - - - - - - - - */
    
    &_rules--enabled {
      --icon-path: var(--icon__objects-parts_rules--enabled);
    }
    &_rules--hover {
      --icon-path: var(--icon__objects-parts_rules--hover);
    }
    &_rules--active {
      --icon-path: var(--icon__objects-parts_rules--active);
    }
    &_rules--disabled {
      --icon-path: var(--icon__objects-parts_rules--disabled);
    }

    /* - - - - - - - - - - - - 
    events.svg 
    - - - - - - - - - - - - */
    
    &_events--enabled {
      --icon-path: var(--icon__objects-parts_events--enabled);
    }
    &_events--hover {
      --icon-path: var(--icon__objects-parts_events--hover);
    }
    &_events--active {
      --icon-path: var(--icon__objects-parts_events--active);
    }
    &_events--disabled {
      --icon-path: var(--icon__objects-parts_events--disabled);
    }

    /* - - - - - - - - - - - - 
    conditions.svg 
    - - - - - - - - - - - - */
    
    &_conditions--enabled {
      --icon-path: var(--icon__objects-parts_conditions--enabled);
    }
    &_conditions--hover {
      --icon-path: var(--icon__objects-parts_conditions--hover);
    }
    &_conditions--active {
      --icon-path: var(--icon__objects-parts_conditions--active);
    }
    &_conditions--disabled {
      --icon-path: var(--icon__objects-parts_conditions--disabled);
    }

    /* - - - - - - - - - - - - 
    condition.svg 
    - - - - - - - - - - - - */
    
    &_condition--enabled {
      --icon-path: var(--icon__objects-parts_condition--enabled);
    }
    &_condition--hover {
      --icon-path: var(--icon__objects-parts_condition--hover);
    }
    &_condition--active {
      --icon-path: var(--icon__objects-parts_condition--active);
    }
    &_condition--disabled {
      --icon-path: var(--icon__objects-parts_condition--disabled);
    }

  
  /* =================================
  DARK PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    variables.svg 
    - - - - - - - - - - - - */
    
    &_variables--enabled {
      --icon-path: var(--icon__objects-parts_variables--enabled);
    }
    &_variables--hover {
      --icon-path: var(--icon__objects-parts_variables--hover);
    }
    &_variables--active {
      --icon-path: var(--icon__objects-parts_variables--active);
    }
    &_variables--disabled {
      --icon-path: var(--icon__objects-parts_variables--disabled);
    }

    /* - - - - - - - - - - - - 
    rules.svg 
    - - - - - - - - - - - - */
    
    &_rules--enabled {
      --icon-path: var(--icon__objects-parts_rules--enabled);
    }
    &_rules--hover {
      --icon-path: var(--icon__objects-parts_rules--hover);
    }
    &_rules--active {
      --icon-path: var(--icon__objects-parts_rules--active);
    }
    &_rules--disabled {
      --icon-path: var(--icon__objects-parts_rules--disabled);
    }

    /* - - - - - - - - - - - - 
    events.svg 
    - - - - - - - - - - - - */
    
    &_events--enabled {
      --icon-path: var(--icon__objects-parts_events--enabled);
    }
    &_events--hover {
      --icon-path: var(--icon__objects-parts_events--hover);
    }
    &_events--active {
      --icon-path: var(--icon__objects-parts_events--active);
    }
    &_events--disabled {
      --icon-path: var(--icon__objects-parts_events--disabled);
    }

    /* - - - - - - - - - - - - 
    conditions.svg 
    - - - - - - - - - - - - */
    
    &_conditions--enabled {
      --icon-path: var(--icon__objects-parts_conditions--enabled);
    }
    &_conditions--hover {
      --icon-path: var(--icon__objects-parts_conditions--hover);
    }
    &_conditions--active {
      --icon-path: var(--icon__objects-parts_conditions--active);
    }
    &_conditions--disabled {
      --icon-path: var(--icon__objects-parts_conditions--disabled);
    }

    /* - - - - - - - - - - - - 
    condition.svg 
    - - - - - - - - - - - - */
    
    &_condition--enabled {
      --icon-path: var(--icon__objects-parts_condition--enabled);
    }
    &_condition--hover {
      --icon-path: var(--icon__objects-parts_condition--hover);
    }
    &_condition--active {
      --icon-path: var(--icon__objects-parts_condition--active);
    }
    &_condition--disabled {
      --icon-path: var(--icon__objects-parts_condition--disabled);
    }
  
    }