
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*objects*/
  --icon-mer__objects_workflow--enabled: url('#{$icons-path}objects/light/workflow.svg#enabled'); 
  --icon-mer__objects_workflow--hover: url('#{$icons-path}objects/light/workflow.svg#hover'); 
  --icon-mer__objects_workflow--active: url('#{$icons-path}objects/light/workflow.svg#active'); 
  --icon-mer__objects_workflow--disabled: url('#{$icons-path}objects/light/workflow.svg#disabled'); 
  --icon-mer__objects_work-panel--enabled: url('#{$icons-path}objects/light/work-panel.svg#enabled'); 
  --icon-mer__objects_work-panel--hover: url('#{$icons-path}objects/light/work-panel.svg#hover'); 
  --icon-mer__objects_work-panel--active: url('#{$icons-path}objects/light/work-panel.svg#active'); 
  --icon-mer__objects_work-panel--disabled: url('#{$icons-path}objects/light/work-panel.svg#disabled'); 
  --icon-mer__objects_web-panel--enabled: url('#{$icons-path}objects/light/web-panel.svg#enabled'); 
  --icon-mer__objects_web-panel--hover: url('#{$icons-path}objects/light/web-panel.svg#hover'); 
  --icon-mer__objects_web-panel--active: url('#{$icons-path}objects/light/web-panel.svg#active'); 
  --icon-mer__objects_web-panel--disabled: url('#{$icons-path}objects/light/web-panel.svg#disabled'); 
  --icon-mer__objects_web-component--enabled: url('#{$icons-path}objects/light/web-component.svg#enabled'); 
  --icon-mer__objects_web-component--hover: url('#{$icons-path}objects/light/web-component.svg#hover'); 
  --icon-mer__objects_web-component--active: url('#{$icons-path}objects/light/web-component.svg#active'); 
  --icon-mer__objects_web-component--disabled: url('#{$icons-path}objects/light/web-component.svg#disabled'); 
  --icon-mer__objects_version--enabled: url('#{$icons-path}objects/light/version.svg#enabled'); 
  --icon-mer__objects_version--hover: url('#{$icons-path}objects/light/version.svg#hover'); 
  --icon-mer__objects_version--active: url('#{$icons-path}objects/light/version.svg#active'); 
  --icon-mer__objects_version--disabled: url('#{$icons-path}objects/light/version.svg#disabled'); 
  --icon-mer__objects_url-rewrite--enabled: url('#{$icons-path}objects/light/url-rewrite.svg#enabled'); 
  --icon-mer__objects_url-rewrite--hover: url('#{$icons-path}objects/light/url-rewrite.svg#hover'); 
  --icon-mer__objects_url-rewrite--active: url('#{$icons-path}objects/light/url-rewrite.svg#active'); 
  --icon-mer__objects_url-rewrite--disabled: url('#{$icons-path}objects/light/url-rewrite.svg#disabled'); 
  --icon-mer__objects_transaction--enabled: url('#{$icons-path}objects/light/transaction.svg#enabled'); 
  --icon-mer__objects_transaction--hover: url('#{$icons-path}objects/light/transaction.svg#hover'); 
  --icon-mer__objects_transaction--active: url('#{$icons-path}objects/light/transaction.svg#active'); 
  --icon-mer__objects_transaction--disabled: url('#{$icons-path}objects/light/transaction.svg#disabled'); 
  --icon-mer__objects_to-be-defined--enabled: url('#{$icons-path}objects/light/to-be-defined.svg#enabled'); 
  --icon-mer__objects_to-be-defined--hover: url('#{$icons-path}objects/light/to-be-defined.svg#hover'); 
  --icon-mer__objects_to-be-defined--active: url('#{$icons-path}objects/light/to-be-defined.svg#active'); 
  --icon-mer__objects_to-be-defined--disabled: url('#{$icons-path}objects/light/to-be-defined.svg#disabled'); 
  --icon-mer__objects_theme--enabled: url('#{$icons-path}objects/light/theme.svg#enabled'); 
  --icon-mer__objects_theme--hover: url('#{$icons-path}objects/light/theme.svg#hover'); 
  --icon-mer__objects_theme--active: url('#{$icons-path}objects/light/theme.svg#active'); 
  --icon-mer__objects_theme--disabled: url('#{$icons-path}objects/light/theme.svg#disabled'); 
  --icon-mer__objects_theme-web--enabled: url('#{$icons-path}objects/light/theme-web.svg#enabled'); 
  --icon-mer__objects_theme-web--hover: url('#{$icons-path}objects/light/theme-web.svg#hover'); 
  --icon-mer__objects_theme-web--active: url('#{$icons-path}objects/light/theme-web.svg#active'); 
  --icon-mer__objects_theme-web--disabled: url('#{$icons-path}objects/light/theme-web.svg#disabled'); 
  --icon-mer__objects_theme-for-sd--enabled: url('#{$icons-path}objects/light/theme-for-sd.svg#enabled'); 
  --icon-mer__objects_theme-for-sd--hover: url('#{$icons-path}objects/light/theme-for-sd.svg#hover'); 
  --icon-mer__objects_theme-for-sd--active: url('#{$icons-path}objects/light/theme-for-sd.svg#active'); 
  --icon-mer__objects_theme-for-sd--disabled: url('#{$icons-path}objects/light/theme-for-sd.svg#disabled'); 
  --icon-mer__objects_table--enabled: url('#{$icons-path}objects/light/table.svg#enabled'); 
  --icon-mer__objects_table--hover: url('#{$icons-path}objects/light/table.svg#hover'); 
  --icon-mer__objects_table--active: url('#{$icons-path}objects/light/table.svg#active'); 
  --icon-mer__objects_table--disabled: url('#{$icons-path}objects/light/table.svg#disabled'); 
  --icon-mer__objects_super-app--enabled: url('#{$icons-path}objects/light/super-app.svg#enabled'); 
  --icon-mer__objects_super-app--hover: url('#{$icons-path}objects/light/super-app.svg#hover'); 
  --icon-mer__objects_super-app--active: url('#{$icons-path}objects/light/super-app.svg#active'); 
  --icon-mer__objects_super-app--disabled: url('#{$icons-path}objects/light/super-app.svg#disabled'); 
  --icon-mer__objects_subtype-group--enabled: url('#{$icons-path}objects/light/subtype-group.svg#enabled'); 
  --icon-mer__objects_subtype-group--hover: url('#{$icons-path}objects/light/subtype-group.svg#hover'); 
  --icon-mer__objects_subtype-group--active: url('#{$icons-path}objects/light/subtype-group.svg#active'); 
  --icon-mer__objects_subtype-group--disabled: url('#{$icons-path}objects/light/subtype-group.svg#disabled'); 
  --icon-mer__objects_structured-data-type--enabled: url('#{$icons-path}objects/light/structured-data-type.svg#enabled'); 
  --icon-mer__objects_structured-data-type--hover: url('#{$icons-path}objects/light/structured-data-type.svg#hover'); 
  --icon-mer__objects_structured-data-type--active: url('#{$icons-path}objects/light/structured-data-type.svg#active'); 
  --icon-mer__objects_structured-data-type--disabled: url('#{$icons-path}objects/light/structured-data-type.svg#disabled'); 
  --icon-mer__objects_stencil--enabled: url('#{$icons-path}objects/light/stencil.svg#enabled'); 
  --icon-mer__objects_stencil--hover: url('#{$icons-path}objects/light/stencil.svg#hover'); 
  --icon-mer__objects_stencil--active: url('#{$icons-path}objects/light/stencil.svg#active'); 
  --icon-mer__objects_stencil--disabled: url('#{$icons-path}objects/light/stencil.svg#disabled'); 
  --icon-mer__objects_roles--enabled: url('#{$icons-path}objects/light/roles.svg#enabled'); 
  --icon-mer__objects_roles--hover: url('#{$icons-path}objects/light/roles.svg#hover'); 
  --icon-mer__objects_roles--active: url('#{$icons-path}objects/light/roles.svg#active'); 
  --icon-mer__objects_roles--disabled: url('#{$icons-path}objects/light/roles.svg#disabled'); 
  --icon-mer__objects_report--enabled: url('#{$icons-path}objects/light/report.svg#enabled'); 
  --icon-mer__objects_report--hover: url('#{$icons-path}objects/light/report.svg#hover'); 
  --icon-mer__objects_report--active: url('#{$icons-path}objects/light/report.svg#active'); 
  --icon-mer__objects_report--disabled: url('#{$icons-path}objects/light/report.svg#disabled'); 
  --icon-mer__objects_references--enabled: url('#{$icons-path}objects/light/references.svg#enabled'); 
  --icon-mer__objects_references--hover: url('#{$icons-path}objects/light/references.svg#hover'); 
  --icon-mer__objects_references--active: url('#{$icons-path}objects/light/references.svg#active'); 
  --icon-mer__objects_references--disabled: url('#{$icons-path}objects/light/references.svg#disabled'); 
  --icon-mer__objects_query--enabled: url('#{$icons-path}objects/light/query.svg#enabled'); 
  --icon-mer__objects_query--hover: url('#{$icons-path}objects/light/query.svg#hover'); 
  --icon-mer__objects_query--active: url('#{$icons-path}objects/light/query.svg#active'); 
  --icon-mer__objects_query--disabled: url('#{$icons-path}objects/light/query.svg#disabled'); 
  --icon-mer__objects_procedure--enabled: url('#{$icons-path}objects/light/procedure.svg#enabled'); 
  --icon-mer__objects_procedure--hover: url('#{$icons-path}objects/light/procedure.svg#hover'); 
  --icon-mer__objects_procedure--active: url('#{$icons-path}objects/light/procedure.svg#active'); 
  --icon-mer__objects_procedure--disabled: url('#{$icons-path}objects/light/procedure.svg#disabled'); 
  --icon-mer__objects_patterns--enabled: url('#{$icons-path}objects/light/patterns.svg#enabled'); 
  --icon-mer__objects_patterns--hover: url('#{$icons-path}objects/light/patterns.svg#hover'); 
  --icon-mer__objects_patterns--active: url('#{$icons-path}objects/light/patterns.svg#active'); 
  --icon-mer__objects_patterns--disabled: url('#{$icons-path}objects/light/patterns.svg#disabled'); 
  --icon-mer__objects_panel-for-sd--enabled: url('#{$icons-path}objects/light/panel-for-sd.svg#enabled'); 
  --icon-mer__objects_panel-for-sd--hover: url('#{$icons-path}objects/light/panel-for-sd.svg#hover'); 
  --icon-mer__objects_panel-for-sd--active: url('#{$icons-path}objects/light/panel-for-sd.svg#active'); 
  --icon-mer__objects_panel-for-sd--disabled: url('#{$icons-path}objects/light/panel-for-sd.svg#disabled'); 
  --icon-mer__objects_orphant-document--enabled: url('#{$icons-path}objects/light/orphant-document.svg#enabled'); 
  --icon-mer__objects_orphant-document--hover: url('#{$icons-path}objects/light/orphant-document.svg#hover'); 
  --icon-mer__objects_orphant-document--active: url('#{$icons-path}objects/light/orphant-document.svg#active'); 
  --icon-mer__objects_orphant-document--disabled: url('#{$icons-path}objects/light/orphant-document.svg#disabled'); 
  --icon-mer__objects_offline-database--enabled: url('#{$icons-path}objects/light/offline-database.svg#enabled'); 
  --icon-mer__objects_offline-database--hover: url('#{$icons-path}objects/light/offline-database.svg#hover'); 
  --icon-mer__objects_offline-database--active: url('#{$icons-path}objects/light/offline-database.svg#active'); 
  --icon-mer__objects_offline-database--disabled: url('#{$icons-path}objects/light/offline-database.svg#disabled'); 
  --icon-mer__objects_object--enabled: url('#{$icons-path}objects/light/object.svg#enabled'); 
  --icon-mer__objects_object--hover: url('#{$icons-path}objects/light/object.svg#hover'); 
  --icon-mer__objects_object--active: url('#{$icons-path}objects/light/object.svg#active'); 
  --icon-mer__objects_object--disabled: url('#{$icons-path}objects/light/object.svg#disabled'); 
  --icon-mer__objects_notification-templates--enabled: url('#{$icons-path}objects/light/notification-templates.svg#enabled'); 
  --icon-mer__objects_notification-templates--hover: url('#{$icons-path}objects/light/notification-templates.svg#hover'); 
  --icon-mer__objects_notification-templates--active: url('#{$icons-path}objects/light/notification-templates.svg#active'); 
  --icon-mer__objects_notification-templates--disabled: url('#{$icons-path}objects/light/notification-templates.svg#disabled'); 
  --icon-mer__objects_module--enabled: url('#{$icons-path}objects/light/module.svg#enabled'); 
  --icon-mer__objects_module--hover: url('#{$icons-path}objects/light/module.svg#hover'); 
  --icon-mer__objects_module--active: url('#{$icons-path}objects/light/module.svg#active'); 
  --icon-mer__objects_module--disabled: url('#{$icons-path}objects/light/module.svg#disabled'); 
  --icon-mer__objects_module-open--enabled: url('#{$icons-path}objects/light/module-open.svg#enabled'); 
  --icon-mer__objects_module-open--hover: url('#{$icons-path}objects/light/module-open.svg#hover'); 
  --icon-mer__objects_module-open--active: url('#{$icons-path}objects/light/module-open.svg#active'); 
  --icon-mer__objects_module-open--disabled: url('#{$icons-path}objects/light/module-open.svg#disabled'); 
  --icon-mer__objects_mini-app--enabled: url('#{$icons-path}objects/light/mini-app.svg#enabled'); 
  --icon-mer__objects_mini-app--hover: url('#{$icons-path}objects/light/mini-app.svg#hover'); 
  --icon-mer__objects_mini-app--active: url('#{$icons-path}objects/light/mini-app.svg#active'); 
  --icon-mer__objects_mini-app--disabled: url('#{$icons-path}objects/light/mini-app.svg#disabled'); 
  --icon-mer__objects_menubar--enabled: url('#{$icons-path}objects/light/menubar.svg#enabled'); 
  --icon-mer__objects_menubar--hover: url('#{$icons-path}objects/light/menubar.svg#hover'); 
  --icon-mer__objects_menubar--active: url('#{$icons-path}objects/light/menubar.svg#active'); 
  --icon-mer__objects_menubar--disabled: url('#{$icons-path}objects/light/menubar.svg#disabled'); 
  --icon-mer__objects_menu--enabled: url('#{$icons-path}objects/light/menu.svg#enabled'); 
  --icon-mer__objects_menu--hover: url('#{$icons-path}objects/light/menu.svg#hover'); 
  --icon-mer__objects_menu--active: url('#{$icons-path}objects/light/menu.svg#active'); 
  --icon-mer__objects_menu--disabled: url('#{$icons-path}objects/light/menu.svg#disabled'); 
  --icon-mer__objects_masterpage--enabled: url('#{$icons-path}objects/light/masterpage.svg#enabled'); 
  --icon-mer__objects_masterpage--hover: url('#{$icons-path}objects/light/masterpage.svg#hover'); 
  --icon-mer__objects_masterpage--active: url('#{$icons-path}objects/light/masterpage.svg#active'); 
  --icon-mer__objects_masterpage--disabled: url('#{$icons-path}objects/light/masterpage.svg#disabled'); 
  --icon-mer__objects_main-object--enabled: url('#{$icons-path}objects/light/main-object.svg#enabled'); 
  --icon-mer__objects_main-object--hover: url('#{$icons-path}objects/light/main-object.svg#hover'); 
  --icon-mer__objects_main-object--active: url('#{$icons-path}objects/light/main-object.svg#active'); 
  --icon-mer__objects_main-object--disabled: url('#{$icons-path}objects/light/main-object.svg#disabled'); 
  --icon-mer__objects_language--enabled: url('#{$icons-path}objects/light/language.svg#enabled'); 
  --icon-mer__objects_language--hover: url('#{$icons-path}objects/light/language.svg#hover'); 
  --icon-mer__objects_language--active: url('#{$icons-path}objects/light/language.svg#active'); 
  --icon-mer__objects_language--disabled: url('#{$icons-path}objects/light/language.svg#disabled'); 
  --icon-mer__objects_knowledge-base--enabled: url('#{$icons-path}objects/light/knowledge-base.svg#enabled'); 
  --icon-mer__objects_knowledge-base--hover: url('#{$icons-path}objects/light/knowledge-base.svg#hover'); 
  --icon-mer__objects_knowledge-base--active: url('#{$icons-path}objects/light/knowledge-base.svg#active'); 
  --icon-mer__objects_knowledge-base--disabled: url('#{$icons-path}objects/light/knowledge-base.svg#disabled'); 
  --icon-mer__objects_image--enabled: url('#{$icons-path}objects/light/image.svg#enabled'); 
  --icon-mer__objects_image--hover: url('#{$icons-path}objects/light/image.svg#hover'); 
  --icon-mer__objects_image--active: url('#{$icons-path}objects/light/image.svg#active'); 
  --icon-mer__objects_image--disabled: url('#{$icons-path}objects/light/image.svg#disabled'); 
  --icon-mer__objects_generator--enabled: url('#{$icons-path}objects/light/generator.svg#enabled'); 
  --icon-mer__objects_generator--hover: url('#{$icons-path}objects/light/generator.svg#hover'); 
  --icon-mer__objects_generator--active: url('#{$icons-path}objects/light/generator.svg#active'); 
  --icon-mer__objects_generator--disabled: url('#{$icons-path}objects/light/generator.svg#disabled'); 
  --icon-mer__objects_generator-category--enabled: url('#{$icons-path}objects/light/generator-category.svg#enabled'); 
  --icon-mer__objects_generator-category--hover: url('#{$icons-path}objects/light/generator-category.svg#hover'); 
  --icon-mer__objects_generator-category--active: url('#{$icons-path}objects/light/generator-category.svg#active'); 
  --icon-mer__objects_generator-category--disabled: url('#{$icons-path}objects/light/generator-category.svg#disabled'); 
  --icon-mer__objects_folder--enabled: url('#{$icons-path}objects/light/folder.svg#enabled'); 
  --icon-mer__objects_folder--hover: url('#{$icons-path}objects/light/folder.svg#hover'); 
  --icon-mer__objects_folder--active: url('#{$icons-path}objects/light/folder.svg#active'); 
  --icon-mer__objects_folder--disabled: url('#{$icons-path}objects/light/folder.svg#disabled'); 
  --icon-mer__objects_folder-open--enabled: url('#{$icons-path}objects/light/folder-open.svg#enabled'); 
  --icon-mer__objects_folder-open--hover: url('#{$icons-path}objects/light/folder-open.svg#hover'); 
  --icon-mer__objects_folder-open--active: url('#{$icons-path}objects/light/folder-open.svg#active'); 
  --icon-mer__objects_folder-open--disabled: url('#{$icons-path}objects/light/folder-open.svg#disabled'); 
  --icon-mer__objects_file--enabled: url('#{$icons-path}objects/light/file.svg#enabled'); 
  --icon-mer__objects_file--hover: url('#{$icons-path}objects/light/file.svg#hover'); 
  --icon-mer__objects_file--active: url('#{$icons-path}objects/light/file.svg#active'); 
  --icon-mer__objects_file--disabled: url('#{$icons-path}objects/light/file.svg#disabled'); 
  --icon-mer__objects_external-object--enabled: url('#{$icons-path}objects/light/external-object.svg#enabled'); 
  --icon-mer__objects_external-object--hover: url('#{$icons-path}objects/light/external-object.svg#hover'); 
  --icon-mer__objects_external-object--active: url('#{$icons-path}objects/light/external-object.svg#active'); 
  --icon-mer__objects_external-object--disabled: url('#{$icons-path}objects/light/external-object.svg#disabled'); 
  --icon-mer__objects_environment-select--enabled: url('#{$icons-path}objects/light/environment-select.svg#enabled'); 
  --icon-mer__objects_environment-select--hover: url('#{$icons-path}objects/light/environment-select.svg#hover'); 
  --icon-mer__objects_environment-select--active: url('#{$icons-path}objects/light/environment-select.svg#active'); 
  --icon-mer__objects_environment-select--disabled: url('#{$icons-path}objects/light/environment-select.svg#disabled'); 
  --icon-mer__objects_environment-no-select--enabled: url('#{$icons-path}objects/light/environment-no-select.svg#enabled'); 
  --icon-mer__objects_environment-no-select--hover: url('#{$icons-path}objects/light/environment-no-select.svg#hover'); 
  --icon-mer__objects_environment-no-select--active: url('#{$icons-path}objects/light/environment-no-select.svg#active'); 
  --icon-mer__objects_environment-no-select--disabled: url('#{$icons-path}objects/light/environment-no-select.svg#disabled'); 
  --icon-mer__objects_dso--enabled: url('#{$icons-path}objects/light/dso.svg#enabled'); 
  --icon-mer__objects_dso--hover: url('#{$icons-path}objects/light/dso.svg#hover'); 
  --icon-mer__objects_dso--active: url('#{$icons-path}objects/light/dso.svg#active'); 
  --icon-mer__objects_dso--disabled: url('#{$icons-path}objects/light/dso.svg#disabled'); 
  --icon-mer__objects_domain--enabled: url('#{$icons-path}objects/light/domain.svg#enabled'); 
  --icon-mer__objects_domain--hover: url('#{$icons-path}objects/light/domain.svg#hover'); 
  --icon-mer__objects_domain--active: url('#{$icons-path}objects/light/domain.svg#active'); 
  --icon-mer__objects_domain--disabled: url('#{$icons-path}objects/light/domain.svg#disabled'); 
  --icon-mer__objects_document--enabled: url('#{$icons-path}objects/light/document.svg#enabled'); 
  --icon-mer__objects_document--hover: url('#{$icons-path}objects/light/document.svg#hover'); 
  --icon-mer__objects_document--active: url('#{$icons-path}objects/light/document.svg#active'); 
  --icon-mer__objects_document--disabled: url('#{$icons-path}objects/light/document.svg#disabled'); 
  --icon-mer__objects_document-workflow--enabled: url('#{$icons-path}objects/light/document-workflow.svg#enabled'); 
  --icon-mer__objects_document-workflow--hover: url('#{$icons-path}objects/light/document-workflow.svg#hover'); 
  --icon-mer__objects_document-workflow--active: url('#{$icons-path}objects/light/document-workflow.svg#active'); 
  --icon-mer__objects_document-workflow--disabled: url('#{$icons-path}objects/light/document-workflow.svg#disabled'); 
  --icon-mer__objects_diagram--enabled: url('#{$icons-path}objects/light/diagram.svg#enabled'); 
  --icon-mer__objects_diagram--hover: url('#{$icons-path}objects/light/diagram.svg#hover'); 
  --icon-mer__objects_diagram--active: url('#{$icons-path}objects/light/diagram.svg#active'); 
  --icon-mer__objects_diagram--disabled: url('#{$icons-path}objects/light/diagram.svg#disabled'); 
  --icon-mer__objects_design--enabled: url('#{$icons-path}objects/light/design.svg#enabled'); 
  --icon-mer__objects_design--hover: url('#{$icons-path}objects/light/design.svg#hover'); 
  --icon-mer__objects_design--active: url('#{$icons-path}objects/light/design.svg#active'); 
  --icon-mer__objects_design--disabled: url('#{$icons-path}objects/light/design.svg#disabled'); 
  --icon-mer__objects_deployment-unit--enabled: url('#{$icons-path}objects/light/deployment-unit.svg#enabled'); 
  --icon-mer__objects_deployment-unit--hover: url('#{$icons-path}objects/light/deployment-unit.svg#hover'); 
  --icon-mer__objects_deployment-unit--active: url('#{$icons-path}objects/light/deployment-unit.svg#active'); 
  --icon-mer__objects_deployment-unit--disabled: url('#{$icons-path}objects/light/deployment-unit.svg#disabled'); 
  --icon-mer__objects_dataview-index--enabled: url('#{$icons-path}objects/light/dataview-index.svg#enabled'); 
  --icon-mer__objects_dataview-index--hover: url('#{$icons-path}objects/light/dataview-index.svg#hover'); 
  --icon-mer__objects_dataview-index--active: url('#{$icons-path}objects/light/dataview-index.svg#active'); 
  --icon-mer__objects_dataview-index--disabled: url('#{$icons-path}objects/light/dataview-index.svg#disabled'); 
  --icon-mer__objects_datastore--enabled: url('#{$icons-path}objects/light/datastore.svg#enabled'); 
  --icon-mer__objects_datastore--hover: url('#{$icons-path}objects/light/datastore.svg#hover'); 
  --icon-mer__objects_datastore--active: url('#{$icons-path}objects/light/datastore.svg#active'); 
  --icon-mer__objects_datastore--disabled: url('#{$icons-path}objects/light/datastore.svg#disabled'); 
  --icon-mer__objects_datastore-category--enabled: url('#{$icons-path}objects/light/datastore-category.svg#enabled'); 
  --icon-mer__objects_datastore-category--hover: url('#{$icons-path}objects/light/datastore-category.svg#hover'); 
  --icon-mer__objects_datastore-category--active: url('#{$icons-path}objects/light/datastore-category.svg#active'); 
  --icon-mer__objects_datastore-category--disabled: url('#{$icons-path}objects/light/datastore-category.svg#disabled'); 
  --icon-mer__objects_data-view--enabled: url('#{$icons-path}objects/light/data-view.svg#enabled'); 
  --icon-mer__objects_data-view--hover: url('#{$icons-path}objects/light/data-view.svg#hover'); 
  --icon-mer__objects_data-view--active: url('#{$icons-path}objects/light/data-view.svg#active'); 
  --icon-mer__objects_data-view--disabled: url('#{$icons-path}objects/light/data-view.svg#disabled'); 
  --icon-mer__objects_data-selector--enabled: url('#{$icons-path}objects/light/data-selector.svg#enabled'); 
  --icon-mer__objects_data-selector--hover: url('#{$icons-path}objects/light/data-selector.svg#hover'); 
  --icon-mer__objects_data-selector--active: url('#{$icons-path}objects/light/data-selector.svg#active'); 
  --icon-mer__objects_data-selector--disabled: url('#{$icons-path}objects/light/data-selector.svg#disabled'); 
  --icon-mer__objects_data-provider--enabled: url('#{$icons-path}objects/light/data-provider.svg#enabled'); 
  --icon-mer__objects_data-provider--hover: url('#{$icons-path}objects/light/data-provider.svg#hover'); 
  --icon-mer__objects_data-provider--active: url('#{$icons-path}objects/light/data-provider.svg#active'); 
  --icon-mer__objects_data-provider--disabled: url('#{$icons-path}objects/light/data-provider.svg#disabled'); 
  --icon-mer__objects_dashboard--enabled: url('#{$icons-path}objects/light/dashboard.svg#enabled'); 
  --icon-mer__objects_dashboard--hover: url('#{$icons-path}objects/light/dashboard.svg#hover'); 
  --icon-mer__objects_dashboard--active: url('#{$icons-path}objects/light/dashboard.svg#active'); 
  --icon-mer__objects_dashboard--disabled: url('#{$icons-path}objects/light/dashboard.svg#disabled'); 
  --icon-mer__objects_customization--enabled: url('#{$icons-path}objects/light/customization.svg#enabled'); 
  --icon-mer__objects_customization--hover: url('#{$icons-path}objects/light/customization.svg#hover'); 
  --icon-mer__objects_customization--active: url('#{$icons-path}objects/light/customization.svg#active'); 
  --icon-mer__objects_customization--disabled: url('#{$icons-path}objects/light/customization.svg#disabled'); 
  --icon-mer__objects_conversational-flows--enabled: url('#{$icons-path}objects/light/conversational-flows.svg#enabled'); 
  --icon-mer__objects_conversational-flows--hover: url('#{$icons-path}objects/light/conversational-flows.svg#hover'); 
  --icon-mer__objects_conversational-flows--active: url('#{$icons-path}objects/light/conversational-flows.svg#active'); 
  --icon-mer__objects_conversational-flows--disabled: url('#{$icons-path}objects/light/conversational-flows.svg#disabled'); 
  --icon-mer__objects_category--enabled: url('#{$icons-path}objects/light/category.svg#enabled'); 
  --icon-mer__objects_category--hover: url('#{$icons-path}objects/light/category.svg#hover'); 
  --icon-mer__objects_category--active: url('#{$icons-path}objects/light/category.svg#active'); 
  --icon-mer__objects_category--disabled: url('#{$icons-path}objects/light/category.svg#disabled'); 
  --icon-mer__objects_calendars--enabled: url('#{$icons-path}objects/light/calendars.svg#enabled'); 
  --icon-mer__objects_calendars--hover: url('#{$icons-path}objects/light/calendars.svg#hover'); 
  --icon-mer__objects_calendars--active: url('#{$icons-path}objects/light/calendars.svg#active'); 
  --icon-mer__objects_calendars--disabled: url('#{$icons-path}objects/light/calendars.svg#disabled'); 
  --icon-mer__objects_business-process-diagram--enabled: url('#{$icons-path}objects/light/business-process-diagram.svg#enabled'); 
  --icon-mer__objects_business-process-diagram--hover: url('#{$icons-path}objects/light/business-process-diagram.svg#hover'); 
  --icon-mer__objects_business-process-diagram--active: url('#{$icons-path}objects/light/business-process-diagram.svg#active'); 
  --icon-mer__objects_business-process-diagram--disabled: url('#{$icons-path}objects/light/business-process-diagram.svg#disabled'); 
  --icon-mer__objects_bg-color--enabled: url('#{$icons-path}objects/light/bg-color.svg#enabled'); 
  --icon-mer__objects_bg-color--hover: url('#{$icons-path}objects/light/bg-color.svg#hover'); 
  --icon-mer__objects_bg-color--active: url('#{$icons-path}objects/light/bg-color.svg#active'); 
  --icon-mer__objects_bg-color--disabled: url('#{$icons-path}objects/light/bg-color.svg#disabled'); 
  --icon-mer__objects_attribute--enabled: url('#{$icons-path}objects/light/attribute.svg#enabled'); 
  --icon-mer__objects_attribute--hover: url('#{$icons-path}objects/light/attribute.svg#hover'); 
  --icon-mer__objects_attribute--active: url('#{$icons-path}objects/light/attribute.svg#active'); 
  --icon-mer__objects_attribute--disabled: url('#{$icons-path}objects/light/attribute.svg#disabled'); 
  --icon-mer__objects_api--enabled: url('#{$icons-path}objects/light/api.svg#enabled'); 
  --icon-mer__objects_api--hover: url('#{$icons-path}objects/light/api.svg#hover'); 
  --icon-mer__objects_api--active: url('#{$icons-path}objects/light/api.svg#active'); 
  --icon-mer__objects_api--disabled: url('#{$icons-path}objects/light/api.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*objects*/
  --icon-mer__objects_workflow--enabled: url('#{$icons-path}objects/dark/workflow.svg#enabled'); 
  --icon-mer__objects_workflow--hover: url('#{$icons-path}objects/dark/workflow.svg#hover'); 
  --icon-mer__objects_workflow--active: url('#{$icons-path}objects/dark/workflow.svg#active'); 
  --icon-mer__objects_workflow--disabled: url('#{$icons-path}objects/dark/workflow.svg#disabled'); 
  --icon-mer__objects_work-panel--enabled: url('#{$icons-path}objects/dark/work-panel.svg#enabled'); 
  --icon-mer__objects_work-panel--hover: url('#{$icons-path}objects/dark/work-panel.svg#hover'); 
  --icon-mer__objects_work-panel--active: url('#{$icons-path}objects/dark/work-panel.svg#active'); 
  --icon-mer__objects_work-panel--disabled: url('#{$icons-path}objects/dark/work-panel.svg#disabled'); 
  --icon-mer__objects_web-panel--enabled: url('#{$icons-path}objects/dark/web-panel.svg#enabled'); 
  --icon-mer__objects_web-panel--hover: url('#{$icons-path}objects/dark/web-panel.svg#hover'); 
  --icon-mer__objects_web-panel--active: url('#{$icons-path}objects/dark/web-panel.svg#active'); 
  --icon-mer__objects_web-panel--disabled: url('#{$icons-path}objects/dark/web-panel.svg#disabled'); 
  --icon-mer__objects_web-component--enabled: url('#{$icons-path}objects/dark/web-component.svg#enabled'); 
  --icon-mer__objects_web-component--hover: url('#{$icons-path}objects/dark/web-component.svg#hover'); 
  --icon-mer__objects_web-component--active: url('#{$icons-path}objects/dark/web-component.svg#active'); 
  --icon-mer__objects_web-component--disabled: url('#{$icons-path}objects/dark/web-component.svg#disabled'); 
  --icon-mer__objects_version--enabled: url('#{$icons-path}objects/dark/version.svg#enabled'); 
  --icon-mer__objects_version--hover: url('#{$icons-path}objects/dark/version.svg#hover'); 
  --icon-mer__objects_version--active: url('#{$icons-path}objects/dark/version.svg#active'); 
  --icon-mer__objects_version--disabled: url('#{$icons-path}objects/dark/version.svg#disabled'); 
  --icon-mer__objects_url-rewrite--enabled: url('#{$icons-path}objects/dark/url-rewrite.svg#enabled'); 
  --icon-mer__objects_url-rewrite--hover: url('#{$icons-path}objects/dark/url-rewrite.svg#hover'); 
  --icon-mer__objects_url-rewrite--active: url('#{$icons-path}objects/dark/url-rewrite.svg#active'); 
  --icon-mer__objects_url-rewrite--disabled: url('#{$icons-path}objects/dark/url-rewrite.svg#disabled'); 
  --icon-mer__objects_transaction--enabled: url('#{$icons-path}objects/dark/transaction.svg#enabled'); 
  --icon-mer__objects_transaction--hover: url('#{$icons-path}objects/dark/transaction.svg#hover'); 
  --icon-mer__objects_transaction--active: url('#{$icons-path}objects/dark/transaction.svg#active'); 
  --icon-mer__objects_transaction--disabled: url('#{$icons-path}objects/dark/transaction.svg#disabled'); 
  --icon-mer__objects_to-be-defined--enabled: url('#{$icons-path}objects/dark/to-be-defined.svg#enabled'); 
  --icon-mer__objects_to-be-defined--hover: url('#{$icons-path}objects/dark/to-be-defined.svg#hover'); 
  --icon-mer__objects_to-be-defined--active: url('#{$icons-path}objects/dark/to-be-defined.svg#active'); 
  --icon-mer__objects_to-be-defined--disabled: url('#{$icons-path}objects/dark/to-be-defined.svg#disabled'); 
  --icon-mer__objects_theme--enabled: url('#{$icons-path}objects/dark/theme.svg#enabled'); 
  --icon-mer__objects_theme--hover: url('#{$icons-path}objects/dark/theme.svg#hover'); 
  --icon-mer__objects_theme--active: url('#{$icons-path}objects/dark/theme.svg#active'); 
  --icon-mer__objects_theme--disabled: url('#{$icons-path}objects/dark/theme.svg#disabled'); 
  --icon-mer__objects_theme-web--enabled: url('#{$icons-path}objects/dark/theme-web.svg#enabled'); 
  --icon-mer__objects_theme-web--hover: url('#{$icons-path}objects/dark/theme-web.svg#hover'); 
  --icon-mer__objects_theme-web--active: url('#{$icons-path}objects/dark/theme-web.svg#active'); 
  --icon-mer__objects_theme-web--disabled: url('#{$icons-path}objects/dark/theme-web.svg#disabled'); 
  --icon-mer__objects_theme-for-sd--enabled: url('#{$icons-path}objects/dark/theme-for-sd.svg#enabled'); 
  --icon-mer__objects_theme-for-sd--hover: url('#{$icons-path}objects/dark/theme-for-sd.svg#hover'); 
  --icon-mer__objects_theme-for-sd--active: url('#{$icons-path}objects/dark/theme-for-sd.svg#active'); 
  --icon-mer__objects_theme-for-sd--disabled: url('#{$icons-path}objects/dark/theme-for-sd.svg#disabled'); 
  --icon-mer__objects_table--enabled: url('#{$icons-path}objects/dark/table.svg#enabled'); 
  --icon-mer__objects_table--hover: url('#{$icons-path}objects/dark/table.svg#hover'); 
  --icon-mer__objects_table--active: url('#{$icons-path}objects/dark/table.svg#active'); 
  --icon-mer__objects_table--disabled: url('#{$icons-path}objects/dark/table.svg#disabled'); 
  --icon-mer__objects_super-app--enabled: url('#{$icons-path}objects/dark/super-app.svg#enabled'); 
  --icon-mer__objects_super-app--hover: url('#{$icons-path}objects/dark/super-app.svg#hover'); 
  --icon-mer__objects_super-app--active: url('#{$icons-path}objects/dark/super-app.svg#active'); 
  --icon-mer__objects_super-app--disabled: url('#{$icons-path}objects/dark/super-app.svg#disabled'); 
  --icon-mer__objects_subtype-group--enabled: url('#{$icons-path}objects/dark/subtype-group.svg#enabled'); 
  --icon-mer__objects_subtype-group--hover: url('#{$icons-path}objects/dark/subtype-group.svg#hover'); 
  --icon-mer__objects_subtype-group--active: url('#{$icons-path}objects/dark/subtype-group.svg#active'); 
  --icon-mer__objects_subtype-group--disabled: url('#{$icons-path}objects/dark/subtype-group.svg#disabled'); 
  --icon-mer__objects_structured-data-type--enabled: url('#{$icons-path}objects/dark/structured-data-type.svg#enabled'); 
  --icon-mer__objects_structured-data-type--hover: url('#{$icons-path}objects/dark/structured-data-type.svg#hover'); 
  --icon-mer__objects_structured-data-type--active: url('#{$icons-path}objects/dark/structured-data-type.svg#active'); 
  --icon-mer__objects_structured-data-type--disabled: url('#{$icons-path}objects/dark/structured-data-type.svg#disabled'); 
  --icon-mer__objects_stencil--enabled: url('#{$icons-path}objects/dark/stencil.svg#enabled'); 
  --icon-mer__objects_stencil--hover: url('#{$icons-path}objects/dark/stencil.svg#hover'); 
  --icon-mer__objects_stencil--active: url('#{$icons-path}objects/dark/stencil.svg#active'); 
  --icon-mer__objects_stencil--disabled: url('#{$icons-path}objects/dark/stencil.svg#disabled'); 
  --icon-mer__objects_roles--enabled: url('#{$icons-path}objects/dark/roles.svg#enabled'); 
  --icon-mer__objects_roles--hover: url('#{$icons-path}objects/dark/roles.svg#hover'); 
  --icon-mer__objects_roles--active: url('#{$icons-path}objects/dark/roles.svg#active'); 
  --icon-mer__objects_roles--disabled: url('#{$icons-path}objects/dark/roles.svg#disabled'); 
  --icon-mer__objects_report--enabled: url('#{$icons-path}objects/dark/report.svg#enabled'); 
  --icon-mer__objects_report--hover: url('#{$icons-path}objects/dark/report.svg#hover'); 
  --icon-mer__objects_report--active: url('#{$icons-path}objects/dark/report.svg#active'); 
  --icon-mer__objects_report--disabled: url('#{$icons-path}objects/dark/report.svg#disabled'); 
  --icon-mer__objects_references--enabled: url('#{$icons-path}objects/dark/references.svg#enabled'); 
  --icon-mer__objects_references--hover: url('#{$icons-path}objects/dark/references.svg#hover'); 
  --icon-mer__objects_references--active: url('#{$icons-path}objects/dark/references.svg#active'); 
  --icon-mer__objects_references--disabled: url('#{$icons-path}objects/dark/references.svg#disabled'); 
  --icon-mer__objects_query--enabled: url('#{$icons-path}objects/dark/query.svg#enabled'); 
  --icon-mer__objects_query--hover: url('#{$icons-path}objects/dark/query.svg#hover'); 
  --icon-mer__objects_query--active: url('#{$icons-path}objects/dark/query.svg#active'); 
  --icon-mer__objects_query--disabled: url('#{$icons-path}objects/dark/query.svg#disabled'); 
  --icon-mer__objects_procedure--enabled: url('#{$icons-path}objects/dark/procedure.svg#enabled'); 
  --icon-mer__objects_procedure--hover: url('#{$icons-path}objects/dark/procedure.svg#hover'); 
  --icon-mer__objects_procedure--active: url('#{$icons-path}objects/dark/procedure.svg#active'); 
  --icon-mer__objects_procedure--disabled: url('#{$icons-path}objects/dark/procedure.svg#disabled'); 
  --icon-mer__objects_patterns--enabled: url('#{$icons-path}objects/dark/patterns.svg#enabled'); 
  --icon-mer__objects_patterns--hover: url('#{$icons-path}objects/dark/patterns.svg#hover'); 
  --icon-mer__objects_patterns--active: url('#{$icons-path}objects/dark/patterns.svg#active'); 
  --icon-mer__objects_patterns--disabled: url('#{$icons-path}objects/dark/patterns.svg#disabled'); 
  --icon-mer__objects_panel-for-sd--enabled: url('#{$icons-path}objects/dark/panel-for-sd.svg#enabled'); 
  --icon-mer__objects_panel-for-sd--hover: url('#{$icons-path}objects/dark/panel-for-sd.svg#hover'); 
  --icon-mer__objects_panel-for-sd--active: url('#{$icons-path}objects/dark/panel-for-sd.svg#active'); 
  --icon-mer__objects_panel-for-sd--disabled: url('#{$icons-path}objects/dark/panel-for-sd.svg#disabled'); 
  --icon-mer__objects_orphant-document--enabled: url('#{$icons-path}objects/dark/orphant-document.svg#enabled'); 
  --icon-mer__objects_orphant-document--hover: url('#{$icons-path}objects/dark/orphant-document.svg#hover'); 
  --icon-mer__objects_orphant-document--active: url('#{$icons-path}objects/dark/orphant-document.svg#active'); 
  --icon-mer__objects_orphant-document--disabled: url('#{$icons-path}objects/dark/orphant-document.svg#disabled'); 
  --icon-mer__objects_offline-database--enabled: url('#{$icons-path}objects/dark/offline-database.svg#enabled'); 
  --icon-mer__objects_offline-database--hover: url('#{$icons-path}objects/dark/offline-database.svg#hover'); 
  --icon-mer__objects_offline-database--active: url('#{$icons-path}objects/dark/offline-database.svg#active'); 
  --icon-mer__objects_offline-database--disabled: url('#{$icons-path}objects/dark/offline-database.svg#disabled'); 
  --icon-mer__objects_object--enabled: url('#{$icons-path}objects/dark/object.svg#enabled'); 
  --icon-mer__objects_object--hover: url('#{$icons-path}objects/dark/object.svg#hover'); 
  --icon-mer__objects_object--active: url('#{$icons-path}objects/dark/object.svg#active'); 
  --icon-mer__objects_object--disabled: url('#{$icons-path}objects/dark/object.svg#disabled'); 
  --icon-mer__objects_notification-templates--enabled: url('#{$icons-path}objects/dark/notification-templates.svg#enabled'); 
  --icon-mer__objects_notification-templates--hover: url('#{$icons-path}objects/dark/notification-templates.svg#hover'); 
  --icon-mer__objects_notification-templates--active: url('#{$icons-path}objects/dark/notification-templates.svg#active'); 
  --icon-mer__objects_notification-templates--disabled: url('#{$icons-path}objects/dark/notification-templates.svg#disabled'); 
  --icon-mer__objects_module--enabled: url('#{$icons-path}objects/dark/module.svg#enabled'); 
  --icon-mer__objects_module--hover: url('#{$icons-path}objects/dark/module.svg#hover'); 
  --icon-mer__objects_module--active: url('#{$icons-path}objects/dark/module.svg#active'); 
  --icon-mer__objects_module--disabled: url('#{$icons-path}objects/dark/module.svg#disabled'); 
  --icon-mer__objects_module-open--enabled: url('#{$icons-path}objects/dark/module-open.svg#enabled'); 
  --icon-mer__objects_module-open--hover: url('#{$icons-path}objects/dark/module-open.svg#hover'); 
  --icon-mer__objects_module-open--active: url('#{$icons-path}objects/dark/module-open.svg#active'); 
  --icon-mer__objects_module-open--disabled: url('#{$icons-path}objects/dark/module-open.svg#disabled'); 
  --icon-mer__objects_mini-app--enabled: url('#{$icons-path}objects/dark/mini-app.svg#enabled'); 
  --icon-mer__objects_mini-app--hover: url('#{$icons-path}objects/dark/mini-app.svg#hover'); 
  --icon-mer__objects_mini-app--active: url('#{$icons-path}objects/dark/mini-app.svg#active'); 
  --icon-mer__objects_mini-app--disabled: url('#{$icons-path}objects/dark/mini-app.svg#disabled'); 
  --icon-mer__objects_menubar--enabled: url('#{$icons-path}objects/dark/menubar.svg#enabled'); 
  --icon-mer__objects_menubar--hover: url('#{$icons-path}objects/dark/menubar.svg#hover'); 
  --icon-mer__objects_menubar--active: url('#{$icons-path}objects/dark/menubar.svg#active'); 
  --icon-mer__objects_menubar--disabled: url('#{$icons-path}objects/dark/menubar.svg#disabled'); 
  --icon-mer__objects_menu--enabled: url('#{$icons-path}objects/dark/menu.svg#enabled'); 
  --icon-mer__objects_menu--hover: url('#{$icons-path}objects/dark/menu.svg#hover'); 
  --icon-mer__objects_menu--active: url('#{$icons-path}objects/dark/menu.svg#active'); 
  --icon-mer__objects_menu--disabled: url('#{$icons-path}objects/dark/menu.svg#disabled'); 
  --icon-mer__objects_masterpage--enabled: url('#{$icons-path}objects/dark/masterpage.svg#enabled'); 
  --icon-mer__objects_masterpage--hover: url('#{$icons-path}objects/dark/masterpage.svg#hover'); 
  --icon-mer__objects_masterpage--active: url('#{$icons-path}objects/dark/masterpage.svg#active'); 
  --icon-mer__objects_masterpage--disabled: url('#{$icons-path}objects/dark/masterpage.svg#disabled'); 
  --icon-mer__objects_main-object--enabled: url('#{$icons-path}objects/dark/main-object.svg#enabled'); 
  --icon-mer__objects_main-object--hover: url('#{$icons-path}objects/dark/main-object.svg#hover'); 
  --icon-mer__objects_main-object--active: url('#{$icons-path}objects/dark/main-object.svg#active'); 
  --icon-mer__objects_main-object--disabled: url('#{$icons-path}objects/dark/main-object.svg#disabled'); 
  --icon-mer__objects_language--enabled: url('#{$icons-path}objects/dark/language.svg#enabled'); 
  --icon-mer__objects_language--hover: url('#{$icons-path}objects/dark/language.svg#hover'); 
  --icon-mer__objects_language--active: url('#{$icons-path}objects/dark/language.svg#active'); 
  --icon-mer__objects_language--disabled: url('#{$icons-path}objects/dark/language.svg#disabled'); 
  --icon-mer__objects_knowledge-base--enabled: url('#{$icons-path}objects/dark/knowledge-base.svg#enabled'); 
  --icon-mer__objects_knowledge-base--hover: url('#{$icons-path}objects/dark/knowledge-base.svg#hover'); 
  --icon-mer__objects_knowledge-base--active: url('#{$icons-path}objects/dark/knowledge-base.svg#active'); 
  --icon-mer__objects_knowledge-base--disabled: url('#{$icons-path}objects/dark/knowledge-base.svg#disabled'); 
  --icon-mer__objects_image--enabled: url('#{$icons-path}objects/dark/image.svg#enabled'); 
  --icon-mer__objects_image--hover: url('#{$icons-path}objects/dark/image.svg#hover'); 
  --icon-mer__objects_image--active: url('#{$icons-path}objects/dark/image.svg#active'); 
  --icon-mer__objects_image--disabled: url('#{$icons-path}objects/dark/image.svg#disabled'); 
  --icon-mer__objects_generator--enabled: url('#{$icons-path}objects/dark/generator.svg#enabled'); 
  --icon-mer__objects_generator--hover: url('#{$icons-path}objects/dark/generator.svg#hover'); 
  --icon-mer__objects_generator--active: url('#{$icons-path}objects/dark/generator.svg#active'); 
  --icon-mer__objects_generator--disabled: url('#{$icons-path}objects/dark/generator.svg#disabled'); 
  --icon-mer__objects_generator-category--enabled: url('#{$icons-path}objects/dark/generator-category.svg#enabled'); 
  --icon-mer__objects_generator-category--hover: url('#{$icons-path}objects/dark/generator-category.svg#hover'); 
  --icon-mer__objects_generator-category--active: url('#{$icons-path}objects/dark/generator-category.svg#active'); 
  --icon-mer__objects_generator-category--disabled: url('#{$icons-path}objects/dark/generator-category.svg#disabled'); 
  --icon-mer__objects_folder--enabled: url('#{$icons-path}objects/dark/folder.svg#enabled'); 
  --icon-mer__objects_folder--hover: url('#{$icons-path}objects/dark/folder.svg#hover'); 
  --icon-mer__objects_folder--active: url('#{$icons-path}objects/dark/folder.svg#active'); 
  --icon-mer__objects_folder--disabled: url('#{$icons-path}objects/dark/folder.svg#disabled'); 
  --icon-mer__objects_folder-open--enabled: url('#{$icons-path}objects/dark/folder-open.svg#enabled'); 
  --icon-mer__objects_folder-open--hover: url('#{$icons-path}objects/dark/folder-open.svg#hover'); 
  --icon-mer__objects_folder-open--active: url('#{$icons-path}objects/dark/folder-open.svg#active'); 
  --icon-mer__objects_folder-open--disabled: url('#{$icons-path}objects/dark/folder-open.svg#disabled'); 
  --icon-mer__objects_file--enabled: url('#{$icons-path}objects/dark/file.svg#enabled'); 
  --icon-mer__objects_file--hover: url('#{$icons-path}objects/dark/file.svg#hover'); 
  --icon-mer__objects_file--active: url('#{$icons-path}objects/dark/file.svg#active'); 
  --icon-mer__objects_file--disabled: url('#{$icons-path}objects/dark/file.svg#disabled'); 
  --icon-mer__objects_external-object--enabled: url('#{$icons-path}objects/dark/external-object.svg#enabled'); 
  --icon-mer__objects_external-object--hover: url('#{$icons-path}objects/dark/external-object.svg#hover'); 
  --icon-mer__objects_external-object--active: url('#{$icons-path}objects/dark/external-object.svg#active'); 
  --icon-mer__objects_external-object--disabled: url('#{$icons-path}objects/dark/external-object.svg#disabled'); 
  --icon-mer__objects_environment-select--enabled: url('#{$icons-path}objects/dark/environment-select.svg#enabled'); 
  --icon-mer__objects_environment-select--hover: url('#{$icons-path}objects/dark/environment-select.svg#hover'); 
  --icon-mer__objects_environment-select--active: url('#{$icons-path}objects/dark/environment-select.svg#active'); 
  --icon-mer__objects_environment-select--disabled: url('#{$icons-path}objects/dark/environment-select.svg#disabled'); 
  --icon-mer__objects_environment-no-select--enabled: url('#{$icons-path}objects/dark/environment-no-select.svg#enabled'); 
  --icon-mer__objects_environment-no-select--hover: url('#{$icons-path}objects/dark/environment-no-select.svg#hover'); 
  --icon-mer__objects_environment-no-select--active: url('#{$icons-path}objects/dark/environment-no-select.svg#active'); 
  --icon-mer__objects_environment-no-select--disabled: url('#{$icons-path}objects/dark/environment-no-select.svg#disabled'); 
  --icon-mer__objects_dso--enabled: url('#{$icons-path}objects/dark/dso.svg#enabled'); 
  --icon-mer__objects_dso--hover: url('#{$icons-path}objects/dark/dso.svg#hover'); 
  --icon-mer__objects_dso--active: url('#{$icons-path}objects/dark/dso.svg#active'); 
  --icon-mer__objects_dso--disabled: url('#{$icons-path}objects/dark/dso.svg#disabled'); 
  --icon-mer__objects_domain--enabled: url('#{$icons-path}objects/dark/domain.svg#enabled'); 
  --icon-mer__objects_domain--hover: url('#{$icons-path}objects/dark/domain.svg#hover'); 
  --icon-mer__objects_domain--active: url('#{$icons-path}objects/dark/domain.svg#active'); 
  --icon-mer__objects_domain--disabled: url('#{$icons-path}objects/dark/domain.svg#disabled'); 
  --icon-mer__objects_document--enabled: url('#{$icons-path}objects/dark/document.svg#enabled'); 
  --icon-mer__objects_document--hover: url('#{$icons-path}objects/dark/document.svg#hover'); 
  --icon-mer__objects_document--active: url('#{$icons-path}objects/dark/document.svg#active'); 
  --icon-mer__objects_document--disabled: url('#{$icons-path}objects/dark/document.svg#disabled'); 
  --icon-mer__objects_document-workflow--enabled: url('#{$icons-path}objects/dark/document-workflow.svg#enabled'); 
  --icon-mer__objects_document-workflow--hover: url('#{$icons-path}objects/dark/document-workflow.svg#hover'); 
  --icon-mer__objects_document-workflow--active: url('#{$icons-path}objects/dark/document-workflow.svg#active'); 
  --icon-mer__objects_document-workflow--disabled: url('#{$icons-path}objects/dark/document-workflow.svg#disabled'); 
  --icon-mer__objects_diagram--enabled: url('#{$icons-path}objects/dark/diagram.svg#enabled'); 
  --icon-mer__objects_diagram--hover: url('#{$icons-path}objects/dark/diagram.svg#hover'); 
  --icon-mer__objects_diagram--active: url('#{$icons-path}objects/dark/diagram.svg#active'); 
  --icon-mer__objects_diagram--disabled: url('#{$icons-path}objects/dark/diagram.svg#disabled'); 
  --icon-mer__objects_design--enabled: url('#{$icons-path}objects/dark/design.svg#enabled'); 
  --icon-mer__objects_design--hover: url('#{$icons-path}objects/dark/design.svg#hover'); 
  --icon-mer__objects_design--active: url('#{$icons-path}objects/dark/design.svg#active'); 
  --icon-mer__objects_design--disabled: url('#{$icons-path}objects/dark/design.svg#disabled'); 
  --icon-mer__objects_deployment-unit--enabled: url('#{$icons-path}objects/dark/deployment-unit.svg#enabled'); 
  --icon-mer__objects_deployment-unit--hover: url('#{$icons-path}objects/dark/deployment-unit.svg#hover'); 
  --icon-mer__objects_deployment-unit--active: url('#{$icons-path}objects/dark/deployment-unit.svg#active'); 
  --icon-mer__objects_deployment-unit--disabled: url('#{$icons-path}objects/dark/deployment-unit.svg#disabled'); 
  --icon-mer__objects_dataview-index--enabled: url('#{$icons-path}objects/dark/dataview-index.svg#enabled'); 
  --icon-mer__objects_dataview-index--hover: url('#{$icons-path}objects/dark/dataview-index.svg#hover'); 
  --icon-mer__objects_dataview-index--active: url('#{$icons-path}objects/dark/dataview-index.svg#active'); 
  --icon-mer__objects_dataview-index--disabled: url('#{$icons-path}objects/dark/dataview-index.svg#disabled'); 
  --icon-mer__objects_datastore--enabled: url('#{$icons-path}objects/dark/datastore.svg#enabled'); 
  --icon-mer__objects_datastore--hover: url('#{$icons-path}objects/dark/datastore.svg#hover'); 
  --icon-mer__objects_datastore--active: url('#{$icons-path}objects/dark/datastore.svg#active'); 
  --icon-mer__objects_datastore--disabled: url('#{$icons-path}objects/dark/datastore.svg#disabled'); 
  --icon-mer__objects_datastore-category--enabled: url('#{$icons-path}objects/dark/datastore-category.svg#enabled'); 
  --icon-mer__objects_datastore-category--hover: url('#{$icons-path}objects/dark/datastore-category.svg#hover'); 
  --icon-mer__objects_datastore-category--active: url('#{$icons-path}objects/dark/datastore-category.svg#active'); 
  --icon-mer__objects_datastore-category--disabled: url('#{$icons-path}objects/dark/datastore-category.svg#disabled'); 
  --icon-mer__objects_data-view--enabled: url('#{$icons-path}objects/dark/data-view.svg#enabled'); 
  --icon-mer__objects_data-view--hover: url('#{$icons-path}objects/dark/data-view.svg#hover'); 
  --icon-mer__objects_data-view--active: url('#{$icons-path}objects/dark/data-view.svg#active'); 
  --icon-mer__objects_data-view--disabled: url('#{$icons-path}objects/dark/data-view.svg#disabled'); 
  --icon-mer__objects_data-selector--enabled: url('#{$icons-path}objects/dark/data-selector.svg#enabled'); 
  --icon-mer__objects_data-selector--hover: url('#{$icons-path}objects/dark/data-selector.svg#hover'); 
  --icon-mer__objects_data-selector--active: url('#{$icons-path}objects/dark/data-selector.svg#active'); 
  --icon-mer__objects_data-selector--disabled: url('#{$icons-path}objects/dark/data-selector.svg#disabled'); 
  --icon-mer__objects_data-provider--enabled: url('#{$icons-path}objects/dark/data-provider.svg#enabled'); 
  --icon-mer__objects_data-provider--hover: url('#{$icons-path}objects/dark/data-provider.svg#hover'); 
  --icon-mer__objects_data-provider--active: url('#{$icons-path}objects/dark/data-provider.svg#active'); 
  --icon-mer__objects_data-provider--disabled: url('#{$icons-path}objects/dark/data-provider.svg#disabled'); 
  --icon-mer__objects_dashboard--enabled: url('#{$icons-path}objects/dark/dashboard.svg#enabled'); 
  --icon-mer__objects_dashboard--hover: url('#{$icons-path}objects/dark/dashboard.svg#hover'); 
  --icon-mer__objects_dashboard--active: url('#{$icons-path}objects/dark/dashboard.svg#active'); 
  --icon-mer__objects_dashboard--disabled: url('#{$icons-path}objects/dark/dashboard.svg#disabled'); 
  --icon-mer__objects_customization--enabled: url('#{$icons-path}objects/dark/customization.svg#enabled'); 
  --icon-mer__objects_customization--hover: url('#{$icons-path}objects/dark/customization.svg#hover'); 
  --icon-mer__objects_customization--active: url('#{$icons-path}objects/dark/customization.svg#active'); 
  --icon-mer__objects_customization--disabled: url('#{$icons-path}objects/dark/customization.svg#disabled'); 
  --icon-mer__objects_conversational-flows--enabled: url('#{$icons-path}objects/dark/conversational-flows.svg#enabled'); 
  --icon-mer__objects_conversational-flows--hover: url('#{$icons-path}objects/dark/conversational-flows.svg#hover'); 
  --icon-mer__objects_conversational-flows--active: url('#{$icons-path}objects/dark/conversational-flows.svg#active'); 
  --icon-mer__objects_conversational-flows--disabled: url('#{$icons-path}objects/dark/conversational-flows.svg#disabled'); 
  --icon-mer__objects_category--enabled: url('#{$icons-path}objects/dark/category.svg#enabled'); 
  --icon-mer__objects_category--hover: url('#{$icons-path}objects/dark/category.svg#hover'); 
  --icon-mer__objects_category--active: url('#{$icons-path}objects/dark/category.svg#active'); 
  --icon-mer__objects_category--disabled: url('#{$icons-path}objects/dark/category.svg#disabled'); 
  --icon-mer__objects_calendars--enabled: url('#{$icons-path}objects/dark/calendars.svg#enabled'); 
  --icon-mer__objects_calendars--hover: url('#{$icons-path}objects/dark/calendars.svg#hover'); 
  --icon-mer__objects_calendars--active: url('#{$icons-path}objects/dark/calendars.svg#active'); 
  --icon-mer__objects_calendars--disabled: url('#{$icons-path}objects/dark/calendars.svg#disabled'); 
  --icon-mer__objects_business-process-diagram--enabled: url('#{$icons-path}objects/dark/business-process-diagram.svg#enabled'); 
  --icon-mer__objects_business-process-diagram--hover: url('#{$icons-path}objects/dark/business-process-diagram.svg#hover'); 
  --icon-mer__objects_business-process-diagram--active: url('#{$icons-path}objects/dark/business-process-diagram.svg#active'); 
  --icon-mer__objects_business-process-diagram--disabled: url('#{$icons-path}objects/dark/business-process-diagram.svg#disabled'); 
  --icon-mer__objects_bg-color--enabled: url('#{$icons-path}objects/dark/bg-color.svg#enabled'); 
  --icon-mer__objects_bg-color--hover: url('#{$icons-path}objects/dark/bg-color.svg#hover'); 
  --icon-mer__objects_bg-color--active: url('#{$icons-path}objects/dark/bg-color.svg#active'); 
  --icon-mer__objects_bg-color--disabled: url('#{$icons-path}objects/dark/bg-color.svg#disabled'); 
  --icon-mer__objects_attribute--enabled: url('#{$icons-path}objects/dark/attribute.svg#enabled'); 
  --icon-mer__objects_attribute--hover: url('#{$icons-path}objects/dark/attribute.svg#hover'); 
  --icon-mer__objects_attribute--active: url('#{$icons-path}objects/dark/attribute.svg#active'); 
  --icon-mer__objects_attribute--disabled: url('#{$icons-path}objects/dark/attribute.svg#disabled'); 
  --icon-mer__objects_api--enabled: url('#{$icons-path}objects/dark/api.svg#enabled'); 
  --icon-mer__objects_api--hover: url('#{$icons-path}objects/dark/api.svg#hover'); 
  --icon-mer__objects_api--active: url('#{$icons-path}objects/dark/api.svg#active'); 
  --icon-mer__objects_api--disabled: url('#{$icons-path}objects/dark/api.svg#disabled'); 

  }
  