%icon__patterns-default-associated {
      

  /* =================================
  LIGHT PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    synchronized.svg 
    - - - - - - - - - - - - */
    
    &_synchronized--enabled {
      --icon-path: var(--icon__patterns-default-associated_synchronized--enabled);
    }
    &_synchronized--hover {
      --icon-path: var(--icon__patterns-default-associated_synchronized--hover);
    }
    &_synchronized--active {
      --icon-path: var(--icon__patterns-default-associated_synchronized--active);
    }
    &_synchronized--disabled {
      --icon-path: var(--icon__patterns-default-associated_synchronized--disabled);
    }

    /* - - - - - - - - - - - - 
    modified.svg 
    - - - - - - - - - - - - */
    
    &_modified--enabled {
      --icon-path: var(--icon__patterns-default-associated_modified--enabled);
    }
    &_modified--hover {
      --icon-path: var(--icon__patterns-default-associated_modified--hover);
    }
    &_modified--active {
      --icon-path: var(--icon__patterns-default-associated_modified--active);
    }
    &_modified--disabled {
      --icon-path: var(--icon__patterns-default-associated_modified--disabled);
    }

    /* - - - - - - - - - - - - 
    default-associated.svg 
    - - - - - - - - - - - - */
    
    &_default-associated--enabled {
      --icon-path: var(--icon__patterns-default-associated_default-associated--enabled);
    }
    &_default-associated--hover {
      --icon-path: var(--icon__patterns-default-associated_default-associated--hover);
    }
    &_default-associated--active {
      --icon-path: var(--icon__patterns-default-associated_default-associated--active);
    }
    &_default-associated--disabled {
      --icon-path: var(--icon__patterns-default-associated_default-associated--disabled);
    }

  
  /* =================================
  DARK PLACEHOLDERS SELECTORS
  ================================= */
  

    /* - - - - - - - - - - - - 
    synchronized.svg 
    - - - - - - - - - - - - */
    
    &_synchronized--enabled {
      --icon-path: var(--icon__patterns-default-associated_synchronized--enabled);
    }
    &_synchronized--hover {
      --icon-path: var(--icon__patterns-default-associated_synchronized--hover);
    }
    &_synchronized--active {
      --icon-path: var(--icon__patterns-default-associated_synchronized--active);
    }
    &_synchronized--disabled {
      --icon-path: var(--icon__patterns-default-associated_synchronized--disabled);
    }

    /* - - - - - - - - - - - - 
    modified.svg 
    - - - - - - - - - - - - */
    
    &_modified--enabled {
      --icon-path: var(--icon__patterns-default-associated_modified--enabled);
    }
    &_modified--hover {
      --icon-path: var(--icon__patterns-default-associated_modified--hover);
    }
    &_modified--active {
      --icon-path: var(--icon__patterns-default-associated_modified--active);
    }
    &_modified--disabled {
      --icon-path: var(--icon__patterns-default-associated_modified--disabled);
    }

    /* - - - - - - - - - - - - 
    default-associated.svg 
    - - - - - - - - - - - - */
    
    &_default-associated--enabled {
      --icon-path: var(--icon__patterns-default-associated_default-associated--enabled);
    }
    &_default-associated--hover {
      --icon-path: var(--icon__patterns-default-associated_default-associated--hover);
    }
    &_default-associated--active {
      --icon-path: var(--icon__patterns-default-associated_default-associated--active);
    }
    &_default-associated--disabled {
      --icon-path: var(--icon__patterns-default-associated_default-associated--disabled);
    }
  
    }