
  /* =================================
  LIGHT CUSTOM PROPERTIES
  ================================= */

  :root.light {
  /*patterns*/
  --icon__patterns_workwith-for-sd--enabled: url('#{$icons-path}patterns/light/workwith-for-sd.svg#enabled'); 
  --icon__patterns_workwith-for-sd--hover: url('#{$icons-path}patterns/light/workwith-for-sd.svg#hover'); 
  --icon__patterns_workwith-for-sd--active: url('#{$icons-path}patterns/light/workwith-for-sd.svg#active'); 
  --icon__patterns_workwith-for-sd--disabled: url('#{$icons-path}patterns/light/workwith-for-sd.svg#disabled'); 
  --icon__patterns_work-with-web--enabled: url('#{$icons-path}patterns/light/work-with-web.svg#enabled'); 
  --icon__patterns_work-with-web--hover: url('#{$icons-path}patterns/light/work-with-web.svg#hover'); 
  --icon__patterns_work-with-web--active: url('#{$icons-path}patterns/light/work-with-web.svg#active'); 
  --icon__patterns_work-with-web--disabled: url('#{$icons-path}patterns/light/work-with-web.svg#disabled'); 
  --icon__patterns_tabs--enabled: url('#{$icons-path}patterns/light/tabs.svg#enabled'); 
  --icon__patterns_tabs--hover: url('#{$icons-path}patterns/light/tabs.svg#hover'); 
  --icon__patterns_tabs--active: url('#{$icons-path}patterns/light/tabs.svg#active'); 
  --icon__patterns_tabs--disabled: url('#{$icons-path}patterns/light/tabs.svg#disabled'); 
  --icon__patterns_tab--enabled: url('#{$icons-path}patterns/light/tab.svg#enabled'); 
  --icon__patterns_tab--hover: url('#{$icons-path}patterns/light/tab.svg#hover'); 
  --icon__patterns_tab--active: url('#{$icons-path}patterns/light/tab.svg#active'); 
  --icon__patterns_tab--disabled: url('#{$icons-path}patterns/light/tab.svg#disabled'); 
  --icon__patterns_structure--enabled: url('#{$icons-path}patterns/light/structure.svg#enabled'); 
  --icon__patterns_structure--hover: url('#{$icons-path}patterns/light/structure.svg#hover'); 
  --icon__patterns_structure--active: url('#{$icons-path}patterns/light/structure.svg#active'); 
  --icon__patterns_structure--disabled: url('#{$icons-path}patterns/light/structure.svg#disabled'); 
  --icon__patterns_row--enabled: url('#{$icons-path}patterns/light/row.svg#enabled'); 
  --icon__patterns_row--hover: url('#{$icons-path}patterns/light/row.svg#hover'); 
  --icon__patterns_row--active: url('#{$icons-path}patterns/light/row.svg#active'); 
  --icon__patterns_row--disabled: url('#{$icons-path}patterns/light/row.svg#disabled'); 
  --icon__patterns_pattern-category--enabled: url('#{$icons-path}patterns/light/pattern-category.svg#enabled'); 
  --icon__patterns_pattern-category--hover: url('#{$icons-path}patterns/light/pattern-category.svg#hover'); 
  --icon__patterns_pattern-category--active: url('#{$icons-path}patterns/light/pattern-category.svg#active'); 
  --icon__patterns_pattern-category--disabled: url('#{$icons-path}patterns/light/pattern-category.svg#disabled'); 
  --icon__patterns_parameters--enabled: url('#{$icons-path}patterns/light/parameters.svg#enabled'); 
  --icon__patterns_parameters--hover: url('#{$icons-path}patterns/light/parameters.svg#hover'); 
  --icon__patterns_parameters--active: url('#{$icons-path}patterns/light/parameters.svg#active'); 
  --icon__patterns_parameters--disabled: url('#{$icons-path}patterns/light/parameters.svg#disabled'); 
  --icon__patterns_parameter--enabled: url('#{$icons-path}patterns/light/parameter.svg#enabled'); 
  --icon__patterns_parameter--hover: url('#{$icons-path}patterns/light/parameter.svg#hover'); 
  --icon__patterns_parameter--active: url('#{$icons-path}patterns/light/parameter.svg#active'); 
  --icon__patterns_parameter--disabled: url('#{$icons-path}patterns/light/parameter.svg#disabled'); 
  --icon__patterns_orders--enabled: url('#{$icons-path}patterns/light/orders.svg#enabled'); 
  --icon__patterns_orders--hover: url('#{$icons-path}patterns/light/orders.svg#hover'); 
  --icon__patterns_orders--active: url('#{$icons-path}patterns/light/orders.svg#active'); 
  --icon__patterns_orders--disabled: url('#{$icons-path}patterns/light/orders.svg#disabled'); 
  --icon__patterns_list--enabled: url('#{$icons-path}patterns/light/list.svg#enabled'); 
  --icon__patterns_list--hover: url('#{$icons-path}patterns/light/list.svg#hover'); 
  --icon__patterns_list--active: url('#{$icons-path}patterns/light/list.svg#active'); 
  --icon__patterns_list--disabled: url('#{$icons-path}patterns/light/list.svg#disabled'); 
  --icon__patterns_fixed-data--enabled: url('#{$icons-path}patterns/light/fixed-data.svg#enabled'); 
  --icon__patterns_fixed-data--hover: url('#{$icons-path}patterns/light/fixed-data.svg#hover'); 
  --icon__patterns_fixed-data--active: url('#{$icons-path}patterns/light/fixed-data.svg#active'); 
  --icon__patterns_fixed-data--disabled: url('#{$icons-path}patterns/light/fixed-data.svg#disabled'); 
  --icon__patterns_filters--enabled: url('#{$icons-path}patterns/light/filters.svg#enabled'); 
  --icon__patterns_filters--hover: url('#{$icons-path}patterns/light/filters.svg#hover'); 
  --icon__patterns_filters--active: url('#{$icons-path}patterns/light/filters.svg#active'); 
  --icon__patterns_filters--disabled: url('#{$icons-path}patterns/light/filters.svg#disabled'); 
  --icon__patterns_events--enabled: url('#{$icons-path}patterns/light/events.svg#enabled'); 
  --icon__patterns_events--hover: url('#{$icons-path}patterns/light/events.svg#hover'); 
  --icon__patterns_events--active: url('#{$icons-path}patterns/light/events.svg#active'); 
  --icon__patterns_events--disabled: url('#{$icons-path}patterns/light/events.svg#disabled'); 
  --icon__patterns_documentation--enabled: url('#{$icons-path}patterns/light/documentation.svg#enabled'); 
  --icon__patterns_documentation--hover: url('#{$icons-path}patterns/light/documentation.svg#hover'); 
  --icon__patterns_documentation--active: url('#{$icons-path}patterns/light/documentation.svg#active'); 
  --icon__patterns_documentation--disabled: url('#{$icons-path}patterns/light/documentation.svg#disabled'); 
  --icon__patterns_detail--enabled: url('#{$icons-path}patterns/light/detail.svg#enabled'); 
  --icon__patterns_detail--hover: url('#{$icons-path}patterns/light/detail.svg#hover'); 
  --icon__patterns_detail--active: url('#{$icons-path}patterns/light/detail.svg#active'); 
  --icon__patterns_detail--disabled: url('#{$icons-path}patterns/light/detail.svg#disabled'); 
  --icon__patterns_cell--enabled: url('#{$icons-path}patterns/light/cell.svg#enabled'); 
  --icon__patterns_cell--hover: url('#{$icons-path}patterns/light/cell.svg#hover'); 
  --icon__patterns_cell--active: url('#{$icons-path}patterns/light/cell.svg#active'); 
  --icon__patterns_cell--disabled: url('#{$icons-path}patterns/light/cell.svg#disabled'); 
  --icon__patterns_attributes--enabled: url('#{$icons-path}patterns/light/attributes.svg#enabled'); 
  --icon__patterns_attributes--hover: url('#{$icons-path}patterns/light/attributes.svg#hover'); 
  --icon__patterns_attributes--active: url('#{$icons-path}patterns/light/attributes.svg#active'); 
  --icon__patterns_attributes--disabled: url('#{$icons-path}patterns/light/attributes.svg#disabled'); 

  }

  /* =================================
  DARK CUSTOM PROPERTIES
  ================================= */

  :root.dark {
  /*patterns*/
  --icon__patterns_workwith-for-sd--enabled: url('#{$icons-path}patterns/dark/workwith-for-sd.svg#enabled'); 
  --icon__patterns_workwith-for-sd--hover: url('#{$icons-path}patterns/dark/workwith-for-sd.svg#hover'); 
  --icon__patterns_workwith-for-sd--active: url('#{$icons-path}patterns/dark/workwith-for-sd.svg#active'); 
  --icon__patterns_workwith-for-sd--disabled: url('#{$icons-path}patterns/dark/workwith-for-sd.svg#disabled'); 
  --icon__patterns_work-with-web--enabled: url('#{$icons-path}patterns/dark/work-with-web.svg#enabled'); 
  --icon__patterns_work-with-web--hover: url('#{$icons-path}patterns/dark/work-with-web.svg#hover'); 
  --icon__patterns_work-with-web--active: url('#{$icons-path}patterns/dark/work-with-web.svg#active'); 
  --icon__patterns_work-with-web--disabled: url('#{$icons-path}patterns/dark/work-with-web.svg#disabled'); 
  --icon__patterns_tabs--enabled: url('#{$icons-path}patterns/dark/tabs.svg#enabled'); 
  --icon__patterns_tabs--hover: url('#{$icons-path}patterns/dark/tabs.svg#hover'); 
  --icon__patterns_tabs--active: url('#{$icons-path}patterns/dark/tabs.svg#active'); 
  --icon__patterns_tabs--disabled: url('#{$icons-path}patterns/dark/tabs.svg#disabled'); 
  --icon__patterns_tab--enabled: url('#{$icons-path}patterns/dark/tab.svg#enabled'); 
  --icon__patterns_tab--hover: url('#{$icons-path}patterns/dark/tab.svg#hover'); 
  --icon__patterns_tab--active: url('#{$icons-path}patterns/dark/tab.svg#active'); 
  --icon__patterns_tab--disabled: url('#{$icons-path}patterns/dark/tab.svg#disabled'); 
  --icon__patterns_structure--enabled: url('#{$icons-path}patterns/dark/structure.svg#enabled'); 
  --icon__patterns_structure--hover: url('#{$icons-path}patterns/dark/structure.svg#hover'); 
  --icon__patterns_structure--active: url('#{$icons-path}patterns/dark/structure.svg#active'); 
  --icon__patterns_structure--disabled: url('#{$icons-path}patterns/dark/structure.svg#disabled'); 
  --icon__patterns_row--enabled: url('#{$icons-path}patterns/dark/row.svg#enabled'); 
  --icon__patterns_row--hover: url('#{$icons-path}patterns/dark/row.svg#hover'); 
  --icon__patterns_row--active: url('#{$icons-path}patterns/dark/row.svg#active'); 
  --icon__patterns_row--disabled: url('#{$icons-path}patterns/dark/row.svg#disabled'); 
  --icon__patterns_pattern-category--enabled: url('#{$icons-path}patterns/dark/pattern-category.svg#enabled'); 
  --icon__patterns_pattern-category--hover: url('#{$icons-path}patterns/dark/pattern-category.svg#hover'); 
  --icon__patterns_pattern-category--active: url('#{$icons-path}patterns/dark/pattern-category.svg#active'); 
  --icon__patterns_pattern-category--disabled: url('#{$icons-path}patterns/dark/pattern-category.svg#disabled'); 
  --icon__patterns_parameters--enabled: url('#{$icons-path}patterns/dark/parameters.svg#enabled'); 
  --icon__patterns_parameters--hover: url('#{$icons-path}patterns/dark/parameters.svg#hover'); 
  --icon__patterns_parameters--active: url('#{$icons-path}patterns/dark/parameters.svg#active'); 
  --icon__patterns_parameters--disabled: url('#{$icons-path}patterns/dark/parameters.svg#disabled'); 
  --icon__patterns_parameter--enabled: url('#{$icons-path}patterns/dark/parameter.svg#enabled'); 
  --icon__patterns_parameter--hover: url('#{$icons-path}patterns/dark/parameter.svg#hover'); 
  --icon__patterns_parameter--active: url('#{$icons-path}patterns/dark/parameter.svg#active'); 
  --icon__patterns_parameter--disabled: url('#{$icons-path}patterns/dark/parameter.svg#disabled'); 
  --icon__patterns_orders--enabled: url('#{$icons-path}patterns/dark/orders.svg#enabled'); 
  --icon__patterns_orders--hover: url('#{$icons-path}patterns/dark/orders.svg#hover'); 
  --icon__patterns_orders--active: url('#{$icons-path}patterns/dark/orders.svg#active'); 
  --icon__patterns_orders--disabled: url('#{$icons-path}patterns/dark/orders.svg#disabled'); 
  --icon__patterns_list--enabled: url('#{$icons-path}patterns/dark/list.svg#enabled'); 
  --icon__patterns_list--hover: url('#{$icons-path}patterns/dark/list.svg#hover'); 
  --icon__patterns_list--active: url('#{$icons-path}patterns/dark/list.svg#active'); 
  --icon__patterns_list--disabled: url('#{$icons-path}patterns/dark/list.svg#disabled'); 
  --icon__patterns_fixed-data--enabled: url('#{$icons-path}patterns/dark/fixed-data.svg#enabled'); 
  --icon__patterns_fixed-data--hover: url('#{$icons-path}patterns/dark/fixed-data.svg#hover'); 
  --icon__patterns_fixed-data--active: url('#{$icons-path}patterns/dark/fixed-data.svg#active'); 
  --icon__patterns_fixed-data--disabled: url('#{$icons-path}patterns/dark/fixed-data.svg#disabled'); 
  --icon__patterns_filters--enabled: url('#{$icons-path}patterns/dark/filters.svg#enabled'); 
  --icon__patterns_filters--hover: url('#{$icons-path}patterns/dark/filters.svg#hover'); 
  --icon__patterns_filters--active: url('#{$icons-path}patterns/dark/filters.svg#active'); 
  --icon__patterns_filters--disabled: url('#{$icons-path}patterns/dark/filters.svg#disabled'); 
  --icon__patterns_events--enabled: url('#{$icons-path}patterns/dark/events.svg#enabled'); 
  --icon__patterns_events--hover: url('#{$icons-path}patterns/dark/events.svg#hover'); 
  --icon__patterns_events--active: url('#{$icons-path}patterns/dark/events.svg#active'); 
  --icon__patterns_events--disabled: url('#{$icons-path}patterns/dark/events.svg#disabled'); 
  --icon__patterns_documentation--enabled: url('#{$icons-path}patterns/dark/documentation.svg#enabled'); 
  --icon__patterns_documentation--hover: url('#{$icons-path}patterns/dark/documentation.svg#hover'); 
  --icon__patterns_documentation--active: url('#{$icons-path}patterns/dark/documentation.svg#active'); 
  --icon__patterns_documentation--disabled: url('#{$icons-path}patterns/dark/documentation.svg#disabled'); 
  --icon__patterns_detail--enabled: url('#{$icons-path}patterns/dark/detail.svg#enabled'); 
  --icon__patterns_detail--hover: url('#{$icons-path}patterns/dark/detail.svg#hover'); 
  --icon__patterns_detail--active: url('#{$icons-path}patterns/dark/detail.svg#active'); 
  --icon__patterns_detail--disabled: url('#{$icons-path}patterns/dark/detail.svg#disabled'); 
  --icon__patterns_cell--enabled: url('#{$icons-path}patterns/dark/cell.svg#enabled'); 
  --icon__patterns_cell--hover: url('#{$icons-path}patterns/dark/cell.svg#hover'); 
  --icon__patterns_cell--active: url('#{$icons-path}patterns/dark/cell.svg#active'); 
  --icon__patterns_cell--disabled: url('#{$icons-path}patterns/dark/cell.svg#disabled'); 
  --icon__patterns_attributes--enabled: url('#{$icons-path}patterns/dark/attributes.svg#enabled'); 
  --icon__patterns_attributes--hover: url('#{$icons-path}patterns/dark/attributes.svg#hover'); 
  --icon__patterns_attributes--active: url('#{$icons-path}patterns/dark/attributes.svg#active'); 
  --icon__patterns_attributes--disabled: url('#{$icons-path}patterns/dark/attributes.svg#disabled'); 

  }
  