@import "tokens";
@import "../../../../common/resets";
@import "../../base/common";
@import "../../tokens/chameleon.scss";

%combo-box {
  @include combo-box-tokens();
  @extend %control-colors-enabled;
  @extend %control-font-face;
  @extend %control-font-size-regular;
  @extend %control-height;
  @extend %control-border;
  @extend %control-padding-inline;

  &__item {
    &--nested {
      padding-inline-start: calc(
        var(--ch-combo-box-item-gap) +
          var(--ch-combo-box-group__expandable-button-size) +
          var(--mer-spacing--2xs)
      );
    }
  }
}

/// @group ComboBox
/// @param {String} $combo-box-selector [".combo-box"] -
/// @param {String} $combo-box--disabled-selector [".combo-box[disabled]"] -
/// @param {String} $combo-box__placeholder-selector [".combo-box::part(placeholder)"] -
/// @param {String} $window-selector [".combo-box::part(window)"] -
/// @param {String} $window__content-selector [".combo-box::part(window__content)"] -
/// @param {String} $group-selector [".combo-box::part(group)"] -
/// @param {String} $group__content-selector [".combo-box::part(group__content)"] -
/// @param {String} $group__header-selector [".combo-box::part(group__header)"] -
/// @param {String} $group__header--disabled-selector [".combo-box::part(group__header disabled)"] -
/// @param {String} $group__header--expandable-selector [".combo-box::part(group__header expandable)"] -
/// @param {String} $item-selector [".combo-box::part(item)"] -
/// @param {String} $item--disabled-selector [".combo-box::part(item disabled)"] -
/// @param {String} $item--nested-selector [".combo-box::part(item nested)"] -
/// @param {String} $item--selected-selector [".combo-box::part(item selected)"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--placeholder [true] -
/// @param {Boolean} $add--placeholder-var [true] -
/// @param {Boolean} $add--error [true] -
@mixin combo-box(
  $combo-box-selector: ".combo-box",
  $combo-box--disabled-selector: ".combo-box[disabled]",
  $combo-box__placeholder-selector: ".combo-box::part(placeholder)",
  $window-selector: ".combo-box::part(window)",
  $window__content-selector: ".combo-box::part(window__content)",
  $group-selector: ".combo-box::part(group)",
  $group__content-selector: ".combo-box::part(group__content)",
  $group__header-selector: ".combo-box::part(group__header)",
  $group__header--disabled-selector: ".combo-box::part(group__header disabled)",
  $group__header--expandable-selector:
    ".combo-box::part(group__header expandable)",
  $item-selector: ".combo-box::part(item)",
  $item--disabled-selector: ".combo-box::part(item disabled)",
  $item--nested-selector: ".combo-box::part(item nested)",
  $item--selected-selector: ".combo-box::part(item selected)",
  $add--disabled: true,
  $add--placeholder: true,
  $add--placeholder-var: true,
  $add--error: true
) {
  // TODO: IMPROVE STYLE. Unanimo's implementation does not work well in Sidebar Menus

  #{$combo-box-selector} {
    @extend %combo-box;

    &:hover {
      @extend %control-colors-hover;
    }

    &:focus {
      @include focus-style();
    }

    @if $add--placeholder-var {
    }
  }

  @if $add--placeholder {
    #{$combo-box__placeholder-selector} {
      @extend %control-placeholder;
    }
  }

  @if $add--disabled {
    #{$combo-box--disabled-selector} {
      @extend %control-colors-disabled;
    }

    #{$group__header--disabled-selector} {
      @extend %item-colors-disabled;
    }

    #{$item--disabled-selector} {
      @extend %item-colors-disabled;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Window
  // - - - - - - - - - - - - - - - - - - - -

  #{$window-selector} {
  }

  #{$window__content-selector} {
    @extend %items-container-type-dropdown;
    @extend %items-container-colors;
    @extend %items-container-padding;
    @extend %items-container-gap;
    @extend %items-container-max-height;
    @extend %items-container-type-dropdown;
    max-block-size: var(--items-container__max-block-size);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Group
  // - - - - - - - - - - - - - - - - - - - -

  #{$group__header-selector} {
    @extend %item-colors-enabled;
    @extend %item-height-regular;
    @extend %item-padding-inline;
    @extend %item-font-face-header;
  }

  #{$group__header--expandable-selector} {
    @extend %item-colors-enabled;
    @extend %item-height-regular;
    @extend %item-border-radius;
    @extend %item-font-face-header;
    @extend %item-font-size-regular;

    &:hover {
      @extend %item-colors-hover;
    }
  }
  #{$group-selector} {
    @extend %items-container-gap;
  }
  #{$group__content-selector} {
    @extend %items-container-gap;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  #{$item-selector} {
    @extend %item-colors-enabled;
    @extend %item-font-size-regular;
    @extend %item-border;
    @extend %item-border-radius;
    @extend %item-padding-inline;
    @extend %item-height-regular;
  }

  #{$item--nested-selector} {
    @extend %combo-box__item--nested;
  }

  #{$item--selected-selector} {
    @extend %item-colors-selected;
  }
}
