@import "../../../../common/resets";
@import "../../base/common";

%combo-box {
  --ch-combo-box-separation-y: var(--mer-spacing--3xs);
  --ch-combo-box-item-gap: var(--mer-spacing--xs);

  --ch-combo-box-item__image-size: var(--mer-spacing--md);
  --ch-combo-box-group__expandable-button-size: var(--mer-spacing--md);

  --ch-combo-box-group__expandable-button-image-size: var(--mer-spacing--sm);
  --ch-combo-box-item__background-image-size: 100%;

  @include control-border();
  @include control-colors-enabled();
  @include control-font-weight-regular();
  @include control-font-size-regular();
  @include control-padding-inline();
  @include control-block-size();

  &:hover {
    @include control-colors-hover();
  }

  &__item {
    &--nested {
      padding-inline-start: calc(
        var(--ch-combo-box-item-gap) +
          var(--ch-combo-box-group__expandable-button-size) +
          var(--mer-spacing--2xs)
      );
    }
  }
}

/// @group ComboBox
/// @param {String} $combo-box-selector [".combo-box"] -
/// @param {String} $combo-box--disabled-selector [".combo-box[disabled]"] -
/// @param {String} $combo-box--error-selector [".combo-box-error"] -
/// @param {String} $combo-box__placeholder-selector [".combo-box::part(placeholder)"] -
/// @param {String} $window-selector [".combo-box::part(window)"] -
/// @param {String} $group-selector [".combo-box::part(group)"] -
/// @param {String} $group__content-selector [".combo-box::part(group__content)"] -
/// @param {String} $group__header-selector [".combo-box::part(group__header)"] -
/// @param {String} $group__header--disabled-selector [".combo-box::part(group__header disabled)"] -
/// @param {String} $group__header--expandable-selector [".combo-box::part(group__header expandable)"] -
/// @param {String} $item-selector [".combo-box::part(item)"] -
/// @param {String} $item--disabled-selector [".combo-box::part(item disabled)"] -
/// @param {String} $item--nested-selector [".combo-box::part(item nested)"] -
/// @param {String} $item--selected-selector [".combo-box::part(item selected)"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--placeholder [true] -
/// @param {Boolean} $add--placeholder-var [true] -
/// @param {Boolean} $add--error [true] -
@mixin combo-box(
  $combo-box-selector: ".combo-box",
  $combo-box--disabled-selector: ".combo-box[disabled]",
  $combo-box--error-selector: ".combo-box-error",
  $combo-box__placeholder-selector: ".combo-box::part(placeholder)",
  $window-selector: ".combo-box::part(window)",
  $group-selector: ".combo-box::part(group)",
  $group__content-selector: ".combo-box::part(group__content)",
  $group__header-selector: ".combo-box::part(group__header)",
  $group__header--disabled-selector: ".combo-box::part(group__header disabled)",
  $group__header--expandable-selector:
    ".combo-box::part(group__header expandable)",
  $item-selector: ".combo-box::part(item)",
  $item--disabled-selector: ".combo-box::part(item disabled)",
  $item--nested-selector: ".combo-box::part(item nested)",
  $item--selected-selector: ".combo-box::part(item selected)",
  $add--disabled: true,
  $add--placeholder: true,
  $add--placeholder-var: true,
  $add--error: true
) {
  #{$combo-box-selector} {
    @extend %combo-box;

    &:focus {
      @include focus-border();
    }

    @if $add--placeholder-var {
    }
  }

  @if $add--placeholder {
    #{$combo-box__placeholder-selector} {
      @include control-placeholder();
    }
  }

  @if $add--disabled {
    #{$combo-box--disabled-selector} {
      @include control-colors-disabled();
    }

    #{$group__header--disabled-selector} {
      @include item-colors-disabled();
    }

    #{$item--disabled-selector} {
      @include item-colors-disabled();
    }
  }

  @if $add--error {
    #{$combo-box--error-selector} {
      @include control-colors-error();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Window
  // - - - - - - - - - - - - - - - - - - - -
  #{$window-selector} {
    @include items-container-colors();
    @include items-container-padding();
    @include items-container-dropdown();
    @include items-container-gap();
    @include items-container-max-height();
    @include items-container-border-radius();
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Group
  // - - - - - - - - - - - - - - - - - - - -
  #{$group__header-selector} {
    @include item-colors-enabled();
    @include item-font-header();
    @include item-padding();
  }

  #{$group__header--expandable-selector} {
    @include item-colors-enabled();
    @include item-font-header();
    @include item-padding();
    @include item-border-radius();

    &:hover {
      @include item-colors-hover();
    }
  }
  #{$group-selector} {
    @include items-container-gap();
  }
  #{$group__content-selector} {
    @include items-container-gap();
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Item
  // - - - - - - - - - - - - - - - - - - - -
  #{$item-selector} {
    @include item-colors-enabled();
    @include item-border();
    @include item-border-radius();
    @include item-font();
    @include item-padding();
  }

  #{$item--nested-selector} {
    @extend %combo-box__item--nested;
  }

  #{$item--selected-selector} {
    @include item-colors-selected();
  }
}
