@mixin foundation-colors--light() {
  // primary
  --mer-color__primary-blue--200: #2070ce;
  --mer-color__primary-blue--300: #5498e8;
  --mer-color__primary-blue--400: #437dc0;
  --mer-color__primary-blue--600: #335884;

  // neutral
  --mer-color__neutral-gray--100: #11151c;
  --mer-color__neutral-gray--200: #181f2a;
  --mer-color__neutral-gray--300: #242d3c;
  --mer-color__neutral-gray--400: #2d3a48;
  --mer-color__neutral-gray--450: #394552;
  --mer-color__neutral-gray--500: #485665;
  --mer-color__neutral-gray--550: #56677a;
  --mer-color__neutral-gray--600: #9da9b6;
  --mer-color__neutral-gray--650: #c0ccd9;
  --mer-color__neutral-gray--700: #c0ccd9;
  --mer-color__neutral-gray--800: #d2ddeb;
  --mer-color__neutral-gray--900: #e1ecf9;
  // 1000 to 1400 do not exist anymore in figma (check with designer)
  --mer-color__neutral-gray--1000: #;
  --mer-color__neutral-gray--1100: #;
  --mer-color__neutral-gray--1200: #;
  --mer-color__neutral-gray--1300: #;
  --mer-color__neutral-gray--1400: #;

  // tinted
  --mer-color__tinted-yellow--5: #ffc96b0d;
  --mer-color__tinted-yellow--60: #ffc96b99;
  --mer-color__tinted-red--5: #fb7c840d;
  --mer-color__tinted-red--60: #fb7c8499;
  --mer-color__tinted-green--5: #3fa89b0d;
  --mer-color__tinted-green--60: #3fa89b99;
  --mer-color__tinted-blue--5: #2070ce0d;
  --mer-color__tinted-blue--8: #2070ce14;
  --mer-color__tinted-blue--10: #2070ce1a;
  --mer-color__tinted-blue--20: #2070ce33;
  --mer-color__tinted-blue--30: #2070ce4d;
  --mer-color__tinted-blue--50: #2070ce80;

  // message
  --mer-color__message-green--100: #3fa89b;
  --mer-color__message-green--200: #3fa89b; // not anymore in figma (check with designer)
  --mer-color__message-yellow--100: #ffc96b;
  --mer-color__message-yellow--200: #ffc96b; // not anymore in figma (check with designer)
  --mer-color__message-red--100: #fb7c84;
  --mer-color__message-red--200: #fb7c84; // not anymore in figma (check with designer)
  --mer-color__message-red--300: #dd8f94; // not anymore in figma (check with designer)

  // surface
  --mer-color__surface: var(--mer-color__neutral-gray--100);

  // elevation
  --mer-color__elevation--01: var(--mer-color__neutral-gray--200);
  --mer-color__elevation--02: #e4e4e4;
  --mer-color__elevation--03: #dedede;
  --mer-color__elevation--04: #ffffff;
}

@mixin foundation-colors--dark() {
  // primary
  --mer-color__primary-blue--200: #5ba7ff;
  --mer-color__primary-blue--300: #5498e8;
  --mer-color__primary-blue--400: #437dc0;
  --mer-color__primary-blue--600: #335884;

  // neutral
  --mer-color__neutral-gray--100: #e1ecf9;
  --mer-color__neutral-gray--200: #d2ddeb;
  --mer-color__neutral-gray--300: #c0ccd9;
  --mer-color__neutral-gray--400: #9da9b6;
  --mer-color__neutral-gray--450: #828b96;
  --mer-color__neutral-gray--500: #56677a;
  --mer-color__neutral-gray--550: #485665;
  --mer-color__neutral-gray--600: #394552;
  --mer-color__neutral-gray--650: #2d3a48;
  --mer-color__neutral-gray--700: #242d3c;
  --mer-color__neutral-gray--800: #181f2a;
  --mer-color__neutral-gray--900: #11151c;
  // 1000 to 1400 do not exist anymore in figma (check with designer)
  --mer-color__neutral-gray--1000: #;
  --mer-color__neutral-gray--1100: #;
  --mer-color__neutral-gray--1200: #;
  --mer-color__neutral-gray--1300: #;
  --mer-color__neutral-gray--1400: #;

  // tinted (with opacity)
  // --mer-color__tinted-yellow--5: #ffc96b0d;
  // --mer-color__tinted-yellow--60: #ffc96b99;
  // --mer-color__tinted-red--5: #fb7c840d;
  // --mer-color__tinted-red--60: #fb7c8499;
  // --mer-color__tinted-green--5: #3fa89b0d;
  // --mer-color__tinted-green--60: #3fa89b99;
  // --mer-color__tinted-blue--5: #5ba7ff0d;
  // --mer-color__tinted-blue--8: #5ba7ff14;
  // --mer-color__tinted-blue--10: #5ba7ff1a;
  // --mer-color__tinted-blue--20: #5ba7ff33;
  // --mer-color__tinted-blue--30: #5ba7ff4d;
  // --mer-color__tinted-blue--50: #5ba7ff80;

  // tinted (no opacity) // tints with opacity were giving some issues
  --mer-color__tinted-yellow--5: #282a2d;
  --mer-color__tinted-yellow--60: #ad8a53;
  --mer-color__tinted-red--5: #29252f;
  --mer-color__tinted-red--60: #aa5962;
  --mer-color__tinted-green--5: #1c2830;
  --mer-color__tinted-green--60: #317571;
  --mer-color__tinted-blue--5: #1d2838;
  --mer-color__tinted-blue--8: #1f2c3f;
  --mer-color__tinted-blue--10: #1f2e43;
  --mer-color__tinted-blue--20: #293d5c;
  --mer-color__tinted-blue--30: #2e4e72;
  --mer-color__tinted-blue--50: #3c689c;

  // message
  --mer-color__message-green--100: #3fa89b;
  --mer-color__message-green--200: #3fa89b; // not anymore in figma (check with designer)
  --mer-color__message-yellow--100: #f9bd56;
  --mer-color__message-yellow--200: #f9bd56; // not anymore in figma (check with designer)
  --mer-color__message-red--100: #e35861;
  --mer-color__message-red--200: #e35861; // not anymore in figma (check with designer)
  --mer-color__message-red--300: #dd8f94; // not anymore in figma (check with designer)

  // surface
  --mer-color__surface: var(--mer-color__neutral-gray--900);

  // elevation
  --mer-color__elevation--01: var(--mer-color__neutral-gray--800);
  --mer-color__elevation--02: var(--mer-color__neutral-gray--700);
  --mer-color__elevation--03: var(--mer-color__neutral-gray--650);
  --mer-color__elevation--04: var(--mer-color__neutral-gray--600);
}
