@mixin elevation--light() {
  // background color
  --mer-elevation__bg-color--01: var(--mer-color__neutral-gray--900);
  --mer-elevation__bg-color--02: var(--mer-color__neutral-gray--900);
  --mer-elevation__bg-color--03: var(--mer-color__neutral-gray--900);
  --mer-elevation__bg-color--04: var(--mer-color__neutral-gray--900);

  // border
  --mer-elevation__border-01: transparent;
  --mer-elevation__border-02: transparent;
  --mer-elevation__border-03: transparent;
  --mer-elevation__border-04: transparent;

  // box shadow
  --mer-box-shadow--01: 0px 4px 20px 0px #00000040;
}

@mixin elevation--dark() {
  // background color
  --mer-elevation__bg-color--01: var(--mer-color__elevation--01);
  --mer-elevation__bg-color--02: var(--mer-color__elevation--02);
  --mer-elevation__bg-color--03: var(--mer-color__elevation--03);
  --mer-elevation__bg-color--04: var(--mer-color__elevation--04);

  // border
  --mer-elevation__border-01: 1px solid var(--mer-color__elevation--03);
  --mer-elevation__border-03: transparent;
  --mer-elevation__border-04: transparent;

  // box shadow
  --mer-elevation__box-shadow--01: none;
  --mer-elevation__box-shadow--02: none;
  --mer-elevation__box-shadow--03: none;
  --mer-elevation__box-shadow--04: none;

  // box shadow
  --mer-box-shadow--01: 0px 4px 20px 0px #00000040;
}
