@mixin elevation--light() {
  // background color
  --mer-bg-color-elevation--01: var(--mer-color__neutral-gray--900);
  --mer-bg-color-elevation--02: var(--mer-color__neutral-gray--900);
  --mer-bg-color-elevation--03: var(--mer-color__neutral-gray--900);
  --mer-bg-color-elevation--04: var(--mer-color__neutral-gray--900);

  // border
  --mer-border-color-elevation--01: transparent;
  --mer-border-color-elevation--02: transparent;
  --mer-border-color-elevation--03: transparent;
  --mer-border-color-elevation--04: transparent;

  // box shadow
  --mer-box-shadow--01: 0px 4px 20px 0px #00000040;
}

@mixin elevation--dark() {
  // background color
  --mer-bg-color-elevation--01: var(--mer-color__elevation--01);
  --mer-bg-color-elevation--02: var(--mer-color__elevation--02);
  --mer-bg-color-elevation--03: var(--mer-color__elevation--03);
  --mer-bg-color-elevation--04: var(--mer-color__elevation--04);

  // border
  --mer-border-color-elevation--01: 1px solid var(--mer-color__elevation--03);
  --mer-border-color-elevation--03: transparent;
  --mer-border-color-elevation--04: transparent;

  // box shadow
  --mer-box-shadow-elevation--01: none;
  --mer-box-shadow-elevation--02: none;
  --mer-box-shadow-elevation--03: none;
  --mer-box-shadow-elevation--04: none;

  // box shadow
  --mer-box-shadow--01: 0px 4px 20px 0px #00000040;
}
