@mixin scale() {
  --mer-scale__none: 0rem; // 0
  --mer-scale--01: 0.125rem; // 2px
  --mer-scale--02: 0.25rem; // 4px
  --mer-scale--03: 0.375rem; // 6px
  --mer-scale--04: 0.5rem; // 8px
  --mer-scale--05: 0.625rem; // 10px
  --mer-scale--06: 0.75rem; // 12px
  --mer-scale--07: 0.875rem; // 14px
  --mer-scale--08: 1rem; // 16px
  --mer-scale--09: 1.25rem; // 20px
  --mer-scale--10: 1.625rem; // 26px
  --mer-scale--11: 2rem; // 32px
  --mer-scale--12: 2.25rem; // 36px
  --mer-scale--13: 2.5rem; // 40px
  --mer-scale--14: 3rem; // 48px
}
