@mixin spacing() {
  --mer-spacing--3xs: 2px;
  --mer-spacing--2xs: 4px;
  --mer-spacing--xs: 8px;
  --mer-spacing--sm: 12px;
  --mer-spacing--md: 16px;
  --mer-spacing--lg: 24px;
  --mer-spacing--xl: 32px;
  --mer-spacing--2xl: 40px;
  --mer-spacing--3xl: 48px;
  --mer-spacing--4xl: 64px;
}
