:host {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-block-size: 65px; // Necessary to avoid CLS on the initial load

  & > button {
    justify-content: flex-end;
    padding: var(--mer-spacing--2xs, var(--spacing--s));
    border-start-end-radius: var(--mer-border__radius--sm, 4px);
    border-start-start-radius: var(--mer-border__radius--sm, 4px);
    border: var(--mer-border__width--sm, 1px) solid
      var(--mer-surface__elevation--03, var(--border-color__mild));
    border-block-end: unset;
  }

  & > .code {
    background-color: var(--mer-surface__elevation--01, var(--elevation--1));
    padding-block: 8px;
    padding-inline: 12px;
    border: var(--mer-border__width--sm, 1px) solid
      var(--mer-surface__elevation--03, var(--border-color__mild));
    border-radius: var(--mer-border__radius--sm, 4px);
    border-start-end-radius: unset;
    border-start-start-radius: unset;
    min-block-size: 36px; // Necessary to avoid CLS on the initial load
  }
}
