copy-code {
  display: grid;
  grid-template-rows: max-content 1fr;

  & > button {
    justify-content: flex-end;
    padding: var(--mer-spacing--2xs, var(--spacing--s));
    border-start-end-radius: var(--mer-border__radius--sm, 4px);
    border-start-start-radius: var(--mer-border__radius--sm, 4px);
    border: var(--mer-border__width--sm, 1px) solid
      var(--mer-surface__elevation--03, var(--border-color__mild));
    border-block-end: unset;
  }

  & > .code {
    padding-block: 8px;
    padding-inline: 12px;
    border: var(--mer-border__width--sm, 1px) solid
      var(--mer-surface__elevation--03, var(--border-color__mild));
    border-radius: var(--mer-border__radius--sm, 4px);
    border-start-end-radius: unset;
    border-start-start-radius: unset;
  }
}
