@import "../../../mercury.scss";

// TODO: This is a WA that duplicates the CSS as the import CSS rule does not
// work on constructed stylesheets
@include mercury-only(
  $base-classes: true,
  $button-classes: true,
  $resets: true,
  $button-reset: true,

  $components: true,
  $checkbox: true,
  $combo-box: true,
  $edit: true,
  $radio-group: true
);
