/*----------------------
Focus
----------------------*/
@mixin focus-style($outline: false) {
  @if $outline == true {
    outline-width: var(--mer-border__width--sm);
    outline-style: solid;
    outline-color: var(--mer-color__primary-blue--200);
    outline-offset: -1px;
  } @else {
    border-color: var(--borders-un-border-color__focused);
  }
}

/*----------------------
Scrollbar
----------------------*/
@mixin mer-scrollbar {
  //scrollbar
  &::-webkit-scrollbar {
    width: var(--mer-scrollbar__size);
    height: var(--mer-scrollbar__size);
  }

  //track
  &::-webkit-scrollbar-track {
    background-color: var(--mer-scrollbar-track__bg-color);
    border-radius: var(--mer-scrollbar-track__border-radius);
  }

  //thumb
  &::-webkit-scrollbar-thumb {
    background-color: var(--mer-scrollbar-thumb__bg-color);
    border-radius: var(--mer-scrollbar-thumb__border-radius);
  }

  //thumb:hover
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--mer-scrollbar-thumb__bg-color--hover);
  }

  //corner
  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

/*----------------------------------------------------
Item (applies to every item (tree, grid, list, etc...)
----------------------------------------------------*/
@mixin mer-item($state: "hover") {
  @if $state == "hover" {
    &:hover {
      color: var(--mer-item__color--hover);
      background-color: var(--mer-item__bg-color--hover);
      border-color: var(--mer-item__border-color--hover);
    }
  }
  @if $state == "selected" {
    color: var(--mer-item__color--selected);
    background-color: var(--mer-item__bg-color--selected);
    border-color: var(--mer-item__border-color--selected);
  }
  @if $state == "selected-hover" {
    &:hover {
      color: var(--mer-item__color--selected-hover);
      background-color: var(--mer-item__bg-color--selected-hover);
      border-color: var(--mer-item__border-color--selected-hover);
    }
  }
}
