%icon-mask--before {
  @include icon-mask-common-styles(
    $inline-size: var(--mer-font__size--xs),
    $block-size: var(--mer-font__size--xs),
    $mask-size: 100%
  );
}

%icon-background--before {
  @include icon-background-common-styles(
    $inline-size: var(--mer-font__size--xs),
    $block-size: var(--mer-font__size--xs),
    $background-size: 100%
  );
}

@mixin icon-mask($selector: ".icon-mask", $icon-path: null) {
  #{$selector} {
    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }
    &::before {
      @extend %icon-mask--before;
    }
  }
}

@mixin icon-background($selector: ".icon-background", $icon-path: null) {
  #{$selector} {
    @if $icon-path != null {
      --icon-path: #{$icon-path};
    }
    &::before {
      @extend %icon-background--before;
    }
  }
}
