// - - - - - - - - - - - - - - - - - - - -
//               Icon Sizes
// - - - - - - - - - - - - - - - - - - - -
%icon-size--sm {
  @include icon-background-common-styles(
    $inline-size: var(--mer-icon__box--sm),
    $block-size: var(--mer-icon__box--sm),
    $background-size: var(--mer-icon__size--sm)
  );
}

%icon-size--md {
  @include icon-background-common-styles(
    $inline-size: var(--mer-icon__box--md),
    $block-size: var(--mer-icon__box--md),
    $background-size: var(--mer-icon__size--md)
  );
}

/// @group Icon
/// @param {String} $selector [".icon-size-sm"]
@mixin icon-size-sm($selector: ".icon-size-sm") {
  #{$selector} {
    @extend %icon-size--sm;
  }
}

/// @group Icon
/// @param {String} $selector [".icon-size-md"] -
@mixin icon-size-md($selector: ".icon-size-md") {
  #{$selector} {
    @extend %icon-size--md;
  }
}

// Icon background styles
@mixin icon-background-common-styles(
  $inline-size: var(--icon-size),
  $block-size: var(--icon-size),
  $background-size: var(--icon-background-size)
) {
  content: "";
  display: block;
  inline-size: $inline-size;
  block-size: $block-size;
  background: no-repeat center / $background-size var(--icon-path);
}
