/// @group UtilityClasses
/// @param {String} $elevation-1-selector [".elevation-1,:host(.elevation-1)"] -
/// @param {String} $elevation-2-selector [".elevation-2,:host(.elevation-2)"] -
/// @param {String} $elevation-3-selector [".elevation-3,:host(.elevation-3)"] -
@mixin utilities-elevation(
  $elevation-1-selector: ".elevation-1,:host(.elevation-1)",
  $elevation-2-selector: ".elevation-2,:host(.elevation-2)",
  $elevation-3-selector: ".elevation-3,:host(.elevation-3)"
) {
  #{$elevation-1-selector},
  #{$elevation-2-selector},
  #{$elevation-3-selector} {
    color: var(--mer-text__on-elevation);
  }
  #{$elevation-1-selector} {
    background-color: var(--mer-surface__elevation--01);
  }
  #{$elevation-2-selector} {
    background-color: var(--mer-surface__elevation--02);
  }
  #{$elevation-3-selector} {
    background-color: var(--mer-surface__elevation--03);
  }
}
