/// @group UtilityClasses
/// @param {String} $elevation-01-selector [".elevation-01"] -
/// @param {String} $elevation-02-selector [".elevation-02"] -
/// @param {String} $elevation-03-selector [".elevation-03"] -
@mixin utilities-elevation(
  $elevation-01-selector: ".elevation-01",
  $elevation-02-selector: ".elevation-02",
  $elevation-03-selector: ".elevation-03"
) {
  #{$elevation-01-selector},
  #{$elevation-02-selector},
  #{$elevation-03-selector} {
    color: var(--mer-text__on-elevation);
  }
  #{$elevation-01-selector} {
    background-color: var(--mer-surface__elevation--01);
  }
  #{$elevation-02-selector} {
    background-color: var(--mer-surface__elevation--02);
  }
  #{$elevation-03-selector} {
    background-color: var(--mer-surface__elevation--03);
  }
}
