// node type
@mixin cell-node-type-text() {
  @include grid-cell-padding-inline-block();
}
@mixin cell-node-type-element() {
  @include control-remove-border();
  @include grid-cell-remove-padding();
  --control__padding-inline: var(--grid-cell__padding-inline);
  // to stretch the control
  display: grid;
  align-items: stretch !important; // WA to win over other rule that is more specific
  justify-content: stretch !important; // WA to win over other rule that is more specific
}
@mixin cell-node-type-element--hover() {
  outline: var(--focus__outline-width) var(--focus__outline-style)
    var(--control__border-color--hover);
  outline-offset: var(--focus__outline-offset);
}
// cell alignment block
@mixin cell-alignment-block-start() {
  align-items: start;
}
@mixin cell-alignment-block-center() {
  align-items: center;
}
@mixin cell-alignment-block-end() {
  align-items: end;
}
// cell alignment inline
@mixin cell-alignment-inline-start() {
  justify-content: start;
}
@mixin cell-alignment-inline-center() {
  justify-content: center;
}
@mixin cell-alignment-inline-end() {
  justify-content: center;
}
// cell with ellipsis
@mixin cell-ellipsis() {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/// @group Grid
/// @param {String} $tabular-grid-selector [".tabular-grid"] -
/// @param {("text" | "element")} $tabular-grid-cell-node-type ["text"] -
/// @param {("start" | "center" | "end")} $tabular-grid-cell-block-alignment ["start"] -
/// @param {("start" | "center" | "end")} $tabular-grid-cell-inline-alignment ["start"] -
/// @param {Boolean} $tabular-grid-cell-apply-ellipsis [false] -
/// @param {List} $tabular-grid-affected-columns-nth-list [null] -

@mixin tabular-grid-cell-layout(
  $tabular-grid-selector: ".tabular-grid",
  $tabular-grid-cell-node-type: "text",
  $tabular-grid-cell-block-alignment: "start",
  $tabular-grid-cell-inline-alignment: "start",
  $tabular-grid-cell-apply-ellipsis: false,
  $tabular-grid-affected-columns-nth-list: null
) {
  $selector: null;
  $cell-tag-name: "ch-tabular-grid-cell";
  $where-pseudo-class: ":where";
  $where-selector: ();
  // the selector varies depending on wether $tabular-grid-affected-columns-nth-list is null or not.
  // if it is null, all cells should be affected.
  @if $tabular-grid-affected-columns-nth-list != null {
    @each $nth in $tabular-grid-affected-columns-nth-list {
      $where-selector: append($where-selector, ":nth-child(#{$nth})", comma);
    }
    $selector: #{$tabular-grid-selector}
      #{$cell-tag-name}#{$where-pseudo-class
      }(#{$where-selector});
  } @else {
    // if no $editable-columns-nth was provided, apply to all cells
    $selector: #{$tabular-grid-selector} #{$cell-tag-name};
  }
  #{$selector} {
    // node type
    @if $tabular-grid-cell-node-type == "text" {
      @include cell-node-type-text();
    }
    @if $tabular-grid-cell-node-type == "element" {
      @include cell-node-type-element();
    }
    &:hover {
      @if $tabular-grid-cell-node-type == "element" {
        @include cell-node-type-element--hover();
      }
    }
    // block alignment (only should apply if $tabular-grid-cell-node-type == "text"
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-block-alignment ==
      "start"
    {
      @include cell-alignment-block-start();
    }
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-block-alignment ==
      "center"
    {
      @include cell-alignment-block-center();
    }
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-block-alignment ==
      "end"
    {
      @include cell-alignment-block-end();
    }
    // inline alignment
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-inline-alignment ==
      "start"
    {
      @include cell-alignment-inline-start();
    }
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-inline-alignment ==
      "center"
    {
      @include cell-alignment-inline-center();
    }
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-inline-alignment ==
      "end"
    {
      @include cell-alignment-inline-end();
    }
    // ellipsis (only should apply if $tabular-grid-cell-node-type == "text"
    @if $tabular-grid-cell-node-type ==
      "text" and
      $tabular-grid-cell-apply-ellipsis ==
      true
    {
      @include cell-ellipsis();
    }
  }
}
