@import "tokens-grid";
@import "tokens-row";
@import "tokens-column";
@import "tokens-cell";

// - - - - - - - - - - - - - - - - - - - -
//            ch-tabular-grid
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid {
  --indent: 16px;
  @include items-container-colors();

  --item__border-color--enabled: var(--mer-color__elevation--04);
  @include tabular-grid-tokens();
  @include tabular-grid-row-tokens();
  @include tabular-grid-column-tokens();
  @include tabular-grid-cell-tokens();

  @include item-font-size-small();
}

%tabular-grid__main {
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-column
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-column__bar {
  @include control-padding-inline-block();
  @include control-font-weight-semi-bold();
  position: relative;
  width: 100%;
  gap: var(--grid-column-bar__gap);
  line-height: var(--item__line-height);
}

%tabular-grid-column__bar-resize-split {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  inline-size: var(--grid-bar-resize-split__inline-size);
  &--hover {
  }
}

// - - - - - - - - - - - - - - - - - - - -
//          ch-tabular-grid-row
// - - - - - - - - - - - - - - - - - - - -

// no styles on ch-tabular-grid-row, since it has "display:contents"
%tabular-grid-row {
  &--focused {
  }
  &--highlighted {
    &__cell {
      @include grid-row-colors-highlighted();
    }
  }
  &--selected {
    &__cell {
      @include grid-row-colors-selected();
    }
  }
  &--dragging {
    @include grid-row-dragging();
  }
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-rowset
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-rowset {
}

// - - - - - - - - - - - - - - - - - - - -
//     ch-tabular-grid-rowset-legend
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-rowset-legend {
  cursor: pointer;
  padding-inline-start: var(--grid-base__icon-gap);
  box-shadow: calc(var(--indent) * (var(--level) - 1) * -1) 0px 0px 0px
    var(--mer-color__elevation--02);
}

// Parts
// TODO
%tabular-grid-rowset-legend__caret {
}
%tabular-grid-rowset-legend__selector-label {
}
%tabular-grid-rowset-legend__selector {
}
%tabular-grid-rowset-legend__icon {
}

// no styles on ch-tabular-grid-row, since it has "display:contents"
%tabular-grid-row {
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-cell
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-cell {
  @include grid-cell-border-inline-block();
  @include control-padding-inline-block();
  @include grid-row-colors-enabled();
  border: 0; //WA

  &--focused {
    @include focus-outline();
  }

  &--selected {
    // to be defined by design
  }
}

%tabular-grid-cell__selector-label {
  margin-inline-end: var(--label__gap--inline);
  block-size: var(--control-tiny__size);
  inline-size: var(--control-tiny__size);
}

%tabular-grid-cell__selector {
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
}

// Begin Checkbox

%tabular-grid-cell__selector--before {
  content: "";
  display: inline-block;
  width: var(--control-tiny__size);
  height: var(--control-tiny__size);
  border: var(--mer-form-input__border);
  border-radius: var(--control-tiny__border-radius);
  box-sizing: border-box;
}

%tabular-grid-cell__selector--after {
  position: absolute;
  content: "";
  display: inline-block;
  border-color: var(--mer-form-input-check__border-color);
  top: calc(var(--control-tiny__size) / 4);
  left: calc(var(--control-tiny__size) / 4);
}

%tabular-grid-cell__selector--after-checked {
  inline-size: calc(var(--control-tiny__size) / 2);
  block-size: calc(var(--control-tiny__size) / 2);
  background-color: currentColor;
  pointer-events: none;
  -webkit-mask: no-repeat center / 100%
    var(--mer-checkbox__option-checked-image);
  color: var(--mer-form-input-check__border-color);
}

%tabular-grid-cell__selector--after-indeterminate {
  inline-size: 8px;
  block-size: var(--mer-form-input-check__border-width);
  border-radius: 2px;
  background-color: var(--mer-form-input-check__border-color);
  top: calc(
    var(--control-tiny__size) / 2 - var(--mer-form-input-check__border-width) /
      2
  );
}

// End Checkbox

// - - - - - - - - - - - - - - - - - - - -
//       ch-tabular-grid-row-actions
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-row-actions {
}
%tabular-grid-row-actions__window {
  @extend %window-styles;
}
%tabular-grid-row-actions__main {
  display: flex;
  flex-direction: column;
  gap: var(--window__gap);
}

/// @group TabularGrid
/// @param {String} $tabular-grid-selector [".tabular-grid"] -
/// @param {String} $tabular-grid__main-selector [".tabular-grid::part(main)"] -
/// @param {String} $tabular-grid__bar-selector [".tabular-grid-column::part(bar)"] -
/// @param {String} $tabular-grid__bar-resize-split-selector [".tabular-grid-column::part(bar-resize-split)"] -
/// @param {String} $tabular-grid-column__selector-label-selector [".tabular-grid-column::part(selector-label)"] -
/// @param {String} $tabular-grid-column__selector-selector [".tabular-grid-column::part(selector)"] -
/// @param {String} $tabular-grid-column__selector--checked-selector [".tabular-grid-column::part(selector checked)"] -
/// @param {String} $tabular-grid-column__selector--indeterminate-selector [".tabular-grid-column::part(selector indeterminate)"] -
/// @param {String} $tabular-grid-row-selector [".tabular-grid-row"] -
/// @param {String} $tabular-grid-row--focused-selector [".tabular-grid-row[focused]"] -
/// @param {String} $tabular-grid-row--highlighted-selector [".tabular-grid-row[highlighted]"] -
/// @param {String} $tabular-grid-row--selected-selector [".tabular-grid-row[selected]"] -
/// @param {String} $tabular-grid-row--dragging-selector [".tabular-grid-row[dragging]"] -
/// @param {String} $tabular-grid-row--focused__cell-selector [".tabular-grid-row[focused] > .tabular-grid-cell"] -
/// @param {String} $tabular-grid-row--highlighted__cell-selector [".tabular-grid-row[highlighted] > .tabular-grid-cell"] -
/// @param {String} $tabular-grid-row--selected__cell-selector [".tabular-grid-row[selected] > .tabular-grid-cell"] -
/// @param {String} $tabular-grid-rowset-selector [".tabular-grid-rowset"] -
/// @param {String} $tabular-grid-rowset-legend-selector [".tabular-grid-rowset-legend"] -
/// @param {String} $tabular-grid-rowset-legend__caret-selector [".tabular-grid-rowset-legend::part(caret)"] -
/// @param {String} $tabular-grid-rowset-legend__selector-label-selector [".tabular-grid-rowset-legend::part(selector-label)"] -
/// @param {String} $tabular-grid-rowset-legend__selector-selector [".tabular-grid-rowset-legend::part(selector)"] -
/// @param {String} $tabular-grid-rowset-legend__icon-selector [".tabular-grid-rowset-legend::part(icon)"] -
/// @param {String} $tabular-grid-cell-selector [".tabular-grid-cell"] -
/// @param {String} $tabular-grid-cell--focused-selector [".tabular-grid-cell[focused]"] -
/// @param {String} $tabular-grid-cell--selected-selector [".tabular-grid-cell[selected]"] -
/// @param {String} $tabular-grid-cell__drag-icon-selector [".tabular-grid-cell::part(drag-icon)"] -
/// @param {String} $tabular-grid-cell__selector-label-selector [".tabular-grid-cell::part(selector-label)"] -
/// @param {String} $tabular-grid-cell__selector-selector [".tabular-grid-cell::part(selector)"] -
/// @param {String} $tabular-grid-cell__selector--checked-selector [".tabular-grid-cell::part(selector checked)"] -
/// @param {String} $tabular-grid-cell__actions-icon-selector [".tabular-grid-cell::part(actions-icon)"] -
/// @param {String} $tabular-grid-row-actions-selector [".tabular-grid-row-actions"] -
/// @param {String} $tabular-grid-row-actions__window-selector [".tabular-grid-row-actions::part(window)"] -
/// @param {String} $tabular-grid-row-actions__main-selector [".tabular-grid-row-actions::part(main)"] -
@mixin tabular-grid(
  // ch-tabular-grid
  $tabular-grid-selector: ".tabular-grid",
  $tabular-grid__main-selector: ".tabular-grid::part(main)",
  // ch-tabular-grid-column
  $tabular-grid-column__bar-selector: ".tabular-grid-column::part(bar)",
  $tabular-grid-column__bar-resize-split-selector:
    ".tabular-grid-column::part(bar-resize-split)",
  $tabular-grid-column__selector-label-selector:
    ".tabular-grid-column::part(selector-label)",
  $tabular-grid-column__selector-selector:
    ".tabular-grid-column::part(selector)",
  $tabular-grid-column__selector--checked-selector:
    ".tabular-grid-column::part(selector checked)",
  $tabular-grid-column__selector--indeterminate-selector:
    ".tabular-grid-column::part(selector indeterminate)",
  // ch-tabular-grid-row
  $tabular-grid-row-selector: ".tabular-grid-row",
  $tabular-grid-row--focused-selector: ".tabular-grid-row[focused]",
  $tabular-grid-row--highlighted-selector: ".tabular-grid-row[highlighted]",
  $tabular-grid-row--selected-selector: ".tabular-grid-row[selected]",
  $tabular-grid-row--dragging-selector: ".tabular-grid-row[dragging]",
  $tabular-grid-row--focused__cell-selector:
    ".tabular-grid-row[focused] > .tabular-grid-cell",
  $tabular-grid-row--highlighted__cell-selector:
    ".tabular-grid-row[highlighted] > .tabular-grid-cell",
  $tabular-grid-row--selected__cell-selector:
    ".tabular-grid-row[selected] > .tabular-grid-cell",
  // ch-tabular-grid-rowset
  $tabular-grid-rowset-selector: ".tabular-grid-rowset",
  // ch-tabular-grid-rowset-legend
  $tabular-grid-rowset-legend-selector: ".tabular-grid-rowset-legend",
  $tabular-grid-rowset-legend__caret-selector:
    ".tabular-grid-rowset-legend::part(caret)",
  $tabular-grid-rowset-legend__selector-label-selector:
    ".tabular-grid-rowset-legend::part(selector-label)",
  $tabular-grid-rowset-legend__selector-selector:
    ".tabular-grid-rowset-legend::part(selector)",
  $tabular-grid-rowset-legend__icon-selector:
    ".tabular-grid-rowset-legend::part(icon)",
  // ch-tabular-grid-cell
  $tabular-grid-cell-selector: ".tabular-grid-cell",
  $tabular-grid-cell--focused-selector: ".tabular-grid-cell[focused]",
  $tabular-grid-cell--selected-selector: ".tabular-grid-cell[selected]",
  $tabular-grid-cell__drag-icon-selector: ".tabular-grid-cell::part(drag-icon)",
  $tabular-grid-cell__selector-label-selector:
    ".tabular-grid-cell::part(selector-label)",
  $tabular-grid-cell__selector-selector: ".tabular-grid-cell::part(selector)",
  $tabular-grid-cell__selector--checked-selector:
    ".tabular-grid-cell::part(selector checked)",
  $tabular-grid-cell__actions-icon-selector:
    ".tabular-grid-cell::part(actions-icon)",
  // ch-tabular-grid-row-actions
  $tabular-grid-row-actions-selector: ".tabular-grid-row-actions",
  $tabular-grid-row-actions__window-selector:
    ".tabular-grid-row-actions::part(window)",
  $tabular-grid-row-actions__main-selector:
    ".tabular-grid-row-actions::part(main)"
) {
  // Base style
  #{$tabular-grid-selector} {
    @extend %tabular-grid;
    &:focus {
      outline: none;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-tabular-grid
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid__main-selector} {
    @extend %tabular-grid__main;
    gap: 1px;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-tabular-grid-column
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-column__bar-selector} {
    @extend %tabular-grid-column__bar;
  }

  #{$tabular-grid-column__bar-resize-split-selector} {
    @extend %tabular-grid-column__bar-resize-split;
    &:hover {
      @extend %tabular-grid-column__bar-resize-split--hover;
    }
  }

  // checkbox (same styles add cell checkbox)
  #{$tabular-grid-column__selector-label-selector} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-column__selector-selector} {
    @extend %tabular-grid-cell__selector;

    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;

      &:before {
        @include focus-outline();
      }
    }
  }

  #{$tabular-grid-column__selector--checked-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  #{$tabular-grid-column__selector--indeterminate-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-indeterminate;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-tabular-grid-row
  // - - - - - - - - - - - - - - - - - - - -

  // row
  #{$tabular-grid-row-selector} {
    @extend %tabular-grid-row;
  }
  #{$tabular-grid-row--focused-selector} {
    @extend %tabular-grid-row--focused;
  }
  #{$tabular-grid-row--highlighted-selector} {
    @extend %tabular-grid-row--highlighted;
  }
  #{$tabular-grid-row--selected-selector} {
    @extend %tabular-grid-row--selected;
  }
  #{$tabular-grid-row--dragging-selector} {
    @extend %tabular-grid-row--dragging;
  }

  // row[some-state] > cell
  #{$tabular-grid-row--focused__cell-selector} {
    @extend %tabular-grid-row--focused__cell;
  }
  #{$tabular-grid-row--highlighted__cell-selector} {
    @extend %tabular-grid-row--highlighted__cell;
  }
  #{$tabular-grid-row--selected__cell-selector} {
    @extend %tabular-grid-row--selected__cell;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-tabular-grid-rowset
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-rowset-selector} {
    @extend %tabular-grid-rowset;

    // part::(caret)
    #{$tabular-grid-rowset-legend__caret-selector} {
      @extend %icon-size--md;
      --icon-path: var(--icon__gemini-tools_minus_on-surface--enabled);
    }
    &[collapsed] {
      #{$tabular-grid-rowset-legend__caret-selector} {
        --icon-path: var(--icon__gemini-tools_add_on-surface--enabled);
      }
    }

    &[collapsed]:not(:last-child) {
      #{$tabular-grid-rowset-legend-selector} {
        margin-block-end: 1px;
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //     ch-tabular-grid-rowset-legend
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-rowset-legend-selector} {
    background-color: var(--mer-color__elevation--02);
    @include grid-rowset-legend-padding-block();

    @extend %tabular-grid-rowset-legend;
    display: flex;
    align-items: center;
    gap: var(--grid-base__icon-gap);
  }

  #{$tabular-grid-rowset-legend__selector-label-selector} {
    @extend %tabular-grid-rowset-legend__selector-label;
  }

  #{$tabular-grid-rowset-legend__selector-selector} {
    @extend %tabular-grid-rowset-legend__selector;
  }

  #{$tabular-grid-rowset-legend__icon-selector} {
    @extend %tabular-grid-rowset-legend__icon;
    @extend %icon-size--md;
    --icon-path: var(--icon__gemini-tools_category-group_on-surface--enabled);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //           ch-tabular-grid-cell
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-cell-selector} {
    @extend %tabular-grid-cell;
  }

  #{$tabular-grid-cell--focused-selector} {
    @extend %tabular-grid-cell--focused;
  }

  #{$tabular-grid-cell--selected-selector} {
    @extend %tabular-grid-cell--selected;
  }

  // drag icon
  #{$tabular-grid-cell__drag-icon-selector} {
    @extend %icon-size--md;
    --icon-path: var(--icon__navigation_drag_on-surface--enabled);
    margin-inline-end: var(--grid-base__icon-gap);
  }

  // checkbox
  #{$tabular-grid-cell__selector-label-selector} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-cell__selector-selector} {
    @extend %tabular-grid-cell__selector;
    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;
    }
  }

  #{$tabular-grid-cell__selector--checked-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  // actions icon
  #{$tabular-grid-cell__actions-icon-selector} {
    width: 100%;
    @extend %icon-size--md;
    --icon-path: var(
      --icon__gemini-tools_show-more-vertical_on-surface--enabled
    );
    border: none;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      ch-tabular-grid-row-actions
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-row-actions-selector} {
    &[show-on-row-hover]::part(window) {
      margin-inline-end: var(--mer-spacing--xs);
    }
  }

  #{$tabular-grid-row-actions__window-selector} {
    @extend %tabular-grid-row-actions__window;
  }

  #{$tabular-grid-row-actions__main-selector} {
    @extend %tabular-grid-row-actions__main;
  }
}
