@import "tokens-row";
@import "tokens-column";
@import "tokens-cell";

// - - - - - - - - - - - - - - - - - - - -
//           general settings
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid__icon {
  &-size {
    @extend %icon-size--md;
    margin-inline-end: var(--grid-common__gap);
    flex-shrink: 0; // WA
  }
  &-caret {
    // collapsed
    &-collapsed--enabled {
      --icon-path: var(--icon__gemini-tools_add_neutral--enabled);
      cursor: pointer;
    }
    &-collapsed--hover {
      --icon-path: var(--icon__gemini-tools_add_neutral--hover);
    }
    &-collapsed--active {
      --icon-path: var(--icon__gemini-tools_add_neutral--active);
    }
    // expanded
    &-expanded--enabled {
      --icon-path: var(--icon__gemini-tools_minus_neutral--enabled);
      cursor: pointer;
    }
    &-expanded--hover {
      --icon-path: var(--icon__gemini-tools_minus_neutral--hover);
    }
    &-expanded--active {
      --icon-path: var(--icon__gemini-tools_minus_neutral--active);
    }
  }
  &-node {
    --icon-path: var(--icon__gemini-tools_folder_on-surface--enabled);
    display: none; // an additional class is required to be displayed.
    &-visible {
      display: block;
    }
    &-leaf {
      --icon-path: var(--icon__gemini-tools_file_on-surface--enabled);
      display: none; // an additional class is required to be displayed.
      &-visible {
        display: block;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-tabular-grid
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid {
  --grid-bar-resize-split__bg-color: transparent;
  --focus__outline-offset: -2px; // WA since the box-shadow hides the outline-block-end and outline-inline-end.
  --grid-label__gap: var(--mer-spacing--xs);
  --grid-common__gap: var(--mer-spacing--xs);
  max-block-size: 100%; // TODO: This reset must be placed in the control implementation. This property is a WA.

  @extend %body-regular-s;

  --indent: 16px;
  @include items-container-colors();

  --item__border-color--enabled: var(--mer-surface__elevation--01);
  @include tabular-grid-row-tokens();
  @include tabular-grid-column-tokens();
  @include tabular-grid-cell-tokens();
}

%tabular-grid__main {
}

// - - - - - - - - - - - - - - - - - - - -
//       ch-tabular-grid-column-set
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-column-set {
  border-block-end: var(--grid-cell__border);

  &--hover {
    --grid-bar-resize-split__bg-color: var(--mer-surface__elevation--03);
  }
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-column
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-column {
  // should equal the tabular-grid background-color
  background-color: var(--items-container__bg-color);
  @extend %body-semi-bold-s;
}

%tabular-grid-column__bar {
  --grid-label__gap: 0;
  @include grid-row-colors-enabled();
  @include grid-cell-padding-inline-block();
  gap: var(--grid-common__gap);
  width: 100%;

  &--hover {
    --grid-bar-resize-split__bg-color: var(--mer-accent__primary);
  }
}

%tabular-grid-column__bar-resize-split {
  background-color: var(--grid-bar-resize-split__bg-color);
  inline-size: var(--grid-bar-resize-split__inline-size);
  &--hover {
    --grid-bar-resize-split__bg-color: var(--mer-accent__primary--hover);
  }
  &--active {
    --grid-bar-resize-split__bg-color: var(--mer-accent__primary--active);
  }
}

// - - - - - - - - - - - - - - - - - - - -
//          ch-tabular-grid-row
// - - - - - - - - - - - - - - - - - - - -

// no styles on ch-tabular-grid-row, since it has "display:contents"
%tabular-grid-row {
  &--focused {
  }
  &--highlighted {
    &__cell {
      @include grid-row-colors-highlighted();
    }
  }
  &--selected {
    &__cell {
      @include grid-row-colors-selected();
    }
  }
  &--dragging {
    @include grid-row-dragging();
  }
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-rowset
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-rowset {
  &--collapsed {
    &__legend {
      border-block-end: var(--grid-cell__border);
    }
  }
}

// - - - - - - - - - - - - - - - - - - - -
//     ch-tabular-grid-rowset-legend
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-rowset-legend {
  @include grid-rowset-legend-colors-enabled();
  @include grid-rowset-legend-padding-block();
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-inline-start: var(--grid-common__gap);
  box-shadow: calc(var(--indent) * (var(--level) - 1) * -1) 0px 0px 0px
    var(--grid-rowset-legend__bg-color);
  &--hover {
    @include grid-rowset-legend-colors-hover();
  }
  &--active {
    @include grid-rowset-legend-colors-active();
  }
}

// Parts
// TODO
%tabular-grid-rowset-legend__caret {
  @extend %tabular-grid__icon-size;
  --icon-path: var(--icon__gemini-tools_minus_on-surface--enabled);
}
%tabular-grid-rowset-legend__selector-label {
}
%tabular-grid-rowset-legend__selector {
}
%tabular-grid-rowset-legend__icon {
}

// no styles on ch-tabular-grid-row, since it has "display:contents"
%tabular-grid-row {
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-tabular-grid-cell
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-cell {
  @include grid-cell-border-inline-block();
  @include grid-cell-padding-inline-block();
  @include grid-row-colors-enabled();
  --item__bg-color: var(--items-container__bg-color);

  // TODO: Check how controls font size's should be redefined inside tabular-grid cell, using the new font styles classes.

  // --control__font-size--regular: var(--grid-font-size);
  // --control__font-size--small: var(--grid-font-size);
  // --item__font-size: var(--grid-font-size);

  border: 0; // WA

  &--focused {
    @include focus-outline();
  }

  &--selected {
    // to be defined by design
  }

  // Alignment
  &--align-block-start {
    align-items: flex-start;
  }
  &--align-block-center {
    align-items: center;
  }
  &--align-block-end {
    align-items: flex-end;
  }
  &--align-inline-start {
    justify-content: flex-start;
  }
  &--align-inline-center {
    justify-content: center;
  }
  &--align-inline-end {
    justify-content: flex-end;
  }
}

%tabular-grid-cell__selector-label {
  margin-inline-end: var(--grid-label__gap);
  block-size: var(--control-tiny__size);
  inline-size: var(--control-tiny__size);
}

%tabular-grid-cell__selector {
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
}

// Begin Checkbox

%tabular-grid-cell__selector--before {
  content: "";
  display: inline-block;
  width: var(--control-tiny__size);
  height: var(--control-tiny__size);
  border: var(--mer-form-input__border);
  border-radius: var(--control-tiny__border-radius);
  box-sizing: border-box;
}

%tabular-grid-cell__selector--after {
  position: absolute;
  content: "";
  display: inline-block;
  border-color: var(--mer-form-input-check__border-color);
  top: calc(var(--control-tiny__size) / 4);
  left: calc(var(--control-tiny__size) / 4);
}

%tabular-grid-cell__selector--after-checked {
  inline-size: calc(var(--control-tiny__size) / 2);
  block-size: calc(var(--control-tiny__size) / 2);
  background-color: currentColor;
  pointer-events: none;
  -webkit-mask: no-repeat center / 100%
    var(--mer-checkbox__option-checked-image);
  color: var(--mer-form-input-check__border-color);
}

%tabular-grid-cell__selector--after-indeterminate {
  inline-size: 8px;
  block-size: var(--mer-form-input-check__border-width);
  border-radius: 2px;
  background-color: var(--mer-form-input-check__border-color);
  top: calc(
    var(--control-tiny__size) / 2 - var(--mer-form-input-check__border-width) /
      2
  );
}

// End Checkbox

// - - - - - - - - - - - - - - - - - - - -
//       ch-tabular-grid-row-actions
// - - - - - - - - - - - - - - - - - - - -

%tabular-grid-row-actions {
}
%tabular-grid-row-actions__window {
  @extend %window-styles;
}
%tabular-grid-row-actions__main {
  display: flex;
  flex-direction: column;
  gap: var(--window__gap);
}

/// @group Grid
// ch-tabular-grid
/// @param {String} $tabular-grid-selector [".tabular-grid"] -
/// @param {String} $tabular-grid__main-selector [".tabular-grid::part(main)"] -
// ch-tabular-grid-column-set
/// @param {String} $tabular-grid-column-set [".tabular-grid-column-set"] -
// ch-tabular-grid-column
/// @param {String} $tabular-grid-column-selector [".tabular-grid-column"] -
/// @param {String} $tabular-grid-column__bar-selector [".tabular-grid-column::part(bar)"] -
/// @param {String} $tabular-grid-column__bar-resize-split-selector [".tabular-grid-column::part(bar-resize-split)"] -
/// @param {String} $tabular-grid-column__selector-label-selector [".tabular-grid-column::part(selector-label)"] -
/// @param {String} $tabular-grid-column__selector-selector [".tabular-grid-column::part(selector)"] -
/// @param {String} $tabular-grid-column__selector--checked-selector [".tabular-grid-column::part(selector checked)"] -
/// @param {String} $tabular-grid-column__selector--indeterminate-selector [".tabular-grid-column::part(selector indeterminate)"] -
// ch-tabular-grid-row
/// @param {String} $tabular-grid-row-selector [".tabular-grid-row"] -
/// @param {String} $tabular-grid-row--focused-selector [".tabular-grid-row[focused]"] -
/// @param {String} $tabular-grid-row--highlighted-selector [".tabular-grid-row[highlighted]"] -
/// @param {String} $tabular-grid-row--selected-selector [".tabular-grid-row[selected]"] -
/// @param {String} $tabular-grid-row--dragging-selector [".tabular-grid-row[dragging]"] -
/// @param {String} $tabular-grid-row--highlighted__cell-selector [".tabular-grid-row[highlighted] > .tabular-grid-cell"] -
// ch-tabular-grid-row > cell
/// @param {String} $tabular-grid-row--selected__cell-selector [".tabular-grid-row[selected] > .tabular-grid-cell"] -
// ch-tabular-grid-rowset
/// @param {String} $tabular-grid-rowset-selector [".tabular-grid-rowset"] -
/// @param {String} $tabular-grid-rowset--collapsed__legend-selector [".tabular-grid-rowset[collapsed] > .tabular-grid-rowset-legend"] -
// ch-tabular-grid-rowset-legend
/// @param {String} $tabular-grid-rowset-legend-selector [".tabular-grid-rowset-legend"] -
/// @param {String} $tabular-grid-rowset-legend__caret-selector--collapsed [".tabular-grid-rowset[collapsed] > .tabular-grid-rowset-legend::part(caret)"] -
/// @param {String} $tabular-grid-rowset-legend__caret-selector--expanded [".tabular-grid-rowset > .tabular-grid-rowset-legend::part(caret)"] -
/// @param {String} $tabular-grid-rowset-legend__selector-label-selector [".tabular-grid-rowset-legend::part(selector-label)"] -
/// @param {String} $tabular-grid-rowset-legend__selector-selector [".tabular-grid-rowset-legend::part(selector)"] -
/// @param {String} $tabular-grid-rowset-legend__icon-selector [".tabular-grid-rowset-legend::part(icon)"] -
// ch-tabular-grid-cell
/// @param {String} $tabular-grid-cell-selector [".tabular-grid-cell"] -
/// @param {String} $tabular-grid-cell--focused-selector [".tabular-grid-cell[focused]"] -
/// @param {String} $tabular-grid-cell--selected-selector [".tabular-grid-cell[selected]"] -
/// @param {String} $tabular-grid-cell__selector-label-selector [".tabular-grid-cell::part(selector-label)"] -
/// @param {String} $tabular-grid-cell__selector-selector [".tabular-grid-cell::part(selector)"] -
/// @param {String} $tabular-grid-cell__selector--checked-selector [".tabular-grid-cell::part(selector checked)"] -
// ch-tabular-grid-cell (icons)
/// @param {String} $tabular-grid-cell__actions-icon-selector [".tabular-grid-cell::part(actions-icon)"] -
/// @param {String} $tabular-grid-cell__caret-icon-selector--collapsed [".tabular-grid-row:is( [collapsed], [leaf="false"]:not(:has(> .tabular-grid-rowset)) ) > .tabular-grid-cell::part(caret)"] -
/// @param {String} $tabular-grid-cell__caret-icon-selector--expanded [".tabular-grid-row > .tabular-grid-cell::part(caret)"] -
/// @param {String} $tabular-grid-cell__drag-icon-selector [".tabular-grid-cell::part(drag-icon)"] -
/// @param {String} $tabular-grid-cell__node-icon-selector [".tabular-grid-row:has(> .tabular-grid-rowset) > .tabular-grid-cell::part(node-icon)"] -
/// @param {String} $tabular-grid-cell__node-leaf-icon-selector [".tabular-grid-cell::part(node-icon)"] -
// ch-tabular-grid-cell (alignment)
/// @param {String} $tabular-grid-align-cells-block-start-selector [".tabular-grid-align-cells-block-start .tabular-grid-cell"] -
/// @param {String} $tabular-grid-align-cells-block-center-selector [".tabular-grid-align-cells-block-center .tabular-grid-cell"] -
/// @param {String} $tabular-grid-align-cells-block-end-selector [".tabular-grid-align-cells-block-end .tabular-grid-cell"] -
/// @param {String} $tabular-grid-align-cells-inline-start-selector [".tabular-grid-align-cells-inline-start .tabular-grid-cell"] -
/// @param {String} $tabular-grid-align-cells-inline-center-selector [".tabular-grid-align-cells-inline-center .tabular-grid-cell"] -
/// @param {String} $tabular-grid-align-cells-inline-end-selector [".tabular-grid-align-cells-inline-end .tabular-grid-cell"] -
// row-actions
/// @param {String} $tabular-grid-row-actions-selector [".tabular-grid-row-actions"] -
/// @param {String} $tabular-grid-row-actions__window-selector [".tabular-grid-row-actions::part(window)"] -
/// @param {String} $tabular-grid-row-actions__main-selector [".tabular-grid-row-actions::part(main)"] -
/// @param {String} $tabular-grid-show-tree-icons-selector:".tabular-grid-show-node-icons .tabular-grid-row:has(> .tabular-grid-rowset) > .tabular-grid-cell::part(node-icon), .tabular-grid-show-node-icons .tabular-grid-cell::part(node-icon)"
@mixin tabular-grid(
  // ch-tabular-grid
  $tabular-grid-selector: ".tabular-grid",
  $tabular-grid__main-selector: ".tabular-grid::part(main)",
  // ch-tabular-grid-column-set
  $tabular-grid-column-set: ".tabular-grid-column-set",
  // ch-tabular-grid-column
  $tabular-grid-column-selector: ".tabular-grid-column",
  $tabular-grid-column__bar-selector: ".tabular-grid-column::part(bar)",
  $tabular-grid-column__bar-resize-split-selector:
    ".tabular-grid-column::part(bar-resize-split)",
  $tabular-grid-column__selector-label-selector:
    ".tabular-grid-column::part(selector-label)",
  $tabular-grid-column__selector-selector:
    ".tabular-grid-column::part(selector)",
  $tabular-grid-column__selector--checked-selector:
    ".tabular-grid-column::part(selector checked)",
  $tabular-grid-column__selector--indeterminate-selector:
    ".tabular-grid-column::part(selector indeterminate)",
  // ch-tabular-grid-row
  $tabular-grid-row-selector: ".tabular-grid-row",
  $tabular-grid-row--focused-selector: ".tabular-grid-row[focused]",
  $tabular-grid-row--highlighted-selector: ".tabular-grid-row[highlighted]",
  $tabular-grid-row--selected-selector: ".tabular-grid-row[selected]",
  $tabular-grid-row--dragging-selector: ".tabular-grid-row[dragging]",
  $tabular-grid-row--highlighted__cell-selector:
    ".tabular-grid-row[highlighted] > .tabular-grid-cell",
  $tabular-grid-row--selected__cell-selector:
    ".tabular-grid-row[selected] > .tabular-grid-cell",
  // ch-tabular-grid-rowset
  $tabular-grid-rowset-selector: ".tabular-grid-rowset",
  $tabular-grid-rowset--collapsed__legend-selector:
    ".tabular-grid-rowset[collapsed] > .tabular-grid-rowset-legend",
  // ch-tabular-grid-rowset-legend
  $tabular-grid-rowset-legend-selector: ".tabular-grid-rowset-legend",
  $tabular-grid-rowset-legend__caret-selector--collapsed:
    ".tabular-grid-rowset[collapsed] > .tabular-grid-rowset-legend::part(caret)",
  $tabular-grid-rowset-legend__caret-selector--expanded:
    ".tabular-grid-rowset > .tabular-grid-rowset-legend::part(caret)",
  $tabular-grid-rowset-legend__selector-label-selector:
    ".tabular-grid-rowset-legend::part(selector-label)",
  $tabular-grid-rowset-legend__selector-selector:
    ".tabular-grid-rowset-legend::part(selector)",
  $tabular-grid-rowset-legend__icon-selector:
    ".tabular-grid-rowset-legend::part(icon)",
  // ch-tabular-grid-cell
  $tabular-grid-cell-selector: ".tabular-grid-cell",
  $tabular-grid-cell--focused-selector: ".tabular-grid-cell[focused]",
  $tabular-grid-cell--selected-selector: ".tabular-grid-cell[selected]",
  $tabular-grid-cell__selector-label-selector:
    ".tabular-grid-cell::part(selector-label)",
  $tabular-grid-cell__selector-selector: ".tabular-grid-cell::part(selector)",
  $tabular-grid-cell__selector--checked-selector:
    ".tabular-grid-cell::part(selector checked)",
  // ch-tabular-grid-cell (icons)
  $tabular-grid-cell__actions-icon-selector:
    ".tabular-grid-cell::part(actions-icon)",
  $tabular-grid-cell__caret-icon-selector--collapsed:
    ".tabular-grid-row:is( [collapsed], [leaf='false']:not(:has(> .tabular-grid-rowset)) ) > .tabular-grid-cell::part(caret)",
  $tabular-grid-cell__caret-icon-selector--expanded:
    ".tabular-grid-cell::part(caret)",
  $tabular-grid-cell__drag-icon-selector: ".tabular-grid-cell::part(drag-icon)",
  $tabular-grid-cell__node-icon-selector:
    ".tabular-grid-row:has(> .tabular-grid-rowset) > .tabular-grid-cell::part(node-icon)",
  $tabular-grid-cell__node-leaf-icon-selector:
    ".tabular-grid-cell::part(node-icon)",
  // ch-tabular-grid-cell (alignment)
  $tabular-grid-align-cells-block-start-selector:
    ".tabular-grid-align-cells-block-start .tabular-grid-cell",
  $tabular-grid-align-cells-block-center-selector:
    ".tabular-grid-align-cells-block-center .tabular-grid-cell",
  $tabular-grid-align-cells-block-end-selector:
    ".tabular-grid-align-cells-block-end .tabular-grid-cell",
  $tabular-grid-align-cells-inline-start-selector:
    ".tabular-grid-align-cells-inline-start .tabular-grid-cell",
  $tabular-grid-align-cells-inline-center-selector:
    ".tabular-grid-align-cells-inline-center .tabular-grid-cell",
  $tabular-grid-align-cells-inline-end-selector:
    ".tabular-grid-align-cells-inline-end .tabular-grid-cell",
  // ch-tabular-grid-row-actions
  $tabular-grid-row-actions-selector: ".tabular-grid-row-actions",
  $tabular-grid-row-actions__window-selector:
    ".tabular-grid-row-actions::part(window)",
  $tabular-grid-row-actions__main-selector:
    ".tabular-grid-row-actions::part(main)",
  // additional/utilities selectors
  $tabular-grid-show-tree-icons-selector:
    ".tabular-grid-show-node-icons .tabular-grid-row:has(> .tabular-grid-rowset) > .tabular-grid-cell::part(node-icon), .tabular-grid-show-node-icons .tabular-grid-cell::part(node-icon)"
) {
  // - - - - - - - - - - - - - - - - - - - - - - - - -
  //    icons that are present in more than one place
  // - - - - - - - - - - - - - - - - - - - - - - - - -

  // caret collapsed
  #{$tabular-grid-rowset-legend__caret-selector--collapsed},
  #{$tabular-grid-cell__caret-icon-selector--collapsed} {
    @extend %tabular-grid__icon-size;
    @extend %tabular-grid__icon-caret-collapsed--enabled;
    &:hover {
      @extend %tabular-grid__icon-caret-collapsed--hover;
    }
    &:active {
      @extend %tabular-grid__icon-caret-collapsed--active;
    }
  }

  // caret expanded
  #{$tabular-grid-rowset-legend__caret-selector--expanded},
  #{$tabular-grid-cell__caret-icon-selector--expanded} {
    @extend %tabular-grid__icon-size;
    @extend %tabular-grid__icon-caret-expanded--enabled;
    &:hover {
      @extend %tabular-grid__icon-caret-expanded--hover;
    }
    &:active {
      @extend %tabular-grid__icon-caret-expanded--active;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-tabular-grid
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-selector} {
    @extend %tabular-grid;
    &:focus {
      outline: none;
    }
  }

  #{$tabular-grid__main-selector} {
    @extend %tabular-grid__main;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      ch-tabular-grid-column-set
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-column-set} {
    @extend %tabular-grid-column-set;

    &:hover {
      @extend %tabular-grid-column-set--hover;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-tabular-grid-column
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-column-selector} {
    @extend %tabular-grid-column;
  }

  #{$tabular-grid-column__bar-selector} {
    @extend %tabular-grid-column__bar;
    &:hover {
      @extend %tabular-grid-column__bar--hover;
    }
  }

  #{$tabular-grid-column__bar-resize-split-selector} {
    @extend %tabular-grid-column__bar-resize-split;
    &:hover {
      @extend %tabular-grid-column__bar-resize-split--hover;
    }
  }

  // checkbox (same styles add cell checkbox)
  #{$tabular-grid-column__selector-label-selector} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-column__selector-selector} {
    @extend %tabular-grid-cell__selector;

    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;
    }
  }

  #{$tabular-grid-column__selector--checked-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  #{$tabular-grid-column__selector--indeterminate-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-indeterminate;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-tabular-grid-row
  // - - - - - - - - - - - - - - - - - - - -

  // row
  #{$tabular-grid-row-selector} {
    @extend %tabular-grid-row;
  }
  #{$tabular-grid-row--focused-selector} {
    @extend %tabular-grid-row--focused;
  }
  #{$tabular-grid-row--highlighted-selector} {
    @extend %tabular-grid-row--highlighted;
  }
  #{$tabular-grid-row--selected-selector} {
    @extend %tabular-grid-row--selected;
  }
  #{$tabular-grid-row--dragging-selector} {
    @extend %tabular-grid-row--dragging;
  }

  // row[some-state] > cell
  #{$tabular-grid-row--highlighted__cell-selector} {
    @extend %tabular-grid-row--highlighted__cell;
  }
  #{$tabular-grid-row--selected__cell-selector} {
    @extend %tabular-grid-row--selected__cell;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-tabular-grid-rowset
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-rowset-selector} {
    @extend %tabular-grid-rowset;
  }
  #{$tabular-grid-rowset--collapsed__legend-selector} {
    @extend %tabular-grid-rowset--collapsed__legend;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //     ch-tabular-grid-rowset-legend
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-rowset-legend-selector} {
    @extend %tabular-grid-rowset-legend;
    &:hover {
      @extend %tabular-grid-rowset-legend--hover;
    }
    &:active {
      @extend %tabular-grid-rowset-legend--active;
    }
  }

  #{$tabular-grid-rowset-legend__selector-label-selector} {
    @extend %tabular-grid-rowset-legend__selector-label;
  }

  #{$tabular-grid-rowset-legend__selector-selector} {
    @extend %tabular-grid-rowset-legend__selector;
  }

  #{$tabular-grid-rowset-legend__icon-selector} {
    @extend %tabular-grid-rowset-legend__icon;
    @extend %tabular-grid__icon-size;
    --icon-path: var(--icon__gemini-tools_category-group_on-surface--enabled);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //           ch-tabular-grid-cell
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-cell-selector} {
    @extend %tabular-grid-cell;
  }

  #{$tabular-grid-cell--focused-selector} {
    @extend %tabular-grid-cell--focused;
  }

  #{$tabular-grid-cell--selected-selector} {
    @extend %tabular-grid-cell--selected;
  }

  // checkbox
  #{$tabular-grid-cell__selector-label-selector} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-cell__selector-selector} {
    @extend %tabular-grid-cell__selector;
    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;
    }
  }

  #{$tabular-grid-cell__selector--checked-selector} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  // Icons
  #{$tabular-grid-cell__actions-icon-selector} {
    width: 100%;
    @extend %tabular-grid__icon-size;
    --icon-path: var(
      --icon__gemini-tools_show-more-vertical_on-surface--enabled
    );
    border: none;
  }

  #{$tabular-grid-cell__drag-icon-selector} {
    @extend %tabular-grid__icon-size;
    --icon-path: var(--icon__navigation_drag_on-surface--enabled);
    margin-inline-end: var(--grid-common__gap);
  }

  #{$tabular-grid-cell__node-icon-selector} {
    @extend %tabular-grid__icon-size;
    @extend %tabular-grid__icon-node;
  }

  #{$tabular-grid-cell__node-leaf-icon-selector} {
    @extend %tabular-grid__icon-size;
    @extend %tabular-grid__icon-node-leaf;
  }

  // Cells Alignment
  #{$tabular-grid-align-cells-block-start-selector} {
    @extend %tabular-grid-cell--align-block-start;
  }
  #{$tabular-grid-align-cells-block-center-selector} {
    @extend %tabular-grid-cell--align-block-center;
  }
  #{$tabular-grid-align-cells-block-end-selector} {
    @extend %tabular-grid-cell--align-block-end;
  }
  #{$tabular-grid-align-cells-inline-start-selector} {
    @extend %tabular-grid-cell--align-inline-start;
  }
  #{$tabular-grid-align-cells-inline-center-selector} {
    @extend %tabular-grid-cell--align-inline-center;
  }
  #{$tabular-grid-align-cells-inline-end-selector} {
    @extend %tabular-grid-cell--align-inline-end;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      ch-tabular-grid-row-actions
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-row-actions-selector} {
    &[show-on-row-hover]::part(window) {
      margin-inline-end: var(--mer-spacing--xs);
    }
  }

  #{$tabular-grid-row-actions__window-selector} {
    @extend %tabular-grid-row-actions__window;
  }

  #{$tabular-grid-row-actions__main-selector} {
    @extend %tabular-grid-row-actions__main;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      additional/utilities classes
  // - - - - - - - - - - - - - - - - - - - -

  // displays "node" and "node-lead" icons on grid "tree" type
  #{$tabular-grid-show-tree-icons-selector} {
    @extend %tabular-grid__icon-node-visible;
    @extend %tabular-grid__icon-node-leaf-visible;
  }
}
