@import "tokens-grid";
@import "tokens-row";
@import "tokens-column";
@import "tokens-cell";

// - - - - - - - - - - - - - - - - - - - -
//               ch-grid
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid {
  @include tabular-grid-tokens();
  @include tabular-grid-row-tokens();
  @include tabular-grid-column-tokens();
  @include tabular-grid-cell-tokens();
}

%tabular-grid__main {
  background-color: var(--grid-main__bg-color);
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-grid-column
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-column__bar {
  position: relative;
  width: 100%;
  gap: var(--grid-column-bar__gap);
  background-color: var(--grid-column-bar__bg-color);
  color: var(--grid-column-bar__color);
  padding-inline: var(--grid-column-bar__padding-inline);
  padding-block: var(--grid-column-bar__padding-block);
  font-size: var(--grid-column-bar__font-size);
  font-family: var(--grid-column-bar__font-family);
  line-height: var(--mer-item__line-height);
}

%tabular-grid-column__bar-resize-split {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  inline-size: var(--grid-bar-resize-split__inline-size);
  border-inline-end: var(--grid-bar-resize-split__border-inline-end);
  background-color: var(--grid-bar-resize-split__bg-color);
  &--hover {
    border-inline-end-color: var(
      --grid-bar-resize-split__border-inline-end-color--hover
    );
  }
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-grid-row
// - - - - - - - - - - - - - - - - - - - -

// no styles on ch-grid-row, since it has "display:contents"
%tabular-grid-row {
  border: 1px solid transparent;
  background-color: var(--grid-base__bg-color);
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-grid-rowset
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-rowset {
}

// - - - - - - - - - - - - - - - - - - - -
//        ch-grid-rowset-legend
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-rowset-legend {
  cursor: pointer;
  font-family: var(--grid-rowset-legend__font-family);
  font-size: var(--grid-rowset-legend__font-size);
  color: var(--grid-rowset-legend__color);
  padding-inline: var(--grid-rowset-legend__padding-inline);
  padding-block: var(--grid-rowset-legend__padding-block);
  background-color: var(--mer-color__elevation--02);

  &:hover {
    color: var(--grid-rowset-legend__color--hover);
  }

  // reset margin-inline-start
  margin-inline-start: 0;
  padding-inline-start: calc(
    var(--indent) * (var(--level) - 1) + var(--grid-column-bar__padding-inline)
  );
  --indent: var(--grid-rowset-legend__indent);
}

// Parts
// TODO
%tabular-grid-rowset-legend__caret {
}
%tabular-grid-rowset-legend__selector-label {
}
%tabular-grid-rowset-legend__selector {
}
%tabular-grid-rowset-legend__icon {
}

// no styles on ch-grid-row, since it has "display:contents"
%tabular-grid-row {
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-grid-cell
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-cell {
  @extend %item-structure;
  @extend %item-font;
  color: var(--mer-item__color);

  &[focused] {
    @include focus-style(true);
  }

  position: relative;
  &:after {
    // WA since cell hover background color (when row highlighted attribute is present), is a tinted blue
    // (has opacity), and it blends with the gray bg-color of the ch grid "main" part, causing
    // the resulting combination of colors a different blue tone than what is expected. The reason
    // the grid "main" part has a light gray, instead of a dark gray, is because the grid border is
    // not a real border, but an illusion caused by the main 1px gap.
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--mer-item__bg-color);
    z-index: -1;
  }
}

%tabular-grid-cell__selector-label {
  line-height: 0;
  font-size: 0;
  background-color: transparent;
  margin-inline-end: var(--mer-label__space);
  block-size: var(--mer-control__block-size--tiny);
  inline-size: var(--mer-control__block-size--tiny);
}

%tabular-grid-cell__selector {
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
}

%tabular-grid-cell__selector--before {
  content: "";
  display: inline-block;
  width: var(--mer-control__block-size--tiny);
  height: var(--mer-control__block-size--tiny);
  border: var(--mer-form-input__border);
  border-radius: var(--mer-control-tiny__border-radius);
  box-sizing: border-box;
}

%tabular-grid-cell__selector--after {
  position: absolute;
  content: "";
  display: inline-block;
  border-color: var(--mer-form-input-check__border-color);
  top: calc(var(--mer-control__block-size--tiny) / 4);
  left: calc(var(--mer-control__block-size--tiny) / 4);
}

%tabular-grid-cell__selector--after-checked {
  inline-size: calc(var(--mer-control__block-size--tiny) / 2);
  block-size: calc(var(--mer-control__block-size--tiny) / 2);
  background-color: currentColor;
  pointer-events: none;
  -webkit-mask: no-repeat center / 100%
    var(--mer-checkbox__option-checked-image);
  color: var(--mer-form-input-check__border-color);
}

%tabular-grid-cell__selector--after-indeterminate {
  inline-size: 8px;
  block-size: var(--mer-form-input-check__border-width);
  border-radius: 2px;
  background-color: var(--mer-form-input-check__border-color);
  top: calc(
    var(--mer-control__block-size--tiny) / 2 -
      var(--mer-form-input-check__border-width) / 2
  );
}

// - - - - - - - - - - - - - - - - - - - -
//          ch-grid-row-actions
// - - - - - - - - - - - - - - - - - - - -
%tabular-grid-row-actions {
}
%tabular-grid-row-actions__window {
  @extend %window-styles;
}
%tabular-grid-row-actions__main {
  display: flex;
  flex-direction: column;
  gap: var(--mer-window__gap);
}

/// @group ch-grid
/// @param {String} $tabular-grid-selector [".tabular-grid"] -
/// @param {String} $tabular-grid__main [".tabular-grid::part(main)"] -

/// @group ch-grid-column
/// @param {String} $tabular-grid__bar [".tabular-grid-column::part(bar)"] -
/// @param {String} $tabular-grid__bar-resize-split [".tabular-grid-column::part(bar-resize-split)"] -
/// @param {String} $tabular-grid-column__selector-label [".tabular-grid-column::part(selector-label)"] -
/// @param {String} $tabular-grid-column__selector [".tabular-grid-column::part(selector)"] -
/// @param {String} $tabular-grid-column__selector--checked [".tabular-grid-column::part(selector checked)"] -
/// @param {String} $tabular-grid-column__selector--indeterminate [".tabular-grid-column::part(selector indeterminate)"] -

/// @group ch-grid-row
/// @param {String} $tabular-grid-row [".tabular-grid-row"] -

/// @group ch-grid-rowset
/// @param {String} $tabular-grid-rowset [".tabular-grid-rowset"] -

/// @group ch-grid-rowset-legend
/// @param {String} $tabular-grid-rowset-legend [".tabular-grid-rowset-legend"] -
/// @param {String} $tabular-grid-rowset-legend__caret [".tabular-grid-rowset-legend::part(caret)"] -
/// @param {String} $tabular-grid-rowset-legend__selector-label [".tabular-grid-rowset-legend::part(selector-label)"] -
/// @param {String} $tabular-grid-rowset-legend__selector [".tabular-grid-rowset-legend::part(selector)"] -
/// @param {String} $tabular-grid-rowset-legend__icon [".tabular-grid-rowset-legend::part(icon)"] -

/// @group ch-grid-cell
/// @param {String} $tabular-grid-cell [".tabular-grid-cell"] -
/// @param {String} $tabular-grid-cell__drag-icon [".tabular-grid-cell::part(drag-icon)"] -
/// @param {String} $tabular-grid-cell__selector-label [".tabular-grid-cell::part(selector-label)"] -
/// @param {String} $tabular-grid-cell__selector [".tabular-grid-cell::part(selector)"] -
/// @param {String} $tabular-grid-cell__selector--checked [".tabular-grid-cell::part(selector checked)"] -
/// @param {String} $tabular-grid-cell__actions-icon [".tabular-grid-cell::part(actions-icon)"] -

/// @group ch-grid-row-actions
@mixin tabular-grid(
  // ch-grid
  $tabular-grid-selector: ".tabular-grid",
  $tabular-grid__main: ".tabular-grid::part(main)",

  // ch-grid-column
  $tabular-grid-column__bar: ".tabular-grid-column::part(bar)",
  $tabular-grid-column__bar-resize-split:
    ".tabular-grid-column::part(bar-resize-split)",
  $tabular-grid-column__selector-label:
    ".tabular-grid-column::part(selector-label)",
  $tabular-grid-column__selector: ".tabular-grid-column::part(selector)",
  $tabular-grid-column__selector--checked:
    ".tabular-grid-column::part(selector checked)",
  $tabular-grid-column__selector--indeterminate:
    ".tabular-grid-column::part(selector indeterminate)",

  // ch-grid-row
  $tabular-grid-row: ".tabular-grid-row",

  // ch-grid-rowset
  $tabular-grid-rowset: ".tabular-grid-rowset",

  // ch-grid-rowset-legend
  $tabular-grid-rowset-legend: ".tabular-grid-rowset-legend",
  $tabular-grid-rowset-legend__caret: ".tabular-grid-rowset-legend::part(caret)",
  $tabular-grid-rowset-legend__selector-label:
    ".tabular-grid-rowset-legend::part(selector-label)",
  $tabular-grid-rowset-legend__selector:
    ".tabular-grid-rowset-legend::part(selector)",
  $tabular-grid-rowset-legend__icon: ".tabular-grid-rowset-legend::part(icon)",

  // ch-grid-cell
  $tabular-grid-cell: ".tabular-grid-cell",
  $tabular-grid-cell__drag-icon: ".tabular-grid-cell::part(drag-icon)",
  $tabular-grid-cell__selector-label: ".tabular-grid-cell::part(selector-label)",
  $tabular-grid-cell__selector: ".tabular-grid-cell::part(selector)",
  $tabular-grid-cell__selector--checked:
    ".tabular-grid-cell::part(selector checked)",
  $tabular-grid-cell__actions-icon: ".tabular-grid-cell::part(actions-icon)",

  // ch-grid-row-actions
  $tabular-grid-row-actions: ".tabular-grid-row-actions",
  $tabular-grid-row-actions__window: ".tabular-grid-row-actions::part(window)",
  $tabular-grid-row-actions__main: ".tabular-grid-row-actions::part(main)",

  // TODO: This is a WA to transpile the file
  $icons-path: "./assets/icons/"
) {
  // TODO: This is a WA to transpile the file
  @import "../../icons/_generated/monochrome/gemini-tools__placeholders.scss";
  @import "../../icons/_generated/monochrome/navigation__placeholders.scss";

  // Base style
  #{$tabular-grid-selector} {
    @extend %tabular-grid;

    &:focus {
      outline: none;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               ch-grid
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid__main} {
    @extend %tabular-grid__main;
    background-color: var(--grid-main__bg-color);
    gap: 1px;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //            ch-grid-column
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-column__bar} {
    @extend %tabular-grid-column__bar;
  }

  #{$tabular-grid-column__bar-resize-split} {
    @extend %tabular-grid-column__bar-resize-split;
    &:hover {
      @extend %tabular-grid-column__bar-resize-split--hover;
    }
  }

  // checkbox (same styles add cell checkbox)
  #{$tabular-grid-column__selector-label} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-column__selector} {
    @extend %tabular-grid-cell__selector;

    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;

      &:before {
        @include focus-style();
      }
    }
  }

  #{$tabular-grid-column__selector--checked} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  #{$tabular-grid-column__selector--indeterminate} {
    &::after {
      @extend %tabular-grid-cell__selector--after-indeterminate;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //            ch-grid-row
  // - - - - - - - - - - - - - - - - - - - -

  #{$tabular-grid-row} {
    @extend %tabular-grid-row;
    // the following styles have to be applied here, because they depend on the
    // $tabular-grid-cell selector, which is not known in the '%tabular-grid-row' placeholder.
    &[highlighted] {
      #{$tabular-grid-cell} {
        &:after {
          @extend %item-hover;
        }
      }
    }

    &[selected] {
      #{$tabular-grid-cell} {
        &:after {
          @extend %item-selected;
        }
      }
    }

    &[focused] {
      border-style: dotted;
      @include focus-style();
    }

    &[dragging] {
      box-shadow: var(--mer-box-shadow--01);
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-grid-rowset
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-rowset} {
    @extend %tabular-grid-rowset;

    // part::(caret)
    #{$tabular-grid-rowset-legend__caret} {
      @extend %icon__gemini-tools_minus_on-surface--enabled;
    }
    &[collapsed] {
      #{$tabular-grid-rowset-legend__caret} {
        @extend %icon__gemini-tools_add_on-surface--enabled;
      }
    }

    &[collapsed]:not(:last-child) {
      #{$tabular-grid-rowset-legend} {
        margin-block-end: 1px;
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //         ch-grid-rowset-legend
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-rowset-legend} {
    @extend %tabular-grid-rowset-legend;
    display: flex;
    align-items: center;
    gap: var(--grid-base__icon-gap);
  }

  #{$tabular-grid-rowset-legend__caret} {
    @extend %icon-size--md;
  }

  #{$tabular-grid-rowset-legend__selector-label} {
    @extend %tabular-grid-rowset-legend__selector-label;
  }

  #{$tabular-grid-rowset-legend__selector} {
    @extend %tabular-grid-rowset-legend__selector;
  }

  #{$tabular-grid-rowset-legend__icon} {
    @extend %tabular-grid-rowset-legend__icon;
    @extend %icon-size--md;
    @extend %icon__gemini-tools_category-group_on-surface--enabled;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //            ch-grid-cell
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-cell} {
    @extend %tabular-grid-cell;
  }

  // drag icon
  #{$tabular-grid-cell__drag-icon} {
    @extend %icon-size--md;
    @extend %icon__navigation_drag_on-surface--enabled;
    margin-inline-end: var(--grid-base__icon-gap);
  }

  // checkbox
  #{$tabular-grid-cell__selector-label} {
    @extend %tabular-grid-cell__selector-label;
  }

  #{$tabular-grid-cell__selector} {
    @extend %tabular-grid-cell__selector;
    &::before {
      @extend %tabular-grid-cell__selector--before;
    }

    &::after {
      @extend %tabular-grid-cell__selector--after;
    }

    &:focus {
      outline: none;

      &:before {
        @include focus-style();
      }
    }
  }

  #{$tabular-grid-cell__selector--checked} {
    &::after {
      @extend %tabular-grid-cell__selector--after-checked;
    }
  }

  // actions icon
  #{$tabular-grid-cell__actions-icon} {
    width: 100%;
    @extend %icon-size--md;
    @extend %icon__gemini-tools_show-more-vertical_on-surface--enabled;
    border: none;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-grid-row-actions
  // - - - - - - - - - - - - - - - - - - - -
  #{$tabular-grid-row-actions} {
    &[show-on-row-hover]::part(window) {
      margin-inline-end: var(--mer-spacing--xs);
    }
  }

  #{$tabular-grid-row-actions__window} {
    @extend %tabular-grid-row-actions__window;
  }

  #{$tabular-grid-row-actions__main} {
    @extend %tabular-grid-row-actions__main;
  }
}
