@mixin tabular-grid-column-tokens() {
  // =======================================
  //             Part "bar"
  // =======================================

  --grid-column-bar__gap: var(--mer-spacing--xs);
  --grid-column-bar__background-color: var(--tabular-grid__background-color);
  --grid-column-bar__color: var(--grid-base__color);
  --grid-column-bar__padding-inline: var(--mer-spacing--xs);
  --grid-column-bar__padding-block: var(--mer-spacing--xs);
  --grid-column-bar__font-size: var(--grid-base__font-size);
  --grid-column-bar__font-family: var(--mer-font-family--inter-bold);

  // =======================================
  //         Part "bar-selector"
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //         Part "selector-label"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //           Part "selector"
  // - - - - - - - - - - - - - - - - - - - -

  // =======================================
  //          Part "bar-name"
  // =======================================

  --grid-bar-name__font-family: var(--mer-font-family--inter-semi-bold);
  --grid-bar-name__font-size: var(--tabular-grid__font-size);
  --grid-bar-name__color: var(--tabular-grid__color);

  // - - - - - - - - - - - - - - - - - - - -
  //         Part "bar-name-icon"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //          Part "bar-name-text"
  // - - - - - - - - - - - - - - - - - - - -

  // =======================================
  //          Part "bar-sort"
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //       Part "bar-sort-ascending"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //       Part "bar-sort-descending"
  // - - - - - - - - - - - - - - - - - - - -

  // =======================================
  //         Part "bar-settings"
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //        Part "bar-settings-button"
  // - - - - - - - - - - - - - - - - - - - -

  // =======================================
  //          Part "bar-resize"
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //         Part "bar-resize-split"
  // - - - - - - - - - - - - - - - - - - - -

  --grid-bar-resize-split__inline-size: var(--mer-spacing--3xs);
  --grid-bar-resize-split__background-color: var(
    --mer-color__neutral-gray--700
  );
  --grid-bar-resize-split__background-color--hover: var(
    --grid-column-bar__color
  );
  --grid-bar-resize-split__border-radius: var(--mer-border__radius--xs);
}
