@mixin tabular-grid-row-tokens() {
  /* This style-sheet applies for: 
  - ch-grid-row
  - ch-grid-rowset
  - ch-grid-rowset-legend
  */

  --grid-rowset-legend__font-family: var(--mer-font-family--title);
  --grid-rowset-legend__font-size: var(--grid-base__font-size);
  --grid-rowset-legend__color: var(--grid-base__color);
  --grid-rowset-legend__color--hover: var(--item__color--hover);
  --grid-rowset-legend__padding-inline: var(--item__padding-inline);
  --grid-rowset-legend__padding-block: var(--mer-spacing--3xs);
  --grid-rowset-legend__indent: var(--mer-spacing--md);

  // =======================================
  //         ch-grid-rowset-legend
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //             Part "caret"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //         Part "selector-label"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //            Part "selector"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //              Part "icon"
  // - - - - - - - - - - - - - - - - - - - -

  // =======================================
  //         ch-grid-row-actions
  // =======================================

  // - - - - - - - - - - - - - - - - - - - -
  //              Part "mask"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //              Part "window"
  // - - - - - - - - - - - - - - - - - - - -

  --grid-row-actions-show-on-row-hover__margin-inline-end: var(
    --mer-spacing--xs
  );

  // - - - - - - - - - - - - - - - - - - - -
  //              Part "main"
  // - - - - - - - - - - - - - - - - - - - -
}
