@mixin tabular-grid-tokens() {
  // Generic tokens for texts
  --grid-base__font-family: var(--mer-body__font-family);
  --grid-base__font-size: var(--mer-body__font-size);
  --grid-base__color: var(--mer-text__on-surface);

  // - - - - - - - - - - - - - - - - - - - -
  //             Part "Header"
  // - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - -
  //              Part "Main"
  // - - - - - - - - - - - - - - - - - - - -

  --grid-main__bg-color: var(--mer-color__elevation--01);
  --grid-main__border-width: var(--mer-system__border-width);
  --grid-main__border-style: var(--mer-system__border-style);
  --grid-main__border-color: transparent;
  --grid-main__border: var(--grid-main__border-width)
    var(--grid-main__border-style) var(--grid-main__border-color);
  --grid-main__border-radius: var(--mer-border__radius--0);
  --grid-main__padding-inline: var(--mer-spacing--sm);
  --grid-main__padding-block: var(--mer-spacing--sm);
}
