:host {
  display: grid;
  display: grid;
  grid-template:
    "aside header-bundle" max-content
    "aside main" 1fr / 300px 1fr;
}

aside {
  grid-area: aside;
  display: grid;
  position: sticky;
  inset-block-start: 0;
  max-block-size: 100dvh;
}

.app-header {
  grid-area: header-bundle;
  display: grid;
  grid-template: "filters bundle config" 1fr / max-content 1fr max-content;
  align-items: center;
  position: sticky;
  inset-block-start: 0;
  padding-inline: var(--mer-spacing--md, var(--spacing--l));
  min-block-size: 44px;
  background-color: var(--mer-color__surface, var(--surface--alternative));
  border-block-end: 1px solid
    var(--mer-border-color__on-surface, var(--border-color__mild));
  z-index: 1;

  &__bundle {
    grid-area: bundle;
    display: flex;
    align-items: center;
  }

  &__filters {
    grid-area: filters;
  }

  &__config {
    grid-area: config;
    display: flex;
    gap: var(--mer-spacing--md, var(--spacing--l));
  }
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;

  & > article {
    display: contents;
  }
}

// WA to improve visuals
.navigation-list::part(item__action) {
  padding-block: 6px;
}
