/*multicolor lists*/
/* =================================
LIGHT CUSTOM PROPERTIES
================================= */
:root.light {
  /*objects-2*/
  --icon__objects-2_stroke--enabled: url("assets/icons/objects-2/light/stroke.svg#enabled");
  --icon__objects-2_stroke--hover: url("assets/icons/objects-2/light/stroke.svg#hover");
  --icon__objects-2_stroke--active: url("assets/icons/objects-2/light/stroke.svg#active");
  --icon__objects-2_stroke--disabled: url("assets/icons/objects-2/light/stroke.svg#disabled");
  --icon__objects-2_path--enabled: url("assets/icons/objects-2/light/path.svg#enabled");
  --icon__objects-2_path--hover: url("assets/icons/objects-2/light/path.svg#hover");
  --icon__objects-2_path--active: url("assets/icons/objects-2/light/path.svg#active");
  --icon__objects-2_path--disabled: url("assets/icons/objects-2/light/path.svg#disabled");
}

/* =================================
DARK CUSTOM PROPERTIES
================================= */
:root.dark {
  /*objects-2*/
  --icon__objects-2_stroke--enabled: url("assets/icons/objects-2/dark/stroke.svg#enabled");
  --icon__objects-2_stroke--hover: url("assets/icons/objects-2/dark/stroke.svg#hover");
  --icon__objects-2_stroke--active: url("assets/icons/objects-2/dark/stroke.svg#active");
  --icon__objects-2_stroke--disabled: url("assets/icons/objects-2/dark/stroke.svg#disabled");
  --icon__objects-2_path--enabled: url("assets/icons/objects-2/dark/path.svg#enabled");
  --icon__objects-2_path--hover: url("assets/icons/objects-2/dark/path.svg#hover");
  --icon__objects-2_path--active: url("assets/icons/objects-2/dark/path.svg#active");
  --icon__objects-2_path--disabled: url("assets/icons/objects-2/dark/path.svg#disabled");
}

/* =================================
LIGHT CUSTOM PROPERTIES
================================= */
:root.light {
  /*objects-1*/
  --icon__objects-1_stroke--enabled: url("assets/icons/objects-1/light/stroke.svg#enabled");
  --icon__objects-1_stroke--hover: url("assets/icons/objects-1/light/stroke.svg#hover");
  --icon__objects-1_stroke--active: url("assets/icons/objects-1/light/stroke.svg#active");
  --icon__objects-1_stroke--disabled: url("assets/icons/objects-1/light/stroke.svg#disabled");
  --icon__objects-1_path--enabled: url("assets/icons/objects-1/light/path.svg#enabled");
  --icon__objects-1_path--hover: url("assets/icons/objects-1/light/path.svg#hover");
  --icon__objects-1_path--active: url("assets/icons/objects-1/light/path.svg#active");
  --icon__objects-1_path--disabled: url("assets/icons/objects-1/light/path.svg#disabled");
}

/* =================================
DARK CUSTOM PROPERTIES
================================= */
:root.dark {
  /*objects-1*/
  --icon__objects-1_stroke--enabled: url("assets/icons/objects-1/dark/stroke.svg#enabled");
  --icon__objects-1_stroke--hover: url("assets/icons/objects-1/dark/stroke.svg#hover");
  --icon__objects-1_stroke--active: url("assets/icons/objects-1/dark/stroke.svg#active");
  --icon__objects-1_stroke--disabled: url("assets/icons/objects-1/dark/stroke.svg#disabled");
  --icon__objects-1_path--enabled: url("assets/icons/objects-1/dark/path.svg#enabled");
  --icon__objects-1_path--hover: url("assets/icons/objects-1/dark/path.svg#hover");
  --icon__objects-1_path--active: url("assets/icons/objects-1/dark/path.svg#active");
  --icon__objects-1_path--disabled: url("assets/icons/objects-1/dark/path.svg#disabled");
}

/*monochrome lists*/
/* =================================
LIGHT CUSTOM PROPERTIES
================================= */
:root.light {
  /*bpm-2*/
  --icon__bpm-2_stroke_primary--enabled: url("assets/icons/bpm-2/light/stroke.svg#primary--enabled");
  --icon__bpm-2_stroke_primary--hover: url("assets/icons/bpm-2/light/stroke.svg#primary--hover");
  --icon__bpm-2_stroke_primary--active: url("assets/icons/bpm-2/light/stroke.svg#primary--active");
  --icon__bpm-2_stroke_primary--disabled: url("assets/icons/bpm-2/light/stroke.svg#primary--disabled");
  --icon__bpm-2_path_primary--enabled: url("assets/icons/bpm-2/light/path.svg#primary--enabled");
  --icon__bpm-2_path_primary--hover: url("assets/icons/bpm-2/light/path.svg#primary--hover");
  --icon__bpm-2_path_primary--active: url("assets/icons/bpm-2/light/path.svg#primary--active");
  --icon__bpm-2_path_primary--disabled: url("assets/icons/bpm-2/light/path.svg#primary--disabled");
}

/* =================================
DARK CUSTOM PROPERTIES
================================= */
:root.dark {
  /*bpm-2*/
  --icon__bpm-2_stroke_primary--enabled: url("assets/icons/bpm-2/dark/stroke.svg#primary--enabled");
  --icon__bpm-2_stroke_primary--hover: url("assets/icons/bpm-2/dark/stroke.svg#primary--hover");
  --icon__bpm-2_stroke_primary--active: url("assets/icons/bpm-2/dark/stroke.svg#primary--active");
  --icon__bpm-2_stroke_primary--disabled: url("assets/icons/bpm-2/dark/stroke.svg#primary--disabled");
  --icon__bpm-2_path_primary--enabled: url("assets/icons/bpm-2/dark/path.svg#primary--enabled");
  --icon__bpm-2_path_primary--hover: url("assets/icons/bpm-2/dark/path.svg#primary--hover");
  --icon__bpm-2_path_primary--active: url("assets/icons/bpm-2/dark/path.svg#primary--active");
  --icon__bpm-2_path_primary--disabled: url("assets/icons/bpm-2/dark/path.svg#primary--disabled");
}

/* =================================
LIGHT CUSTOM PROPERTIES
================================= */
:root.light {
  /*bpm-1*/
  --icon__bpm-1_stroke_primary--enabled: url("assets/icons/bpm-1/light/stroke.svg#primary--enabled");
  --icon__bpm-1_stroke_primary--hover: url("assets/icons/bpm-1/light/stroke.svg#primary--hover");
  --icon__bpm-1_stroke_primary--active: url("assets/icons/bpm-1/light/stroke.svg#primary--active");
  --icon__bpm-1_stroke_primary--disabled: url("assets/icons/bpm-1/light/stroke.svg#primary--disabled");
  --icon__bpm-1_stroke_on-surface--enabled: url("assets/icons/bpm-1/light/stroke.svg#on-surface--enabled");
  --icon__bpm-1_path_primary--enabled: url("assets/icons/bpm-1/light/path.svg#primary--enabled");
  --icon__bpm-1_path_primary--hover: url("assets/icons/bpm-1/light/path.svg#primary--hover");
  --icon__bpm-1_path_primary--active: url("assets/icons/bpm-1/light/path.svg#primary--active");
  --icon__bpm-1_path_primary--disabled: url("assets/icons/bpm-1/light/path.svg#primary--disabled");
  --icon__bpm-1_path_on-surface--enabled: url("assets/icons/bpm-1/light/path.svg#on-surface--enabled");
}

/* =================================
DARK CUSTOM PROPERTIES
================================= */
:root.dark {
  /*bpm-1*/
  --icon__bpm-1_stroke_primary--enabled: url("assets/icons/bpm-1/dark/stroke.svg#primary--enabled");
  --icon__bpm-1_stroke_primary--hover: url("assets/icons/bpm-1/dark/stroke.svg#primary--hover");
  --icon__bpm-1_stroke_primary--active: url("assets/icons/bpm-1/dark/stroke.svg#primary--active");
  --icon__bpm-1_stroke_primary--disabled: url("assets/icons/bpm-1/dark/stroke.svg#primary--disabled");
  --icon__bpm-1_stroke_on-surface--enabled: url("assets/icons/bpm-1/dark/stroke.svg#on-surface--enabled");
  --icon__bpm-1_path_primary--enabled: url("assets/icons/bpm-1/dark/path.svg#primary--enabled");
  --icon__bpm-1_path_primary--hover: url("assets/icons/bpm-1/dark/path.svg#primary--hover");
  --icon__bpm-1_path_primary--active: url("assets/icons/bpm-1/dark/path.svg#primary--active");
  --icon__bpm-1_path_primary--disabled: url("assets/icons/bpm-1/dark/path.svg#primary--disabled");
  --icon__bpm-1_path_on-surface--enabled: url("assets/icons/bpm-1/dark/path.svg#on-surface--enabled");
}

/* - - - - - - - - - - - - - - - - - - 
MONOCHROME CONSTRUCTS
- - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - 
MULTICOLOR CONSTRUCTS
- - - - - - - - - - - - - - - - - - */
.icon__bpm-2_stroke_primary:enabled {
  --icon-path: var(
    --icon__bpm-2_stroke_primary--enabled
  );
}

.icon__bpm-2_stroke_primary:hover {
  --icon-path: var(
    --icon__bpm-2_stroke_primary--hover
  );
}

.icon__bpm-2_stroke_primary:active {
  --icon-path: var(
    --icon__bpm-2_stroke_primary--active
  );
}

.icon__bpm-2_stroke_primary:disabled {
  --icon-path: var(
    --icon__bpm-2_stroke_primary--disabled
  );
}

.icon__bpm-2_path_primary:enabled {
  --icon-path: var(
    --icon__bpm-2_path_primary--enabled
  );
}

.icon__bpm-2_path_primary:hover {
  --icon-path: var(
    --icon__bpm-2_path_primary--hover
  );
}

.icon__bpm-2_path_primary:active {
  --icon-path: var(
    --icon__bpm-2_path_primary--active
  );
}

.icon__bpm-2_path_primary:disabled {
  --icon-path: var(
    --icon__bpm-2_path_primary--disabled
  );
}

.icon__bpm-1_stroke_primary:enabled {
  --icon-path: var(
    --icon__bpm-1_stroke_primary--enabled
  );
}

.icon__bpm-1_stroke_primary:hover {
  --icon-path: var(
    --icon__bpm-1_stroke_primary--hover
  );
}

.icon__bpm-1_stroke_primary:active {
  --icon-path: var(
    --icon__bpm-1_stroke_primary--active
  );
}

.icon__bpm-1_stroke_primary:disabled {
  --icon-path: var(
    --icon__bpm-1_stroke_primary--disabled
  );
}

.icon__bpm-1_stroke_on-surface:enabled {
  --icon-path: var(
    --icon__bpm-1_stroke_on-surface--enabled
  );
}

.icon__bpm-1_path_primary:enabled {
  --icon-path: var(
    --icon__bpm-1_path_primary--enabled
  );
}

.icon__bpm-1_path_primary:hover {
  --icon-path: var(
    --icon__bpm-1_path_primary--hover
  );
}

.icon__bpm-1_path_primary:active {
  --icon-path: var(
    --icon__bpm-1_path_primary--active
  );
}

.icon__bpm-1_path_primary:disabled {
  --icon-path: var(
    --icon__bpm-1_path_primary--disabled
  );
}

.icon__bpm-1_path_on-surface:enabled {
  --icon-path: var(
    --icon__bpm-1_path_on-surface--enabled
  );
}

.icon__objects-2_stroke:enabled {
  --icon-path: var(
    --icon__objects-2_stroke--enabled
  );
}

.icon__objects-2_stroke:hover {
  --icon-path: var(
    --icon__objects-2_stroke--hover
  );
}

.icon__objects-2_stroke:active {
  --icon-path: var(
    --icon__objects-2_stroke--active
  );
}

.icon__objects-2_stroke:disabled {
  --icon-path: var(
    --icon__objects-2_stroke--disabled
  );
}

.icon__objects-2_path:enabled {
  --icon-path: var(
    --icon__objects-2_path--enabled
  );
}

.icon__objects-2_path:hover {
  --icon-path: var(
    --icon__objects-2_path--hover
  );
}

.icon__objects-2_path:active {
  --icon-path: var(
    --icon__objects-2_path--active
  );
}

.icon__objects-2_path:disabled {
  --icon-path: var(
    --icon__objects-2_path--disabled
  );
}

.icon__objects-1_stroke:enabled {
  --icon-path: var(
    --icon__objects-1_stroke--enabled
  );
}

.icon__objects-1_stroke:hover {
  --icon-path: var(
    --icon__objects-1_stroke--hover
  );
}

.icon__objects-1_stroke:active {
  --icon-path: var(
    --icon__objects-1_stroke--active
  );
}

.icon__objects-1_stroke:disabled {
  --icon-path: var(
    --icon__objects-1_stroke--disabled
  );
}

.icon__objects-1_path:enabled {
  --icon-path: var(
    --icon__objects-1_path--enabled
  );
}

.icon__objects-1_path:hover {
  --icon-path: var(
    --icon__objects-1_path--hover
  );
}

.icon__objects-1_path:active {
  --icon-path: var(
    --icon__objects-1_path--active
  );
}

.icon__objects-1_path:disabled {
  --icon-path: var(
    --icon__objects-1_path--disabled
  );
}

/*# sourceMappingURL=tests.css.map */
