@import "../tabular-grid/tokens-grid";
@import "../tabular-grid/tokens-row";
@import "../tabular-grid/tokens-column";
@import "../tabular-grid/tokens-cell";

// - - - - - - - - - - - - - - - - - - - -
//           general settings
// - - - - - - - - - - - - - - - - - - - -

%property-grid__icon {
  &-size {
    @extend %icon-size--md;
    margin-inline-end: var(--grid-common__gap);
    flex-shrink: 0; // WA
  }
  &-caret {
    // collapsed
    &-collapsed--enabled {
      --icon-path: var(--icon__gemini-tools_add_neutral--enabled);
      cursor: pointer;
    }
    &-collapsed--hover {
      --icon-path: var(--icon__gemini-tools_add_neutral--hover);
    }
    &-collapsed--active {
      --icon-path: var(--icon__gemini-tools_add_neutral--active);
    }
    // expanded
    &-expanded--enabled {
      --icon-path: var(--icon__gemini-tools_minus_neutral--enabled);
      cursor: pointer;
    }
    &-expanded--hover {
      --icon-path: var(--icon__gemini-tools_minus_neutral--hover);
    }
    &-expanded--active {
      --icon-path: var(--icon__gemini-tools_minus_neutral--active);
    }
  }
  &-node {
    --icon-path: var(--icon__gemini-tools_folder_on-surface--enabled);
    &--leaf {
      --icon-path: var(--icon__gemini-tools_file_on-surface--enabled);
    }
  }
}

// - - - - - - - - - - - - - - - - - - - -
//            ch-property-grid
// - - - - - - - - - - - - - - - - - - - -

%property-grid {
  --focus__outline-offset: -2px; // WA since the box-shadow hides the outline-block-end and outline-inline-end.
  --grid-label__gap: var(--mer-spacing--xs);
  --grid-common__gap: var(--mer-spacing--xs);

  --indent: 16px;
  @include items-container-colors();

  --item__border-color--enabled: var(--mer-color__elevation--04);
  // @include property-grid-tokens();
  @include tabular-grid-row-tokens();
  @include tabular-grid-column-tokens();
  @include tabular-grid-cell-tokens();

  @include item-font-size-small();
}

%property-grid__main {
}

// - - - - - - - - - - - - - - - - - - - -
//       ch-property-grid-column-set
// - - - - - - - - - - - - - - - - - - - -
%property-grid-column-set {
  border-block-end: var(--grid-cell__border);
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-property-grid-column
// - - - - - - - - - - - - - - - - - - - -

%property-grid-column__bar {
  --grid-label__gap: 0;
  @include grid-row-colors-enabled();
  @include control-padding-inline-block();
  @include control-font-weight-semi-bold();
  gap: var(--grid-common__gap);
  width: 100%;
}

%property-grid-column__bar-resize-split {
  background-color: var(--mer-color__elevation--04);
  inline-size: var(--grid-bar-resize-split__inline-size);
  &--hover {
    background-color: var(--mer-accent__primary--hover);
  }
}

// - - - - - - - - - - - - - - - - - - - -
//          ch-property-grid-row
// - - - - - - - - - - - - - - - - - - - -

// no styles on ch-property-grid-row, since it has "display:contents"
%property-grid-row {
  &--focused {
  }
  &--highlighted {
    &__cell {
      @include grid-row-colors-highlighted();
    }
  }
  &--selected {
    &__cell {
      @include grid-row-colors-selected();
    }
  }
  &--dragging {
    @include grid-row-dragging();
  }
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-property-grid-rowset
// - - - - - - - - - - - - - - - - - - - -

%property-grid-rowset {
  &--collapsed {
    &__legend {
      border-block-end: var(--grid-cell__border);
    }
  }
}

// - - - - - - - - - - - - - - - - - - - -
//     ch-property-grid-rowset-legend
// - - - - - - - - - - - - - - - - - - - -

%property-grid-rowset-legend {
  @include grid-rowset-legend-colors-enabled();
  @include grid-rowset-legend-padding-block();
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-inline-start: var(--grid-common__gap);
  box-shadow: calc(var(--indent) * (var(--level) - 1) * -1) 0px 0px 0px
    var(--grid-rowset-legend__bg-color);
  &--hover {
    @include grid-rowset-legend-colors-hover();
  }
  &--active {
    @include grid-rowset-legend-colors-active();
  }
}

// Parts
// TODO
%property-grid-rowset-legend__caret {
  @extend %property-grid__icon-size;
  --icon-path: var(--icon__gemini-tools_minus_on-surface--enabled);
}
%property-grid-rowset-legend__selector-label {
}
%property-grid-rowset-legend__selector {
}
%property-grid-rowset-legend__icon {
}

// no styles on ch-property-grid-row, since it has "display:contents"
%property-grid-row {
}

// - - - - - - - - - - - - - - - - - - - -
//         ch-property-grid-cell
// - - - - - - - - - - - - - - - - - - - -

%property-grid-cell {
  @include grid-cell-border-inline-block();
  @include control-padding-inline-block();
  @include grid-row-colors-enabled();
  border: 0; //WA

  &--focused {
    @include focus-outline();
  }

  &--selected {
    // to be defined by design
  }
}

%property-grid-cell__selector-label {
  margin-inline-end: var(--grid-label__gap);
  block-size: var(--control-tiny__size);
  inline-size: var(--control-tiny__size);
}

%property-grid-cell__selector {
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
}

// Begin Checkbox

%property-grid-cell__selector--before {
  content: "";
  display: inline-block;
  width: var(--control-tiny__size);
  height: var(--control-tiny__size);
  border: var(--mer-form-input__border);
  border-radius: var(--control-tiny__border-radius);
  box-sizing: border-box;
}

%property-grid-cell__selector--after {
  position: absolute;
  content: "";
  display: inline-block;
  border-color: var(--mer-form-input-check__border-color);
  top: calc(var(--control-tiny__size) / 4);
  left: calc(var(--control-tiny__size) / 4);
}

%property-grid-cell__selector--after-checked {
  inline-size: calc(var(--control-tiny__size) / 2);
  block-size: calc(var(--control-tiny__size) / 2);
  background-color: currentColor;
  pointer-events: none;
  -webkit-mask: no-repeat center / 100%
    var(--mer-checkbox__option-checked-image);
  color: var(--mer-form-input-check__border-color);
}

%property-grid-cell__selector--after-indeterminate {
  inline-size: 8px;
  block-size: var(--mer-form-input-check__border-width);
  border-radius: 2px;
  background-color: var(--mer-form-input-check__border-color);
  top: calc(
    var(--control-tiny__size) / 2 - var(--mer-form-input-check__border-width) /
      2
  );
}

// End Checkbox

// - - - - - - - - - - - - - - - - - - - -
//       ch-property-grid-row-actions
// - - - - - - - - - - - - - - - - - - - -

%property-grid-row-actions {
}
%property-grid-row-actions__window {
  @extend %window-styles;
}
%property-grid-row-actions__main {
  display: flex;
  flex-direction: column;
  gap: var(--window__gap);
}

/// @group TabularGrid
// ch-property-grid
/// @param {String} $property-grid-selector [".property-grid"] -
/// @param {String} $property-grid__main-selector [".property-grid::part(main)"] -
// ch-property-grid-column-set
/// @param {String} $property-grid-column-set [".property-grid-column-set"] -
// ch-property-grid-column
/// @param {String} $property-grid-column__bar-selector [".property-grid-column::part(bar)"] -
/// @param {String} $property-grid-column__bar-resize-split-selector [".property-grid-column::part(bar-resize-split)"] -
/// @param {String} $property-grid-column__selector-label-selector [".property-grid-column::part(selector-label)"] -
/// @param {String} $property-grid-column__selector-selector [".property-grid-column::part(selector)"] -
/// @param {String} $property-grid-column__selector--checked-selector [".property-grid-column::part(selector checked)"] -
/// @param {String} $property-grid-column__selector--indeterminate-selector [".property-grid-column::part(selector indeterminate)"] -
// ch-property-grid-row
/// @param {String} $property-grid-row-selector [".property-grid-row"] -
/// @param {String} $property-grid-row--focused-selector [".property-grid-row[focused]"] -
/// @param {String} $property-grid-row--highlighted-selector [".property-grid-row[highlighted]"] -
/// @param {String} $property-grid-row--selected-selector [".property-grid-row[selected]"] -
/// @param {String} $property-grid-row--dragging-selector [".property-grid-row[dragging]"] -
/// @param {String} $property-grid-row--highlighted__cell-selector [".property-grid-row[highlighted] > .property-grid-cell"] -
// ch-property-grid-row  > cell
/// @param {String} $property-grid-row--selected__cell-selector [".property-grid-row[selected] > .property-grid-cell"] -
// ch-property-grid-rowset
/// @param {String} $property-grid-rowset-selector [".property-grid-rowset"] -
/// @param {String} $property-grid-rowset--collapsed__legend-selector [".property-grid-rowset[collapsed] > .property-grid-rowset-legend"] -
// ch-property-grid-rowset-legend
/// @param {String} $property-grid-rowset-legend-selector [".property-grid-rowset-legend"] -
/// @param {String} $property-grid-rowset-legend__caret-selector--collapsed [".property-grid-rowset[collapsed] > .property-grid-rowset-legend::part(caret)"] -
/// @param {String} $property-grid-rowset-legend__caret-selector--expanded [".property-grid-rowset > .property-grid-rowset-legend::part(caret)"] -
/// @param {String} $property-grid-rowset-legend__selector-label-selector [".property-grid-rowset-legend::part(selector-label)"] -
/// @param {String} $property-grid-rowset-legend__selector-selector [".property-grid-rowset-legend::part(selector)"] -
/// @param {String} $property-grid-rowset-legend__icon-selector [".property-grid-rowset-legend::part(icon)"] -
// ch-property-grid-cell
/// @param {String} $property-grid-cell-selector [".property-grid-cell"] -
/// @param {String} $property-grid-cell--focused-selector [".property-grid-cell[focused]"] -
/// @param {String} $property-grid-cell--selected-selector [".property-grid-cell[selected]"] -
/// @param {String} $property-grid-cell__selector-label-selector [".property-grid-cell::part(selector-label)"] -
/// @param {String} $property-grid-cell__selector-selector [".property-grid-cell::part(selector)"] -
/// @param {String} $property-grid-cell__selector--checked-selector [".property-grid-cell::part(selector checked)"] -
// ch-property-grid-cell (icons)
/// @param {String} $property-grid-cell__actions-icon-selector [".property-grid-cell::part(actions-icon)"] -
/// @param {String} $property-grid-cell__caret-icon-selector--collapsed [".property-grid-row:is( [collapsed], [leaf="false"]:not(:has(> .property-grid-rowset)) ) > .property-grid-cell::part(caret)"] -
/// @param {String} $property-grid-cell__caret-icon-selector--expanded [".property-grid-row > .property-grid-cell::part(caret)"] -
/// @param {String} $property-grid-cell__drag-icon-selector [".property-grid-cell::part(drag-icon)"] -
/// @param {String} $property-grid-cell__node-icon-selector [".property-grid-row:has(> .property-grid-rowset) > .property-grid-cell::part(node-icon)"] -
/// @param {String} $property-grid-cell__node-leaf-icon-selector [".property-grid-cell::part(node-icon)"] -
// row-actions
/// @param {String} $property-grid-row-actions-selector [".property-grid-row-actions"] -
/// @param {String} $property-grid-row-actions__window-selector [".property-grid-row-actions::part(window)"] -
/// @param {String} $property-grid-row-actions__main-selector [".property-grid-row-actions::part(main)"] -
@mixin property-grid(
  // ch-property-grid
  $property-grid-selector: ".property-grid",
  $property-grid__main-selector: ".property-grid::part(main)",
  // ch-property-grid-column-set
  $property-grid-column-set: ".property-grid-column-set",
  // ch-property-grid-column
  $property-grid-column__bar-selector: ".property-grid-column::part(bar)",
  $property-grid-column__bar-resize-split-selector:
    ".property-grid-column::part(bar-resize-split)",
  $property-grid-column__selector-label-selector:
    ".property-grid-column::part(selector-label)",
  $property-grid-column__selector-selector:
    ".property-grid-column::part(selector)",
  $property-grid-column__selector--checked-selector:
    ".property-grid-column::part(selector checked)",
  $property-grid-column__selector--indeterminate-selector:
    ".property-grid-column::part(selector indeterminate)",
  // ch-property-grid-row
  $property-grid-row-selector: ".property-grid-row",
  $property-grid-row--focused-selector: ".property-grid-row[focused]",
  $property-grid-row--highlighted-selector: ".property-grid-row[highlighted]",
  $property-grid-row--selected-selector: ".property-grid-row[selected]",
  $property-grid-row--dragging-selector: ".property-grid-row[dragging]",
  $property-grid-row--highlighted__cell-selector:
    ".property-grid-row[highlighted] > .property-grid-cell",
  $property-grid-row--selected__cell-selector:
    ".property-grid-row[selected] > .property-grid-cell",
  // ch-property-grid-rowset
  $property-grid-rowset-selector: ".property-grid-rowset",
  $property-grid-rowset--collapsed__legend-selector:
    ".property-grid-rowset[collapsed] > .property-grid-rowset-legend",
  // ch-property-grid-rowset-legend
  $property-grid-rowset-legend-selector: ".property-grid-rowset-legend",
  $property-grid-rowset-legend__caret-selector--collapsed:
    ".property-grid-rowset[collapsed] > .property-grid-rowset-legend::part(caret)",
  $property-grid-rowset-legend__caret-selector--expanded:
    ".property-grid-rowset > .property-grid-rowset-legend::part(caret)",
  $property-grid-rowset-legend__selector-label-selector:
    ".property-grid-rowset-legend::part(selector-label)",
  $property-grid-rowset-legend__selector-selector:
    ".property-grid-rowset-legend::part(selector)",
  $property-grid-rowset-legend__icon-selector:
    ".property-grid-rowset-legend::part(icon)",
  // ch-property-grid-cell
  $property-grid-cell-selector: ".property-grid-cell",
  $property-grid-cell--focused-selector: ".property-grid-cell[focused]",
  $property-grid-cell--selected-selector: ".property-grid-cell[selected]",
  $property-grid-cell__selector-label-selector:
    ".property-grid-cell::part(selector-label)",
  $property-grid-cell__selector-selector: ".property-grid-cell::part(selector)",
  $property-grid-cell__selector--checked-selector:
    ".property-grid-cell::part(selector checked)",
  // ch-property-grid-cell (icons)
  $property-grid-cell__actions-icon-selector:
    ".property-grid-cell::part(actions-icon)",
  $property-grid-cell__caret-icon-selector--collapsed:
    ".property-grid-row:is( [collapsed], [leaf='false']:not(:has(> .property-grid-rowset)) ) > .property-grid-cell::part(caret)",
  $property-grid-cell__caret-icon-selector--expanded:
    ".property-grid-cell::part(caret)",
  $property-grid-cell__drag-icon-selector:
    ".property-grid-cell::part(drag-icon)",
  $property-grid-cell__node-icon-selector:
    ".property-grid-row:has(> .property-grid-rowset) > .property-grid-cell::part(node-icon)",
  $property-grid-cell__node-leaf-icon-selector:
    ".property-grid-cell::part(node-icon)",
  // ch-property-grid-row-actions
  $property-grid-row-actions-selector: ".property-grid-row-actions",
  $property-grid-row-actions__window-selector:
    ".property-grid-row-actions::part(window)",
  $property-grid-row-actions__main-selector:
    ".property-grid-row-actions::part(main)"
) {
  // - - - - - - - - - - - - - - - - - - - - - - - - -
  //    icons that are present in more than one place
  // - - - - - - - - - - - - - - - - - - - - - - - - -

  // caret collapsed
  #{$property-grid-rowset-legend__caret-selector--collapsed},
  #{$property-grid-cell__caret-icon-selector--collapsed} {
    @extend %property-grid__icon-size;
    @extend %property-grid__icon-caret-collapsed--enabled;
    &:hover {
      @extend %property-grid__icon-caret-collapsed--hover;
    }
    &:active {
      @extend %property-grid__icon-caret-collapsed--active;
    }
  }

  // caret expanded
  #{$property-grid-rowset-legend__caret-selector--expanded},
  #{$property-grid-cell__caret-icon-selector--expanded} {
    @extend %property-grid__icon-size;
    @extend %property-grid__icon-caret-expanded--enabled;
    &:hover {
      @extend %property-grid__icon-caret-expanded--hover;
    }
    &:active {
      @extend %property-grid__icon-caret-expanded--active;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-property-grid
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-selector} {
    @extend %property-grid;
    &:focus {
      outline: none;
    }
  }

  #{$property-grid__main-selector} {
    @extend %property-grid__main;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      ch-property-grid-column-set
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-column-set} {
    @extend %property-grid-column-set;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-property-grid-column
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-column__bar-selector} {
    @extend %property-grid-column__bar;
  }

  #{$property-grid-column__bar-resize-split-selector} {
    @extend %property-grid-column__bar-resize-split;
    &:hover {
      @extend %property-grid-column__bar-resize-split--hover;
    }
  }

  // checkbox (same styles add cell checkbox)
  #{$property-grid-column__selector-label-selector} {
    @extend %property-grid-cell__selector-label;
  }

  #{$property-grid-column__selector-selector} {
    @extend %property-grid-cell__selector;

    &::before {
      @extend %property-grid-cell__selector--before;
    }

    &::after {
      @extend %property-grid-cell__selector--after;
    }

    &:focus {
      outline: none;
    }
  }

  #{$property-grid-column__selector--checked-selector} {
    &::after {
      @extend %property-grid-cell__selector--after-checked;
    }
  }

  #{$property-grid-column__selector--indeterminate-selector} {
    &::after {
      @extend %property-grid-cell__selector--after-indeterminate;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //          ch-property-grid-row
  // - - - - - - - - - - - - - - - - - - - -

  // row
  #{$property-grid-row-selector} {
    @extend %property-grid-row;
  }
  #{$property-grid-row--focused-selector} {
    @extend %property-grid-row--focused;
  }
  #{$property-grid-row--highlighted-selector} {
    @extend %property-grid-row--highlighted;
  }
  #{$property-grid-row--selected-selector} {
    @extend %property-grid-row--selected;
  }
  #{$property-grid-row--dragging-selector} {
    @extend %property-grid-row--dragging;
  }

  // row[some-state] > cell
  #{$property-grid-row--highlighted__cell-selector} {
    @extend %property-grid-row--highlighted__cell;
  }
  #{$property-grid-row--selected__cell-selector} {
    @extend %property-grid-row--selected__cell;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //             ch-property-grid-rowset
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-rowset-selector} {
    @extend %property-grid-rowset;
  }
  #{$property-grid-rowset--collapsed__legend-selector} {
    @extend %property-grid-rowset--collapsed__legend;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //     ch-property-grid-rowset-legend
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-rowset-legend-selector} {
    @extend %property-grid-rowset-legend;
    &:hover {
      @extend %property-grid-rowset-legend--hover;
    }
    &:active {
      @extend %property-grid-rowset-legend--active;
    }
  }

  #{$property-grid-rowset-legend__selector-label-selector} {
    @extend %property-grid-rowset-legend__selector-label;
  }

  #{$property-grid-rowset-legend__selector-selector} {
    @extend %property-grid-rowset-legend__selector;
  }

  #{$property-grid-rowset-legend__icon-selector} {
    @extend %property-grid-rowset-legend__icon;
    @extend %property-grid__icon-size;
    --icon-path: var(--icon__gemini-tools_category-group_on-surface--enabled);
  }

  // - - - - - - - - - - - - - - - - - - - -
  //           ch-property-grid-cell
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-cell-selector} {
    @extend %property-grid-cell;
  }

  #{$property-grid-cell--focused-selector} {
    @extend %property-grid-cell--focused;
  }

  #{$property-grid-cell--selected-selector} {
    @extend %property-grid-cell--selected;
  }

  // checkbox
  #{$property-grid-cell__selector-label-selector} {
    @extend %property-grid-cell__selector-label;
  }

  #{$property-grid-cell__selector-selector} {
    @extend %property-grid-cell__selector;
    &::before {
      @extend %property-grid-cell__selector--before;
    }

    &::after {
      @extend %property-grid-cell__selector--after;
    }

    &:focus {
      outline: none;
    }
  }

  #{$property-grid-cell__selector--checked-selector} {
    &::after {
      @extend %property-grid-cell__selector--after-checked;
    }
  }

  // Icons
  #{$property-grid-cell__actions-icon-selector} {
    width: 100%;
    @extend %property-grid__icon-size;
    --icon-path: var(
      --icon__gemini-tools_show-more-vertical_on-surface--enabled
    );
    border: none;
  }

  #{$property-grid-cell__drag-icon-selector} {
    @extend %property-grid__icon-size;
    --icon-path: var(--icon__navigation_drag_on-surface--enabled);
    margin-inline-end: var(--grid-common__gap);
  }

  #{$property-grid-cell__node-icon-selector} {
    @extend %property-grid__icon-size;
    @extend %property-grid__icon-node;
  }

  #{$property-grid-cell__node-leaf-icon-selector} {
    @extend %property-grid__icon-size;
    @extend %property-grid__icon-node--leaf;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //      ch-property-grid-row-actions
  // - - - - - - - - - - - - - - - - - - - -

  #{$property-grid-row-actions-selector} {
    &[show-on-row-hover]::part(window) {
      margin-inline-end: var(--mer-spacing--xs);
    }
  }

  #{$property-grid-row-actions__window-selector} {
    @extend %property-grid-row-actions__window;
  }

  #{$property-grid-row-actions__main-selector} {
    @extend %property-grid-row-actions__main;
  }
}
