:root {
  /* TOKENS */
  --body__font-size: 16px;
  --body__line-height: 16px;
  /* container */
  --container__max-width: 1200px;
  --container__padding-inline: 32px;
  /* section */
  --section: ;
  --section__gap: 128px;
  --section__padding-block: 128px;
  --section-header__gap: 24px;
  --section-title__font-size: 36px;
  --section-title__font-family: var(--mer-font-family--inter-light);
  --section-description__font-size: 16px;
  --section-description__max-width: 640px;
  --articles-container__gap: 0;
  /* article */
  --article-padding-block: 64px;
  --article-header__gap: 16px;
  --article-header__margin-block-end: 24px;
  --article-title__font-size: 20px;
  --article-title__font-weight: 500;
  --article-title__pipe-font-size: 14px;
  --article-title__pipe-padding-inline: 4px;
  --article-description__font-size: 14px;
  --article-description__max-width: 640px;
  --article-sub-title__font-size: 16px;
  --article-mini-title__font-size: 12px;
  --article-border-block-end: 1px solid var(--mer-color__neutral-gray--1000);
  /* pills */
  --article-pills__gap: 12px;
  --article-pill__font-family: "JetBrains Mono", monospace;
  --article-pill__font-size: 12px;
  --article-pill__font-weight: 500;
  --article-pill__padding-inline: 8px;
  --article-pill__height: 22px;
  --article-pill__bg-color: transparent;
  --article-pill__bg-border-width: 1px;
  --article-pill__color--attribute: #5ba7ff80;
  --article-pill__color--class: #5dc599;
  --article-pill__color--icon: #f9bd56;
  --article-pill__color--property-string: #437dc0;
  --article-pill__color--property-boolean: #b654a1;
  --article-pill__color--property-number: #b0436e;
  /* content */
}

/*====================
Top Bar
====================*/
.top-bar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 32px;
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(15px) saturate(1.5);
}
.top-bar__button {
  border: 1px solid rgb(153, 153, 153);
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 2px;
}
.top-bar__button:hover {
  filter: brightness(1.5);
}
.top-bar__button:active {
  filter: brightness(1.2);
}

/*====================
Container
====================*/
.container {
  width: 100%;
  max-width: var(--container__max-width);
  padding-inline: var(--container__padding-inline);
  margin: 0 auto;
}

/*====================
Section
====================*/
.section {
  display: flex;
  flex-direction: column;
  padding-block: var(--section__padding-block);
  gap: var(--section__gap);
}
.section__header {
  display: flex;
  flex-direction: column;
  gap: var(--section-header__gap);
}
.section__title {
  font-size: var(--section-title__font-size);
  font-family: var(--section-title__font-family);
}
.section__title--mono {
  font-family: monospace;
}
.section__description {
  font-size: var(--section-description__font-size);
  max-width: var(--section-description__max-width);
}
/*====================
Articles
====================*/
/* articles__container*/
.articles-container {
  display: flex;
  flex-direction: column;
  gap: var(--articles-container__gap);
}
/* article */
.article {
  padding-block: var(--article-padding-block);
}
.article:not(:last-child) {
  border-block-end: var(--article-border-block-end);
}
.article:first-child {
  padding-block-start: 0;
}
.article:last-child {
  padding-block-end: 0;
}
/* article headerr*/
.article__header {
  display: flex;
  flex-direction: column;
  gap: var(--article-header__gap);
  margin-block-end: var(--article-header__margin-block-end);
}
/* articles title */
.article__title {
  font-size: var(--article-title__font-size);
  font-weight: var(--article-title__font-weight);
}
/* articles title pipe*/
.article__title-pipe {
  font-family: var(Inter_Bold);
  font-size: var(--article-title__pipe-font-size);
  padding-inline: var(--article-title__pipe-padding-inline);
}
.article__description {
  font-size: var(--article-description__font-size);
  max-width: var(--article-description__max-width);
}
.article__sub-title {
  font-size: var(--article-sub-title__font-size);
}
/* articles pills */
.article__pills {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--article-pills__gap);
}
.article__pill {
  font-family: var(--article-pill__font-family);
  font-size: var(--article-pill__font-size);
  font-weight: var(--article-pill__font-weight);
  padding-inline: var(--article-pill__padding-inline);
  height: var(--article-pill__height);
  background-color: var(--article-pill__bg-color);
  display: flex;
  align-items: center;
  border-width: var(--article-pill__bg-border-width);
  border-style: solid;
  border-radius: calc(var(--article-pill__height) / 2);
  border: none;
  background: var(--mer-color__neutral-gray--1000);
}
.article__pill--attribute {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--attribute); */
  color: var(--article-pill__color--attribute);
}
.article__pill--class {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--class); */
  color: var(--article-pill__color--class);
}
.article__pill--icon {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--icon); */
  color: var(--article-pill__color--icon);
}
.article__pill--property-string {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--property-string); */
  color: var(--article-pill__color--property-string);
}
.article__pill--property-number {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--property-number); */
  color: var(--article-pill__color--property-number);
}
.article__pill--property-boolean {
  /* background-color: transparent; */
  /* border-color: var(--article-pill__color--property-boolean); */
  color: var(--article-pill__color--property-boolean);
}
/* article content */
.article__content {
}
