
   $icons-system: assistant, arrow-right, arrow-left, applications, add, add-circle;
    %icon__system {
  
    /* =================================
    LIGHT
    ================================= */
  
    /* - - - - - - - - - - - - 
    assistant.svg 
    - - - - - - - - - - - - */
    
    &_assistant--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#primary");
    }
    
    &_assistant--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#primary-hover");
    }
    
    &_assistant--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#primary-active");
    }
    
    &_assistant--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#primary-disabled");
    }
    
    &_assistant--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#on-primary");
    }
    
    &_assistant--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#on-primary-hover");
    }
    
    &_assistant--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#on-primary-active");
    }
    
    &_assistant--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#on-disabled");
    }
    
    &_assistant--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/assistant.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    arrow-right.svg 
    - - - - - - - - - - - - */
    
    &_arrow-right--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#primary");
    }
    
    &_arrow-right--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#primary-hover");
    }
    
    &_arrow-right--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#primary-active");
    }
    
    &_arrow-right--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#primary-disabled");
    }
    
    &_arrow-right--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#on-primary");
    }
    
    &_arrow-right--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#on-primary-hover");
    }
    
    &_arrow-right--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#on-primary-active");
    }
    
    &_arrow-right--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#on-disabled");
    }
    
    &_arrow-right--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-right.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    arrow-left.svg 
    - - - - - - - - - - - - */
    
    &_arrow-left--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#primary");
    }
    
    &_arrow-left--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#primary-hover");
    }
    
    &_arrow-left--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#primary-active");
    }
    
    &_arrow-left--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#primary-disabled");
    }
    
    &_arrow-left--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#on-primary");
    }
    
    &_arrow-left--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#on-primary-hover");
    }
    
    &_arrow-left--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#on-primary-active");
    }
    
    &_arrow-left--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#on-disabled");
    }
    
    &_arrow-left--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/arrow-left.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    applications.svg 
    - - - - - - - - - - - - */
    
    &_applications--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#primary");
    }
    
    &_applications--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#primary-hover");
    }
    
    &_applications--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#primary-active");
    }
    
    &_applications--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#primary-disabled");
    }
    
    &_applications--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#on-primary");
    }
    
    &_applications--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#on-primary-hover");
    }
    
    &_applications--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#on-primary-active");
    }
    
    &_applications--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#on-disabled");
    }
    
    &_applications--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/applications.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    add.svg 
    - - - - - - - - - - - - */
    
    &_add--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#primary");
    }
    
    &_add--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#primary-hover");
    }
    
    &_add--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#primary-active");
    }
    
    &_add--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#primary-disabled");
    }
    
    &_add--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#on-primary");
    }
    
    &_add--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#on-primary-hover");
    }
    
    &_add--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#on-primary-active");
    }
    
    &_add--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#on-disabled");
    }
    
    &_add--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/add.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    add-circle.svg 
    - - - - - - - - - - - - */
    
    &_add-circle--primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#primary");
    }
    
    &_add-circle--primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#primary-hover");
    }
    
    &_add-circle--primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#primary-active");
    }
    
    &_add-circle--primary-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#primary-disabled");
    }
    
    &_add-circle--on-primary-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#on-primary");
    }
    
    &_add-circle--on-primary-hover-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#on-primary-hover");
    }
    
    &_add-circle--on-primary-active-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#on-primary-active");
    }
    
    &_add-circle--on-disabled-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#on-disabled");
    }
    
    &_add-circle--neutral-light {
      --icon-path: url("#{$icons-path}icons/system/light/add-circle.svg#neutral");
    }
    

    /* =================================
    DARK
    ================================= */
  
    /* - - - - - - - - - - - - 
    assistant.svg 
    - - - - - - - - - - - - */
    
    &_assistant--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#primary");
    }
    
    &_assistant--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#primary-hover");
    }
    
    &_assistant--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#primary-active");
    }
    
    &_assistant--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#primary-disabled");
    }
    
    &_assistant--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#on-primary");
    }
    
    &_assistant--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#on-primary-hover");
    }
    
    &_assistant--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#on-primary-active");
    }
    
    &_assistant--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#on-disabled");
    }
    
    &_assistant--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/assistant.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    arrow-right.svg 
    - - - - - - - - - - - - */
    
    &_arrow-right--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#primary");
    }
    
    &_arrow-right--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#primary-hover");
    }
    
    &_arrow-right--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#primary-active");
    }
    
    &_arrow-right--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#primary-disabled");
    }
    
    &_arrow-right--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#on-primary");
    }
    
    &_arrow-right--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#on-primary-hover");
    }
    
    &_arrow-right--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#on-primary-active");
    }
    
    &_arrow-right--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#on-disabled");
    }
    
    &_arrow-right--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-right.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    arrow-left.svg 
    - - - - - - - - - - - - */
    
    &_arrow-left--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#primary");
    }
    
    &_arrow-left--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#primary-hover");
    }
    
    &_arrow-left--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#primary-active");
    }
    
    &_arrow-left--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#primary-disabled");
    }
    
    &_arrow-left--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#on-primary");
    }
    
    &_arrow-left--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#on-primary-hover");
    }
    
    &_arrow-left--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#on-primary-active");
    }
    
    &_arrow-left--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#on-disabled");
    }
    
    &_arrow-left--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/arrow-left.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    applications.svg 
    - - - - - - - - - - - - */
    
    &_applications--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#primary");
    }
    
    &_applications--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#primary-hover");
    }
    
    &_applications--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#primary-active");
    }
    
    &_applications--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#primary-disabled");
    }
    
    &_applications--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#on-primary");
    }
    
    &_applications--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#on-primary-hover");
    }
    
    &_applications--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#on-primary-active");
    }
    
    &_applications--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#on-disabled");
    }
    
    &_applications--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/applications.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    add.svg 
    - - - - - - - - - - - - */
    
    &_add--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#primary");
    }
    
    &_add--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#primary-hover");
    }
    
    &_add--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#primary-active");
    }
    
    &_add--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#primary-disabled");
    }
    
    &_add--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#on-primary");
    }
    
    &_add--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#on-primary-hover");
    }
    
    &_add--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#on-primary-active");
    }
    
    &_add--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#on-disabled");
    }
    
    &_add--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add.svg#neutral");
    }
    
    /* - - - - - - - - - - - - 
    add-circle.svg 
    - - - - - - - - - - - - */
    
    &_add-circle--primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#primary");
    }
    
    &_add-circle--primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#primary-hover");
    }
    
    &_add-circle--primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#primary-active");
    }
    
    &_add-circle--primary-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#primary-disabled");
    }
    
    &_add-circle--on-primary-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#on-primary");
    }
    
    &_add-circle--on-primary-hover-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#on-primary-hover");
    }
    
    &_add-circle--on-primary-active-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#on-primary-active");
    }
    
    &_add-circle--on-disabled-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#on-disabled");
    }
    
    &_add-circle--neutral-dark {
      --icon-path: url("#{$icons-path}icons/system/dark/add-circle.svg#neutral");
    }
    
  
    }
  