%field {
  display: grid;

  &-group {
    display: grid;
    row-gap: var(--field-group__row-gap);
    column-gap: var(--field-group__column-gap);

    &-cols-2 {
      display: grid;
      column-gap: var(--field__column-gap);
      row-gap: var(--field-group__row-gap);
      grid-template-columns: max-content auto;
    }
  }

  &-block {
    row-gap: var(--field__row-gap);
    grid-template-rows: max-content 1fr;
  }

  &-inline {
    column-gap: var(--field__column-gap);
    grid-template-columns: max-content 1fr;

    &__label {
      margin-block-start: var(--field-inline-label__margin-block-start);
    }
  }
}

/// @group Field
/// @param {String} $field-group-selector [".field-group"] -
/// @param {String} $field-selector [".field"] -
/// @param {String} $field-block-selector [".field-block"] -
/// @param {String} $field-inline-selector [".field-inline"] -
/// @param {String} $field-inline__label-selector [".field-inline > .label"] -
/// @param {String} $field-group-cols-2-selector [".field-group-cols-2"] -
/// @param {String} $field-group-cols-2__label-selector [".field-group-cols-2 > .label"] -
@mixin field(
  $field-group-selector: ".field-group",
  $field-selector: ".field",
  $field-block-selector: ".field-block",
  $field-inline-selector: ".field-inline",
  $field-inline__label-selector: ".field-inline > .label",
  $field-group-cols-2-selector: ".field-group-cols-2",
  $field-group-cols-2__label-selector: ".field-group-cols-2 > .label"
) {
  #{$field-group-selector} {
    @extend %field-group;
  }

  #{$field-selector} {
    @extend %field;
  }

  #{$field-block-selector} {
    @extend %field-block;
  }

  #{$field-inline-selector} {
    @extend %field-inline;
  }

  #{$field-inline__label-selector} {
    @extend %field-inline__label;
  }

  #{$field-group-cols-2-selector} {
    @extend %field-group-cols-2;
  }

  #{$field-group-cols-2__label-selector} {
    @extend %field-inline__label;
  }
}
