%form-input {
  @include control-colors-enabled();
  @include control-border();
  @include control-font-weight-regular();
  @include control-height-regular();
  @include control-padding-inline();
  @include control-inline-size();

  &--focus {
    @include focus-border();
  }

  &--hover {
    @include control-colors-hover();
  }

  &--disabled {
    @include control-colors-disabled();
  }

  &--disabled-placeholder {
    --mer-form-input__color--placeholder: var(
      --mer-form-input__color--disabled
    );
  }

  &--error {
    border-color: var(--mer-form-input__border-color--error);
  }
}

%form-input__placeholder {
  font-style: italic;
  color: var(--mer-form-input__color--placeholder);
}

/// @group Form
/// @param {String} $selector [".form-input"] -
/// @param {Boolean} $add--disabled [true] -
/// @param {Boolean} $add--placeholder [true] -
/// @param {Boolean} $add--placeholder-var [true] -
/// @param {Boolean} $add--error [true] -
@mixin form-input(
  $selector: ".form-input",
  $add--disabled: true,
  $add--placeholder: true,
  $add--placeholder-var: false,
  $add--error: true
) {
  #{$selector} {
    @extend %form-input;

    &:hover {
      @extend %form-input--hover;
    }

    @if $add--placeholder-var {
    }

    @if $add--placeholder {
      &::placeholder {
        @include control-placeholder();
      }
    }

    &:focus {
      @extend %form-input--focus;
    }

    @if $add--disabled {
      &:disabled,
      &--disabled {
        @extend %form-input--disabled;
      }
    }

    @if $add--error {
      &--error {
        @include control-colors-error();
      }
    }
  }
}
