/*multicolor lists*/
.icon__objects-2_stroke {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#enabled");
}
.icon__objects-2_stroke:hover {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#hover");
}
.icon__objects-2_stroke:active {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#active");
}
.icon__objects-2_stroke:disabled {
  --icon-path: url("../dist/icons/objects-2/light/stroke.svg#disabled");
}
.icon__objects-2_path {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#enabled");
}
.icon__objects-2_path:hover {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#hover");
}
.icon__objects-2_path:active {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#active");
}
.icon__objects-2_path:disabled {
  --icon-path: url("../dist/icons/objects-2/light/path.svg#disabled");
}
html.dark .icon__objects-2_stroke {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#enabled");
}
html.dark .icon__objects-2_stroke:hover {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#hover");
}
html.dark .icon__objects-2_stroke:active {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#active");
}
html.dark .icon__objects-2_stroke:disabled {
  --icon-path: url("../dist/icons/objects-2/dark/stroke.svg#disabled");
}
html.dark .icon__objects-2_path {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#enabled");
}
html.dark .icon__objects-2_path:hover {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#hover");
}
html.dark .icon__objects-2_path:active {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#active");
}
html.dark .icon__objects-2_path:disabled {
  --icon-path: url("../dist/icons/objects-2/dark/path.svg#disabled");
}

.icon__objects-1_stroke {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#enabled");
}
.icon__objects-1_stroke:hover {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#hover");
}
.icon__objects-1_stroke:active {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#active");
}
.icon__objects-1_stroke:disabled {
  --icon-path: url("../dist/icons/objects-1/light/stroke.svg#disabled");
}
.icon__objects-1_path {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#enabled");
}
.icon__objects-1_path:hover {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#hover");
}
.icon__objects-1_path:active {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#active");
}
.icon__objects-1_path:disabled {
  --icon-path: url("../dist/icons/objects-1/light/path.svg#disabled");
}
html.dark .icon__objects-1_stroke {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#enabled");
}
html.dark .icon__objects-1_stroke:hover {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#hover");
}
html.dark .icon__objects-1_stroke:active {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#active");
}
html.dark .icon__objects-1_stroke:disabled {
  --icon-path: url("../dist/icons/objects-1/dark/stroke.svg#disabled");
}
html.dark .icon__objects-1_path {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#enabled");
}
html.dark .icon__objects-1_path:hover {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#hover");
}
html.dark .icon__objects-1_path:active {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#active");
}
html.dark .icon__objects-1_path:disabled {
  --icon-path: url("../dist/icons/objects-1/dark/path.svg#disabled");
}

/*monochrome lists*/