%list-box {
  --ch-action-list-group__expandable-button-image-size: var(
    --mer-icon__box--md
  );
  --ch-action-list-group__expandable-button-size: var(--mer-icon__box--md);
  --ch-action-list-item__background-image-size: var(--mer-icon__size--md);
  --ch-action-list-item__image-size: var(--mer-icon__box--md);

  @include items-container-border();
  @include items-container-colors();
  @include items-container-dropdown();
  @include items-container-gap();
  @include items-container-padding();

  &-item-action {
    @include item-colors-enabled();
    @include item-border();
    @include item-border-radius();
    @include item-font();
    @include item-padding();

    &--disabled {
      @include item-colors-disabled();
    }

    &--focus-visible {
      @include focus-outline();
    }

    &--not-selectable {
      &--hover {
        @include item-colors-hover();
      }
    }

    &--selectable {
      &--hover {
        @include item-colors-hover();
      }
    }
    &--selected {
      @include item-colors-selected();
      &--hover {
        @include item-colors-selected-hover();
      }
    }
    &--not-selected {
      &--hover {
      }
    }

    &--nested-expandable {
    }
  }

  &-group {
    @include items-container-gap();
    &-action {
      @include item-gap();
      &--hover {
        @include item-colors-hover();
        border-color: transparent; // WA to hide the border.
        // without border the item does not align with the items
        // that implement border.
      }
    }
    &-action,
    &-caption {
      @include item-font-header();
      @include item-colors-enabled();
    }
    &-caption {
      @include item-padding();
      @include item-border();
    }
    &-expandable {
      @include items-container-gap();
    }
  }

  &-additional-item--action {
    // to be defined later

    &--hover {
      // to be defined later
    }

    &--focus-visible {
      @include focus-outline();
    }
  }

  &-separator {
    @include items-container-separator();
  }
}

@mixin list-box(
  $list-box-selector: ".list-box",

  $group-selector: ".list-box::part(group)",
  $group-expandable-selector: ".list-box::part(group__expandable)",

  $item-action-selector: ".list-box::part(item__action)",
  $group-action-selector: ".list-box::part(group__action)",
  $group-caption-selector: ".list-box::part(group__caption)",

  $item-action--nested-expandable-selector:
    ".list-box::part(item__action nested-expandable)",

  $item-action-not-selectable-selector:
    ".list-box::part(item__action not-selectable)",
  $group-action-not-selectable-selector:
    ".list-box::part(group__action not-selectable)",

  $item-action-selectable-selector: ".list-box::part(item__action selectable)",
  $group-action-selectable-selector: ".list-box::part(group__action selectable)",

  $item-action--selected-selector:
    ".list-box::part(item__action selectable selected)",
  $group-action--selected-selector:
    ".list-box::part(group__action selectable selected)",

  $item-action--not-selected-selector:
    ".list-box::part(item__action selectable not-selected)",
  $group-action--not-selected-selector:
    ".list-box::part(group__action selectable not-selected)",

  $item-action--disabled-selector: ".list-box::part(item__action disabled)",
  $group-action--disabled-selector: ".list-box::part(group__action disabled)",
  $group-caption--disabled-selector: ".list-box::part(group__caption disabled)",

  $additional-item--image-selector:
    ".list-box::part(item__additional-item image)",
  $additional-item--action-selector:
    ".list-box::part(item__additional-item action)",

  $separator-selector: ".list-box::part(separator)",

  $add--disabled: true,
  $add--additional-item: true
) {
  #{$list-box-selector} {
    @extend %list-box;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Action
  // - - - - - - - - - - - - - - - - - - - -
  #{$item-action-selector},
  #{$group-action-selector} {
    @extend %list-box-item-action;
  }

  #{$group-caption-selector} {
    @extend %list-box-group-caption;
  }

  #{$item-action-selector}:focus-visible,
  #{$group-action-selector}:focus-visible {
    @extend %list-box-item-action--focus-visible;
  }

  // Not selectable
  #{$item-action-not-selectable-selector}:hover,
  #{$group-action-not-selectable-selector}:hover {
    @extend %list-box-item-action--not-selectable--hover;
  }

  // Selectable
  #{$item-action-selectable-selector}:hover,
  #{$group-action-selectable-selector}:hover {
    @extend %list-box-item-action--selectable--hover;
  }

  // Selectable Selected
  #{$item-action--selected-selector},
  #{$group-action--selected-selector} {
    @extend %list-box-item-action--selected;
    &:hover {
      @extend %list-box-item-action--selected--hover;
    }
  }

  // Selectable Not Selected
  #{$item-action--not-selected-selector},
  #{$group-action--not-selected-selector} {
    @extend %list-box-item-action--not-selected;
    &:hover {
      @extend %list-box-item-action--not-selected--hover;
    }
  }

  // Nested expandable
  #{$item-action--nested-expandable-selector} {
    @extend %list-box-item-action--nested-expandable;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Group
  // - - - - - - - - - - - - - - - - - - - -

  #{$group-selector} {
    @extend %list-box-group;
  }
  #{$group-expandable-selector} {
    @extend %list-box-group-expandable;
  }

  #{$group-action-selector} {
    @extend %list-box-group-action;
    &:hover {
      @extend %list-box-group-action--hover;
    }
  }
  #{$group-caption-selector} {
    @extend %list-box-group-caption;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Separator
  // - - - - - - - - - - - - - - - - - - - -
  #{$separator-selector} {
    @extend %list-box-separator;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Disabled
  // - - - - - - - - - - - - - - - - - - - -
  @if $add--disabled {
    #{$item-action--disabled-selector},
    #{$group-action--disabled-selector},
    #{$group-caption--disabled-selector} {
      @extend %list-box-item-action--disabled;
    }
  }

  @if $add--additional-item {
    #{$additional-item--image-selector} {
      @extend %list-box-additional-item--action;

      &:hover {
        @extend %list-box-additional-item--action--hover;
      }

      &:focus-visible {
        @extend %list-box-additional-item--action--focus-visible;
      }
    }
  }
}
