%list-box {
  --ch-action-list-group__expandable-button-size: 30px;
  // --ch-action-list-group__expandable-button-image-size: calc(100% - 4px);
  --ch-action-list-group__expandable-button-image-size: 40px;
  --ch-action-list-item__image-size: var(--mer-icon__box--md);

  @include items-container-colors();
  @include items-container-padding();
  @include items-container-dropdown();

  &-item-action {
    @include item-colors-enabled();
    @include item-border();
    @include item-border-radius();
    @include item-height-regular();
    @include item-font-size-regular();
    @include item-font-weight();
    @include item-padding-inline();
    align-content: center; // WA

    &--disabled {
      @include item-colors-disabled();
    }

    &--focus-visible {
      @include focus-outline();
    }

    &--not-selectable {
    }

    &--selectable {
      &--hover {
        opacity: 0.5;
      }
    }

    &--nested-expandable {
      padding-inline-start: calc(
        var(--spacing-un-spacing--l) + var(--spacing-un-spacing--s)
      );
    }
  }

  &-group {
    font-weight: 600;
    gap: var(--spacing-un-spacing--s);
  }

  &-additional-item--action {
    color: var(--text-un-text__on);

    &--hover {
      color: var(--text-un-text__primary--hover);
    }

    &--focus-visible {
      outline: 1px solid var(--accents-un-accent__secondary--active);
      outline-offset: -1px;
    }
  }

  &-separator {
    margin-block: var(--spacing-un-spacing--s);
    background-color: var(--accents-un-accent__secondary--hover);
  }
}

@mixin list-box(
  $list-box-selector: ".list-box",

  $item-action-selector: ".list-box::part(item__action)",
  $group-action-selector: ".list-box::part(group__action)",
  $group-caption-selector: ".list-box::part(group__caption)",

  $item-action--nested-expandable-selector:
    ".list-box::part(item__action nested-expandable)",

  $item-action-not-selectable-selector:
    ".list-box::part(item__action not-selectable)",
  $group-action-not-selectable-selector:
    ".list-box::part(group__action not-selectable)",

  $item-action-selectable-selector: ".list-box::part(item__action selectable)",
  $group-action-selectable-selector: ".list-box::part(group__action selectable)",

  $item-action--disabled-selector: ".list-box::part(item__action disabled)",
  $group-action--disabled-selector: ".list-box::part(group__action disabled)",
  $group-caption--disabled-selector: ".list-box::part(group__caption disabled)",

  $additional-item--action-selector:
    ".list-box::part(item__additional-item action)",

  $separator-selector: ".list-box::part(separator)",

  $add--disabled: true,
  $add--additional-item: true
) {
  #{$list-box-selector} {
    @extend %list-box;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Action
  // - - - - - - - - - - - - - - - - - - - -
  #{$item-action-selector},
  #{$group-action-selector},
  #{$group-caption-selector} {
    @extend %list-box-item-action;
  }

  #{$item-action-selector}:focus-visible,
  #{$group-action-selector}:focus-visible {
    @extend %list-box-item-action--focus-visible;
  }

  // Not selectable
  #{$item-action-not-selectable-selector}:hover,
  #{$group-action-not-selectable-selector}:hover {
    @extend %list-box-item-action--not-selectable;
  }

  // Selectable
  // #{$item-action-selectable-selector}
  // #{$item-action-selectable-selector},
  // #{$group-action-selectable-selector},
  #{$item-action-selectable-selector}:hover,
  #{$group-action-selectable-selector}:hover {
    @extend %list-box-item-action--selectable--hover;
  }

  // Nested expandable
  #{$item-action--nested-expandable-selector} {
    @extend %list-box-item-action--nested-expandable;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                  Group
  // - - - - - - - - - - - - - - - - - - - -
  #{$group-action-selector},
  #{$group-caption-selector} {
    @extend %list-box-group;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Separator
  // - - - - - - - - - - - - - - - - - - - -
  #{$separator-selector} {
    @extend %list-box-separator;
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                Disabled
  // - - - - - - - - - - - - - - - - - - - -
  @if $add--disabled {
    #{$item-action--disabled-selector},
    #{$group-action--disabled-selector},
    #{$group-caption--disabled-selector} {
      @extend %list-box-item-action--disabled;
    }
  }

  @if $add--additional-item {
    #{$additional-item--action-selector} {
      @extend %list-box-additional-item--action;

      &:hover {
        @extend %list-box-additional-item--action--hover;
      }

      &:focus-visible {
        @extend %list-box-additional-item--action--focus-visible;
      }
    }
  }
}
